Repository MicrosoftDocs/edge-developer, pull requests merged in 2020-06, with the labels that each got.

#727 Tabbed content...
  microsoft-edge/webdriver-chromium.md
Labels: cat: webdriver, doc-bug, docs-experience

#560 Updated visual-studio-code files
  microsoft-edge/visual-studio-code/debugger-for-edge.md
  microsoft-edge/visual-studio-code/elements-for-edge.md
  microsoft-edge/visual-studio-code/index.md
  microsoft-edge/visual-studio-code/media/debugger-for-edge.png
  microsoft-edge/visual-studio-code/media/elements-for-edge.png
  microsoft-edge/visual-studio-code/webhint.md
Labels: cat: vs_vscode, doc-bug, doc-enhancement

#735 updated WinForms getting started guide to reflect not supporting the …
  microsoft-edge/webview2/gettingstarted/winforms.md
Labels: cat: webview, doc-bug, doc-enhancement

#726 Update privacy-whitepaper.md
  microsoft-edge/privacy-whitepaper.md
Labels: cat: general, doc-bug, doc-enhancement

#739 User/pagoe/jun sdk release
  microsoft-edge/webview2/releasenotes.md
Labels: cat: webview, doc-enhancement

#738 Fixing Issues #644 and #507
  microsoft-edge/webdriver-chromium.md
Labels: cat: webdriver, doc-bug

#743 Chromium docs 4766267
  microsoft-edge/devtools-guide-chromium/console/api.md
  microsoft-edge/devtools-guide-chromium/console/utilities.md
  microsoft-edge/devtools-guide-chromium/css/index.md
  microsoft-edge/devtools-guide-chromium/media/css-elements-media-queries-open-device-toolbar.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-elements-media-queries-reveal-in-sources.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-elements-media-queries-select-bar.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-elements-media-queries-showing-mq.msft.png
  microsoft-edge/devtools-guide-chromium/memory-problems/index.md
  microsoft-edge/devtools-guide-chromium/network/reference.md
  microsoft-edge/devtools-guide-chromium/storage/cookies.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/03/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/03/breakpoint.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/03/changes.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/03/color-picker.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/03/dock-to-left.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/03/feedback-icon.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/03/guidance.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/03/infobar.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/03/lighthouse.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/03/locale.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/03/logpoint.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/03/long-task.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/03/maskable-icons.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/03/overrides.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/03/properties-in-81.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/03/properties-in-82.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/03/remote-tools.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/03/settings.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/03/settings2.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/03/status.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/03/vision.msft.png
Labels: cat: devtools, doc-bug, doc-enhancement

#742 Chromium docs 4760048
  microsoft-edge/devtools-guide-chromium/network/reference.md
Labels: cat: devtools, doc-bug, doc-enhancement

#745 Chromium docs 4767530
  microsoft-edge/devtools-guide-chromium/remote-debugging/index.md
Labels: cat: devtools, doc-bug, doc-enhancement

#746 Update gettingstarted/wpf file
  microsoft-edge/webview2/gettingstarted/wpf.md
Labels: cat: webview, doc-bug, doc-enhancement

#750 commit from WebFundamentals
  microsoft-edge/devtools-guide-chromium/css/index.md
  microsoft-edge/devtools-guide-chromium/network/reference.md
  microsoft-edge/devtools-guide-chromium/storage/cookies.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/03/devtools.md
Labels: cat: devtools

#751 commit from WebFundamentals
  microsoft-edge/devtools-guide-chromium/css/index.md
  microsoft-edge/devtools-guide-chromium/network/reference.md
Labels: cat: devtools

#748 Remove additional closing tag for window element
  microsoft-edge/webview2/gettingstarted/wpf.md
Labels: cat: webview, doc-bug

#628 Updated device/web-authentication file
  .openpublishing.redirection.json
  microsoft-edge/dev-guide/device/web-authentication.md
Labels: cat: general, doc-bug, doc-enhancement

#649 Updated realtime-communication/object-rtc-api file
  .openpublishing.redirection.json
  microsoft-edge/dev-guide/realtime-communication/object-rtc-api.md
Labels: cat: general, doc-bug, doc-enhancement

#741 Added deprecation note for hosting and older WebView content
  microsoft-edge/hosting/chakra-hosting/hosting-the-javascript-runtime.md
  microsoft-edge/hosting/chakra-hosting/javascript-runtime-typedefs-constants-and-enumerations.md
  microsoft-edge/hosting/chakra-hosting/jsgettypedarrayinfo-function.md
  microsoft-edge/hosting/chakra-hosting/jsinstanceof-function.md
  microsoft-edge/hosting/chakra-hosting/jsparseserializedscriptwithcallback-function.md
  microsoft-edge/hosting/chakra-hosting/jsrunserializedscriptwithcallback-function.md
  microsoft-edge/hosting/chakra-hosting/jsserializedscriptloadsourcecallback-typedef.md
  microsoft-edge/hosting/chakra-hosting/jsserializedscriptunloadcallback-typedef.md
  microsoft-edge/hosting/chakra-hosting/jssetcontextdata-function.md
  microsoft-edge/hosting/chakra-hosting/reference-javascript-runtime.md
  microsoft-edge/hosting/chakra-hosting/targeting-edge-vs-legacy-engines-in-jsrt-apis.md
  microsoft-edge/hosting/includes/deprecation-note.md
  microsoft-edge/hosting/javascript-runtime-hosting.md
  microsoft-edge/hosting/webview.md
  microsoft-edge/hosting/webview/DeferredPermissionRequest.md
  microsoft-edge/hosting/webview/FocusNavigationEvent.md
  microsoft-edge/hosting/webview/LongRunningScriptDetectedEvent.md
  microsoft-edge/hosting/webview/MSWebViewAsyncOperation.md
  microsoft-edge/hosting/webview/MSWebViewProcess.md
  microsoft-edge/hosting/webview/MSWebViewSettings.md
  microsoft-edge/hosting/webview/NavigationCompletedEvent.md
  microsoft-edge/hosting/webview/NavigationEvent.md
  microsoft-edge/hosting/webview/NavigationEventWithReferrer.md
  microsoft-edge/hosting/webview/PermissionRequest.md
  microsoft-edge/hosting/webview/PermissionRequestedEvent.md
  microsoft-edge/hosting/webview/ScriptNotifyEvent.md
  microsoft-edge/hosting/webview/UnviewableContentIdentifiedEvent.md
  microsoft-edge/hosting/webview/WebResourceRequestedEvent.md
Labels: cat: webview, doc-enhancement, docs-experience

#759 WebView2: Improve docs for async methods
  microsoft-edge/devtools-guide-chromium/memory-problems/index.md
  microsoft-edge/hosting/chakra-hosting/hosting-the-javascript-runtime.md
  microsoft-edge/hosting/chakra-hosting/javascript-runtime-typedefs-constants-and-enumerations.md
  microsoft-edge/hosting/chakra-hosting/jsgettypedarrayinfo-function.md
  microsoft-edge/hosting/chakra-hosting/jsinstanceof-function.md
  microsoft-edge/hosting/chakra-hosting/jsparseserializedscriptwithcallback-function.md
  microsoft-edge/hosting/chakra-hosting/jsrunserializedscriptwithcallback-function.md
  microsoft-edge/hosting/chakra-hosting/jsserializedscriptloadsourcecallback-typedef.md
  microsoft-edge/hosting/chakra-hosting/jsserializedscriptunloadcallback-typedef.md
  microsoft-edge/hosting/chakra-hosting/jssetcontextdata-function.md
  microsoft-edge/hosting/chakra-hosting/reference-javascript-runtime.md
  microsoft-edge/hosting/chakra-hosting/targeting-edge-vs-legacy-engines-in-jsrt-apis.md
  microsoft-edge/hosting/includes/deprecation-note.md
  microsoft-edge/hosting/javascript-runtime-hosting.md
  microsoft-edge/hosting/webview.md
  microsoft-edge/hosting/webview/DeferredPermissionRequest.md
  microsoft-edge/hosting/webview/FocusNavigationEvent.md
  microsoft-edge/hosting/webview/LongRunningScriptDetectedEvent.md
  microsoft-edge/hosting/webview/MSWebViewAsyncOperation.md
  microsoft-edge/hosting/webview/MSWebViewProcess.md
  microsoft-edge/hosting/webview/MSWebViewSettings.md
  microsoft-edge/hosting/webview/NavigationCompletedEvent.md
  microsoft-edge/hosting/webview/NavigationEvent.md
  microsoft-edge/hosting/webview/NavigationEventWithReferrer.md
  microsoft-edge/hosting/webview/PermissionRequest.md
  microsoft-edge/hosting/webview/PermissionRequestedEvent.md
  microsoft-edge/hosting/webview/ScriptNotifyEvent.md
  microsoft-edge/hosting/webview/UnviewableContentIdentifiedEvent.md
  microsoft-edge/hosting/webview/WebResourceRequestedEvent.md
  microsoft-edge/web-platform/site-impacting-changes.md
  microsoft-edge/webview2/gettingstarted/wpf.md
  microsoft-edge/webview2/reference/dotnet/0-9-538/microsoft-web-webview2-core-corewebview2.md
  microsoft-edge/webview2/reference/win32/0-9-538/icorewebview2.md
  microsoft-edge/webview2/reference/win32/0-9-538/icorewebview2devtoolsprotocoleventreceiver.md
  microsoft-edge/webview2/reference/win32/0-9-538/icorewebview2newwindowrequestedeventargs.md
  microsoft-edge/webview2/reference/win32/0-9-538/webview2-idl.md
Labels: cat: webview, doc-enhancement

#698 User/pagoe/post build update
  microsoft-edge/webview2/concepts/security.md
  microsoft-edge/webview2/concepts/userdatafolder.md
  microsoft-edge/webview2/index.md
  microsoft-edge/webview2/toc.yml
Labels: cat: webview, doc-bug, doc-enhancement

#764 Fix multi-line quoted string doesn't meet yaml standard
  microsoft-edge/hosting/chakra-hosting/jspropertyidtype-enumeration.md
Labels: cat: webview, doc-bug

#763 Addressing Reeza's feedback about installing Selenium Tools
  microsoft-edge/webdriver-chromium.md
Labels: cat: webdriver, doc-bug, doc-enhancement

#757 Added documentation for forcing dark/light mode and reduced motion
  microsoft-edge/devtools-guide-chromium/accessibility/emulate-vision-deficiencies.md
  microsoft-edge/devtools-guide-chromium/accessibility/preferred-color-scheme-simulation.md
  microsoft-edge/devtools-guide-chromium/accessibility/reduced-motion-simulation.md
  microsoft-edge/devtools-guide-chromium/media/accessibility-achromatopsia-emulation.msft.png
  microsoft-edge/devtools-guide-chromium/media/accessibility-blurred-vision-emulation.msft.png
  microsoft-edge/devtools-guide-chromium/media/accessibility-emulate-vision-menu-options.msft.png
  microsoft-edge/devtools-guide-chromium/media/accessibility-emulate-vision-menu.msft.png
  microsoft-edge/devtools-guide-chromium/media/accessibility-emulation-command-menu-results.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-elements-styles-qs-select-reduced-motion-command-menu.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-elements-styles-qs-select-renderingmode-command-menu.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-elements-styles-qs-simulated-light-mode.msft.png
  microsoft-edge/devtools-guide-chromium/media/getting-to-the-rendering-tools.msft.png
  microsoft-edge/toc.yml
Labels: cat: devtools, doc-enhancement, doc-provided

#762 Editing Cast
  microsoft-edge/privacy-whitepaper.md
Labels: cat: general, doc-enhancement

#775 updated prerelease packages
  microsoft-edge/webview2/gettingstarted/winforms.md
  microsoft-edge/webview2/gettingstarted/wpf.md
Labels: cat: webview, doc-bug, doc-enhancement

#756 Adds documentation for DevTools experiments
  microsoft-edge/devtools-guide-chromium/experimental-features.md
  microsoft-edge/devtools-guide-chromium/media/experiments-devtools.png
  microsoft-edge/devtools-guide-chromium/media/experiments-grid.png
  microsoft-edge/devtools-guide-chromium/media/experiments-move-panels.png
  microsoft-edge/devtools-guide-chromium/media/experiments-webhint.png
  microsoft-edge/toc.yml
Labels: cat: devtools, doc-enhancement, doc-provided

#788 Chromium docs 4851540
  microsoft-edge/devtools-guide-chromium/console/log.md
  microsoft-edge/devtools-guide-chromium/css/reference.md
  microsoft-edge/devtools-guide-chromium/memory-problems/index.md
  microsoft-edge/devtools-guide-chromium/network/reference.md
  microsoft-edge/devtools-guide-chromium/open.md
Labels: cat: devtools

#784 Wrong title
  microsoft-edge/devtools-guide-chromium/accessibility/reduced-motion-simulation.md
Labels: cat: devtools, doc-bug, doc-enhancement

#783 Updated accessibility/emulate-vision-deficiencies file
  microsoft-edge/devtools-guide-chromium/accessibility/emulate-vision-deficiencies.md
Labels: cat: devtools, doc-bug, doc-enhancement

#786 Updating Puppeteer doc with edge-paths package
  microsoft-edge/puppeteer.md
Labels: cat: general

#765 Add Appcache deprecation
  microsoft-edge/web-platform/site-impacting-changes.md
Labels: cat: webplatform, doc-bug, doc-enhancement
