Repository MicrosoftDocs/edge-developer, pull requests merged in 2020-12, with the labels that each got.

#1030 Fix doc error on WebView2 Runtime regkey
  microsoft-edge/webview2/concepts/distribution.md
Labels: cat: webview, doc-enhancement

#1018 Updating port your extension doc
  microsoft-edge/extensions-chromium/developer-guide/port-chrome-extension.md
Labels: cat: extensions

#1033 prerelease rel notes
  microsoft-edge/webview2/releasenotes.md
Labels: cat: webview, doc-enhancement

#1034 Added Copy Value information to Network References doc (Chromium docs 5429540)
  microsoft-edge/devtools-guide-chromium/experimental-features.md
  microsoft-edge/devtools-guide-chromium/media/header-copy-value-paste-vscode.msft.png
  microsoft-edge/devtools-guide-chromium/media/header-copy-value.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-header-copy-property-value.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-header-paste-property-value.msft.png
  microsoft-edge/devtools-guide-chromium/network/reference.md
Labels: ADO, cat: devtools

#1035 Updated 3D View with Composited Layers information (Chromium docs 5435917)
  microsoft-edge/devtools-guide-chromium/3d-view/index.md
  microsoft-edge/devtools-guide-chromium/media/3d-view-canvas.msft.png
  microsoft-edge/devtools-guide-chromium/media/3d-view-controls-small.msft.png
  microsoft-edge/devtools-guide-chromium/media/3d-view-dom-purple-box.msft.png
  microsoft-edge/devtools-guide-chromium/media/3d-view-z-index-view-box.msft.png
Labels: ADO, cat: devtools

#1036 DevTools What's New 88 (Chromium docs 5419359)
  microsoft-edge/devtools-guide-chromium.md
  microsoft-edge/devtools-guide-chromium/css/reference.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/11/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/includes/edge-whats-new-note.md
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/11/angle.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/11/application-frames-opened-windows-security-opener-frame.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/11/application-frames-service-workers.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/11/copy-prop-value.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/11/copy-property-value.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/11/copy-stacktrace.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/11/cors-err.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/11/css-angle.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/11/css-variable-support-target.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/11/css-variable-support.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/11/edge-on-linux.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/11/experiments-layers.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/11/frame-cross-origin-isolated-api.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/11/frame-opener.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/11/frame-worker.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/11/issues-webhints.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/11/keyboard-shortcuts.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/11/multi-press-keyboard-shortcuts.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/11/network-timing-service-worker.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/11/paste-property-value.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/11/service-worker-application-network-drawer.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/11/service-worker-application-network-requests.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/11/service-worker-application-network-return.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/11/service-worker-network-service-worker-timing-respondwith.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/11/service-worker-network-service-worker-timing.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/11/service-worker-network.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/11/service-worker-sources-call-stack-target.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/11/service-worker-sources-set-breakpoint.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/11/service-worker-sources-stopped-at-breakpoint.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/11/storage-quota.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/11/sw-network-request.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/11/wasm-mouseover.msft.png
  microsoft-edge/toc.yml
Labels: ADO, cat: devtools, doc-enhancement

#1038 Chromium docs 5484426
  microsoft-edge/devtools-guide-chromium/whats-new/2020/11/devtools.md
Labels: ADO, cat: devtools

#1039 Update multiple include files (chromiumDocs_5485101)
  microsoft-edge/devtools-guide-chromium/includes/contact-devtools-team-note.md
  microsoft-edge/devtools-guide-chromium/whats-new/includes/contact-whats-new-note.md
Labels: ADO, cat: devtools

#1041 Updated index file
  microsoft-edge/index.yml
Labels: cat: general, doc-bug, doc-enhancement

#1046 Updated 11/issues-webhints.msft image file (Chromium docs 5487927)
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/11/issues-webhints.msft.png
Labels: ADO, cat: devtools

#1054 Updated left-nav
  microsoft-edge/toc.yml
  microsoft-edge/webview2/toc.yml
Labels: cat: webview
