Repository MicrosoftDocs/edge-developer, pull requests merged in 2020-03, with the labels that each got.

#297 edit pass: error-and-status-codes
  microsoft-edge/devtools-guide/console/error-and-status-codes.md
Labels: doc-bug

#372 Move ms.technology inside fileMetadata
  microsoft-edge/docfx.json
Labels: doc-bug

#405 Update deprecation-note.md
  microsoft-edge/extensions/includes/deprecation-note.md
Labels: doc-bug

#451 Fixed URL for DWARF website
  microsoft-edge/devtools-guide-chromium/whats-new/2019/12/devtools.md
Labels: doc-bug

#464 Update publish-extension.md
  microsoft-edge/extensions-chromium/publish/publish-extension.md
Labels: doc-bug

#498 Added information regarding pipes in titles
  microsoft-edge/dev-guide/browser-features/reading-view.md
Labels: doc-bug

#511 chore: Add Markdownlint config
  .markdownlint.json
  microsoft-edge/devtools-guide-chromium/device-mode/testing-other-browsers.md
  microsoft-edge/devtools-guide/network.md
  microsoft-edge/extensions/api-support.md
  microsoft-edge/extensions/api-support/supported-apis.md
  microsoft-edge/extensions/guides.md
  microsoft-edge/extensions/index.md
Labels: doc-bug, doc-enhancement

#512 Removed a note saying "Do not use the zip of a folder"
  microsoft-edge/extensions-chromium/publish/publish-extension.md
Labels: doc-bug

#528 Updated docs for Remote Tools release with new logo, https steps, and…
  microsoft-edge/devtools-guide-chromium/remote-debugging/windows-media/remote-tools-in-store.png
  microsoft-edge/devtools-guide-chromium/remote-debugging/windows.md
  microsoft-edge/devtools-protocol-chromium.md
  microsoft-edge/devtools-protocol/index.md
  microsoft-edge/toc.yml
Labels: doc-enhancement

#515 typo: Double word "the"
  microsoft-edge/hosting/webview2/reference/Archived/0.8.355/IWebView2ScriptDialogOpeningEventArgs.md
  microsoft-edge/hosting/webview2/reference/ICoreWebView2ScriptDialogOpeningEventArgs.md
Labels: doc-bug

#517 typo: Double word "and"
  microsoft-edge/extensions-chromium/store-policies/csp.md
  microsoft-edge/progressive-web-apps-edgehtml/get-started.md
Labels: doc-bug

#518 typo: Double word "to"
  microsoft-edge/progressive-web-apps-edgehtml/windows-features.md
Labels: doc-bug

#519 fix: MD031/blanks-around-fences
  .markdownlint.json
  microsoft-edge/dev-guide/browser-features/search-provider-discovery.md
  microsoft-edge/dev-guide/device/web-authentication.md
  microsoft-edge/dev-guide/windows-integration/payment-request-api.md
  microsoft-edge/dev-guide/windows-integration/web-authentication.md
  microsoft-edge/devtools-guide/console/console-api.md
  microsoft-edge/devtools-guide/service-workers.md
  microsoft-edge/extensions/api-support/supported-manifest-keys/json-manifest-example.md
  microsoft-edge/extensions/guides/creating-an-extension.md
  microsoft-edge/extensions/guides/design.md
  microsoft-edge/extensions/guides/native-messaging.md
  microsoft-edge/extensions/guides/packaging/localizing-extension-packages.md
  microsoft-edge/extensions/guides/porting-chrome-extensions.md
  microsoft-edge/hosting/webview.md
  microsoft-edge/hosting/webview/MSWebViewAsyncOperation.md
  microsoft-edge/hosting/webview2/reference/Archived/0.8.355/IWebView2Environment.md
  microsoft-edge/hosting/webview2/reference/Archived/0.8.355/IWebView2WebView.md
  microsoft-edge/hosting/webview2/reference/Archived/0.8.355/IWebView2WebView4.md
  microsoft-edge/hosting/webview2/reference/ICoreWebView2.md
  microsoft-edge/hosting/webview2/reference/ICoreWebView2Environment.md
  microsoft-edge/hosting/webview2/reference/ICoreWebView2Host.md
  microsoft-edge/hosting/webview2/reference/ICoreWebView2HttpHeadersCollectionIterator.md
  microsoft-edge/progressive-web-apps-edgehtml/microsoft-store.md
  microsoft-edge/progressive-web-apps-edgehtml/xbox-considerations.md
  microsoft-edge/web-platform/user-agent-string.md
  microsoft-edge/windows-runtime/reference/msapp.md
Labels: doc-bug

#520 fix: MD029/ol-prefix
  .markdownlint.json
  microsoft-edge/devtools-protocol/0.2/clients.md
  microsoft-edge/extensions/guides/debugging-extensions.md
  microsoft-edge/extensions/guides/native-messaging.md
  microsoft-edge/hosting/webview2/GettingStarted.md
Labels: doc-bug

#523 fix: MD005/list-indent
  .markdownlint.json
  microsoft-edge/dev-guide.md
  microsoft-edge/devtools-guide/elements/dom-breakpoints.md
Labels: doc-bug

#531 Added documentation for WebDriver for WebView2
  microsoft-edge/hosting/webview2/Tooling/WebDriver.md
  microsoft-edge/hosting/webview2/images/WebDriver/Microsoft.PNG
  microsoft-edge/hosting/webview2/images/WebDriver/NewProject.PNG
  microsoft-edge/hosting/webview2/images/WebDriver/Nuget.PNG
  microsoft-edge/hosting/webview2/images/WebDriver/SampleApp.PNG
  microsoft-edge/hosting/webview2/images/WebDriver/appcreate.PNG
  microsoft-edge/hosting/webview2/images/WebDriver/downloadnuget.PNG
  microsoft-edge/hosting/webview2/images/WebDriver/startapp.PNG
Labels: doc-enhancement

#552 Updated index file
  microsoft-edge/index.yml
Labels: doc-bug

#540 Updates to whitepaper
  microsoft-edge/privacy-whitepaper.md
Labels: doc-bug

#556 Updated index file
  microsoft-edge/index.yml
Labels: doc-enhancement

#555 Adds webhint VS Code extension to docs
  microsoft-edge/toc.yml
  microsoft-edge/visual-studio-code/index.md
  microsoft-edge/visual-studio-code/media/webhint-extension.png
  microsoft-edge/visual-studio-code/webhint.md
Labels: doc-bug, doc-enhancement
