Repository MicrosoftDocs/edge-developer, pull requests merged in 2020-08, with the labels that each got.

#845 Dev tools, Speech recognition, Sync, IE
  microsoft-edge/privacy-whitepaper.md
Labels: cat: general, doc-enhancement

#852 Fixed wrong template name
  microsoft-edge/progressive-web-apps-edgehtml/windows-features.md
Labels: cat: pwas, doc-bug

#855 Chromium docs 4992744
  microsoft-edge/devtools-guide-chromium/whats-new/2020/03/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/03/breakpoint.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/03/conditional.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/03/logpoint.msft.png
Labels: ADO, cat: devtools, doc-bug, doc-enhancement

#860 commit from WebFundamentals
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/03/logpoint.msft.png
Labels: ADO, cat: devtools, doc-bug

#858 Added new contact content to WebView file
  microsoft-edge/webview2/gettingstarted/win32.md
  microsoft-edge/webview2/gettingstarted/winforms.md
  microsoft-edge/webview2/gettingstarted/winui.md
  microsoft-edge/webview2/gettingstarted/wpf.md
  microsoft-edge/webview2/howto/debug.md
  microsoft-edge/webview2/howto/webdriver.md
  microsoft-edge/webview2/includes/contact-webview-team-note.md
  microsoft-edge/webview2/index.md
Labels: cat: webview, doc-enhancement

#848 Updated workspaces/index file
  microsoft-edge/devtools-guide-chromium/workspaces/index.md
  microsoft-edge/toc.yml
Labels: cat: devtools, doc-bug

#841 Usr/jasteph/debugdoc
  microsoft-edge/webview2/howto/debug.md
  microsoft-edge/webview2/howto/media/appsandfeatures.png
  microsoft-edge/webview2/howto/media/breakpoint.png
  microsoft-edge/webview2/howto/media/breakpointvs.png
  microsoft-edge/webview2/howto/media/console.png
  microsoft-edge/webview2/howto/media/enbjs.png
  microsoft-edge/webview2/howto/media/f12.png
  microsoft-edge/webview2/howto/media/indivcomp.png
  microsoft-edge/webview2/howto/media/jsdebugger.png
  microsoft-edge/webview2/howto/media/previewbox.png
  microsoft-edge/webview2/howto/media/resultsvs.png
  microsoft-edge/webview2/howto/media/run.png
  microsoft-edge/webview2/howto/media/runbutton.png
  microsoft-edge/webview2/howto/media/runvs.png
  microsoft-edge/webview2/howto/media/scenario.png
  microsoft-edge/webview2/howto/media/tracelog.png
  microsoft-edge/webview2/howto/media/urlfilter.png
  microsoft-edge/webview2/howto/media/verbose.png
  microsoft-edge/webview2/howto/media/workloads.png
  microsoft-edge/webview2/media/f12.png
Labels: cat: webview, doc-bug, doc-enhancement

#863 Chromium docs 5021711
  microsoft-edge/devtools-guide-chromium.md
  microsoft-edge/devtools-guide-chromium/accessibility/navigation.md
  microsoft-edge/devtools-guide-chromium/beginners/css.md
  microsoft-edge/devtools-guide-chromium/css/reference.md
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index.md
  microsoft-edge/devtools-guide-chromium/media/css-elements-styles-style-new-select-existing.msft.png
  microsoft-edge/devtools-guide-chromium/storage/applicationcache.md
  microsoft-edge/devtools-guide-chromium/workspaces/index.md
Labels: ADO, cat: devtools, doc-enhancement

#865 Getting started PWA - Service Worker
  microsoft-edge/progressive-web-apps-edgehtml/get-started.md
Labels: cat: pwas

#861 Update winui.md
  microsoft-edge/webview2/gettingstarted/winui.md
Labels: cat: webview

#306 Update tabs.insertCSS with cssOrigin param compat note
  microsoft-edge/extensions/api-support/supported-apis.md
Labels: cat: extensions, doc-bug, product-feedback, product-question, test-issue

#867 Recreated #228
  microsoft-edge/extensions/api-support/supported-apis.md
Labels: cat: extensions

#869 Added Q and A card.
  microsoft-edge/index.yml
Labels: cat: general, doc-enhancement

#838 Added legacy note to dev-guide pages
  microsoft-edge/dev-guide/browser-features.md
  microsoft-edge/dev-guide/browser-features/autoplay-policies.md
  microsoft-edge/dev-guide/browser-features/flash.md
  microsoft-edge/dev-guide/browser-features/reading-view.md
  microsoft-edge/dev-guide/browser-features/search-provider-discovery.md
  microsoft-edge/dev-guide/whats-new.md
  microsoft-edge/dev-guide/whats-new/edgeHTML-12.md
  microsoft-edge/dev-guide/whats-new/edgeHTML-13.md
  microsoft-edge/dev-guide/whats-new/edgeHTML-14.md
  microsoft-edge/dev-guide/whats-new/edgeHTML-15.md
  microsoft-edge/dev-guide/whats-new/edgeHTML-16.md
  microsoft-edge/dev-guide/whats-new/edgeHTML-17.md
  microsoft-edge/dev-guide/whats-new/javascript-version-information.md
  microsoft-edge/dev-guide/windows-integration.md
  microsoft-edge/dev-guide/windows-integration/payment-request-api.md
  microsoft-edge/dev-guide/windows-integration/web-authentication.md
  microsoft-edge/dev-guide/windows-integration/web-notifications-api.md
  microsoft-edge/includes/legacy-edge-note.md
Labels: cat: general, doc-bug, doc-enhancement

#843 Added legacy note to windows-runtime pages
  microsoft-edge/windows-runtime/considerations-when-using-the-windows-runtime-api.md
  microsoft-edge/windows-runtime/error-codes-for-windows-runtime-apps-using-javascript.md
  microsoft-edge/windows-runtime/handling-windows-runtime-events-in-javascript.md
  microsoft-edge/windows-runtime/index.md
  microsoft-edge/windows-runtime/javascript-representation-of-windows-runtime-types.md
  microsoft-edge/windows-runtime/reference/msapp.md
  microsoft-edge/windows-runtime/special-error-properties-from-asynchronous-windows-runtime-methods.md
  microsoft-edge/windows-runtime/toc.yml
  microsoft-edge/windows-runtime/using-the-windows-runtime-in-javascript.md
  microsoft-edge/windows-runtime/using-windows-runtime-asynchronous-methods.md
  microsoft-edge/windows-runtime/windows-runtime-datetime-and-timespan-representations.md
Labels: cat: general, doc-bug, doc-enhancement

#871 Chromium docs 4987579
  microsoft-edge/devtools-guide-chromium/whats-new/2019/12/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/01/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/03/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/05/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/06/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/includes/contact-whats-new-note.md
  microsoft-edge/devtools-guide-chromium/whats-new/media/2019/12/bing-devtools-send-feedback.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/01/bing-devtools-send-feedback.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/03/bing-devtools-send-feedback.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/05/bing-devtools-send-feedback.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/06/bing-devtools-send-feedback.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/bing-devtools-send-feedback.msft.png
  microsoft-edge/devtools-guide-chromium/workspaces/index.md
Labels: ADO, cat: devtools, doc-enhancement

#870 User/chheilma/experiment source order viewer
  microsoft-edge/devtools-guide-chromium/experimental-features.md
  microsoft-edge/devtools-guide-chromium/media/experiments-source-order-viewer.msft.png
Labels: cat: devtools, doc-enhancement

#883 Chromium docs 5110967
  microsoft-edge/devtools-guide-chromium/accessibility/focus.md
  microsoft-edge/devtools-guide-chromium/accessibility/reference.md
  microsoft-edge/devtools-guide-chromium/beginners/html.md
  microsoft-edge/devtools-guide-chromium/command-menu/index.md
  microsoft-edge/devtools-guide-chromium/console/index.md
  microsoft-edge/devtools-guide-chromium/console/javascript.md
  microsoft-edge/devtools-guide-chromium/console/live-expressions.md
  microsoft-edge/devtools-guide-chromium/console/log.md
  microsoft-edge/devtools-guide-chromium/console/reference.md
  microsoft-edge/devtools-guide-chromium/coverage/index.md
  microsoft-edge/devtools-guide-chromium/css/print-preview.md
  microsoft-edge/devtools-guide-chromium/customize/dark-theme.md
  microsoft-edge/devtools-guide-chromium/customize/index.md
  microsoft-edge/devtools-guide-chromium/customize/placement.md
  microsoft-edge/devtools-guide-chromium/device-mode/geolocation.md
  microsoft-edge/devtools-guide-chromium/device-mode/index.md
  microsoft-edge/devtools-guide-chromium/device-mode/orientation.md
  microsoft-edge/devtools-guide-chromium/device-mode/override-user-agent.md
  microsoft-edge/devtools-guide-chromium/device-mode/testing-other-browsers.md
  microsoft-edge/devtools-guide-chromium/dom/index.md
  microsoft-edge/devtools-guide-chromium/evaluate-performance/reference.md
  microsoft-edge/devtools-guide-chromium/inspect-styles/animations.md
  microsoft-edge/devtools-guide-chromium/javascript/background-services.md
  microsoft-edge/devtools-guide-chromium/javascript/breakpoints.md
  microsoft-edge/devtools-guide-chromium/javascript/disable.md
  microsoft-edge/devtools-guide-chromium/javascript/guides/mark-content-scripts-library-code.md
  microsoft-edge/devtools-guide-chromium/javascript/index.md
  microsoft-edge/devtools-guide-chromium/javascript/reference.md
  microsoft-edge/devtools-guide-chromium/javascript/snippets.md
  microsoft-edge/devtools-guide-chromium/javascript/source-maps.md
  microsoft-edge/devtools-guide-chromium/memory-problems/allocation-profiler.md
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots.md
  microsoft-edge/devtools-guide-chromium/network/index.md
  microsoft-edge/devtools-guide-chromium/network/issues.md
  microsoft-edge/devtools-guide-chromium/progressive-web-apps.md
  microsoft-edge/devtools-guide-chromium/remote-debugging/local-server.md
  microsoft-edge/devtools-guide-chromium/rendering-tools/index.md
  microsoft-edge/devtools-guide-chromium/rendering-tools/js-runtime.md
  microsoft-edge/devtools-guide-chromium/resources/index.md
  microsoft-edge/devtools-guide-chromium/security/index.md
  microsoft-edge/devtools-guide-chromium/sources.md
  microsoft-edge/devtools-guide-chromium/speed/get-started.md
  microsoft-edge/devtools-guide-chromium/storage/cache.md
  microsoft-edge/devtools-guide-chromium/storage/indexeddb.md
  microsoft-edge/devtools-guide-chromium/storage/localstorage.md
  microsoft-edge/devtools-guide-chromium/storage/sessionstorage.md
  microsoft-edge/devtools-guide-chromium/storage/websql.md
Labels: ADO, cat: devtools, doc-enhancement
