Repository MicrosoftDocs/edge-developer, pull requests merged in 2020-07, with the labels that each got.

#749 docs for webview2 installer preview
  microsoft-edge/webview2/concepts/distribution.md
  microsoft-edge/webview2/concepts/versioning.md
  microsoft-edge/webview2/releasenotes.md
  microsoft-edge/webview2/roadmap.md
Labels: cat: webview, doc-bug, doc-enhancement, doc-provided

#776 Add Origin Trial documentation to the developer docs
  microsoft-edge/origin-trials/index.md
  microsoft-edge/toc.yml
Labels: cat: general, doc-enhancement

#755 Updated gettingstarted/win32
  microsoft-edge/webview2/gettingstarted/win32.md
Labels: cat: webview, doc-enhancement

#772 Added 3D View Sample link
  microsoft-edge/devtools-guide-chromium/3D-view.md
  microsoft-edge/devtools-guide-chromium/3d-view/index.md
  microsoft-edge/devtools-guide-chromium/experimental-features.md
  microsoft-edge/toc.yml
Labels: cat: devtools, doc-enhancement

#792 Adds a section for our keyboard shortcut experimental feature
  microsoft-edge/devtools-guide-chromium/experimental-features.md
  microsoft-edge/devtools-guide-chromium/media/experiments-keyboard-shortcut.png
Labels: cat: devtools, doc-enhancement

#795 Updated non-LOC to privacy-whitepaper
  microsoft-edge/privacy-whitepaper.md
Labels: cat: general, doc-enhancement

#810 Updated localization metadata
  microsoft-edge/devtools-guide.md
  microsoft-edge/devtools-guide/console/error-and-status-codes.md
  microsoft-edge/extensions/guides/adding-and-removing-extensions.md
  microsoft-edge/index.yml
  microsoft-edge/privacy-whitepaper.md
Labels: cat: devtools, cat: extensions, cat: general, doc-bug, doc-enhancement

#811 Update site compat-impacting table for Quiet Notifications shipping in Stable
  microsoft-edge/web-platform/site-impacting-changes.md
Labels: cat: webplatform, doc-enhancement

#815 small changes
  microsoft-edge/progressive-web-apps-chromium/index.md
Labels: cat: pwas, doc-bug, doc-enhancement

#817 Chromium docs 4929008
  microsoft-edge/devtools-guide-chromium/beginners/css.md
  microsoft-edge/devtools-guide-chromium/beginners/html.md
  microsoft-edge/devtools-guide-chromium/customize/index.md
  microsoft-edge/devtools-guide-chromium/customize/localization.md
  microsoft-edge/devtools-guide/debugger.md
  microsoft-edge/devtools-guide/elements/accessibility.md
  microsoft-edge/devtools-protocol/0.1/clients.md
  microsoft-edge/devtools-protocol/0.1/domains/debugger.md
  microsoft-edge/devtools-protocol/0.1/domains/index.md
  microsoft-edge/devtools-protocol/0.1/domains/page.md
  microsoft-edge/devtools-protocol/0.1/domains/runtime.md
  microsoft-edge/devtools-protocol/0.1/domains/schema.md
  microsoft-edge/devtools-protocol/0.1/http.md
  microsoft-edge/devtools-protocol/0.2/clients.md
  microsoft-edge/devtools-protocol/0.2/domains/debugger.md
  microsoft-edge/devtools-protocol/0.2/domains/index.md
  microsoft-edge/devtools-protocol/0.2/domains/page.md
  microsoft-edge/devtools-protocol/0.2/domains/runtime.md
  microsoft-edge/devtools-protocol/0.2/domains/schema.md
  microsoft-edge/devtools-protocol/0.2/http.md
  microsoft-edge/extensions-chromium/publish/submission-states.md
  microsoft-edge/extensions/guides/accessibility.md
  microsoft-edge/progressive-web-apps-edgehtml/windows-features.md
  microsoft-edge/progressive-web-apps-edgehtml/xbox-considerations.md
  microsoft-edge/webview2/webview2-api-reference.md
Labels: cat: devtools, doc-bug, doc-enhancement

#820 WebView2: Added release notes for SDK 0.9.579
  microsoft-edge/webview2/releasenotes.md
Labels: cat: webview, doc-enhancement

#797 Usr/jasteph/win ui gs
  microsoft-edge/webview2/gettingstarted/media/winui-gettingstarted-bing.png
  microsoft-edge/webview2/gettingstarted/media/winui-gettingstarted-devmode.png
  microsoft-edge/webview2/gettingstarted/media/winui-gettingstarted-part3.png
  microsoft-edge/webview2/gettingstarted/media/winui-gettingstarted-projecttype.png
  microsoft-edge/webview2/gettingstarted/media/winui-gettingstarted-script.png
  microsoft-edge/webview2/gettingstarted/media/winui-gettingstarted-selections.png
  microsoft-edge/webview2/gettingstarted/winui.md
  microsoft-edge/webview2/howto/debug.md
  microsoft-edge/webview2/index.md
  microsoft-edge/webview2/media/appsandfeatures.png
  microsoft-edge/webview2/media/diagnostics.png
  microsoft-edge/webview2/media/enbjs.png
  microsoft-edge/webview2/toc.yml
Labels: cat: webview, doc-bug, doc-enhancement

#802 Updated webview2/howto/debug, webview2/concepts/security, and webview2/concepts/versioning
  microsoft-edge/webview2/concepts/security.md
  microsoft-edge/webview2/concepts/versioning.md
  microsoft-edge/webview2/howto/debug.md
  microsoft-edge/webview2/reference/win32/0-9-538/icorewebview2.md
Labels: cat: webview, doc-enhancement

#799 Added webview2/concepts/navigation-events
  microsoft-edge/webview2/concepts/navigation-events.md
  microsoft-edge/webview2/gettingstarted/win32.md
  microsoft-edge/webview2/gettingstarted/winforms.md
  microsoft-edge/webview2/gettingstarted/winui.md
  microsoft-edge/webview2/gettingstarted/wpf.md
  microsoft-edge/webview2/media/dot-inline-dotgraph-1.png
  microsoft-edge/webview2/media/navigation-graph.png
  microsoft-edge/webview2/reference/win32/0-9-538/icorewebview2.md
  microsoft-edge/webview2/toc.yml
Labels: cat: webview, doc-enhancement

#800 Added webview2/concepts/data-types
  microsoft-edge/webview2/concepts/win32-api-conventions.md
  microsoft-edge/webview2/reference/win32/0-9-538/icorewebview2.md
  microsoft-edge/webview2/toc.yml
Labels: cat: webview, doc-enhancement

#801 Added webview2/concepts/process-model
  microsoft-edge/webview2/concepts/process-model.md
  microsoft-edge/webview2/concepts/threading-model.md
  microsoft-edge/webview2/concepts/userdatafolder.md
  microsoft-edge/webview2/gettingstarted/winforms.md
  microsoft-edge/webview2/gettingstarted/wpf.md
  microsoft-edge/webview2/media/dot-inline-dotgraph-2.png
  microsoft-edge/webview2/media/dot-inline-dotgraph-3.png
  microsoft-edge/webview2/media/process-model-1.png
  microsoft-edge/webview2/media/process-model-2.png
  microsoft-edge/webview2/reference/win32/0-9-538/icorewebview2.md
  microsoft-edge/webview2/toc.yml
Labels: cat: webview, doc-enhancement

#836 Chromium docs 4872492
  microsoft-edge/devtools-guide-chromium.md
  microsoft-edge/devtools-guide-chromium/remote-debugging/local-server.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/06/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/includes/experimental-note-thin.md
  microsoft-edge/devtools-guide-chromium/whats-new/includes/experimental-note.md
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/06/app-shortcut-warnings.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/06/breakpoints.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/06/bytecode-offset.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/06/computed-pane.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/06/css-in-js.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/06/experimental-tag-14px.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/06/experimental-tag-16px.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/06/experimental-tag-20px.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/06/experiments-grid.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/06/experiments-move-panels.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/06/experiments-network-console-edit-and-replay.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/06/experiments-network-console.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/06/experiments-webhint.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/06/initiator-tooltip-84.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/06/initiator-tooltip-85.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/06/js-compilation-cache.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/06/lighthouse.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/06/line-wise-cut.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/06/nav-timing.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/06/selected-context.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/06/timing-tab.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/06/timing-tab2.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2020/06/ungroup-similar.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/includes/experimental-tag-16px.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/includes/experimental-tag-20px.msft.png
  microsoft-edge/toc.yml
Labels: cat: devtools, doc-enhancement

#767 Updating developer registration documentation
  microsoft-edge/extensions-chromium/publish/create-dev-account.md
Labels: cat: extensions, doc-bug, doc-enhancement

#818 Add EdgeHTML information to payment API topic.
  microsoft-edge/dev-guide/windows-integration/payment-request-api.md
Labels: cat: devtools, doc-bug, doc-enhancement

#809 Added Network Console to experimental features
  microsoft-edge/devtools-guide-chromium/experimental-features.md
  microsoft-edge/devtools-guide-chromium/media/network-network-console.png
Labels: cat: devtools

#844 Spelling and grammar corrections in index.md of Chromium extension getting started guide
  microsoft-edge/extensions-chromium/getting-started/index.md
Labels: cat: extensions, doc-bug

#846 Updated link to WebView2 API Sample
  microsoft-edge/webview2/gettingstarted/win32.md
Labels: cat: webview, doc-bug
