Repository MicrosoftDocs/edge-developer, pull requests merged in 2020-11, with the labels that each got.

#982 Added deprecating IE support topic
  microsoft-edge/toc.yml
  microsoft-edge/web-platform/deprecating-ie-support.md
Labels: cat: webplatform, doc-enhancement

#978 Add docs for Playwright + Microsoft Edge
  microsoft-edge/media/playwright-example.png
  microsoft-edge/playwright/index.md
  microsoft-edge/toc.yml
Labels: cat: webdriver

#996 Updated experimental-features.md with composited layers section (Chromium docs 5296991)
  microsoft-edge/devtools-guide-chromium/experimental-features.md
  microsoft-edge/devtools-guide-chromium/media/experiments-layers.msft.png
  microsoft-edge/devtools-guide-chromium/media/install-pwa-icon.msft.png
Labels: ADO, cat: devtools, doc-enhancement

#994 Update ie-to-microsoft-edge-redirection.md
  microsoft-edge/web-platform/ie-to-microsoft-edge-redirection.md
Labels: cat: webplatform, doc-bug, doc-enhancement

#991 Added shopping
  microsoft-edge/media/whitepaper-media/shopping.png
  microsoft-edge/privacy-whitepaper.md
Labels: cat: general, doc-enhancement

#1002 Update ie-to-microsoft-edge-redirection.md
  microsoft-edge/media/neededge-banner.msft.png
  microsoft-edge/media/neededge-dialog1.msft.png
  microsoft-edge/web-platform/ie-to-microsoft-edge-redirection.md
Labels: cat: general, doc-enhancement

#1004 Clarify WebView2 support on Win7 and 8
  microsoft-edge/webview2/index.md
Labels: cat: webview, doc-enhancement

#1011 Update debugger-for-edge.md
  microsoft-edge/visual-studio-code/debugger-for-edge.md
Labels: cat: general

#1006 Address doc feedback and add information about WebView2 Runtime regkey on 32bit Windows
  microsoft-edge/webview2/concepts/distribution.md
Labels: cat: webview, doc-enhancement

#1009 Add decompression instructions and known issues for fixed version WebView2
  microsoft-edge/webview2/concepts/distribution.md
  microsoft-edge/webview2/media/play-ready-permission.png
Labels: cat: webview

#985 updated versioning and release notes to fix innaccuracies
  microsoft-edge/webview2/concepts/versioning.md
  microsoft-edge/webview2/releasenotes.md
Labels: cat: webview, doc-bug, doc-enhancement

#1013 Removed preview from documentation set
  microsoft-edge/webview2/concepts/distribution.md
  microsoft-edge/webview2/gettingstarted/winforms.md
  microsoft-edge/webview2/gettingstarted/wpf.md
  microsoft-edge/webview2/index.md
  microsoft-edge/webview2/roadmap.md
Labels: cat: webview

#1020 updated link to blog post
  microsoft-edge/webview2/releasenotes.md
Labels: cat: webview, doc-enhancement

#990 Updated terminology
  microsoft-edge/devtools-guide-chromium.md
  microsoft-edge/devtools-guide-chromium/whats-new.md
  microsoft-edge/visual-studio-code/debugger-for-edge.md
Labels: doc-bug, doc-enhancement

#993 Updated visual studio code content
  microsoft-edge/visual-studio-code/index.md
  microsoft-edge/visual-studio-code/media/microsoft-edge-tools-for-visual-studio-code.png
  microsoft-edge/visual-studio-code/media/visual-studio-code-extension-debugger-for-microsoft-edge.msft.png
  microsoft-edge/visual-studio-code/media/visual-studio-code-extension-microsoft-edge-tools-for-visual-studio-code.msft.png
  microsoft-edge/visual-studio-code/media/visual-studio-code-extension-webhint.msft.png
Labels: cat: general, doc-bug, doc-enhancement

#1022 WinUI guide updates
  microsoft-edge/webview2/gettingstarted/winui.md
Labels: cat: webview, doc-bug, doc-enhancement, on-hold

#1021 Prerelease part of releasenotes for 11/23
  microsoft-edge/webview2/releasenotes.md
Labels: cat: webview, doc-enhancement

#1025 Updated concepts/distribution file
  microsoft-edge/webview2/concepts/distribution.md
Labels: cat: webview, doc-bug

#1024 Added Service Workers content to DevTools (Chromium docs 5378838)
  microsoft-edge/devtools-guide-chromium/css/reference.md
  microsoft-edge/devtools-guide-chromium/media/sw-application-timeline.msft.png
  microsoft-edge/devtools-guide-chromium/media/sw-network-timeline.msft.png
  microsoft-edge/devtools-guide-chromium/media/sw-sources.msft.png
  microsoft-edge/devtools-guide-chromium/service-workers/index.md
  microsoft-edge/devtools-guide-chromium/shortcuts.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/10/devtools.md
  microsoft-edge/toc.yml
Labels: ADO, cat: devtools, doc-enhancement

#1008 Updates DevTools drawer docs (Chromium docs 5404345)
  microsoft-edge/devtools-guide-chromium/customize/index.md
  microsoft-edge/devtools-guide-chromium/media/customize-drawer-open-more-tools.msft.png
  microsoft-edge/devtools-guide-chromium/media/customize-drawer-open.msft.png
  microsoft-edge/devtools-guide-chromium/media/move-from-drawer.msft.png
  microsoft-edge/devtools-guide-chromium/media/move-to-drawer.msft.png
Labels: ADO, cat: devtools

#1000 Updated howto/webdriver file
  microsoft-edge/webview2/howto/webdriver.md
Labels: cat: webdriver, cat: webview

#1027 updated minimum webview2 runtime version and corewebview2initializati…
  microsoft-edge/webview2/releasenotes.md
Labels: cat: webview, doc-enhancement

#1010 Add mixed images deprecation
  microsoft-edge/web-platform/site-impacting-changes.md
Labels: cat: webplatform

#999 Added Assistive Technology Compatibility section
  microsoft-edge/accessibility/build.md
Labels: cat: general, doc-enhancement, doc-idea

#1028 deprecating pre-release package
  microsoft-edge/webview2/concepts/versioning.md
  microsoft-edge/webview2/releasenotes.md
Labels: cat: webview, doc-bug, doc-enhancement

#1016 Add page for WebDriver Capabilities & EdgeOptions
  microsoft-edge/playwright/index.md
  microsoft-edge/puppeteer.md
  microsoft-edge/toc.yml
  microsoft-edge/webdriver-chromium/capabilities-edge-options.md
  microsoft-edge/webdriver-chromium/index.md
  microsoft-edge/webview2/howto/webdriver.md
Labels: cat: general, cat: webdriver, on-hold
