Repository MicrosoftDocs/edge-developer, pull requests merged in 2020-04, with the labels that each got.

#561 Fix broken link and spacing issue in Visual Studio Code section
  microsoft-edge/visual-studio-code/index.md
  microsoft-edge/visual-studio-code/webhint.md
Labels: doc-bug

#553 Updated devtools-guide file
  microsoft-edge/devtools-guide.md
  microsoft-edge/includes/new-devtools-version-note.md
Labels: doc-enhancement

#538 fix: Cleanup single value metadata
  microsoft-edge/windows-runtime/considerations-when-using-the-windows-runtime-api.md
  microsoft-edge/windows-runtime/error-codes-for-windows-runtime-apps-using-javascript.md
  microsoft-edge/windows-runtime/handling-windows-runtime-events-in-javascript.md
  microsoft-edge/windows-runtime/javascript-representation-of-windows-runtime-types.md
  microsoft-edge/windows-runtime/special-error-properties-from-asynchronous-windows-runtime-methods.md
  microsoft-edge/windows-runtime/using-the-windows-runtime-in-javascript.md
  microsoft-edge/windows-runtime/using-windows-runtime-asynchronous-methods.md
  microsoft-edge/windows-runtime/windows-runtime-datetime-and-timespan-representations.md
Labels: doc-bug, doc-enhancement

#563 Updated table
  microsoft-edge/windows-runtime/error-codes-for-windows-runtime-apps-using-javascript.md
Labels: doc-bug

#529 Added the update URL for Chrome Web Store
  microsoft-edge/extensions-chromium/developer-guide/alternate-distribution-options.md
Labels: doc-enhancement

#564 Updated content
  microsoft-edge/extensions-chromium/developer-guide/alternate-distribution-options.md
Labels: cat: extensions, doc-bug

#534 update site impacting changes
  microsoft-edge/web-platform/site-impacting-changes.md
Labels: doc-enhancement

#566 Update to target release date of Mixed Content Download Block
  microsoft-edge/web-platform/site-impacting-changes.md
Labels: cat: webplatform, doc-bug, doc-enhancement

#567 Localization metadata updates
  microsoft-edge/devtools-guide.md
  microsoft-edge/devtools-guide/console/error-and-status-codes.md
  microsoft-edge/extensions/guides/adding-and-removing-extensions.md
  microsoft-edge/index.yml
  microsoft-edge/privacy-whitepaper.md
Labels: cat: devtools, doc-enhancement

#572 Chromium docs 4502624
  microsoft-edge/devtools-guide-chromium/inspect-styles/animations.md
  microsoft-edge/devtools-guide-chromium/media/animation-speed-buttons-icon.msft.png
  microsoft-edge/devtools-guide-chromium/media/inspect-styles-elements-styles-drawer-animations-completed.msft.png
  microsoft-edge/devtools-guide-chromium/media/inspect-styles-elements-styles-drawer-animations-selected-completed.msft.png
  microsoft-edge/devtools-guide-chromium/media/inspect-styles-elements-styles-drawer-animations-selected-paused.msft.png
  microsoft-edge/devtools-guide-chromium/media/inspect-styles-elements-styles-drawer-animations.msft.png
  microsoft-edge/devtools-guide-chromium/media/inspect-styles-elements-styles-more-tools-animations.msft.png
  microsoft-edge/devtools-guide-chromium/media/inspect-styles-glitch-display-animations-highlight.msft.png
  microsoft-edge/devtools-guide-chromium/media/inspect-styles-glitch-display-animations.msft.png
  microsoft-edge/devtools-guide-chromium/media/inspect-styles-glitch-spin-animations-console-animations-delay.msft.png
  microsoft-edge/devtools-guide-chromium/media/inspect-styles-glitch-spin-animations-console-animations-keyframe-modification.msft.png
  microsoft-edge/devtools-guide-chromium/media/inspect-styles-glitch-spin-animations-console-animations-shorter.msft.png
  microsoft-edge/devtools-guide-chromium/media/inspect-styles-glitch-spin-animations-console-animations.msft.png
  microsoft-edge/devtools-guide-chromium/media/inspect-styles-split-elements-styles-drawer-animations-selected-completed.msft.png
  microsoft-edge/devtools-guide-chromium/media/replay-button-icon.msft.png
Labels: cat: devtools

#565 Update payment request code sample
  microsoft-edge/dev-guide/windows-integration/payment-request-api.md
Labels: cat: devtools, doc-bug

#585 Update branch in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: doc-bug, doc-enhancement

#588 Fix typo
  microsoft-edge/progressive-web-apps-chromium/index.md
Labels: cat: pwas, doc-bug

#589 Updated with Selenium 4.00-alpha5 and Selenium Tools release
  microsoft-edge/webdriver-chromium.md
Labels: cat: webdriver, doc-enhancement

#598 Update site-impacting-changes.md
  microsoft-edge/web-platform/site-impacting-changes.md
Labels: cat: webplatform

#587 User/likravit/docs/whitepaper updates202004
  microsoft-edge/media/whitepaper-media/address-bar.png
  microsoft-edge/media/whitepaper-media/crashes.png
  microsoft-edge/media/whitepaper-media/crashes2.png
  microsoft-edge/media/whitepaper-media/diagnostic-data2.png
  microsoft-edge/media/whitepaper-media/feedback.png
  microsoft-edge/media/whitepaper-media/geolocation2.png
  microsoft-edge/media/whitepaper-media/ie-mode.png
  microsoft-edge/media/whitepaper-media/migration.png
  microsoft-edge/media/whitepaper-media/n-t-p1.png
  microsoft-edge/media/whitepaper-media/privacy.png
  microsoft-edge/media/whitepaper-media/smart-screen.png
  microsoft-edge/media/whitepaper-media/sync.png
  microsoft-edge/media/whitepaper-media/tracking-prevention.png
  microsoft-edge/media/whitepaper-media/w-i-p.png
  microsoft-edge/privacy-whitepaper.md
Labels: cat: general, doc-bug, doc-enhancement

#601 Chromium docs 4445747
  microsoft-edge/devtools-guide-chromium/accessibility/focus.md
  microsoft-edge/devtools-guide-chromium/accessibility/reference.md
  microsoft-edge/devtools-guide-chromium/media/accessibility-audits-pane.msft.png
  microsoft-edge/devtools-guide-chromium/media/accessibility-audits-run-audits-result-issues-expanded.msft.png
  microsoft-edge/devtools-guide-chromium/media/accessibility-audits-run-audits-result.msft.png
  microsoft-edge/devtools-guide-chromium/media/accessibility-console-create-live-expression-empty.msft.png
  microsoft-edge/devtools-guide-chromium/media/accessibility-devtools-extension-axe-panel.msft.png
  microsoft-edge/devtools-guide-chromium/media/accessibility-elements-accessibility-aria-attributes.msft.png
  microsoft-edge/devtools-guide-chromium/media/accessibility-elements-accessibility-computed-properties.msft.png
  microsoft-edge/devtools-guide-chromium/media/accessibility-elements-accessibility-tree.msft.png
  microsoft-edge/devtools-guide-chromium/media/accessibility-elements-accessibility.msft.png
  microsoft-edge/devtools-guide-chromium/media/accessibility-elements-paragraph-highlight.msft.png
  microsoft-edge/devtools-guide-chromium/media/accessibility-elements-styles-paragraph-highlight-color-picker-contrast-ratio-details.msft.png
  microsoft-edge/devtools-guide-chromium/media/accessibility-elements-styles-paragraph-highlight-color-picker.msft.png
  microsoft-edge/devtools-guide-chromium/media/accessibility-elements-styles-paragraph-highlight-color.msft.png
  microsoft-edge/devtools-guide-chromium/media/accessibility-web-dev-accessibility-audits-learn-more.msft.png
Labels: cat: devtools

#579 Updated pwa content
  microsoft-edge/progressive-web-apps-edgehtml/get-started.md
Labels: cat: pwas, doc-enhancement

#550 Update deprecation milestones based on schedule change
  microsoft-edge/web-platform/site-impacting-changes.md
Labels: cat: webplatform, doc-bug, doc-enhancement

#578 Add note about notifications experiment to site-impacting changes
  microsoft-edge/web-platform/site-impacting-changes.md
Labels: cat: webplatform, doc-enhancement

#604 Provide link to updated Chromium docs.
  microsoft-edge/extensions/includes/deprecation-note.md
Labels: cat: extensions

#586 Update accessibility.md
  microsoft-edge/accessibility.md
Labels: cat: general, doc-bug, doc-enhancement

#590 Edits for grammar, capitalization, content, etc.
  microsoft-edge/progressive-web-apps-chromium/index.md
  microsoft-edge/progressive-web-apps-edgehtml/get-started.md
Labels: cat: pwas, doc-bug, doc-enhancement

#617 Fixed link to end user support
  microsoft-edge/index.yml
Labels: cat: general, doc-bug, doc-enhancement

#618 add link to video page
  microsoft-edge/index.yml
Labels: cat: general, doc-bug, doc-enhancement

#619 Chromium docs 4582519
  microsoft-edge/devtools-guide-chromium/whats-new/2019/12/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/01/devtools.md
Labels: cat: devtools, doc-bug, doc-enhancement

#606 Remove duplicate words - doc bug
  microsoft-edge/devtools-guide-chromium/whats-new/2020/01/devtools.md
Labels: cat: devtools, doc-bug

#620 Chromium docs 4476061
  microsoft-edge/devtools-guide-chromium/customize/dark-theme.md
  microsoft-edge/devtools-guide-chromium/customize/index.md
  microsoft-edge/devtools-guide-chromium/customize/placement.md
  microsoft-edge/devtools-guide-chromium/media/bottom-icon.msft.png
  microsoft-edge/devtools-guide-chromium/media/customize-command-menu-dark.msft.png
  microsoft-edge/devtools-guide-chromium/media/customize-dev-tools-dock-side.msft.png
  microsoft-edge/devtools-guide-chromium/media/customize-drawer-open-more-tools.msft.png
  microsoft-edge/devtools-guide-chromium/media/customize-drawer-open.msft.png
  microsoft-edge/devtools-guide-chromium/media/customize-elements-styles-bottom-docked.msft.png
  microsoft-edge/devtools-guide-chromium/media/customize-elements-styles-command-menu-undo.msft.png
  microsoft-edge/devtools-guide-chromium/media/customize-elements-styles-console-dark-theme.msft.png
  microsoft-edge/devtools-guide-chromium/media/customize-elements-styles-options-dock-side-highlight-browser.msft.png
  microsoft-edge/devtools-guide-chromium/media/customize-elements-styles-options-dock-side-highlight-devtools.msft.png
  microsoft-edge/devtools-guide-chromium/media/customize-elements-styles-options-dock-side-highlight.msft.png
  microsoft-edge/devtools-guide-chromium/media/customize-elements-styles-right-docked.msft.png
  microsoft-edge/devtools-guide-chromium/media/customize-network-first-position.msft.png
  microsoft-edge/devtools-guide-chromium/media/customize-options-settings.msft.png
  microsoft-edge/devtools-guide-chromium/media/customize-settings-appearance-theme.msft.png
  microsoft-edge/devtools-guide-chromium/media/customize-settings-preferences-appearance-theme-dark.msft.png
  microsoft-edge/devtools-guide-chromium/media/customize-settings-preferences.msft.png
  microsoft-edge/devtools-guide-chromium/media/left-icon.msft.png
  microsoft-edge/devtools-guide-chromium/media/more-icon.msft.png
  microsoft-edge/devtools-guide-chromium/media/undock-icon.msft.png
Labels: cat: devtools, doc-bug, doc-enhancement

#624 Chromium docs 4446465
  microsoft-edge/devtools-guide-chromium/console/utilities.md
  microsoft-edge/devtools-guide-chromium/css/index.md
  microsoft-edge/devtools-guide-chromium/css/print-preview.md
  microsoft-edge/devtools-guide-chromium/css/reference.md
  microsoft-edge/devtools-guide-chromium/media/add-background-color-icon.msft.png
  microsoft-edge/devtools-guide-chromium/media/add-box-shadow-icon.msft.png
  microsoft-edge/devtools-guide-chromium/media/add-color-icon.msft.png
  microsoft-edge/devtools-guide-chromium/media/add-text-shadow-icon.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-color-picker-eye-dropper.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-console-command-menu-coverage.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-console-command-menu-rendering.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-console-qs-coverage-empty.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-console-qs-coverage-run.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-elements-add-a-class-to-me-styles-cls.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-elements-add-background-color-to-me-styles-p.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-elements-change-my-margin-styles-margin-edit.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-elements-change-my-margin-styles-padding.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-elements-computed-filter-100.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-elements-computed-h1.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-elements-hover-over-me-styles-hov-hover.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-elements-inspect-me-styles.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-elements-inspect-me.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-elements-styles-border-bottom-style-dropdown.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-elements-styles-border-bottom-style.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-elements-styles-filter-classes.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-elements-styles-filter-color.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-elements-styles-h1-2.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-elements-styles-h1-highlight.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-elements-styles-h1.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-elements-styles-hov-hover.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-elements-styles-insert-style-rule-below.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-elements-styles-margin-top-background-color.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-elements-styles-new-rule-styles.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-elements-styles-qs-rendering-emulate-css-media-print.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-elements-styles-rule-add-background-color.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-elements-styles-rule-add-box-shadow.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-elements-styles-rule-add-color.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-elements-styles-rule-add-text-shadow.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-elements-styles-rule-color-picker-annotated.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-elements-styles-rule-color-picker.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-elements-styles-rule-deactivated.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-elements-styles-rule-more-options-insert-style-rule-below.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-elements-styles-rule-overlay-color-box.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-elements-styles-style-new-select-exisiting.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-elements-styles-style-new.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-sources-css-coverage.msft.png
  microsoft-edge/devtools-guide-chromium/media/eyedropper-icon.msft.png
  microsoft-edge/devtools-guide-chromium/media/new-style-rule-icon.msft.png
  microsoft-edge/devtools-guide-chromium/media/refresh-icon.msft.png
  microsoft-edge/devtools-guide-chromium/media/select-an-element-icon.msft.png
Labels: cat: devtools, doc-enhancement

#625 Chromium docs 4472823
  microsoft-edge/devtools-guide-chromium/coverage/index.md
  microsoft-edge/devtools-guide-chromium/media/coverage-console-drawer-coverage-empty.msft.png
  microsoft-edge/devtools-guide-chromium/media/coverage-sources-resource-drawer-coverage-selected.msft.png
  microsoft-edge/devtools-guide-chromium/media/coverage-sources-resource-drawer-coverage.msft.png
  microsoft-edge/devtools-guide-chromium/media/record-icon.msft.png
  microsoft-edge/devtools-guide-chromium/media/reload-icon.msft.png
  microsoft-edge/devtools-guide-chromium/media/stop-icon.msft.png
Labels: cat: devtools, doc-bug, doc-enhancement

#626 Chromium docs 4515950
  microsoft-edge/devtools-guide-chromium/media/workspaces-glitch-workspaces-demo-source.msft.png
  microsoft-edge/devtools-guide-chromium/media/workspaces-workspaces-demo-console.msft.png
  microsoft-edge/devtools-guide-chromium/media/workspaces-workspaces-demo-elements-styles-css.msft.png
  microsoft-edge/devtools-guide-chromium/media/workspaces-workspaces-demo-elements-styles-quick-source-script.msft.png
  microsoft-edge/devtools-guide-chromium/media/workspaces-workspaces-demo-search-script.msft.png
  microsoft-edge/devtools-guide-chromium/media/workspaces-workspaces-demo-search-show-quick-source.msft.png
  microsoft-edge/devtools-guide-chromium/media/workspaces-workspaces-demo-sources-filesystem-css.msft.png
  microsoft-edge/devtools-guide-chromium/media/workspaces-workspaces-demo-sources-filesystem-folder.msft.png
  microsoft-edge/devtools-guide-chromium/media/workspaces-workspaces-demo-sources-filesystem.msft.png
  microsoft-edge/devtools-guide-chromium/media/workspaces-workspaces-demo-sources-page-h1.msft.png
  microsoft-edge/devtools-guide-chromium/media/workspaces-workspaces-demo.msft.png
  microsoft-edge/devtools-guide-chromium/workspaces/index.md
Labels: cat: devtools, doc-enhancement

#605 Added additional information on how to find the executablePath.
  microsoft-edge/puppeteer.md
Labels: cat: general, doc-bug, doc-enhancement

#622 Update index.md
  microsoft-edge/extensions-chromium/index.md
Labels: cat: extensions, doc-bug

#616 Updated windows-runtime toc
  microsoft-edge/progressive-web-apps-edgehtml/windows-features.md
  microsoft-edge/toc.yml
  microsoft-edge/windows-runtime.md
  microsoft-edge/windows-runtime/index.md
  microsoft-edge/windows-runtime/reference/toc.md
  microsoft-edge/windows-runtime/toc.yml
Labels: cat: general, doc-enhancement, in-progress

#615 Added localization documentation
  microsoft-edge/devtools-guide-chromium/customize/localization.md
  microsoft-edge/devtools-guide-chromium/customize/media/localization-jp.png
  microsoft-edge/toc.yml
Labels: cat: devtools, doc-enhancement

#613 Updated Partner Center links
  microsoft-edge/extensions-chromium/publish/create-dev-account.md
  microsoft-edge/extensions-chromium/publish/manage-settings.md
  microsoft-edge/extensions-chromium/publish/publish-extension.md
  microsoft-edge/extensions-chromium/publish/update.md
  microsoft-edge/extensions-chromium/publish/upload-video.md
  microsoft-edge/extensions-chromium/store-policies/developer-policies.md
Labels: cat: extensions, doc-enhancement

#632 Chromium docs 4477923
  microsoft-edge/devtools-guide-chromium/device-mode/geolocation.md
  microsoft-edge/devtools-guide-chromium/device-mode/index.md
  microsoft-edge/devtools-guide-chromium/device-mode/orientation.md
  microsoft-edge/devtools-guide-chromium/device-mode/override-user-agent.md
  microsoft-edge/devtools-guide-chromium/device-mode/testing-other-browsers.md
  microsoft-edge/devtools-guide-chromium/media/capture-settings-icon.msft.png
  microsoft-edge/devtools-guide-chromium/media/customize-and-control-devtools-icon.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-command-menu-throttle.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-console-command-menu.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-console-network-conditions-user-agent-select-automatically-deselected.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-console-sensors-geolocation-tokyo.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-console-sensors-orientation-custom.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-console-sensors-orientation-portrait-upside-down.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-modern-ie-vm.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-network-throttle.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-performance-cpu-throttle.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-performance-network-throttle.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-click-breakpoint.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-command-menu-sensors.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-device-list-edit.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-device-list.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-device-type-list.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-handles-highlighted.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-highlighted.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-landscape.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-more-options-show-media-queries.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-more-tools-sensors.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-option-show-device-frame.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-options-device-frame-iphone-6.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-options-show-rulers.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-rulers.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-sensors-tokyo-portrait-upside-down.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-sensors-tokyo.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-settings-emulated-devices-add.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-throttle.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-zoom.msft.png
  microsoft-edge/devtools-guide-chromium/media/rotate-dark-icon.msft.png
  microsoft-edge/devtools-guide-chromium/media/toggle-device-toolbar-dark-icon.msft.png
Labels: cat: devtools, doc-bug, doc-enhancement

#633 Chromium docs 4484084
  microsoft-edge/devtools-guide-chromium/dom/index.md
  microsoft-edge/devtools-guide-chromium/media/dom-break-attribute-modifications-sources-paused-on.msft.png
  microsoft-edge/devtools-guide-chromium/media/dom-elements-highlighted-break-attribute-modifications-break-on-attribute-modifications.msft.png
  microsoft-edge/devtools-guide-chromium/media/dom-elements-highlighted-copy-js-path-console-query-selector.msft.png
  microsoft-edge/devtools-guide-chromium/media/dom-elements-highlighted-edit-attributes-highlighted.msft.png
  microsoft-edge/devtools-guide-chromium/media/dom-elements-highlighted-edit-attributes-inline-css.msft.png
  microsoft-edge/devtools-guide-chromium/media/dom-elements-highlighted-edit-content.msft.png
  microsoft-edge/devtools-guide-chromium/media/dom-elements-highlighted-edit-node-type-button.msft.png
  microsoft-edge/devtools-guide-chromium/media/dom-elements-highlighted-hide-a-node.msft.png
  microsoft-edge/devtools-guide-chromium/media/dom-elements-highlighted-navigate-dom-tree-keyboard-ringo.msft.png
  microsoft-edge/devtools-guide-chromium/media/dom-elements-highlighted-navigate-dom-tree-keyboard-ul.msft.png
  microsoft-edge/devtools-guide-chromium/media/dom-elements-highlighted-reference-currently-selected-node-console-1.msft.png
  microsoft-edge/devtools-guide-chromium/media/dom-elements-highlighted-reference-currently-selected-node-console-2.msft.png
  microsoft-edge/devtools-guide-chromium/media/dom-elements-highlighted-right-click-right-side.msft.png
  microsoft-edge/devtools-guide-chromium/media/dom-elements-highlighted-scroll-into-view-dropdown.msft.png
  microsoft-edge/devtools-guide-chromium/media/dom-elements-highlighted-search-nodes-highlight.msft.png
  microsoft-edge/devtools-guide-chromium/media/dom-elements-highlighted-select-element-page-inspect.msft.png
  microsoft-edge/devtools-guide-chromium/media/dom-elements-highlighted-store-global-variable-console-temp1.msft.png
  microsoft-edge/devtools-guide-chromium/media/dom-elements-reorder-dom-nodes.msft.png
  microsoft-edge/devtools-guide-chromium/media/dom-glitch-dom-examples-michelangelo-elements-highlighted.msft.png
  microsoft-edge/devtools-guide-chromium/media/dom-glitch-dom-examples-michelangelo-inspect.msft.png
  microsoft-edge/devtools-guide-chromium/media/inspect-icon.msft.png
  microsoft-edge/devtools-guide-chromium/media/resume-script-icon.msft.png
Labels: cat: devtools, doc-bug, doc-enhancement

#636 Chromium docs 4512933
  microsoft-edge/devtools-guide-chromium/evaluate-performance/reference.md
  microsoft-edge/devtools-guide-chromium/media/memory-problems-bing-browser-task-manager-javascript-memory.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-bing-settings-more-tools-browser-task-manager.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-dominators.msft.gif
  microsoft-edge/devtools-guide-chromium/media/memory-problems-dominatorsspanning.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-dontcontrol.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-gh-nodejs-benchmarks-run-memory-heap-snapshots-all-hover-clear-all-profiles.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-gh-nodejs-benchmarks-run-memory-heap-snapshots-all.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-gh-nodejs-benchmarks-run-memory-heap-snapshots-comparison-dropdown.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-gh-nodejs-benchmarks-run-memory-heap-snapshots-constructor-highlight.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-gh-nodejs-benchmarks-run-memory-heap-snapshots-constructor-retainers.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-gh-nodejs-benchmarks-run-memory-heap-snapshots-containment-dropdown.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-gh-nodejs-benchmarks-run-memory-heap-snapshots-view-dropdown.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-gh-nodejs-benchmarks-run-memory-heap-snapshots.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-glitch-example-05-memory-allocation-sampling-heavy-bottom-up.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-glitch-example-05-memory-allocation-sampling.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-glitch-example-1-performance-memory.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-glitch-example-12-memory-heap-snapshot-filter-detached-expanded-selected.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-glitch-example-12-memory-heap-snapshot-filter-detached-expanded.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-glitch-example-12-memory-heap-snapshot-filter-detached.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-glitch-example-12-memory-heap-snapshot.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-glitch-example-13-allocation-timeline-snapshot-all.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-glitch-example-13-allocation-timeline-snapshot-focused-constructor-expanded.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-glitch-example-13-allocation-timeline-snapshot-focused.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-memory-allocation-instrumentation-on-timeline-selected.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-memory-allocation-timeline-snapshot-highlighted-annotated.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-memory-allocation-timeline-snapshot-highlighted.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-memory-allocation-timelines-snapshot.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-root.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-shallow-retained.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-thinkgraph.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-tree-gc.msft.png
  microsoft-edge/devtools-guide-chromium/media/stop-recording-icon.msft.png
  microsoft-edge/devtools-guide-chromium/memory-problems/allocation-profiler.md
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots.md
  microsoft-edge/devtools-guide-chromium/memory-problems/index.md
  microsoft-edge/devtools-guide-chromium/memory-problems/memory-101.md
Labels: cat: devtools, doc-bug, doc-enhancement

#638 Chromium docs 4514104
  microsoft-edge/devtools-guide-chromium/media/exclude-icon.msft.png
  microsoft-edge/devtools-guide-chromium/media/focus-icon.msft.png
  microsoft-edge/devtools-guide-chromium/media/rendering-tools-gh-nodejs-benchmarks-run-memory-sampling-profiles-chart-highlighted.msft.png
  microsoft-edge/devtools-guide-chromium/media/rendering-tools-gh-nodejs-benchmarks-run-memory-sampling-profiles-chart-hover.msft.png
  microsoft-edge/devtools-guide-chromium/media/rendering-tools-gh-nodejs-benchmarks-run-memory-sampling-profiles-chart-zoomed.msft.png
  microsoft-edge/devtools-guide-chromium/media/rendering-tools-gh-nodejs-benchmarks-run-memory-sampling-profiles-chart.msft.png
  microsoft-edge/devtools-guide-chromium/media/rendering-tools-gh-nodejs-benchmarks-run-memory-sampling-profiles-heavy-bottom-up.msft.png
  microsoft-edge/devtools-guide-chromium/media/rendering-tools-gh-nodejs-benchmarks-run-memory-sampling-profiles-tree-top-down.msft.png
  microsoft-edge/devtools-guide-chromium/media/rendering-tools-jank-performance-recalculate-style-summary.msft.png
  microsoft-edge/devtools-guide-chromium/media/rendering-tools-performance-recalculate-style-summary.msft.png
  microsoft-edge/devtools-guide-chromium/media/restore-icon.msft.png
  microsoft-edge/devtools-guide-chromium/rendering-tools/index.md
  microsoft-edge/devtools-guide-chromium/rendering-tools/js-runtime.md
Labels: cat: devtools, doc-bug, doc-enhancement

#640 Chromium docs 4514749
  microsoft-edge/devtools-guide-chromium/media/resources-application-mainfest-airhorner-expanded-resources.msft.png
  microsoft-edge/devtools-guide-chromium/media/resources-application-mainfest-airhorner-frames-expanded.msft.png
  microsoft-edge/devtools-guide-chromium/media/resources-application-mainfest-airhorner.msft.png
  microsoft-edge/devtools-guide-chromium/media/resources-command-menu-empty.msft.png
  microsoft-edge/devtools-guide-chromium/media/resources-command-menu-file-search.msft.png
  microsoft-edge/devtools-guide-chromium/media/resources-network-resources-filter-css.msft.png
  microsoft-edge/devtools-guide-chromium/media/resources-network-resources.msft.png
  microsoft-edge/devtools-guide-chromium/media/resources-network-response.msft.png
  microsoft-edge/devtools-guide-chromium/media/resources-sources-page-empty.msft.png
  microsoft-edge/devtools-guide-chromium/media/resources-sources-page-resource-group-by-folder.msft.png
  microsoft-edge/devtools-guide-chromium/media/resources-sources-page-resource.msft.png
  microsoft-edge/devtools-guide-chromium/media/resources-sources-page-resources-empty-not-grouped-by-folder.msft.png
  microsoft-edge/devtools-guide-chromium/media/resources-sources-page-reveal-in-network-panel.msft.png
  microsoft-edge/devtools-guide-chromium/resources/index.md
Labels: cat: devtools, doc-bug, doc-enhancement

#641 Chromium docs 4514754
  microsoft-edge/devtools-guide-chromium/media/security-network-filter.msft.png
  microsoft-edge/devtools-guide-chromium/media/security-security-overview-mixed-secure-main-origin.msft.png
  microsoft-edge/devtools-guide-chromium/media/security-security-overview-mixed-secure.msft.png
  microsoft-edge/devtools-guide-chromium/media/security-security-overview-non-secure.msft.png
  microsoft-edge/devtools-guide-chromium/media/security-security-overview-secure-view-certificate.msft.png
  microsoft-edge/devtools-guide-chromium/media/security-security-overview-secure.msft.png
  microsoft-edge/devtools-guide-chromium/security/index.md
Labels: cat: devtools, doc-bug, doc-enhancement

#642 Chromium docs 4515059
  microsoft-edge/devtools-guide-chromium/media/add-pattern-icon.msft.png
  microsoft-edge/devtools-guide-chromium/media/capture-icon.msft.png
  microsoft-edge/devtools-guide-chromium/media/large-resource-rows-button-icon.msft.png
  microsoft-edge/devtools-guide-chromium/media/more-panels-icon.msft.png
  microsoft-edge/devtools-guide-chromium/media/perform-icon.msft.png
  microsoft-edge/devtools-guide-chromium/media/remove-icon.msft.png
  microsoft-edge/devtools-guide-chromium/media/speed-audits-performance.msft.png
  microsoft-edge/devtools-guide-chromium/media/speed-console.msft.png
  microsoft-edge/devtools-guide-chromium/media/speed-glitch-compression-small-images-audits-performance.msft.png
  microsoft-edge/devtools-guide-chromium/media/speed-glitch-tony-remix-audits-performance-diagnostics.msft.png
  microsoft-edge/devtools-guide-chromium/media/speed-glitch-tony-remix-audits-performance-metrics-collapsed-highlighted.msft.png
  microsoft-edge/devtools-guide-chromium/media/speed-glitch-tony-remix-audits-performance-metrics-collapsed-metrics-highlighted.msft.png
  microsoft-edge/devtools-guide-chromium/media/speed-glitch-tony-remix-audits-performance-metrics-collapsed.msft.png
  microsoft-edge/devtools-guide-chromium/media/speed-glitch-tony-remix-audits-performance-metrics-expanded.msft.png
  microsoft-edge/devtools-guide-chromium/media/speed-glitch-tony-remix-audits-performance-opportunities-expanded.msft.png
  microsoft-edge/devtools-guide-chromium/media/speed-glitch-tony-remix-audits-performance-opportunities.msft.png
  microsoft-edge/devtools-guide-chromium/media/speed-glitch-tony-remix-audits-performance-passed-audits.msft.png
  microsoft-edge/devtools-guide-chromium/media/speed-glitch-tony-remix-audits-performance-view-trace.msft.png
  microsoft-edge/devtools-guide-chromium/media/speed-glitch-tony-remix-network-bundle-js-headers-response.msft.png
  microsoft-edge/devtools-guide-chromium/media/speed-glitch-tony-remix-network-main.msft.png
  microsoft-edge/devtools-guide-chromium/media/speed-glitch-tony-remix-network-use-large-request-rows-bundle-js.msft.png
  microsoft-edge/devtools-guide-chromium/media/speed-glitch-tony-remix-network-use-large-request-rows.msft.png
  microsoft-edge/devtools-guide-chromium/media/speed-glitch-tony-remix-network.msft.png
  microsoft-edge/devtools-guide-chromium/media/speed-glitch-tony-remix-performance-slow-network-slow-cpu-main-highlight.msft.png
  microsoft-edge/devtools-guide-chromium/media/speed-glitch-tony-remix-performance-slow-network-slow-cpu-main.msft.png
  microsoft-edge/devtools-guide-chromium/media/speed-glitch-tony-remix-performance-slow-network-slow-cpu-timings-minebitcoin.msft.png
  microsoft-edge/devtools-guide-chromium/media/speed-glitch-tony-remix-performance-slow-network-slow-cpu-timings-summary-minebitcoin.msft.png
  microsoft-edge/devtools-guide-chromium/media/speed-glitch-tony-remix-performance-slow-network-slow-cpu-timings.msft.png
  microsoft-edge/devtools-guide-chromium/media/speed-glitch-tony-remix-performance-slow-network-slow-cpu.msft.png
  microsoft-edge/devtools-guide-chromium/media/speed-glitch-tony-remix-server-js.msft.png
  microsoft-edge/devtools-guide-chromium/media/speed-glitch-tony-remix-updated-2-audits-performance.msft.png
  microsoft-edge/devtools-guide-chromium/media/speed-glitch-tony-remix-updated-3-audits-performance.msft.png
  microsoft-edge/devtools-guide-chromium/media/speed-glitch-tony-remix-updated-4-audits-performance.msft.png
  microsoft-edge/devtools-guide-chromium/media/speed-glitch-tony-remix-updated-audits-performance-oppportunities-expanded-command-coverage.msft.png
  microsoft-edge/devtools-guide-chromium/media/speed-glitch-tony-remix-updated-audits-performance-oppportunities-expanded-drawer-coverage-reloaded.msft.png
  microsoft-edge/devtools-guide-chromium/media/speed-glitch-tony-remix-updated-audits-performance-oppportunities-expanded-drawer-coverage.msft.png
  microsoft-edge/devtools-guide-chromium/media/speed-glitch-tony-remix-updated-audits-performance-oppportunities-expanded.msft.png
  microsoft-edge/devtools-guide-chromium/media/speed-glitch-tony-remix-updated-audits-performance.msft.png
  microsoft-edge/devtools-guide-chromium/media/speed-glitch-tony-remix-updated-network-drawer-request-blocking-added.msft.png
  microsoft-edge/devtools-guide-chromium/media/speed-glitch-tony-remix-updated-network-drawer-request-blocking-empty.msft.png
  microsoft-edge/devtools-guide-chromium/media/speed-glitch-tony-remix-updated-network-reloaded-drawer-request-blocking-added.msft.png
  microsoft-edge/devtools-guide-chromium/media/speed-glitch-tony-remix-updated-sources-drawer-coverage-reloaded-jquery-js.msft.png
  microsoft-edge/devtools-guide-chromium/media/speed-glitch-tony-server-js-remix-project.msft.png
  microsoft-edge/devtools-guide-chromium/media/speed-glitch-tony-server-js.msft.png
  microsoft-edge/devtools-guide-chromium/media/speed-glitch-tony-show-live-console.msft.png
  microsoft-edge/devtools-guide-chromium/media/speed-glitch-tony-show-live.msft.png
  microsoft-edge/devtools-guide-chromium/media/speed-tony.msft.png
  microsoft-edge/devtools-guide-chromium/media/speed-web-dev-performance-audits.msft.png
  microsoft-edge/devtools-guide-chromium/speed/get-started.md
Labels: cat: devtools, doc-bug, doc-enhancement
