Repository MicrosoftDocs/edge-developer, pull requests merged in 2020-09, with the labels that each got.

#872 Chromium docs 5032347
  microsoft-edge/devtools-guide-chromium.md
  microsoft-edge/devtools-guide-chromium/3d-view/index.md
  microsoft-edge/devtools-guide-chromium/accessibility/focus.md
  microsoft-edge/devtools-guide-chromium/accessibility/navigation.md
  microsoft-edge/devtools-guide-chromium/accessibility/reference.md
  microsoft-edge/devtools-guide-chromium/device-mode/geolocation.md
  microsoft-edge/devtools-guide-chromium/device-mode/orientation.md
  microsoft-edge/devtools-guide-chromium/device-mode/override-user-agent.md
  microsoft-edge/devtools-guide-chromium/experimental-features.md
  microsoft-edge/devtools-guide-chromium/includes/contact-devtools-team-note.md
  microsoft-edge/devtools-guide-chromium/issues/index.md
  microsoft-edge/devtools-guide-chromium/javascript/disable.md
  microsoft-edge/devtools-guide-chromium/javascript/guides/mark-content-scripts-library-code.md
  microsoft-edge/devtools-guide-chromium/javascript/reference.md
  microsoft-edge/devtools-guide-chromium/javascript/source-maps.md
  microsoft-edge/devtools-guide-chromium/media/bing-devtools-send-feedback.msft.png
  microsoft-edge/devtools-guide-chromium/memory-problems/allocation-profiler.md
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots.md
  microsoft-edge/devtools-guide-chromium/memory-problems/memory-101.md
  microsoft-edge/devtools-guide-chromium/rendering-tools/index.md
  microsoft-edge/devtools-guide-chromium/rendering-tools/js-runtime.md
  microsoft-edge/devtools-guide.experimental.md
  microsoft-edge/devtools-guide.md
  microsoft-edge/extensions/guides/packaging/using-manifoldjs-to-package-extensions.md
  microsoft-edge/puppeteer.md
  microsoft-edge/visual-studio/index.md
  microsoft-edge/webdriver-chromium.md
Labels: ADO, cat: devtools, doc-bug, doc-enhancement

#885 Chromium docs 5122041
  microsoft-edge/devtools-guide-chromium.md
  microsoft-edge/devtools-guide-chromium/accessibility/focus.md
  microsoft-edge/devtools-guide-chromium/device-mode/override-user-agent.md
  microsoft-edge/devtools-guide-chromium/dom/index.md
  microsoft-edge/devtools-guide-chromium/javascript/breakpoints.md
  microsoft-edge/devtools-guide-chromium/javascript/guides/mark-content-scripts-library-code.md
  microsoft-edge/devtools-guide-chromium/javascript/reference.md
  microsoft-edge/devtools-guide-chromium/whats-new/2019/12/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/01/devtools.md
Labels: ADO, cat: devtools

#876 Update publish an extension documentation
  .openpublishing.redirection.json
  microsoft-edge/extensions-chromium/publish/publish-extension.md
  microsoft-edge/extensions-chromium/publish/upload-video.md
  microsoft-edge/toc.yml
Labels: cat: extensions, doc-bug, doc-enhancement

#882 First pass at custom keyboard shortcuts doc
  microsoft-edge/devtools-guide-chromium/customize/shortcuts.md
  microsoft-edge/devtools-guide-chromium/experimental-features.md
  microsoft-edge/devtools-guide-chromium/media/experiments-keyboard-shortcut.png
  microsoft-edge/devtools-guide-chromium/media/match-keyboard-shortcuts-visual-studio-code.msft.png
  microsoft-edge/devtools-guide-chromium/media/settings-shortcuts.msft.png
Labels: cat: devtools

#879 Update Device Mode docs to use "Device emulation" and use new UI
  microsoft-edge/devtools-guide-chromium/device-mode/index.md
  microsoft-edge/devtools-guide-chromium/media/device-mode-command-menu-throttle.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-network-throttle.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-performance-cpu-throttle.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-performance-network-throttle.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-click-breakpoint.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-command-menu-network-conditions.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-command-menu-sensors.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-device-list-edit.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-device-list.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-device-type-list.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-handles-highlighted.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-highlighted.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-landscape.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-more-options-show-media-queries.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-more-tools-network-conditions.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-more-tools-sensors.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-network-conditions-macos.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-option-show-device-frame.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-options-device-frame-iphone-6.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-options-show-rulers.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-rulers.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-sensors-tokyo-portrait-upside-down.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-sensors-tokyo.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-settings-emulated-devices-add.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-throttle.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-zoom.msft.png
  microsoft-edge/devtools-guide-chromium/media/toggle-device-toolbar-dark-icon.msft.png
  microsoft-edge/devtools-guide-chromium/shortcuts.md
Labels: ADO, cat: devtools

#888 Update releasenotes.md
  microsoft-edge/webview2/concepts/versioning.md
  microsoft-edge/webview2/howto/media/contextmenu.png
  microsoft-edge/webview2/releasenotes.md
Labels: cat: extensions, cat: webview, doc-bug, doc-enhancement

#898 commit from WebFundamentals
  microsoft-edge/devtools-guide-chromium/whats-new/2019/12/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/01/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/03/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/05/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/06/devtools.md
Labels: ADO, cat: devtools, doc-bug, doc-enhancement

#904 commit from WebFundamentals
  microsoft-edge/devtools-guide-chromium/inspect-styles/animations.md
Labels: ADO, cat: devtools, doc-bug

#903 Updated content to address build issues
  microsoft-edge/extensions-chromium/developer-guide/alternate-distribution-options.md
  microsoft-edge/extensions-chromium/developer-guide/native-messaging.md
  microsoft-edge/extensions-chromium/developer-guide/port-chrome-extension.md
  microsoft-edge/extensions-chromium/enterprise/hosting-and-updating.md
  microsoft-edge/extensions-chromium/enterprise/match-patterns.md
  microsoft-edge/extensions-chromium/getting-started/index.md
  microsoft-edge/extensions-chromium/getting-started/part1-simple-extension.md
  microsoft-edge/extensions-chromium/getting-started/part2-content-scripts.md
  microsoft-edge/extensions-chromium/publish/create-dev-account.md
  microsoft-edge/extensions-chromium/publish/manage-settings.md
  microsoft-edge/extensions-chromium/publish/publish-extension.md
  microsoft-edge/extensions-chromium/publish/submission-states.md
  microsoft-edge/extensions-chromium/publish/update.md
  microsoft-edge/extensions-chromium/store-policies/ada-addendum.md
  microsoft-edge/extensions-chromium/store-policies/csp.md
  microsoft-edge/extensions-chromium/store-policies/developer-policies.md
Labels: cat: extensions, doc-bug

#905 Updated redirects.
  .openpublishing.redirection.json
Labels: doc-bug

#896 WebView2: Fixed broken link and added missing member references
  microsoft-edge/webview2/reference/dotnet/0-9-628/microsoft-web-webview2-core-corewebview2environment.md
  microsoft-edge/webview2/releasenotes.md
Labels: cat: webview, doc-bug

#877 Update native messaging documentation
  microsoft-edge/extensions-chromium/developer-guide/native-messaging.md
  microsoft-edge/toc.yml
Labels: cat: extensions, doc-bug, doc-enhancement

#925 Chromium docs 5229192
  microsoft-edge/devtools-guide-chromium/network/reference.md
Labels: ADO, cat: devtools, doc-bug
