Repository MicrosoftDocs/edge-developer, pull requests merged in 2020-05, with the labels that each got.

#630 First pass at Surface Duo emulator guide
  microsoft-edge/devtools-guide-chromium/media/remote-debugging-surface-duo-devtools.msft.png
  microsoft-edge/devtools-guide-chromium/media/remote-debugging-surface-duo-emulator-edge.msft.png
  microsoft-edge/devtools-guide-chromium/media/remote-debugging-surface-duo-emulator.msft.png
  microsoft-edge/devtools-guide-chromium/media/remote-debugging-surface-duo-inspect-page-with-targets.msft.png
  microsoft-edge/devtools-guide-chromium/media/remote-debugging-surface-duo-inspect-page.msft.png
  microsoft-edge/devtools-guide-chromium/remote-debugging/images/toggle-screencast-icon.msft.png
  microsoft-edge/devtools-guide-chromium/remote-debugging/images/toggle-screencast.msft.png
  microsoft-edge/devtools-guide-chromium/remote-debugging/surface-duo-emulator.md
Labels: cat: devtools

#629 First pass - intro & shortcuts
  microsoft-edge/progressive-web-apps-chromium/webappmanifests.md
Labels: cat: pwas, doc-bug, doc-enhancement

#648 Updated feedback link
  microsoft-edge/docfx.json
Labels: cat: general, doc-bug, doc-enhancement

#650 Updated WebVR link
  microsoft-edge/index.yml
  microsoft-edge/toc.yml
Labels: cat: general, doc-bug

#652 Updated privacy-whitepaper file
  microsoft-edge/privacy-whitepaper.md
Labels: cat: general, doc-enhancement

#645 Updated keystrokes in devtools-guide file
  microsoft-edge/devtools-guide.md
Labels: cat: devtools, doc-bug

#657 Added deprecation and known issues note.
  microsoft-edge/hosting/webview.md
Labels: cat: webview, doc-enhancement

#656 Updated hub page
  microsoft-edge/index.yml
Labels: cat: general, doc-enhancement

#655 Updates Chromium DevTools landing page
  microsoft-edge/devtools-guide-chromium.md
  microsoft-edge/devtools-guide-chromium/whats-new.md
  microsoft-edge/devtools-guide.experimental.md
Labels: cat: devtools, doc-bug, doc-enhancement

#654 Migrate Selenium tools for MS Edge documentation the MicrosoftDocs and include Python samples
  microsoft-edge/webdriver-chromium.md
Labels: cat: webdriver, doc-enhancement

#651 Restructure site compatibility-impacting changes table for stable and experimentation columns
  microsoft-edge/web-platform/site-impacting-changes.md
Labels: cat: webplatform, doc-enhancement

#673 Update WebView2 links
  .openpublishing.redirection.json
  microsoft-edge/index.yml
Labels: cat: webview, doc-bug, doc-enhancement

#675 InPrivate, Extensions, Collections Update
  microsoft-edge/privacy-whitepaper.md
Labels: cat: general, doc-bug, doc-enhancement

#676 Updated privacy-whitepaper file
  microsoft-edge/privacy-whitepaper.md
Labels: cat: general, doc-enhancement

#681 Updated .openpublishing.redirection file
  .openpublishing.redirection.json
Labels: cat: webview, doc-bug, doc-enhancement

#683 Updated toc
  microsoft-edge/progressive-web-apps-chromium/get-started.md
  microsoft-edge/toc.yml
Labels: cat: pwas, doc-enhancement

#658 Draft content for Service Worker & Offline
  microsoft-edge/progressive-web-apps-chromium/offline.md
  microsoft-edge/progressive-web-apps-chromium/serviceworker.md
  microsoft-edge/progressive-web-apps-chromium/webappmanifests.md
Labels: cat: pwas, doc-bug, doc-enhancement

#685 New PWA topics
  microsoft-edge/progressive-web-apps-chromium/offline.md
  microsoft-edge/progressive-web-apps-chromium/serviceworker.md
  microsoft-edge/progressive-web-apps-chromium/webappmanifests.md
  microsoft-edge/toc.yml
Labels: cat: pwas, doc-bug, doc-enhancement

#687 Updated webdriver-chromium
  microsoft-edge/webdriver-chromium.md
Labels: cat: webdriver, doc-bug

#688 Updated .openpublishing.redirection file
  .openpublishing.redirection.json
Labels: cat: webview, doc-bug, doc-enhancement

#653 Updated CONTRIBUTING file
  CONTRIBUTING.md
Labels: cat: general, doc-enhancement

#680 New WebView2 versioning doc
  microsoft-edge/webview2/concepts/versioning.md
  microsoft-edge/webview2/toc.yml
Labels: cat: webview, doc-bug, doc-enhancement

#679 WebView2 landing update
  microsoft-edge/webview2/index.md
  microsoft-edge/webview2/media/webview2/webnative.png
  microsoft-edge/webview2/media/webview2/webviewcomponents.png
  microsoft-edge/webview2/media/webview2/webviewreasons.png
  microsoft-edge/webview2/media/webview2/whatwebview.png
Labels: cat: webview, doc-bug, doc-enhancement

#678 New WebView2 debug doc
  microsoft-edge/webview2/howto/debug.md
  microsoft-edge/webview2/howto/webdriver.md
  microsoft-edge/webview2/toc.yml
Labels: cat: webview, doc-bug, doc-enhancement

#682 adding WebView2 roadmap doc
  microsoft-edge/webview2/media/webviewcomponents.png
  microsoft-edge/webview2/roadmap.md
Labels: cat: webview

#684 New WebView2 distribution doc page
  microsoft-edge/webview2/concepts/distribution.md
  microsoft-edge/webview2/concepts/versioning.md
  microsoft-edge/webview2/index.md
  microsoft-edge/webview2/releasenotes.md
  microsoft-edge/webview2/toc.yml
Labels: cat: webview, doc-bug, doc-enhancement

#690 Added JavaScript samples since Selenium Tools now available via npm
  microsoft-edge/webdriver-chromium.md
Labels: cat: webdriver, doc-enhancement

#692 fix typo: mun -> must
  microsoft-edge/webview2/index.md
Labels: cat: webview, doc-bug

#704 Update to location section
  microsoft-edge/privacy-whitepaper.md
Labels: cat: general, doc-bug, doc-enhancement

#707 Updated privacy-whitepaper
  microsoft-edge/privacy-whitepaper.md
Labels: cat: general, doc-enhancement

#706 Updated webview2/index
  microsoft-edge/webview2/index.md
Labels: cat: webview, doc-enhancement

#711 Updated Enterprise privacy setting link
  microsoft-edge/index.yml
  microsoft-edge/privacy-whitepaper.md
Labels: cat: general, doc-enhancement

#573 Updated multiple extensions files
  microsoft-edge/extensions-chromium/getting-started/part1-simple-extension.md
  microsoft-edge/extensions-chromium/getting-started/part2-content-scripts.md
  microsoft-edge/extensions/guides/creating-an-extension.md
  microsoft-edge/extensions/guides/design.md
Labels: cat: extensions, doc-enhancement

#696 updated Chromium extensions overview
  microsoft-edge/extensions-chromium/index.md
  microsoft-edge/extensions-chromium/media/example-extension-screenshot.png
Labels: cat: extensions, doc-bug, doc-enhancement

#718 Updated extensions-chromium/index file
  microsoft-edge/extensions-chromium/index.md
Labels: cat: extensions, doc-bug, doc-enhancement

#714 WebView2 .NET: Removed protected methods
  microsoft-edge/webview2/reference/winforms/0-9-515/microsoft-web-webview2-winforms-webview2.md
  microsoft-edge/webview2/reference/wpf/0-9-515/microsoft-web-webview2-wpf-webview2.md
Labels: cat: webview, doc-bug
