Repository MicrosoftDocs/edge-developer, pull requests merged in 2020-10, with the labels that each got.

#931 Updated whats-new/edgeHTML-15 file
  microsoft-edge/dev-guide/whats-new/edgeHTML-15.md
Labels: cat: devtools, doc-bug

#935 Chromium docs 5237809
  microsoft-edge/devtools-guide-chromium/media/experiments-grid.msft.png
Labels: ADO, cat: devtools, doc-enhancement

#936 commit from WebFundamentals
  microsoft-edge/devtools-guide-chromium/experimental-features.md
Labels: ADO, cat: devtools, doc-enhancement

#928 Updated extensions native-messaging content
  microsoft-edge/extensions-chromium/developer-guide/native-messaging.md
Labels: cat: extensions, doc-bug, doc-enhancement

#915 Adding StaticLib 'How To' doc
  microsoft-edge/webview2/howto/media/inserthere.png
  microsoft-edge/webview2/howto/media/staticlib.png
  microsoft-edge/webview2/howto/media/versionlib.png
  microsoft-edge/webview2/howto/static.md
  microsoft-edge/webview2/toc.yml
Labels: cat: webview, doc-provided

#929 Add FTP deprecation, update TLS opt-out deadline
  microsoft-edge/web-platform/site-impacting-changes.md
Labels: cat: webplatform, doc-enhancement

#926 Updated Progressive Web Apps content
  microsoft-edge/progressive-web-apps-chromium/get-started.md
  microsoft-edge/progressive-web-apps-chromium/index.md
  microsoft-edge/progressive-web-apps-chromium/media/app_menus.png
  microsoft-edge/progressive-web-apps-chromium/media/install_pwa_icon.png
Labels: cat: pwas, doc-enhancement

#938 Fix typo
  microsoft-edge/devtools-protocol/0.2/index.md
Labels: cat: devtools, doc-bug

#878 Extension architecture and sideloading updates
  microsoft-edge/extensions-chromium/getting-started/extension-sideloading.md
  microsoft-edge/extensions-chromium/getting-started/index.md
  microsoft-edge/extensions-chromium/getting-started/part1-simple-extension.md
  microsoft-edge/extensions-chromium/getting-started/part2-content-scripts.md
  microsoft-edge/extensions-chromium/index.md
  microsoft-edge/toc.yml
Labels: cat: extensions, doc-enhancement

#937 Addressing docs feedback on Device Mode
  microsoft-edge/devtools-guide/emulation.md
  microsoft-edge/toc.yml
Labels: cat: devtools, doc-bug, doc-enhancement

#945 Chromium docs 5263411
  microsoft-edge/devtools-guide-chromium/media-panel/index.md
  microsoft-edge/devtools-guide-chromium/media/media-panel-empty.msft.png
  microsoft-edge/devtools-guide-chromium/media/media-panel-events.msft.png
  microsoft-edge/devtools-guide-chromium/media/media-panel-hide-show.msft.png
  microsoft-edge/devtools-guide-chromium/media/media-panel-messages.msft.png
  microsoft-edge/devtools-guide-chromium/media/media-panel-save.msft.png
  microsoft-edge/devtools-guide-chromium/media/media-panel-timeline.msft.png
  microsoft-edge/devtools-guide-chromium/media/media-panel-view.msft.png
  microsoft-edge/devtools-guide-chromium/media/media-player-empty.msft.png
  microsoft-edge/devtools-guide-chromium/media/media-player-events.msft.png
  microsoft-edge/devtools-guide-chromium/media/media-player-hide-show.msft.png
  microsoft-edge/devtools-guide-chromium/media/media-player-messages.msft.png
  microsoft-edge/devtools-guide-chromium/media/media-player-remote-debug.msft.png
  microsoft-edge/devtools-guide-chromium/media/media-player-save.msft.png
  microsoft-edge/devtools-guide-chromium/media/media-player-view.msft.png
  microsoft-edge/toc.yml
Labels: ADO, cat: devtools, doc-enhancement

#946 commit from WebFundamentals
  microsoft-edge/devtools-guide-chromium/whats-new/2020/08/devtools.md
Labels: ADO, cat: devtools, doc-bug, doc-enhancement

#908 Usr/jasteph/jswv
  microsoft-edge/webview2/howto/js.md
  microsoft-edge/webview2/howto/media/contextmenu.png
  microsoft-edge/webview2/howto/media/dragtext.png
  microsoft-edge/webview2/howto/media/start_dd.png
  microsoft-edge/webview2/toc.yml
Labels: cat: webview, doc-enhancement

#950 Manifest v3 reference doc branch
  microsoft-edge/extensions-chromium/developer-guide/migrate-your-extension-from-manifest-v2-to-v3.md
  microsoft-edge/toc.yml
Labels: cat: extensions, doc-enhancement

#958 Updated hub page and doc.
  microsoft-edge/index.yml
  microsoft-edge/toc.yml
Labels: cat: devtools, doc-enhancement

#963 WebView2: Removed redirections for old win32 reference content
  .openpublishing.redirection.json
Labels: cat: webview, doc-bug, doc-enhancement

#961 WebView2 Docs: Fixed broken links
  microsoft-edge/webview2/gettingstarted/winforms.md
  microsoft-edge/webview2/howto/js.md
  microsoft-edge/webview2/howto/static.md
  microsoft-edge/webview2/releasenotes.md
Labels: cat: webview, doc-bug

#951 StaticLib Revisions
  microsoft-edge/webview2/howto/static.md
Labels: cat: webview, doc-enhancement

#948 Adding extensions API support
  microsoft-edge/extensions-chromium/developer-guide/api-support.md
  microsoft-edge/toc.yml
Labels: cat: extensions, doc-enhancement

#955 Add Evergreen and Fixed Version docs for WebView2 GA
  microsoft-edge/toc.yml
  microsoft-edge/webview2/concepts/distribution.md
  microsoft-edge/webview2/gettingstarted/win32.md
  microsoft-edge/webview2/index.md
  microsoft-edge/webview2/roadmap.md
  microsoft-edge/webview2/toc.yml
Labels: cat: webview, doc-enhancement

#962 GA updates for versioning doc
  microsoft-edge/webview2/concepts/versioning.md
Labels: cat: webview

#964 GA release notes
  microsoft-edge/webview2/concepts/distribution.md
  microsoft-edge/webview2/concepts/versioning.md
  microsoft-edge/webview2/releasenotes.md
Labels: cat: webview

#969 User/chheilma/edge for vscode update
  .openpublishing.redirection.json
  microsoft-edge/toc.yml
  microsoft-edge/visual-studio-code/elements-for-edge.md
  microsoft-edge/visual-studio-code/media/edge-devtools-for-vscode-headless.png
  microsoft-edge/visual-studio-code/media/edge-devtools-for-vscode-network.png
  microsoft-edge/visual-studio-code/media/edge-devtools-for-vscode-settings.png
  microsoft-edge/visual-studio-code/media/edge-devtools-for-vscode-windowed.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension.md
Labels: cat: devtools

#977 Chromium docs 5344440 - Added javascript/overrides
  microsoft-edge/devtools-guide-chromium/javascript/overrides.md
  microsoft-edge/devtools-guide-chromium/javascript/snippets.md
  microsoft-edge/devtools-guide-chromium/media/javascript-overrides-changing-styles.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-overrides-file-name.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-overrides-file-stored.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-overrides-folder-setup-complete.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-overrides-give-access-to-folder.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-overrides-menu.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-overrides-network.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-overrides-overflow-menu.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-overrides-safe-from-sources.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-overrides-save-for-overrides.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-overrides-select-css-file.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-overrides-select-folder.msft.png
  microsoft-edge/toc.yml
Labels: ADO, cat: devtools, doc-enhancement, doc-provided
