Repository MicrosoftDocs/edge-developer, pull requests merged in 2021-01, with the labels that each got.

#1070 Updated webview2/gettingstarted directory (2021/01)
  microsoft-edge/webview2/gettingstarted/win32.md
  microsoft-edge/webview2/gettingstarted/winforms.md
  microsoft-edge/webview2/gettingstarted/winui.md
  microsoft-edge/webview2/gettingstarted/wpf.md
Labels: cat: webview, doc-bug, doc-enhancement

#1078 Update WebDriver documentation with Java samples and public GPG signing info
  microsoft-edge/toc.yml
  microsoft-edge/webdriver-chromium/capabilities-edge-options.md
  microsoft-edge/webdriver-chromium/index.md
  microsoft-edge/webdriver-chromium/verify-selenium-tools.md
Labels: cat: webdriver

#1079 added prerelease and release section for 1/25
  microsoft-edge/webview2/releasenotes.md
Labels: cat: webview, on-hold
