Repository MicrosoftDocs/edge-developer, pull requests merged in 2021-08, with the labels that each got.

#1399 Update index.yml to add "ms.prod: microsoft-edge" to hub page
  microsoft-edge/index.yml
Labels: on-hold

#1385 WebView2: Add WinRT reference entry point
  microsoft-edge/toc.yml
  microsoft-edge/webview2/webview2-api-reference.md
Labels: doc-enhancement, cat: webview

#1398 Extensions: Clarified accounts articles, added GitHub login article
  microsoft-edge/extensions-chromium/developer-guide/alternate-distribution-options.md
  microsoft-edge/extensions-chromium/developer-guide/api-support.md
  microsoft-edge/extensions-chromium/developer-guide/native-messaging.md
  microsoft-edge/extensions-chromium/developer-guide/port-chrome-extension.md
  microsoft-edge/extensions-chromium/enterprise/auto-update.md
  microsoft-edge/extensions-chromium/enterprise/hosting-and-updating.md
  microsoft-edge/extensions-chromium/getting-started/index.md
  microsoft-edge/extensions-chromium/getting-started/media/index-image1-browsertabs.png
  microsoft-edge/extensions-chromium/getting-started/media/index-image3-upsidedown.png
  microsoft-edge/extensions-chromium/getting-started/part1-simple-extension.md
  microsoft-edge/extensions-chromium/index.md
  microsoft-edge/extensions-chromium/publish/aad-account.md
  microsoft-edge/extensions-chromium/publish/contact-extensions-team.md
  microsoft-edge/extensions-chromium/publish/create-dev-account.md
  microsoft-edge/extensions-chromium/publish/github.md
  microsoft-edge/extensions-chromium/publish/manage-settings.md
  microsoft-edge/extensions-chromium/publish/publish-extension.md
  microsoft-edge/extensions-chromium/publish/submission-states.md
  microsoft-edge/extensions-chromium/publish/update-extension.md
  microsoft-edge/extensions-chromium/store-policies/ada-addendum.md
  microsoft-edge/extensions-chromium/store-policies/developer-policies.md
  microsoft-edge/toc.yml
Labels: cat: extensions

#1053 Updated visual-studio-code/index file
  microsoft-edge/devtools-guide-chromium/sources/index.md
  microsoft-edge/visual-studio-code/index.md
  microsoft-edge/visual-studio-code/media/debugger-for-edge.msft.png
  microsoft-edge/visual-studio-code/media/debugger-for-edge.png
  microsoft-edge/visual-studio-code/media/visual-studio-code-extension-microsoft-edge-tools-for-visual-studio-code.msft.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension.md
  microsoft-edge/visual-studio-code/webhint.md
Labels: doc-bug, cat: vs_vscode
