Repository MicrosoftDocs/edge-developer, pull requests merged in 2021-12, with the labels that each got.

#1603 add websql 3rd party deprecation
  microsoft-edge/web-platform/site-impacting-changes.md
Labels: cat: webplatform

#1600 Renamed variables to be different than the class name
  microsoft-edge/webview2/how-to/webdriver.md
Labels: cat: webdriver

#1602 Removing some references to outdated versions of Edge from our docs
  microsoft-edge/devtools-guide-chromium/customize/theme.md
  microsoft-edge/devtools-guide-chromium/experimental-features/index.md
  microsoft-edge/web-platform/how-to-detect-win11.md
  microsoft-edge/web-platform/user-agent-guidance.md
Labels: cat: general

#1601 Added size of Fixed Version binaries
  microsoft-edge/webview2/concepts/distribution.md
Labels: cat: webview2

#1597 Detached Elements documentation
  microsoft-edge/devtools-guide-chromium/experimental-features/index.md
  microsoft-edge/devtools-guide-chromium/memory-problems/dom-leaks.md
  microsoft-edge/devtools-guide-chromium/memory-problems/images/analyze-detached-elements.msft.png
  microsoft-edge/devtools-guide-chromium/memory-problems/images/analyze-icon-light-mode.png
  microsoft-edge/devtools-guide-chromium/memory-problems/images/collect-garbage-icon-light-mode.png
  microsoft-edge/devtools-guide-chromium/memory-problems/images/detach-elements-icon-light-mode.png
  microsoft-edge/devtools-guide-chromium/memory-problems/images/detached-elements-demo-app.msft.png
  microsoft-edge/devtools-guide-chromium/memory-problems/images/detached-elements-heap-snapshot.msft.png
  microsoft-edge/devtools-guide-chromium/memory-problems/images/detached-elements-javascript-retainers.msft.png
  microsoft-edge/devtools-guide-chromium/memory-problems/images/detached-elements-reattached.msft.png
  microsoft-edge/devtools-guide-chromium/memory-problems/images/detached-elements-remove-links.msft.png
  microsoft-edge/devtools-guide-chromium/memory-problems/images/detached-elements-target-dropdown.msft.png
  microsoft-edge/devtools-guide-chromium/memory-problems/images/get-detached-elements-icon-light-mode.png
  microsoft-edge/devtools-guide-chromium/memory-problems/images/get-detached-elements.msft.png
  microsoft-edge/devtools-guide-chromium/memory-problems/images/open-detached-elements.msft.png
  microsoft-edge/toc.yml
Labels: cat: devtools

#1613 Fixed typo in "Customize the password reveal button"
  microsoft-edge/web-platform/password-reveal.md
Labels: cat: webplatform

#1604 Update release-notes.md to fix version number
  microsoft-edge/webview2/release-notes.md
Labels: cat: webview2

#1606 WebView2 ToC change - Merge "Concepts" and "How to" nodes and sort titles alphabetically
  microsoft-edge/toc.yml
Labels: cat: webview2

#1605 Adding CCT bypass docs (Use locale-specific domains without displaying them)
  microsoft-edge/progressive-web-apps-chromium/how-to/microsoft-store.md
  microsoft-edge/progressive-web-apps-chromium/media/locale-redirection-additional-ui.png
  microsoft-edge/progressive-web-apps-chromium/media/windows-partner-center-add-program.msft.png
  microsoft-edge/progressive-web-apps-chromium/whats-new/pwa.md
Labels: cat: pwas

#1614 Adding the ADO label to stalebot config
  .github/stale.yaml
Labels: cat: general

#1617 Minor link update for IE mode automation
  microsoft-edge/webdriver-chromium/ie-mode.md
Labels: cat: webdriver

#1615 Reformatted code in "Detecting Microsoft Edge from your website" (user-agent-guidance.md)
  microsoft-edge/web-platform/user-agent-guidance.md
Labels: cat: webplatform

#1609 Added list of missing features to WinUI 2 article
  microsoft-edge/webview2/get-started/winui.md
  microsoft-edge/webview2/get-started/winui2.md
Labels: cat: webview2

#1624 Added Privacy Whitepaper sections "Image Enhancement", "Search Results Data", updated "Sign in and identity"
  microsoft-edge/privacy-whitepaper/index.md
Labels: cat: privacy

#1533 Added selected items from Chromium What's New 95
  microsoft-edge/devtools-guide-chromium/whats-new/2021/10/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/10/command-menu-filenames-bold-icons.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/10/flattened-list-of-properties.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/10/improved-display-properties.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/10/snippets-sorted-alphbetically.png
Labels: cat: devtools

#1626 Created new Command Menu images for 4 articles
  microsoft-edge/devtools-guide-chromium/accessibility/emulate-vision-deficiencies.md
  microsoft-edge/devtools-guide-chromium/accessibility/reduced-motion-simulation.md
  microsoft-edge/devtools-guide-chromium/css/print-preview.md
  microsoft-edge/devtools-guide-chromium/media/accessibility-achromatopsia-emulation.msft.png
  microsoft-edge/devtools-guide-chromium/media/accessibility-blurred-vision-emulation.msft.png
  microsoft-edge/devtools-guide-chromium/media/accessibility-emulate-vision-menu-options.msft.png
  microsoft-edge/devtools-guide-chromium/media/accessibility-emulate-vision-menu.msft.png
  microsoft-edge/devtools-guide-chromium/media/accessibility-emulation-command-menu-results.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-elements-styles-qs-rendering-emulate-css-media-print.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-elements-styles-qs-select-reduced-motion-command-menu.msft.png
  microsoft-edge/devtools-guide-chromium/media/getting-to-the-rendering-tools.msft.png
  microsoft-edge/devtools-guide-chromium/media/print-preview-css-media-type.png
  microsoft-edge/devtools-guide-chromium/media/print-preview-open-command-menu.png
  microsoft-edge/devtools-guide-chromium/media/reduced-motion-command-menu-entry.png
  microsoft-edge/devtools-guide-chromium/media/reduced-motion-open-command-menu.png
Labels: cat: devtools

#1632 Add some missing install and run instructions to the EdgeDriver page
  microsoft-edge/webdriver-chromium/index.md
Labels: cat: webdriver

#1622 Added Browse NuGet steps in "Get started with WebView2 in Win32 apps"
  microsoft-edge/webview2/get-started/win32.md
Labels: cat: webview2

#1621 Updated demo links and screenshots in Workspaces & Network tutorials
  microsoft-edge/devtools-guide-chromium/media/network-glitch-empty-cache-and-hard-reset.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-bottom.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-cli-block-add-pattern.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-cli-block-main-css.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-cli-block.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-cli-empty.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-edit-column.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-filter-empty.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-filter-file-type-css-js.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-filter-file-type-css.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-filter-negative-statement.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-filter-png.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-filter-property-value.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-filter-regex.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-new-resource.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-resources-close-tabs.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-resources-headers.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-resources-preview.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-resources-response.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-resources-timing.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-screenshots-first.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-screenshots-setting.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-screenshots.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-search-cache-control-headers-response-headers.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-search-cache-control.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-search-empty.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-throttling-slow-3g.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network.msft.png
  microsoft-edge/devtools-guide-chromium/media/workspaces-glitch-workspaces-demo-source.msft.png
  microsoft-edge/devtools-guide-chromium/network/index.md
  microsoft-edge/devtools-guide-chromium/workspaces/index.md
Labels: cat: devtools

#1641 Added article "Analyze HTML pages using the Inspect tool"
  microsoft-edge/devtools-guide-chromium/accessibility/accessibility-testing-in-devtools.md
  microsoft-edge/devtools-guide-chromium/accessibility/reference.md
  microsoft-edge/devtools-guide-chromium/accessibility/test-inspect-tool.md
  microsoft-edge/devtools-guide-chromium/css/images/inspect-tool-bad-contrast.msft.png
  microsoft-edge/devtools-guide-chromium/css/images/inspect-tool-button.msft.png
  microsoft-edge/devtools-guide-chromium/css/images/inspect-tool-element-element-without-pointer-events.msft.png
  microsoft-edge/devtools-guide-chromium/css/images/inspect-tool-flexbox-element.msft.png
  microsoft-edge/devtools-guide-chromium/css/images/inspect-tool-grid-element.msft.png
  microsoft-edge/devtools-guide-chromium/css/images/inspect-tool-highlighted-styles.msft.png
  microsoft-edge/devtools-guide-chromium/css/images/inspect-tool-icon.msft.png
  microsoft-edge/devtools-guide-chromium/css/images/inspect-tool-padding-margin.msft.png
  microsoft-edge/devtools-guide-chromium/css/images/inspect-tool-with-shift.msft.png
  microsoft-edge/devtools-guide-chromium/css/inspect.md
  microsoft-edge/toc.yml
Labels: cat: devtools

#1640 Update new event name and add link to ALA article
  microsoft-edge/progressive-web-apps-chromium/how-to/window-controls-overlay.md
Labels: cat: pwas

#1643 Add loc priority metadata to "What's New 92"
  microsoft-edge/devtools-guide-chromium/whats-new/2021/05/devtools.md
Labels: cat: devtools

#1642 Adding linux to the wv2 roadmap page
  microsoft-edge/webview2/roadmap.md
Labels: cat: webview2

#1628 Replaced GIFs with PNGs in What's New and Memory terminology
  microsoft-edge/devtools-guide-chromium/media/memory-problems-dominators-00.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-dominators-01.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-dominators-02.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-dominators-03.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-dominators-04.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-dominators-05.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-root.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-shallow-retained.msft.png
  microsoft-edge/devtools-guide-chromium/memory-problems/memory-101.md
  microsoft-edge/devtools-guide-chromium/whats-new/2019/12/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/05/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/media/2019/12/a11y-performance-tool.msft.png
Labels: cat: devtools
