Repository MicrosoftDocs/edge-developer, pull requests merged in 2021-02, with the labels that each got.

#1086 Move dual-screen docs out of experimental features (chromiumDocs_5634749)
  microsoft-edge/devtools-guide-chromium/device-mode/dual-screen-and-foldables.md
  microsoft-edge/devtools-guide-chromium/experimental-features/index.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/10/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/11/devtools.md
  microsoft-edge/toc.yml
Labels: ADO, cat: devtools

#1090 Adds Welcome and + tab experiments, moves grid out (Chromium docs 5590130)
  microsoft-edge/devtools-guide-chromium/experimental-features/index.md
  microsoft-edge/devtools-guide-chromium/media/experiments-more-tools-button.msft.png
  microsoft-edge/devtools-guide-chromium/media/experiments-plus-button.msft.png
  microsoft-edge/devtools-guide-chromium/media/experiments-welcome.msft.png
  microsoft-edge/devtools-guide-chromium/media/flexbox-hover.msft.png
  microsoft-edge/devtools-guide-chromium/media/flexbox-layout.msft.png
  microsoft-edge/devtools-guide-chromium/media/flexbox-overlay.msft.png
Labels: ADO, cat: devtools

#1091 What's New for DevTools 89 (Chromium docs 5609725)
  microsoft-edge/devtools-guide-chromium/customize/index.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/11/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2021/01/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/01/advanced-perceptual-contrast-algorithm.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/01/announce-css-suggestion.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/01/application-cookies-clear-filtered-cookies.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/01/application-cookies-show-url-decoded.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/01/application-frames-measure-memory.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/01/application-frames-service-workers-details.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/01/application-storage-clear-site-data-including-third-party-cookies.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/01/capture-node-screenshot.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/01/console-copy-object.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/01/copy-css-class.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/01/copy-css-property-cropped.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/01/copy-css-property.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/01/elements-duplicate-element.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/01/elements-flex-container-align-items-center-gap-12px.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/01/elements-flex-container-align.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/01/elements-flex-container.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/01/elements-layout-flex-container.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/01/elements-styles-change-color-format.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/01/elements-styles-copy-file-name.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/01/elements-styles-none-forced.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/01/elements-styles-target-forced.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/01/emulate-surface-device-surface-duo.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/01/hov-force-target.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/01/more-tools.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/01/network-log.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/01/network-no-throttling.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/01/performance-frames-dropped-frames-red.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/01/sources-breakpoint-object-copy-object.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/01/sources-copy-file-name.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/01/visual-font-editor.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/01/welcome-tool-whats-new-88.msft.png
  microsoft-edge/toc.yml
Labels: ADO, cat: devtools

#1092 Updated 2021/01/devtools file - part 1 (Chromium Docs 5646245)
  microsoft-edge/devtools-guide-chromium/experimental-features/index.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/11/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2021/01/devtools.md
Labels: ADO, cat: devtools

#1094 Updated experimental-features/index file (Chromium Docs 5649499)
  microsoft-edge/devtools-guide-chromium/experimental-features/index.md
Labels: ADO, cat: devtools

#1095 Updated 2021/01/devtools file (Chromium docs 5649795)
  microsoft-edge/devtools-guide-chromium/whats-new/2021/01/devtools.md
Labels: ADO, cat: devtools

#1096 Updated 2021/01/devtools file (Chromium Docs 5650517)
  microsoft-edge/devtools-guide-chromium/whats-new/2021/01/devtools.md
Labels: ADO, cat: devtools

#1074 Adding Contact us page to Edge extensions documentation
  microsoft-edge/extensions-chromium/publish/contact-us.md
  microsoft-edge/toc.yml
Labels: cat: extensions

#1084 fix consistency of 'webview' vs. 'webview2'
  microsoft-edge/webview2/concepts/navigation-events.md
Labels: cat: webview

#1083 Updated javascript/index file (Chromium docs 5613385)
  microsoft-edge/devtools-guide-chromium/javascript/index.md
  microsoft-edge/devtools-guide-chromium/media/javascript-sources-breakpoint-paused.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/2020/10/devtools.md
Labels: ADO, cat: devtools

#1100 Update native messaging documentation
  microsoft-edge/extensions-chromium/developer-guide/native-messaging.md
Labels: cat: extensions

#1089 Update site-impacting-changes.md
  microsoft-edge/web-platform/site-impacting-changes.md
Labels: cat: webplatform

#1066 Extensions documentation clean-up
  microsoft-edge/devtools-guide-chromium/index.md
  microsoft-edge/edgehtml/extensions/includes/deprecation-note.md
  microsoft-edge/extensions-chromium/developer-guide/alternate-distribution-options.md
  microsoft-edge/extensions-chromium/developer-guide/port-chrome-extension.md
  microsoft-edge/extensions-chromium/enterprise/hosting-and-updating.md
  microsoft-edge/extensions-chromium/index.md
  microsoft-edge/extensions-chromium/publish/manage-settings.md
  microsoft-edge/extensions-chromium/publish/publish-extension.md
  microsoft-edge/extensions-chromium/publish/submission-states.md
  microsoft-edge/extensions-chromium/publish/update.md
  microsoft-edge/extensions-chromium/store-policies/ada-addendum.md
  microsoft-edge/extensions-chromium/store-policies/developer-policies.md
  microsoft-edge/index.yml
  microsoft-edge/toc.yml
Labels: cat: extensions

#1102 WebView2: Update release notes for SDK 1.0.790-prerelease
  microsoft-edge/webview2/releasenotes.md
Labels: cat: webview

#1012 Add guidance on the password reveal control
  microsoft-edge/media/web-platform/password-reveal/password-eye.png
  microsoft-edge/media/web-platform/password-reveal/password-toggled.png
  microsoft-edge/web-platform/media/mdn-demo-password-reveal-off.msft.png
  microsoft-edge/web-platform/media/mdn-demo-password-reveal-on.msft.png
  microsoft-edge/web-platform/password-reveal.md
Labels: cat: webplatform, on-hold

#1068 Update registration and publishing documentation
  microsoft-edge/extensions-chromium/publish/create-dev-account.md
  microsoft-edge/extensions-chromium/publish/publish-extension.md
Labels: cat: extensions

#1110 Updated webview2/releasenotes file
  microsoft-edge/webview2/releasenotes.md
Labels: cat: webview, doc-enhancement

#1111 Updated extensions content
  .openpublishing.redirection.json
  microsoft-edge/extensions-chromium/developer-guide/alternate-distribution-options.md
  microsoft-edge/extensions-chromium/developer-guide/native-messaging.md
  microsoft-edge/extensions-chromium/developer-guide/port-chrome-extension.md
  microsoft-edge/extensions-chromium/publish/contact-extensions-team.md
  microsoft-edge/extensions-chromium/publish/create-dev-account.md
  microsoft-edge/extensions-chromium/publish/manage-settings.md
  microsoft-edge/extensions-chromium/publish/publish-extension.md
  microsoft-edge/extensions-chromium/publish/submission-states.md
  microsoft-edge/extensions-chromium/publish/update-extension.md
  microsoft-edge/extensions-chromium/store-policies/ada-addendum.md
  microsoft-edge/extensions-chromium/store-policies/developer-policies.md
  microsoft-edge/index.yml
  microsoft-edge/toc.yml
Labels: cat: extensions, doc-enhancement

#1101 Updated WebDriver article
  microsoft-edge/webdriver-chromium/capabilities-edge-options.md
  microsoft-edge/webdriver-chromium/index.md
  microsoft-edge/webdriver-chromium/media/edge-driver-install.png
  microsoft-edge/webdriver-chromium/media/edge-version.png
  microsoft-edge/webdriver-chromium/media/microsoft-edge-driver-install.msft.png
  microsoft-edge/webdriver-chromium/media/microsoft-edge-version.msft.png
Labels: cat: webdriver, doc-enhancement

#1112 Updated seo content
  microsoft-edge/visual-studio/index.md
Labels: cat: general, doc-enhancement

#1114 Updated Service Worker content
  microsoft-edge/devtools-guide-chromium/service-workers/index.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/11/devtools.md
Labels: cat: devtools, doc-enhancement

#998 Updated webview2/concepts directory (2020/11)
  microsoft-edge/webview2/concepts/navigation-events.md
  microsoft-edge/webview2/concepts/process-model.md
  microsoft-edge/webview2/concepts/threading-model.md
  microsoft-edge/webview2/concepts/win32-api-conventions.md
  microsoft-edge/webview2/index.md
  microsoft-edge/webview2/media/webview-reasons-code-sharing.msft.png
  microsoft-edge/webview2/media/webview-reasons-evergreen.msft.png
  microsoft-edge/webview2/media/webview-reasons-fixed.msft.png
  microsoft-edge/webview2/media/webview-reasons-incremental-adoption.msft.png
  microsoft-edge/webview2/media/webview-reasons-microsoft-support.msft.png
  microsoft-edge/webview2/media/webview-reasons-native-capabilities.msft.png
  microsoft-edge/webview2/media/webview-reasons-rapid-innovation.msft.png
  microsoft-edge/webview2/media/webview-reasons-web-ecosystem-skillset.msft.png
  microsoft-edge/webview2/media/webview-reasons-windows-7-8-10-support.msft.png
Labels: cat: webview, doc-bug, doc-enhancement
