Repository MicrosoftDocs/edge-developer, pull requests merged in 2021-05, with the labels that each got.

#1232 Updated extensions-chromium/publish/publish-extension
  microsoft-edge/extensions-chromium/publish/publish-extension.md
Labels: cat: extensions, doc-enhancement

#1230 Updated figures
  microsoft-edge/progressive-web-apps-chromium/index.md
  microsoft-edge/toc.yml
  microsoft-edge/webview2/index.md
  microsoft-edge/webview2/media/webview-reasons-code-sharing-small.msft.png
  microsoft-edge/webview2/media/webview-reasons-evergreen-small.msft.png
  microsoft-edge/webview2/media/webview-reasons-fixed-small.msft.png
  microsoft-edge/webview2/media/webview-reasons-incremental-adoption-small.msft.png
  microsoft-edge/webview2/media/webview-reasons-microsoft-support-small.msft.png
  microsoft-edge/webview2/media/webview-reasons-native-capabilities-small.msft.png
  microsoft-edge/webview2/media/webview-reasons-rapid-innovation-small.msft.png
  microsoft-edge/webview2/media/webview-reasons-web-ecosystem-skillset-small.msft.png
  microsoft-edge/webview2/media/webview-reasons-windows-7-8-10-support-small.msft.png
Labels: cat: pwas, cat: webview

#1244 Content clean up
  microsoft-edge/devtools-guide-chromium/beginners/html.md
  microsoft-edge/devtools-guide-chromium/inspect-styles/animations.md
Labels: cat: general

#1247 Adding note
  microsoft-edge/web-platform/site-impacting-changes.md
Labels: cat: webplatform

#1245 Fixing typo
  microsoft-edge/webview2/get-started/wpf.md
Labels: cat: webview

#1239 [Experimental features in Progressive Web Apps (PWAs) article] Add link to https://web.dev/window-controls-overlay/
  microsoft-edge/progressive-web-apps-chromium/experimental-features/index.md
Labels: cat: pwas, doc-idea

#1248 Updated code of conduct and readme files
  CODE_OF_CONDUCT.md
  README.md
Labels: cat: general

#1246 Updating WinUI templates link
  microsoft-edge/webview2/get-started/winui.md
Labels: cat: webview

#1243 Update user-agent-string.md
  .openpublishing.redirection.json
  microsoft-edge/index.yml
  microsoft-edge/toc.yml
  microsoft-edge/web-platform/user-agent-guidance.md
  microsoft-edge/web-platform/user-agent-string.md
Labels: cat: webplatform
