Repository MicrosoftDocs/edge-developer, pull requests merged in 2021-09, with the labels that each got.

#1449 Update "Get started with Progressive Web Apps"
  microsoft-edge/progressive-web-apps-chromium/get-started.md
Labels: cat: pwas

#1439 Rewrote "Cloud-based emulators" section in "Emulate browsers"
  microsoft-edge/devtools-guide-chromium/device-mode/testing-other-browsers.md
Labels: cat: devtools

#1454 WebView2: Add VS debugger note when using SetVirtualHostNameToFolderMapping
  microsoft-edge/webview2/how-to/debug.md
Labels: doc-enhancement, cat: webview

#1409 Updating the DevTools screenshots to match new Fluent icons 4
  microsoft-edge/devtools-guide-chromium/device-mode/images/emulated-devices-user-agent-client-hints.msft.png
  microsoft-edge/devtools-guide-chromium/device-mode/index.md
  microsoft-edge/devtools-guide-chromium/media/capture-settings-icon.msft.png
  microsoft-edge/devtools-guide-chromium/media/clear-icon.msft.png
  microsoft-edge/devtools-guide-chromium/media/collect-garbage-icon.msft.png
  microsoft-edge/devtools-guide-chromium/media/delete-icon.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-command-menu-throttle.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-network-throttle.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-performance-cpu-throttle.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-performance-network-throttle.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-click-breakpoint.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-command-menu-network-conditions.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-command-menu-sensors.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-device-list-edit.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-device-list.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-device-type-list.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-handles-highlighted.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-highlighted.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-landscape.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-more-options-show-media-queries.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-more-tools-network-conditions.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-more-tools-sensors.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-network-conditions-macos.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-option-show-device-frame.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-options-device-frame-iphone-6.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-options-show-rulers.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-rulers.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-sensors-tokyo-portrait-upside-down.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-sensors-tokyo.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-settings-emulated-devices-add.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-throttle.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-zoom.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-bing-browser-task-manager-javascript-memory.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-bing-settings-more-tools-browser-task-manager.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-glitch-example-05-memory-allocation-sampling-heavy-bottom-up.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-glitch-example-05-memory-allocation-sampling.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-glitch-example-1-performance-memory.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-glitch-example-12-memory-heap-snapshot-filter-detached-expanded-selected.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-glitch-example-12-memory-heap-snapshot-filter-detached-expanded.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-glitch-example-12-memory-heap-snapshot-filter-detached.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-glitch-example-12-memory-heap-snapshot.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-glitch-example-13-allocation-timeline-snapshot-all.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-glitch-example-13-allocation-timeline-snapshot-focused-constructor-expanded.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-glitch-example-13-allocation-timeline-snapshot-focused.msft.png
  microsoft-edge/devtools-guide-chromium/media/rotate-dark-icon.msft.png
  microsoft-edge/devtools-guide-chromium/media/stop-recording-icon.msft.png
  microsoft-edge/devtools-guide-chromium/media/storage-application-local-storage-edit-key-value.msft.png
  microsoft-edge/devtools-guide-chromium/media/storage-application-local-storage-new-key-value.msft.png
  microsoft-edge/devtools-guide-chromium/media/storage-application-local-storage-view-key-value-selected.msft.png
  microsoft-edge/devtools-guide-chromium/media/storage-application-local-storage-view-key-value.msft.png
  microsoft-edge/devtools-guide-chromium/media/storage-application-local-storage.msft.png
  microsoft-edge/devtools-guide-chromium/media/storage-application-manifest.msft.png
  microsoft-edge/devtools-guide-chromium/media/toggle-device-toolbar-dark-icon.msft.png
  microsoft-edge/devtools-guide-chromium/memory-problems/index.md
Labels: cat: devtools

#1455 Updated WebView2 "Process model" article
  microsoft-edge/webview2/concepts/navigation-events.md
  microsoft-edge/webview2/concepts/process-model.md
  microsoft-edge/webview2/concepts/threading-model.md
  microsoft-edge/webview2/concepts/user-data-folder.md
  microsoft-edge/webview2/concepts/win32-api-conventions.md
Labels: cat: webview

#1420 Changed article "Get started with WebView2 in Windows Forms"
  microsoft-edge/webview2/get-started/media/winforms-designer-txtbtn.png
  microsoft-edge/webview2/get-started/media/winforms-designer.png
  microsoft-edge/webview2/get-started/media/winforms-empty-app.png
  microsoft-edge/webview2/get-started/media/winforms-install-webview2-preview.png
  microsoft-edge/webview2/get-started/media/winforms-new-project.png
  microsoft-edge/webview2/get-started/media/winforms-opening-panel.png
  microsoft-edge/webview2/get-started/media/winforms-properties.png
  microsoft-edge/webview2/get-started/media/winforms-source.png
  microsoft-edge/webview2/get-started/media/winforms-toolbox.png
  microsoft-edge/webview2/get-started/media/wpf-getting-started-mng-nuget.png
  microsoft-edge/webview2/get-started/winforms.md
Labels: cat: webview

#1450 Added note: object properties are single-threaded
  microsoft-edge/webview2/concepts/threading-model.md
Labels: cat: webview

#1451 Added section "Files to ship with the app"
  microsoft-edge/webview2/concepts/distribution.md
Labels: cat: webview

#1452 added section on releasing event handlers on env object
  microsoft-edge/webview2/concepts/developer-guide.md
Labels: cat: webview

#1456 Updated "Fixed version" & "Feature differences"
  microsoft-edge/webview2/concepts/browser-features.md
  microsoft-edge/webview2/concepts/distribution.md
Labels: cat: webview

#1457 Minor fixes for "The WebView2 process model"
  microsoft-edge/webview2/concepts/process-model.md
  microsoft-edge/webview2/media/process-model-1.png
  microsoft-edge/webview2/media/process-model-2.png
Labels: cat: webview

#1469 Deferrals in C# using block
  microsoft-edge/webview2/concepts/threading-model.md
Labels: cat: webview

#1475 Added article "Opening source files in VS Code", added section in "Experimental Features"
  microsoft-edge/devtools-guide-chromium/experimental-features/index.md
  microsoft-edge/devtools-guide-chromium/media/experiment-sources-in-code-allow-access.msft.png
  microsoft-edge/devtools-guide-chromium/media/experiment-sources-in-code-code-synced.msft.png
  microsoft-edge/devtools-guide-chromium/media/experiment-sources-in-code-editor-open.msft.png
  microsoft-edge/devtools-guide-chromium/media/experiment-sources-in-code-identify-root-folder.msft.png
  microsoft-edge/devtools-guide-chromium/media/experiment-sources-in-code-local-project.msft..png
  microsoft-edge/devtools-guide-chromium/media/experiment-sources-in-code-mirrored-change.msft.png
  microsoft-edge/devtools-guide-chromium/media/experiment-sources-in-code-pick-folder.msft.png
  microsoft-edge/devtools-guide-chromium/media/experiment-sources-in-code-selecting-link.msft.png
  microsoft-edge/devtools-guide-chromium/media/experiment-sources-in-code-workspace-settings.msft.png
  microsoft-edge/devtools-guide-chromium/sources/opening-sources-in-vscode.md
  microsoft-edge/toc.yml
Labels: cat: devtools

#1477 Added PWA section "What's New in Microsoft Edge 94"
  microsoft-edge/progressive-web-apps-chromium/whats-new/pwa.md
Labels: cat: pwas

#1468 Added 1018 prerelease in WebView2 relnotes
  microsoft-edge/webview2/release-notes.md
Labels: cat: webview

#1486 Renewing a few more DevTools screenshots
  microsoft-edge/devtools-guide-chromium/customize/shortcuts.md
  microsoft-edge/devtools-guide-chromium/experimental-features/index.md
  microsoft-edge/devtools-guide-chromium/media/checkmark-keyboard-shortcut-icon.msft.png
  microsoft-edge/devtools-guide-chromium/media/custom-keyboard-shortcut-icon.msft.png
  microsoft-edge/devtools-guide-chromium/media/delete-keyboard-shortcut-icon.msft.png
  microsoft-edge/devtools-guide-chromium/media/discard-changes-keyboard-shortcut-icon.msft.png
  microsoft-edge/devtools-guide-chromium/media/edit-keyboard-shortcut-icon.msft.png
  microsoft-edge/devtools-guide-chromium/media/experiment-sources-in-code-editor-open.msft.png
  microsoft-edge/devtools-guide-chromium/media/experiments-custom-keyboard-shortcuts-enter-key.msft.png
  microsoft-edge/devtools-guide-chromium/media/experiments-custom-keyboard-shortcuts-save-shortcut.msft.png
  microsoft-edge/devtools-guide-chromium/media/experiments-custom-keyboard-shortcuts-select-action.msft.png
  microsoft-edge/devtools-guide-chromium/media/experiments-layers.msft.png
  microsoft-edge/devtools-guide-chromium/media/experiments-more-tools-button.msft.png
  microsoft-edge/devtools-guide-chromium/media/experiments-source-order-viewer.msft.png
  microsoft-edge/devtools-guide-chromium/media/experiments-webhint.msft.png
  microsoft-edge/devtools-guide-chromium/media/experiments-welcome.msft.png
  microsoft-edge/devtools-guide-chromium/media/flexbox-layout.msft.png
  microsoft-edge/devtools-guide-chromium/media/flexbox-overlay.msft.png
  microsoft-edge/devtools-guide-chromium/media/font-editor-open.msft.png
  microsoft-edge/devtools-guide-chromium/media/match-keyboard-shortcuts-visual-studio-code.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-network-console.msft.png
  microsoft-edge/devtools-guide-chromium/media/storage-console-local-storage-interaction.msft.png
  microsoft-edge/devtools-guide-chromium/media/storage-console-local-storage.msft.png
Labels: cat: devtools

#1488 PWA - Added a note about document.referrer
  microsoft-edge/progressive-web-apps-chromium/microsoft-store.md
Labels: cat: pwas
