Repository MicrosoftDocs/edge-developer, pull requests merged in 2021-10, with the labels that each got.

#1489 Fixed link at bottom of What's New
  microsoft-edge/devtools-guide-chromium/whats-new/2021/05/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2021/07/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2021/09/devtools.md
Labels: cat: devtools

#1500 Replaced one of the PWA share screenshots
  microsoft-edge/progressive-web-apps-chromium/media/windows-share-dialog.png
Labels: cat: pwas

#1485 Update release-notes.md - Release 94
  microsoft-edge/webview2/release-notes.md
Labels: cat: webview

#1464 Updated "Microsoft Edge Privacy Whitepaper"
  microsoft-edge/privacy-whitepaper/index.md
Labels: cat: general

#1481 Edit pass of "DevTools overview"
  microsoft-edge/devtools-guide-chromium/device-mode/geolocation.md
  microsoft-edge/devtools-guide-chromium/device-mode/index.md
  microsoft-edge/devtools-guide-chromium/index.md
  microsoft-edge/devtools-guide-chromium/shortcuts/index.md
  microsoft-edge/toc.yml
Labels: cat: devtools

#1518 Fixed tagging typo in "Overview of Microsoft Edge extensions"
  microsoft-edge/extensions-chromium/index.md
Labels: cat: extensions

#1540 Added "Performance monitor" & "Search" tool articles
  microsoft-edge/devtools-guide-chromium/customize/shortcuts.md
  microsoft-edge/devtools-guide-chromium/index.md
  microsoft-edge/devtools-guide-chromium/media/performance-monitor-tool/open-performance-monitor.png
  microsoft-edge/devtools-guide-chromium/media/performance-monitor-tool/performance-monitor-first-open.png
  microsoft-edge/devtools-guide-chromium/media/performance-monitor-tool/performance-monitor-metrics.png
  microsoft-edge/devtools-guide-chromium/media/search-tool/open-search-tool.png
  microsoft-edge/devtools-guide-chromium/media/search-tool/search-tool-clear.png
  microsoft-edge/devtools-guide-chromium/media/search-tool/search-tool-first-open-reduced.png
  microsoft-edge/devtools-guide-chromium/media/search-tool/search-tool-first-open.png
  microsoft-edge/devtools-guide-chromium/media/search-tool/search-tool-open-in-sources.png
  microsoft-edge/devtools-guide-chromium/media/search-tool/search-tool-refresh.png
  microsoft-edge/devtools-guide-chromium/media/search-tool/search-tool-regexp.png
  microsoft-edge/devtools-guide-chromium/media/search-tool/search-tool-search-results.png
  microsoft-edge/devtools-guide-chromium/performance-monitor/performance-monitor-tool.md
  microsoft-edge/devtools-guide-chromium/search/search-tool.md
  microsoft-edge/devtools-guide-chromium/shortcuts/index.md
  microsoft-edge/toc.yml
Labels: cat: devtools

#1544 Added section "1.0.1056-prerelease" in "Release notes for WebView2 SDK"
  microsoft-edge/webview2/release-notes.md
Labels: cat: webview

#1535 Added missing Microsoft prefix
  microsoft-edge/devtools-guide-chromium/whats-new/2021/07/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2021/09/devtools.md
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension.md
Labels: cat: vs_vscode

#1537 Writer/Editor pass on README & CONTRIBUTING pages
  CONTRIBUTING.md
  README.md
  media/notes.png
Labels: cat: general
