Repository MicrosoftDocs/edge-developer, pull requests merged in 2021-04, with the labels that each got.

#1159 Update native messaging documentation
  microsoft-edge/extensions-chromium/developer-guide/native-messaging.md
Labels: cat: extensions

#1195 Updated links (chromiumDocs_5892974)
  microsoft-edge/devtools-guide-chromium/device-mode/testing-other-browsers.md
  microsoft-edge/devtools-guide-chromium/whats-new/2019/12/devtools.md
Labels: cat: devtools

#1196 Updated What's New 89 (Chromium docs 5816462)
  microsoft-edge/devtools-guide-chromium/whats-new/2021/01/devtools.md
Labels: ADO, cat: devtools

#1132 New intro page for Developer Tools
  microsoft-edge/devtools-guide-chromium/index.md
  microsoft-edge/devtools-guide-chromium/media/devtools-intro-all-settings.msft.png
  microsoft-edge/devtools-guide-chromium/media/devtools-intro-command-menu-show-changes.msft.png
  microsoft-edge/devtools-guide-chromium/media/devtools-intro-command-menu.msft.png
  microsoft-edge/devtools-guide-chromium/media/devtools-intro-device-emulation.msft.png
  microsoft-edge/devtools-guide-chromium/media/devtools-intro-docking-bottom.msft.png
  microsoft-edge/devtools-guide-chromium/media/devtools-intro-docking-left.msft.png
  microsoft-edge/devtools-guide-chromium/media/devtools-intro-docking-menu.msft.png
  microsoft-edge/devtools-guide-chromium/media/devtools-intro-docking-own-window.msft.png
  microsoft-edge/devtools-guide-chromium/media/devtools-intro-docking-right.msft.png
  microsoft-edge/devtools-guide-chromium/media/devtools-intro-inspect-devtools-open.png
  microsoft-edge/devtools-guide-chromium/media/devtools-intro-inspect-tool.msft.png
  microsoft-edge/devtools-guide-chromium/media/devtools-intro-inspect.msft.png
  microsoft-edge/devtools-guide-chromium/media/devtools-intro-match-keys.msft.png
  microsoft-edge/devtools-guide-chromium/media/devtools-intro-menu-bar.msft.png
  microsoft-edge/devtools-guide-chromium/media/devtools-intro-showing-changes.msft.png
Labels: cat: devtools

#1201 Update auto-update.md
  microsoft-edge/extensions-chromium/enterprise/auto-update.md
Labels: cat: extensions

#1209 Note that Push notifications aren't implemented
  microsoft-edge/webview2/concepts/browserfeatures.md
Labels: cat: webview

#1210 Shopping & Kids Mode
  microsoft-edge/privacy-whitepaper/index.md
  microsoft-edge/privacy-whitepaper/media/kids-mode.png
Labels: cat: general

#1211 Updating WebDriver doc for new Downloads page
  microsoft-edge/webdriver-chromium/index.md
  microsoft-edge/webdriver-chromium/media/microsoft-edge-driver-install.msft.png
  microsoft-edge/webdriver-chromium/media/microsoft-edge-version.msft.png
Labels: cat: general

#1218 What's New in DevTools 91, part 1 (Chromium docs 5927845)
  microsoft-edge/devtools-guide-chromium/whats-new/2019/12/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/01/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/03/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/05/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/06/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/08/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/10/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/11/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2021/01/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2021/02/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2021/04/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/04/application-service-workers-update-cycle-version-73-focus.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/04/edge89-application-manifest-errors-and-warnings.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/04/edge91-application-manifest-errors-and-warnings.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/04/elements-iframe-highlight-issues-focus.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/04/elements-iframe-highlight-issues.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/04/elements-issues-focus-mode-tooltips.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/04/elements-issues-ordered-issues.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/04/elements-styles-body-background-color-theme-body-background.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/04/english-browser-english-navigation-elements-3d-view.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/04/japanese-browser-english-navigation-elements-3d-view.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/04/japanese-browser-japanese-navigation-elements-3d-view.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/04/japanese-browser-japanese-navigation-nomatch-elements-3d-view.msft.png
  microsoft-edge/toc.yml
Labels: ADO, cat: devtools

#1206 release notes for edge 90
  microsoft-edge/webview2/releasenotes.md
Labels: cat: webview

#1221 Updated devtools-guide-chromium/remote-debugging/windows file
  microsoft-edge/devtools-guide-chromium/remote-debugging/windows.md
Labels: cat: devtools, doc-bug

#1175 User/v mhoffman/sources panel intro
  microsoft-edge/devtools-guide-chromium/accessibility/emulate-vision-deficiencies.md
  microsoft-edge/devtools-guide-chromium/accessibility/preferred-color-scheme-simulation.md
  microsoft-edge/devtools-guide-chromium/command-menu/index.md
  microsoft-edge/devtools-guide-chromium/coverage/index.md
  microsoft-edge/devtools-guide-chromium/css/reference.md
  microsoft-edge/devtools-guide-chromium/customize/placement.md
  microsoft-edge/devtools-guide-chromium/javascript/breakpoints.md
  microsoft-edge/devtools-guide-chromium/javascript/disable.md
  microsoft-edge/devtools-guide-chromium/javascript/guides/mark-content-scripts-library-code.md
  microsoft-edge/devtools-guide-chromium/javascript/index.md
  microsoft-edge/devtools-guide-chromium/javascript/overrides.md
  microsoft-edge/devtools-guide-chromium/javascript/reference.md
  microsoft-edge/devtools-guide-chromium/javascript/snippets.md
  microsoft-edge/devtools-guide-chromium/javascript/source-maps.md
  microsoft-edge/devtools-guide-chromium/media/content-scripts-tab.msft.png
  microsoft-edge/devtools-guide-chromium/media/debugging.msft.png
  microsoft-edge/devtools-guide-chromium/media/edit-css.msft.png
  microsoft-edge/devtools-guide-chromium/media/edit-js.msft.png
  microsoft-edge/devtools-guide-chromium/media/editing-js-in-editor-pane.msft.png
  microsoft-edge/devtools-guide-chromium/media/editor-pane.msft.png
  microsoft-edge/devtools-guide-chromium/media/find-replace.msft.png
  microsoft-edge/devtools-guide-chromium/media/local-modifications.msft.png
  microsoft-edge/devtools-guide-chromium/media/microsoft-edge-tools-for-vs-code-extension.msft.png
  microsoft-edge/devtools-guide-chromium/media/minified.msft.png
  microsoft-edge/devtools-guide-chromium/media/navigator-pane.msft.png
  microsoft-edge/devtools-guide-chromium/media/overrides-tab.msft.png
  microsoft-edge/devtools-guide-chromium/media/pretty-printed.msft.png
  microsoft-edge/devtools-guide-chromium/media/snippet.msft.png
  microsoft-edge/devtools-guide-chromium/media/sources-command-menu-to-open-file.msft.png
  microsoft-edge/devtools-guide-chromium/media/sources-filesystem-tab.msft.png
  microsoft-edge/devtools-guide-chromium/media/sources-html-editor.msft.png
  microsoft-edge/devtools-guide-chromium/media/sources-page-pane.msft.png
  microsoft-edge/devtools-guide-chromium/media/sources-page-tab.msft.png
  microsoft-edge/devtools-guide-chromium/media/sources-panes-narrow-layout.msft.png
  microsoft-edge/devtools-guide-chromium/media/sources-panes-wide-layout.msft.png
  microsoft-edge/devtools-guide-chromium/media/sources-paused-breakpoint-highlight-debug-pane.msft.png
  microsoft-edge/devtools-guide-chromium/media/sources-paused-breakpoint-highlights.msft.png
  microsoft-edge/devtools-guide-chromium/memory-problems/memory-101.md
  microsoft-edge/devtools-guide-chromium/remote-debugging/windows.md
  microsoft-edge/devtools-guide-chromium/resources/index.md
  microsoft-edge/devtools-guide-chromium/shortcuts/index.md
  microsoft-edge/devtools-guide-chromium/sources/index.md
  microsoft-edge/devtools-guide-chromium/speed/get-started.md
  microsoft-edge/devtools-guide-chromium/storage/applicationcache.md
  microsoft-edge/devtools-guide-chromium/workspaces/index.md
  microsoft-edge/toc.yml
Labels: cat: devtools

#1223 added prerelease notes
  microsoft-edge/webview2/releasenotes.md
Labels: cat: webview

#1124 Added WebView2 developer guide
  microsoft-edge/toc.yml
  microsoft-edge/webview2/concepts/developer-guide.md
  microsoft-edge/webview2/gettingstarted/win32.md
  microsoft-edge/webview2/gettingstarted/winforms.md
  microsoft-edge/webview2/gettingstarted/winui.md
  microsoft-edge/webview2/gettingstarted/wpf.md
  microsoft-edge/webview2/index.md
Labels: cat: webview, doc-enhancement

#1216 Better images, additional documentation
  microsoft-edge/progressive-web-apps-chromium/media/pwabuilder-publisher-info.msft.png
  microsoft-edge/progressive-web-apps-chromium/media/windows-partner-center-add-program.msft.png
  microsoft-edge/progressive-web-apps-chromium/media/windows-partner-center-create-app.msft.png
  microsoft-edge/progressive-web-apps-chromium/media/windows-partner-center-publisher-info.msft.png
  microsoft-edge/progressive-web-apps-chromium/media/windows-partner-center-start-submission.msft.png
  microsoft-edge/progressive-web-apps-chromium/microsoft-store.md
Labels: cat: pwas
