Repository MicrosoftDocs/edge-developer, pull requests merged in 2021-11, with the labels that each got.

#1549 Added missing word
  microsoft-edge/privacy-whitepaper/index.md
Labels: cat: privacy

#1524 Removed reference links and a demo from "Sample PWAs"
  microsoft-edge/progressive-web-apps-chromium/demo-pwas.md
  microsoft-edge/progressive-web-apps-chromium/media/my-movie-list-pwa-demo-offline.png
  microsoft-edge/progressive-web-apps-chromium/media/my-movie-list-pwa-demo.png
  microsoft-edge/progressive-web-apps-chromium/media/my-movies.png
  microsoft-edge/progressive-web-apps-chromium/media/webboard-reduced.png
Labels: cat: pwas

#1532 Added "Device emulation in the screencast" & "Inline and live issue analysis"
  microsoft-edge/visual-studio-code/media/edge-devtools-for-vscode-device-dropdown.msft.png
  microsoft-edge/visual-studio-code/media/edge-devtools-for-vscode-device-list.msft.png
  microsoft-edge/visual-studio-code/media/edge-devtools-for-vscode-inline-issue-reporting.msft.png
  microsoft-edge/visual-studio-code/media/edge-devtools-for-vscode-inspector-overlays.msft.png
  microsoft-edge/visual-studio-code/media/edge-devtools-for-vscode-issues-in-lower-panel.msft.png
  microsoft-edge/visual-studio-code/media/edge-devtools-for-vscode-live-issue-reporting.msft.png
  microsoft-edge/visual-studio-code/media/edge-devtools-for-vscode-navigating-issues.msft.png
  microsoft-edge/visual-studio-code/media/edge-devtools-for-vscode-simulated-iphone.msft.png
  microsoft-edge/visual-studio-code/media/edge-devtools-for-vscode-with-sceencast-on-bottom.msft.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension.md
Labels: cat: vs_vscode

#1541 Added "Changes" tool article
  microsoft-edge/devtools-guide-chromium/changes/changes-tool.md
  microsoft-edge/devtools-guide-chromium/media/changes-tool/changes-reduced.msft.png
  microsoft-edge/devtools-guide-chromium/media/changes-tool/changes-tool-command-menu-reduced.msft.png
  microsoft-edge/devtools-guide-chromium/media/changes-tool/changes-tool-command-menu.msft.png
  microsoft-edge/devtools-guide-chromium/media/changes-tool/changes-tool-diff-view-reduced.msft.png
  microsoft-edge/devtools-guide-chromium/media/changes-tool/changes-tool-diff-view.msft.png
  microsoft-edge/devtools-guide-chromium/media/changes-tool/changes-tool-from-sources-reduced.msft.png
  microsoft-edge/devtools-guide-chromium/media/changes-tool/changes-tool-from-sources.msft.png
  microsoft-edge/devtools-guide-chromium/media/changes-tool/changes-tool-open-reduced.msft.png
  microsoft-edge/devtools-guide-chromium/media/changes-tool/changes-tool-open.msft.png
  microsoft-edge/devtools-guide-chromium/media/changes-tool/changes-tool-undo-all-reduced.msft.png
  microsoft-edge/devtools-guide-chromium/media/changes-tool/changes-tool-undo-all.msft.png
  microsoft-edge/devtools-guide-chromium/media/changes-tool/changes-tool-via-overflow-menu-reduced.msft.png
  microsoft-edge/devtools-guide-chromium/media/changes-tool/changes-tool-via-overflow-menu.msft.png
  microsoft-edge/devtools-guide-chromium/media/changes-tool/changes-tool-via-plus-menu-reduced.msft.png
  microsoft-edge/devtools-guide-chromium/media/changes-tool/changes-tool-via-plus-menu.msft.png
  microsoft-edge/devtools-guide-chromium/media/changes-tool/changes.msft.png
  microsoft-edge/toc.yml
Labels: cat: devtools

#1539 Added DOMContentLoaded event in "Navigation events for WebView2"
  microsoft-edge/webview2/concepts/navigation-events.md
  microsoft-edge/webview2/get-started/win32.md
  microsoft-edge/webview2/get-started/winforms.md
  microsoft-edge/webview2/get-started/winui.md
  microsoft-edge/webview2/get-started/wpf.md
  microsoft-edge/webview2/media/navigation-graph.png
Labels: cat: webview

#1534 Added "Identifiers for Microsoft Edge on various platforms" to "Detecting Microsoft Edge from your website"
  microsoft-edge/web-platform/user-agent-guidance.md
Labels: cat: webplatform

#1557 Update "Switch to a preview channel to test upcoming APIs and features"
  microsoft-edge/webview2/how-to/set-preview-channel.md
Labels: cat: webview2

#1558 In PWA card in hub & landing pages, added a link to What's New
  microsoft-edge/developer/index.yml
  microsoft-edge/index.yml
Labels: cat: pwas

#1552 Avoid flagging versions of Windows 10/11 in the "Flag Old Edge Versions in Docs Content" script
  scripts/find-references-to-old-versions.js
Labels: cat: general

#1526 Updated "Get started with WebView2 in WinForms apps"
  microsoft-edge/webview2/get-started/media/install-nuget.png
  microsoft-edge/webview2/get-started/media/winforms-app.png
  microsoft-edge/webview2/get-started/media/winforms-empty-app.png
  microsoft-edge/webview2/get-started/media/winforms-hello-webview.png
  microsoft-edge/webview2/get-started/media/winforms-install-webview2-preview.png
  microsoft-edge/webview2/get-started/media/winforms-properties.png
  microsoft-edge/webview2/get-started/media/wpf-getting-started-create-core-add-info.png
  microsoft-edge/webview2/get-started/media/wpf-getting-started-create-core.png
  microsoft-edge/webview2/get-started/media/wpf-getting-started-create-fw.png
  microsoft-edge/webview2/get-started/media/wpf-getting-started-microsoft.png
  microsoft-edge/webview2/get-started/media/wpf-getting-started-mng-nuget-reduced.png
  microsoft-edge/webview2/get-started/media/wpf-getting-started-mng-nuget.png
  microsoft-edge/webview2/get-started/media/wpf-getting-started-wpf-core.png
  microsoft-edge/webview2/get-started/media/wpf-getting-started-wpf-fw.png
  microsoft-edge/webview2/get-started/win32.md
  microsoft-edge/webview2/get-started/winforms.md
  microsoft-edge/webview2/get-started/winui.md
  microsoft-edge/webview2/get-started/winui2.md
  microsoft-edge/webview2/get-started/wpf.md
Labels: cat: webview2

#1550 Cleanup of "CSS features reference" article
  microsoft-edge/devtools-guide-chromium/accessibility/navigation.md
  microsoft-edge/devtools-guide-chromium/css/images/css-angle.msft.png
  microsoft-edge/devtools-guide-chromium/css/reference.md
  microsoft-edge/devtools-guide-chromium/shortcuts/index.md
  microsoft-edge/devtools-guide-chromium/whats-new/2021/01/devtools.md
Labels: cat: devtools

#1480 Added "Travel" section to Privacy article
  microsoft-edge/privacy-whitepaper/index.md
Labels: cat: privacy

#1548 Misc. fixes from PR 1504, without draft articles for tools
  microsoft-edge/devtools-guide-chromium/about-panel-drawer-tools.md
  microsoft-edge/devtools-guide-chromium/accessibility/accessibility-testing-in-devtools.md
  microsoft-edge/devtools-guide-chromium/accessibility/narrow.md
  microsoft-edge/devtools-guide-chromium/accessibility/navigation.md
  microsoft-edge/devtools-guide-chromium/accessibility/reference.md
  microsoft-edge/devtools-guide-chromium/console/api.md
  microsoft-edge/devtools-guide-chromium/console/console-javascript.md
  microsoft-edge/devtools-guide-chromium/css/reference.md
  microsoft-edge/devtools-guide-chromium/customize/shortcuts.md
  microsoft-edge/devtools-guide-chromium/device-mode/orientation.md
  microsoft-edge/devtools-guide-chromium/evaluate-performance/reference.md
  microsoft-edge/devtools-guide-chromium/media/open-performance-monitor.png
  microsoft-edge/devtools-guide-chromium/media/open-search-tool.png
  microsoft-edge/devtools-guide-chromium/media/performance-monitor-first-open.png
  microsoft-edge/devtools-guide-chromium/media/performance-monitor-metrics.png
  microsoft-edge/devtools-guide-chromium/media/search-tool-clear.png
  microsoft-edge/devtools-guide-chromium/media/search-tool-first-open.png
  microsoft-edge/devtools-guide-chromium/media/search-tool-open-in-sources.png
  microsoft-edge/devtools-guide-chromium/media/search-tool-refresh.png
  microsoft-edge/devtools-guide-chromium/media/search-tool-regexp.png
  microsoft-edge/devtools-guide-chromium/media/search-tool-search-results.png
  microsoft-edge/devtools-guide-chromium/memory-problems/index.md
  microsoft-edge/devtools-guide-chromium/open/index.md
  microsoft-edge/devtools-guide-chromium/resources/index.md
  microsoft-edge/devtools-guide-chromium/shortcuts/index.md
  microsoft-edge/devtools-guide-chromium/speed/get-started.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/05/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/08/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/10/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/11/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2021/05/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2021/07/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2021/09/devtools.md
  microsoft-edge/toc.yml
  microsoft-edge/webview2/concepts/browser-features.md
Labels: cat: devtools

#1562 Removed remaining "reference-style links" Markup tagging
  microsoft-edge/devtools-guide-chromium/console/utilities.md
  microsoft-edge/devtools-guide-chromium/coverage/index.md
  microsoft-edge/devtools-guide-chromium/device-mode/index.md
  microsoft-edge/devtools-guide-chromium/device-mode/orientation.md
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index.md
  microsoft-edge/devtools-guide-chromium/evaluate-performance/performance-reference.md
  microsoft-edge/devtools-guide-chromium/javascript/background-services.md
  microsoft-edge/devtools-guide-chromium/javascript/breakpoints.md
  microsoft-edge/devtools-guide-chromium/javascript/index.md
  microsoft-edge/devtools-guide-chromium/javascript/source-maps.md
  microsoft-edge/devtools-guide-chromium/memory-problems/allocation-profiler.md
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots.md
  microsoft-edge/devtools-guide-chromium/memory-problems/index.md
  microsoft-edge/devtools-guide-chromium/network/index.md
  microsoft-edge/devtools-guide-chromium/network/reference.md
  microsoft-edge/devtools-guide-chromium/open/index.md
  microsoft-edge/devtools-guide-chromium/progressive-web-apps/index.md
  microsoft-edge/devtools-guide-chromium/remote-debugging/index.md
  microsoft-edge/devtools-guide-chromium/rendering-tools/index.md
  microsoft-edge/devtools-guide-chromium/security/index.md
  microsoft-edge/devtools-guide-chromium/speed/get-started.md
  microsoft-edge/devtools-guide-chromium/whats-new/2019/12/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/05/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/06/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/10/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/11/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2021/04/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2021/09/devtools.md
  microsoft-edge/devtools-guide-chromium/workspaces/index.md
  microsoft-edge/extensions-chromium/getting-started/part1-simple-extension.md
  microsoft-edge/extensions-chromium/getting-started/part2-content-scripts.md
  microsoft-edge/progressive-web-apps-chromium/whats-new/pwa.md
  microsoft-edge/webview2/concepts/browser-features.md
  microsoft-edge/webview2/index.md
Labels: cat: general

#1559 Update debugger-for-edge.md
  microsoft-edge/visual-studio-code/debugger-for-edge.md
Labels: cat: vs_vscode

#1556 Explained values for WEBVIEW2_RELEASE_CHANNEL_PREFERENCE
  microsoft-edge/webview2/how-to/set-preview-channel.md
Labels: cat: webview2

#1563 Removed edge://flags step from "Get started with remote debugging Windows devices"
  microsoft-edge/devtools-guide-chromium/media/remote-debugging-windows-media-edge-flags-on-client.msft.png
  microsoft-edge/devtools-guide-chromium/remote-debugging/index.md
  microsoft-edge/devtools-guide-chromium/remote-debugging/windows.md
Labels: cat: devtools

#1566 What's New 96
  microsoft-edge/devtools-guide-chromium/experimental-features/index.md
  microsoft-edge/devtools-guide-chromium/media/experimental-features/focus-mode.png
  microsoft-edge/devtools-guide-chromium/media/help-icon-of-focus-mode.png
  microsoft-edge/devtools-guide-chromium/media/settings-gear-icon-light-mode.png
  microsoft-edge/devtools-guide-chromium/whats-new/2021/11/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/11/clicking-triangle-didnt-open-dropdown.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/11/clicking-triangle-opens-dropdown.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/11/console-displayed-when-elements-tab-selected.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/11/console-hidden-when-console-tab-selected.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/11/edge-devtools-for-vscode-inline-issue-reporting-addl-red.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/11/edge-devtools-for-vscode-simulated-iphone-red-boxes.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/11/edge-devtools-for-vscode-toggle-screencast.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/11/focus-mode.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/11/source-map-not-found-buttons.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/11/source-map-not-found.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/11/sources-tool-versus-open-in-vs-code.png
  microsoft-edge/toc.yml
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension.md
Labels: cat: devtools

#1575 Added "What's New in 97" with "Hide Custom Tab" in "What's New in Progressive Web Apps"
  microsoft-edge/progressive-web-apps-chromium/whats-new/includes/chromium-whats-new-note.md
  microsoft-edge/progressive-web-apps-chromium/whats-new/includes/contact-whats-new-note.md
  microsoft-edge/progressive-web-apps-chromium/whats-new/includes/edge-whats-new-note.md
  microsoft-edge/progressive-web-apps-chromium/whats-new/includes/experimental-note-thin.md
  microsoft-edge/progressive-web-apps-chromium/whats-new/includes/experimental-note.md
  microsoft-edge/progressive-web-apps-chromium/whats-new/pwa.md
Labels: cat: pwas

#1471 Added pointer pages, to have a 2nd location of "webhint" & "DevTools Protocol" in TOC
  microsoft-edge/devtools-protocol-chromium/index.md
  microsoft-edge/test-and-automation/devtools-protocol-overview-aux-node.md
  microsoft-edge/test-and-automation/devtools-protocol.md
  microsoft-edge/test-and-automation/webhint-aux-node.md
  microsoft-edge/test-and-automation/webhint.md
  microsoft-edge/toc.yml
  microsoft-edge/visual-studio-code/media/webhint-extension.png
  microsoft-edge/visual-studio-code/webhint.md
Labels: cat: general

#1574 Globally changed "Programmable Web App" to "Progressive Web App"
  microsoft-edge/progressive-web-apps-chromium/demo-pwas.md
  microsoft-edge/progressive-web-apps-chromium/how-to/background-syncs.md
Labels: cat: pwas

#1578 Changed Edg to EdgA for Android, in "Detecting Microsoft Edge from your website"
  microsoft-edge/web-platform/user-agent-guidance.md
Labels: cat: webplatform

#1572 Automatically label new issues with the 'triage-needed' label
  .github/workflows/label-new-issues.yaml
Labels: cat: general

#1582 Updated descriptions and images for apps hub page, in "The user experience of PWAs"
  microsoft-edge/progressive-web-apps-chromium/media/app-available-icon.png
  microsoft-edge/progressive-web-apps-chromium/media/edge-apps-listing.png
  microsoft-edge/progressive-web-apps-chromium/media/edge-apps-more-options.png
  microsoft-edge/progressive-web-apps-chromium/media/turn-on-run-on-os-login-flag.png
  microsoft-edge/progressive-web-apps-chromium/media/uninstall-app-button.png
  microsoft-edge/progressive-web-apps-chromium/ux.md
Labels: cat: pwas

#1579 Removed "a" tag from tabs, separated HTML comment from tab heading
  microsoft-edge/devtools-guide-chromium/open/index.md
  microsoft-edge/extensions-chromium/developer-guide/native-messaging.md
  microsoft-edge/webdriver-chromium/index.md
  microsoft-edge/webview2/how-to/debug.md
Labels: cat: general

#1570 Structured the "Experimental features" article for completeness & ease of maintenance
  microsoft-edge/devtools-guide-chromium/experimental-features/index.md
  microsoft-edge/devtools-guide-chromium/inspect-styles/edit-fonts.md
  microsoft-edge/devtools-guide-chromium/media/more-tools-icon-light-theme.png
  microsoft-edge/devtools-guide-chromium/media/settings-close-icon-light-theme.png
  microsoft-edge/devtools-guide-chromium/whats-new/2020/06/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/08/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/10/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2021/02/devtools.md
Labels: cat: devtools

#1568 Updated "Windows Server Update Services (WSUS)" section & Support timeline
  microsoft-edge/webview2/concepts/enterprise.md
  microsoft-edge/webview2/index.md
Labels: cat: webview2

#1581 Added articles "Microsoft Edge Add-ons released features" & "Microsoft Edge Add-ons roadmap"
  microsoft-edge/extensions-chromium/whats-new/released-features.md
  microsoft-edge/extensions-chromium/whats-new/roadmap.md
  microsoft-edge/toc.yml
Labels: cat: extensions

#1591 Added Manifest V3 update release information.md
  microsoft-edge/extensions-chromium/developer-guide/migrate-your-extension-from-manifest-v2-to-v3.md
  microsoft-edge/extensions-chromium/getting-started/manifest-format.md
  microsoft-edge/extensions-chromium/whats-new/released-features.md
  microsoft-edge/toc.yml
Labels: cat: extensions

#1576 Add WebDriver docs for automating IE mode (new article "Use Internet Explorer Driver to automate IE mode in Microsoft Edge")
  microsoft-edge/toc.yml
  microsoft-edge/webdriver-chromium/ie-mode.md
  microsoft-edge/webdriver-chromium/index.md
  microsoft-edge/webdriver-chromium/media/iedriver-install.msft.png
Labels: cat: webdriver

#1593 relnotes 96 + prerelnotes 97
  microsoft-edge/webview2/release-notes.md
Labels: cat: webview2, on-hold

#1594 Puppeteer Editor pass
  microsoft-edge/puppeteer/index.md
Labels: cat: test-automation

#1586 Better issue templates and stalebot
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation_issue.md
  .github/old_version_issue.md
  .github/stale.yaml
  .github/workflows/main.yaml
Labels: cat: general

#1598 Removing duplicate sentence.
  microsoft-edge/privacy-whitepaper/index.md
Labels: cat: privacy

#1589 Update WebRTC Plan B deprecation plan (2nd)
  microsoft-edge/web-platform/site-impacting-changes.md
Labels: cat: webplatform

#1536 Writer/Editor pass on PWA articles
  microsoft-edge/progressive-web-apps-chromium/demo-pwas.md
  microsoft-edge/progressive-web-apps-chromium/how-to/background-syncs.md
  microsoft-edge/progressive-web-apps-chromium/how-to/handle-files.md
  microsoft-edge/progressive-web-apps-chromium/how-to/handle-protocols.md
  microsoft-edge/progressive-web-apps-chromium/how-to/handle-urls.md
  microsoft-edge/progressive-web-apps-chromium/how-to/icon-theme-color.md
  microsoft-edge/progressive-web-apps-chromium/how-to/index.md
  microsoft-edge/progressive-web-apps-chromium/how-to/microsoft-store.md
  microsoft-edge/progressive-web-apps-chromium/how-to/notifications-badges.md
  microsoft-edge/progressive-web-apps-chromium/how-to/offline.md
  microsoft-edge/progressive-web-apps-chromium/how-to/origin-trials.md
  microsoft-edge/progressive-web-apps-chromium/how-to/service-workers.md
  microsoft-edge/progressive-web-apps-chromium/how-to/share.md
  microsoft-edge/progressive-web-apps-chromium/how-to/shortcuts.md
  microsoft-edge/progressive-web-apps-chromium/how-to/web-app-manifests.md
  microsoft-edge/progressive-web-apps-chromium/how-to/window-controls-overlay.md
  microsoft-edge/progressive-web-apps-chromium/index.md
  microsoft-edge/progressive-web-apps-chromium/media/app-info-menu.png
  microsoft-edge/progressive-web-apps-chromium/media/devtools-tips-url-handling-app-selection.png
  microsoft-edge/progressive-web-apps-chromium/media/devtools-tips.png
  microsoft-edge/progressive-web-apps-chromium/media/edge-app-install-flyout.png
  microsoft-edge/progressive-web-apps-chromium/media/edge-apps-listing.png
  microsoft-edge/progressive-web-apps-chromium/media/install-webboard-microsoft-store.png
  microsoft-edge/progressive-web-apps-chromium/media/pwa-in-apps-and-features-settings.png
  microsoft-edge/progressive-web-apps-chromium/media/pwa-shortcuts-in-taskbar.png
  microsoft-edge/progressive-web-apps-chromium/media/pwas-in-alttab.png
  microsoft-edge/progressive-web-apps-chromium/media/pwas-in-the-taskbar.png
  microsoft-edge/progressive-web-apps-chromium/media/turn-on-run-on-os-login-flag.png
  microsoft-edge/progressive-web-apps-chromium/media/webboard-reduced.png
  microsoft-edge/progressive-web-apps-chromium/media/webboard.png
  microsoft-edge/progressive-web-apps-chromium/ux.md
  microsoft-edge/progressive-web-apps-chromium/whats-new/media/bing-devtools-send-feedback.msft.png
  microsoft-edge/progressive-web-apps-chromium/whats-new/media/edgeapps-redesign.jpg
  microsoft-edge/progressive-web-apps-chromium/whats-new/pwa.md
  microsoft-edge/toc.yml
Labels: cat: pwas
