Repository MicrosoftDocs/edge-developer, pull requests merged in 2021-03, with the labels that each got.

#979 Update metadata
  microsoft-edge/edgehtml/dev-guide/index.md
  microsoft-edge/edgehtml/dev-guide/whats-new/edgehtml-16.md
  microsoft-edge/edgehtml/devtools-guide/storage.md
  microsoft-edge/edgehtml/devtools-protocol/0.1/domains/debugger.md
  microsoft-edge/edgehtml/devtools-protocol/0.1/domains/page.md
  microsoft-edge/edgehtml/devtools-protocol/0.1/domains/runtime.md
  microsoft-edge/edgehtml/devtools-protocol/0.1/domains/schema.md
  microsoft-edge/edgehtml/devtools-protocol/0.2/domains/debugger.md
  microsoft-edge/edgehtml/devtools-protocol/0.2/domains/page.md
  microsoft-edge/edgehtml/devtools-protocol/0.2/domains/runtime.md
  microsoft-edge/edgehtml/devtools-protocol/0.2/domains/schema.md
  microsoft-edge/edgehtml/extensions/guides/adding-and-removing-extensions.md
  microsoft-edge/edgehtml/extensions/guides/debugging-extensions.md
  microsoft-edge/edgehtml/extensions/guides/native-messaging.md
  microsoft-edge/edgehtml/extensions/guides/packaging.md
  microsoft-edge/edgehtml/extensions/guides/packaging/localizing-extension-packages.md
  microsoft-edge/edgehtml/extensions/tips-and-tricks.md
  microsoft-edge/edgehtml/hosting/webview/longrunningscriptdetectedevent.md
  microsoft-edge/edgehtml/progressive-web-apps/xbox-considerations.md
  microsoft-edge/edgehtml/windows-runtime/considerations-when-using-the-windows-runtime-api.md
  microsoft-edge/edgehtml/windows-runtime/error-codes-for-windows-runtime-apps-using-javascript.md
  microsoft-edge/edgehtml/windows-runtime/handling-windows-runtime-events-in-javascript.md
  microsoft-edge/edgehtml/windows-runtime/javascript-representation-of-windows-runtime-types.md
  microsoft-edge/edgehtml/windows-runtime/special-error-properties-from-asynchronous-windows-runtime-methods.md
  microsoft-edge/edgehtml/windows-runtime/using-the-windows-runtime-in-javascript.md
  microsoft-edge/edgehtml/windows-runtime/using-windows-runtime-asynchronous-methods.md
  microsoft-edge/edgehtml/windows-runtime/windows-runtime-datetime-and-timespan-representations.md
Labels: doc-enhancement

#986 Update metadata, part 2 (Chromium docs 5365484)
  microsoft-edge/devtools-guide-chromium/accessibility/emulate-vision-deficiencies.md
  microsoft-edge/devtools-guide-chromium/accessibility/preferred-color-scheme-simulation.md
  microsoft-edge/devtools-guide-chromium/customize/localization.md
  microsoft-edge/devtools-guide-chromium/media/localization-jp.msft.png
  microsoft-edge/devtools-guide-chromium/media/windows-media-devtools-client.msft.png
  microsoft-edge/devtools-guide-chromium/media/windows-media-edge-flags-on-client.msft.png
  microsoft-edge/devtools-guide-chromium/media/windows-media-edge-flags-on-host.msft.png
  microsoft-edge/devtools-guide-chromium/media/windows-media-edge-inspect-connected.msft.png
  microsoft-edge/devtools-guide-chromium/media/windows-media-edge-inspect.msft.png
  microsoft-edge/devtools-guide-chromium/media/windows-media-host-settings-ip-address.msft.png
  microsoft-edge/devtools-guide-chromium/media/windows-media-host-settings.msft.png
  microsoft-edge/devtools-guide-chromium/media/windows-media-remote-tools-in-store.msft.png
  microsoft-edge/devtools-guide-chromium/media/windows-media-toggle-screencast.msft.png
  microsoft-edge/devtools-guide-chromium/rendering-tools/index.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/11/devtools.md
Labels: ADO, cat: devtools, doc-bug, doc-enhancement

#1056 Updated figures in multiple files.
  README.md
  microsoft-edge/extensions-chromium/getting-started/index.md
  microsoft-edge/webview2/gettingstarted/winforms.md
  microsoft-edge/webview2/gettingstarted/wpf.md
Labels: cat: devtools, cat: extensions, cat: general, cat: webview, doc-bug, doc-enhancement

#1129 Update index.md
  microsoft-edge/webdriver-chromium/index.md
Labels: cat: webdriver

#1125 update webview2 debug.md
  microsoft-edge/webview2/howto/debug.md
Labels: cat: webview

#1127 WebView2 release notes
  microsoft-edge/webview2/releasenotes.md
Labels: cat: webview

#1115 DevTools content reorganization (TOC)
  microsoft-edge/toc.yml
Labels: cat: devtools, doc-enhancement, doc-idea

#1139 What's New in DevTools 90 (Chromium docs 5749758)
  microsoft-edge/devtools-guide-chromium/customize/shortcuts.md
  microsoft-edge/devtools-guide-chromium/experimental-features/index.md
  microsoft-edge/devtools-guide-chromium/index.md
  microsoft-edge/devtools-guide-chromium/media/experiments-custom-keyboard-shortcuts-save-shortcut.msft.png
  microsoft-edge/devtools-guide-chromium/media/experiments-custom-keyboard-shortcuts-select-action.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/2019/12/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/01/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/03/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/05/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/06/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/08/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/10/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/11/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2021/01/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2021/02/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/02/application-frames-permissions-policy.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/02/application-manifest-errors-and-warnings-truncated.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/02/application-storage-cookies-sameparty.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/02/checkmark-keyboard-shortcut-icon.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/02/console-display-name-name.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/02/console-display-name.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/02/console-pwa-installability.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/02/console-sidebar-default-levels-new.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/02/console-sidebar-default-levels-old.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/02/console-string-formatted-double-quotes.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/02/custom-shortcut-pause-script-checkmark.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/02/custom-shortcut-pause-script.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/02/edit-keyboard-shortcut-icon.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/02/elements-layout-flexbox-flexbox-overlays.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/02/elements-styles-display-flex-window.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/02/elements-switch-to-accesibility-tree-view.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/02/elements-switch-to-accessibility-tree-view.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/02/elements-switch-to-dom-tree-view.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/02/focus-mode-and-tooltips-help.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/02/focus-mode.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/02/network-request-initiator-chain-right-arrow-down-twice-down-arrow-thrice.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/02/network-request-initiator-chain-right-arrow-thrice.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/02/network-request-initiator-chain.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/02/network-requests-contextual-menu-remote-address-space.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/02/network-requests-remote-address-space.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/02/rendering-css-color-gamut.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/02/visual-studio-code-extension-log-editor.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/02/visual-studio-code-extension-log-microsoft-edge.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/02/vscode-extension-logging-in-browser.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2021/02/vscode-extension-logging-in-editor.msft.png
  microsoft-edge/toc.yml
Labels: cat: devtools, doc-enhancement

#1130 added cdp document
  microsoft-edge/toc.yml
  microsoft-edge/webview2/howto/chromium-devtools-protocol.md
  microsoft-edge/webview2/howto/media/cdpnuget.png
  microsoft-edge/webview2/howto/media/finallocation-cdp.png
  microsoft-edge/webview2/howto/media/geolocater-browser.png
  microsoft-edge/webview2/howto/media/initial-geolocate.png
Labels: cat: webview

#1146 Localization update. (Chromium docs 5663155)
  microsoft-edge/devtools-guide-chromium/experimental-features/index.md
  microsoft-edge/devtools-guide-chromium/inspect-styles/edit-fonts.md
Labels: cat: devtools, doc-bug

#1153 updated to correct link
  microsoft-edge/webview2/howto/chromium-devtools-protocol.md
Labels: cat: webview

#1144 added winui feedback repo
  microsoft-edge/webview2/gettingstarted/winui.md
Labels: cat: webview

#1141 updates prerelease notes section
  microsoft-edge/webview2/concepts/versioning.md
  microsoft-edge/webview2/releasenotes.md
Labels: cat: webview

#1049 Adds new article on publishing Chromium-based PWA to the Microsoft Store
  microsoft-edge/progressive-web-apps-chromium/media/pwabuilder-publisher-info.msft.png
  microsoft-edge/progressive-web-apps-chromium/media/windows-partner-center-add-program.msft.png
  microsoft-edge/progressive-web-apps-chromium/media/windows-partner-center-create-app.msft.png
  microsoft-edge/progressive-web-apps-chromium/media/windows-partner-center-publisher-info.msft.png
  microsoft-edge/progressive-web-apps-chromium/media/windows-partner-center-start-submission.msft.png
  microsoft-edge/progressive-web-apps-chromium/microsoft-store.md
Labels: cat: pwas, doc-bug, doc-enhancement

#1158 Updated toc file
  microsoft-edge/toc.yml
Labels: cat: pwas

#1123 Adding autoupdating documentation
  microsoft-edge/extensions-chromium/enterprise/auto-update.md
  microsoft-edge/extensions-chromium/enterprise/declare-permissions.md
  microsoft-edge/extensions-chromium/enterprise/hosting-and-updating.md
  microsoft-edge/extensions-chromium/enterprise/match-patterns.md
  microsoft-edge/toc.yml
Labels: cat: extensions

#1169 Added remote-debugging/webviews. (Chromium docs 3918117)
  microsoft-edge/devtools-guide-chromium/remote-debugging/index.md
  microsoft-edge/devtools-guide-chromium/remote-debugging/local-server.md
  microsoft-edge/devtools-guide-chromium/remote-debugging/surface-duo-emulator.md
  microsoft-edge/devtools-guide-chromium/remote-debugging/webviews.md
  microsoft-edge/devtools-guide-chromium/remote-debugging/windows.md
  microsoft-edge/toc.yml
Labels: cat: devtools, doc-provided

#1166 Blocking the UI-thread
  microsoft-edge/webview2/concepts/threading-model.md
Labels: cat: webview

#1177 Updated localization article (chromium docs 5859618)
  microsoft-edge/devtools-guide-chromium/customize/localization.md
  microsoft-edge/devtools-guide-chromium/media/localization-zh.msft.png
Labels: cat: devtools
