Repository MicrosoftDocs/edge-developer, pull requests merged in 2022-03, with the labels that each got.

#1772 Removed version 97 reference in dom-leaks article
  microsoft-edge/devtools-guide-chromium/experimental-features/index.md
  microsoft-edge/devtools-guide-chromium/memory-problems/dom-leaks.md
Labels: cat: devtools

#1766 Added "Debug original code using Azure Artifacts symbol server" articles, revised source maps articles
  microsoft-edge/devtools-guide-chromium/javascript/consume-source-maps-from-azure.md
  microsoft-edge/devtools-guide-chromium/javascript/images/ado-pat-config-read.png
  microsoft-edge/devtools-guide-chromium/javascript/images/ado-pat-config-write.png
  microsoft-edge/devtools-guide-chromium/javascript/images/ado-pat-devtools.png
  microsoft-edge/devtools-guide-chromium/javascript/images/ado-pat-page.png
  microsoft-edge/devtools-guide-chromium/javascript/images/ado-pat-settings.png
  microsoft-edge/devtools-guide-chromium/javascript/images/ado-pat-success-copy-clipboard.png
  microsoft-edge/devtools-guide-chromium/javascript/images/coffee-alert.png
  microsoft-edge/devtools-guide-chromium/javascript/images/my-coffee-demo-resulting-script.png
  microsoft-edge/devtools-guide-chromium/javascript/publish-source-maps-to-azure.md
  microsoft-edge/devtools-guide-chromium/javascript/source-maps.md
  microsoft-edge/devtools-guide-chromium/media/javascript-settings-preferences-sources-enable-javascript-source-maps.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-sources-page-coffeeeeeeee.msft.png
  microsoft-edge/devtools-guide-chromium/media/source-maps-monitor-tool.png
  microsoft-edge/devtools-guide-chromium/overview.md
  microsoft-edge/devtools-guide-chromium/source-maps-monitor/source-maps-monitor-tool.md
  microsoft-edge/devtools-guide-chromium/sources/index.md
  microsoft-edge/devtools-guide-chromium/whats-new/2021/11/devtools.md
  microsoft-edge/toc.yml
Labels: cat: devtools

#1750 AddHostObjectToScript Deep Dive Doc
  microsoft-edge/toc.yml
  microsoft-edge/webview2/how-to/hostobject.md
Labels: cat: webview2

#1773 Validation messages for ProductId, OperationId, unexpected failures
  microsoft-edge/extensions-chromium/publish/api/addons-api-reference.md
Labels: cat: extensions

#1785 playwright: use Edge stable instead of Beta channel
  microsoft-edge/playwright/index.md
Labels: cat: test-automation

#1784 Docs for the Unminify feature in Performance tool
  microsoft-edge/devtools-guide-chromium/evaluate-performance/images/load-profile-icon.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/images/minified-perf-profile.msft.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/images/perf-profile-unminify-button.msft.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/images/unminified-perf-profile.msft.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/images/unminify-icon.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/unminify.md
  microsoft-edge/devtools-guide-chromium/media/evaluate-performance-performance-refreshed-disable-javascript-samples-checkbox-off-load-profile.msft.png
  microsoft-edge/toc.yml
Labels: cat: devtools

#1782 Document the new Edge WebDriver feedback repository
  microsoft-edge/toc.yml
  microsoft-edge/webdriver-chromium/contact.md
  microsoft-edge/webdriver-chromium/index.md
Labels: cat: test-automation

#1788 Updated content for Contact the Microsoft Edge DevTools team
  microsoft-edge/devtools-guide-chromium/contact.md
  microsoft-edge/devtools-guide-chromium/media/devtools-send-feedback-window.png
  microsoft-edge/media/devtools-send-feedback.msft.png
  microsoft-edge/media/send-feedback-dbox.msft.png
Labels: cat: devtools

#1774 [Edge Extensions] Publish/Update extension documentation changes for the new flow.
  microsoft-edge/extensions-chromium/publish/publish-extension.md
  microsoft-edge/extensions-chromium/publish/update-extension.md
Labels: cat: extensions

#1787 Released Features doc updates
  microsoft-edge/extensions-chromium/whats-new/released-features.md
Labels: cat: extensions

#1783 Clarify that 2 PATs are required for sourcemaps
  microsoft-edge/devtools-guide-chromium/javascript/consume-source-maps-from-azure.md
  microsoft-edge/devtools-guide-chromium/javascript/images/ado-pat-config-write.png
  microsoft-edge/devtools-guide-chromium/javascript/images/ado-pat-success-copy-clipboard.png
  microsoft-edge/devtools-guide-chromium/javascript/publish-source-maps-to-azure.md
Labels: cat: devtools

#1779 Added "What's New in DevTools (Microsoft Edge 99)"
  microsoft-edge/devtools-guide-chromium/layers/images/layers-link-3d-view-tool.png
  microsoft-edge/devtools-guide-chromium/layers/layers-tool.md
  microsoft-edge/devtools-guide-chromium/whats-new/2022/03/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/media/2022/03/3d-view-tool.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2022/03/ado-pat-devtools.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2022/03/devtools-extension-v-s-web-forms-designer.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2022/03/devtools-extension-visual-studio-elements.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2022/03/devtools-extension-visual-studio-network.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2022/03/folders-page-tab-sources-tool.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2022/03/layers-3d-view-tool.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2022/03/load-profile-icon.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2022/03/minified-call-stack-performance-tool.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2022/03/more-tools-v-s-icon.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2022/03/network-console-tool.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2022/03/open-edge-dev-tools-v-s-icon.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2022/03/unminified-call-stack-performance-tool.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2022/03/unminify-icon.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2022/03/v-s-edge-devtools-inspect-tool-icon.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2022/03/v-s-edge-devtools-toggle-screencast-icon.png
  microsoft-edge/devtools-guide-chromium/whats-new/whats-new.md
  microsoft-edge/toc.yml
  microsoft-edge/visual-studio/index.md
  microsoft-edge/visual-studio/media/devtools-extension-v-s-web-forms-designer.png
  microsoft-edge/visual-studio/media/devtools-extension-visual-studio-elements.png
  microsoft-edge/visual-studio/media/devtools-extension-visual-studio-network.png
  microsoft-edge/visual-studio/media/edge-devtools-v-s-window-undocked.png
  microsoft-edge/visual-studio/media/more-tools-v-s-icon.png
  microsoft-edge/visual-studio/media/open-edge-dev-tools-v-s-icon.png
  microsoft-edge/visual-studio/media/v-s-edge-devtools-inspect-tool-icon.png
  microsoft-edge/visual-studio/media/v-s-edge-devtools-toggle-screencast-icon.png
Labels: cat: devtools

#1740 Added article "Customize context menus in WebView2"
  microsoft-edge/toc.yml
  microsoft-edge/webview2/concepts/clear-browsing-data.md
  microsoft-edge/webview2/how-to/context-menus.md
  microsoft-edge/webview2/how-to/customize-ui.md
Labels: cat: webview2

#1793 Release Notes for WebView2 Edge99
  microsoft-edge/webview2/release-notes.md
Labels: cat: webview2

#1792 Removed suggestion to use twitter to contact the team
  microsoft-edge/devtools-guide-chromium/experimental-features/index.md
Labels: cat: devtools

#1789 Manifest V3 overview and logical TOC bucket
  microsoft-edge/extensions-chromium/developer-guide/manifest-v3.md
  microsoft-edge/toc.yml
Labels: cat: extensions

#1795 Popup refocus - F6 now supported, moves focus to next pane
  microsoft-edge/webview2/concepts/browser-features.md
Labels: cat: webview2

#1732 Added article "Basic authentication for WebView2 apps"
  microsoft-edge/toc.yml
  microsoft-edge/webview2/concepts/basic-authentication-images/basic-auth-page-nav-flow-old.png
  microsoft-edge/webview2/concepts/basic-authentication-images/basic-auth-page-nav-flow-old2.png
  microsoft-edge/webview2/concepts/basic-authentication-images/basic-auth-page-nav-flow.png
  microsoft-edge/webview2/concepts/basic-authentication.md
  microsoft-edge/webview2/concepts/navigation-events.md
  microsoft-edge/webview2/media/navigation-auth-graph.png
Labels: cat: webview2

#1814 Removed "Phase" from Basic Auth diagram, trimmed, removed images
  microsoft-edge/webview2/concepts/basic-authentication-images/basic-auth-page-nav-flow-old.png
  microsoft-edge/webview2/concepts/basic-authentication-images/basic-auth-page-nav-flow-old2.png
  microsoft-edge/webview2/concepts/basic-authentication-images/basic-auth-page-nav-flow.png
  microsoft-edge/webview2/media/navigation-auth-graph.png
  microsoft-edge/webview2/media/not-used/dot-inline-dotgraph-1.png
  microsoft-edge/webview2/media/not-used/dot-inline-dotgraph-2.png
  microsoft-edge/webview2/media/not-used/dot-inline-dotgraph-3.png
Labels: cat: webview2

#1710 Updated the "Manage the user data folder" article
  microsoft-edge/toc.yml
  microsoft-edge/webview2/concepts/user-data-folder.md
  microsoft-edge/webview2/get-started/winui2.md
  microsoft-edge/webview2/samples/webview2_sample_uwp.md
Labels: cat: webview2

#1790 Changes to move from private preview to Beta
  microsoft-edge/extensions-chromium/publish/api/addons-api-reference.md
  microsoft-edge/extensions-chromium/publish/api/using-addons-api.md
  microsoft-edge/extensions-chromium/publish/update-extension.md
  microsoft-edge/toc.yml
Labels: cat: extensions

#1816 Update UA Guidance to include legacy Edge detection
  microsoft-edge/web-platform/user-agent-guidance.md
Labels: cat: webplatform

#1812 Revise Release Notes for WebView2 Edge99
  microsoft-edge/webview2/release-notes.md
Labels: cat: webview2

#1818 Added "In this article" nav that includes h3's
  microsoft-edge/devtools-guide-chromium/sources/index.md
Labels: cat: devtools

#1778 Rebranding "Microsoft Edge Driver" to "Microsoft Edge WebDriver"
  microsoft-edge/devtools-guide-chromium/whats-new/2020/11/devtools.md
  microsoft-edge/privacy-whitepaper/index.md
  microsoft-edge/toc.yml
  microsoft-edge/webdriver-chromium/capabilities-edge-options.md
  microsoft-edge/webdriver-chromium/contact.md
  microsoft-edge/webdriver-chromium/index.md
  microsoft-edge/webview2/concepts/distribution.md
  microsoft-edge/webview2/how-to/webdriver.md
  microsoft-edge/webview2/index.md
Labels: cat: webdriver

#1823 Making the timelines aspect more prominent
  microsoft-edge/extensions-chromium/developer-guide/manifest-v3.md
  microsoft-edge/toc.yml
Labels: cat: extensions

#1825 Updated Privacy Whitepaper
  microsoft-edge/privacy-whitepaper/index.md
Labels: cat: privacy

#1828 Add WebView2Samples dependency
  .openpublishing.publish.config.json
  microsoft-edge/docfx.json
Labels: cat: webview2

#1803 Added the upcoming feature updates to the MSEdge Add-ons roadmap documentation
  microsoft-edge/extensions-chromium/whats-new/released-features.md
  microsoft-edge/extensions-chromium/whats-new/roadmap.md
Labels: cat: extensions

#1827 Updated Console Integration docs. (1.4.6)
  microsoft-edge/visual-studio-code/media/edge-devtools-for-vscode-console-full.png
  microsoft-edge/visual-studio-code/media/edge-devtools-for-vscode-console-in-elements.png
  microsoft-edge/visual-studio-code/media/edge-devtools-for-vscode-console-integration.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension.md
Labels: cat: devtools

#1826 Switch WCO to fixed position
  microsoft-edge/progressive-web-apps-chromium/how-to/window-controls-overlay.md
Labels: cat: pwas

#1846 Update user-agent-guidance.md
  microsoft-edge/web-platform/user-agent-guidance.md
Labels: cat: webplatform

#1804 Focus Mode documentation
  microsoft-edge/devtools-guide-chromium/about-tools.md
  microsoft-edge/devtools-guide-chromium/experimental-features/focus-mode.md
  microsoft-edge/devtools-guide-chromium/experimental-features/index.md
  microsoft-edge/devtools-guide-chromium/experimental-features/media/devtools-toolbar-message-indicator.png
  microsoft-edge/devtools-guide-chromium/experimental-features/media/focus-mode-activity-bar-location.png
  microsoft-edge/devtools-guide-chromium/experimental-features/media/focus-mode-activity-bar.png
  microsoft-edge/devtools-guide-chromium/experimental-features/media/focus-mode-application.png
  microsoft-edge/devtools-guide-chromium/experimental-features/media/focus-mode-chevron.png
  microsoft-edge/devtools-guide-chromium/experimental-features/media/focus-mode-console.png
  microsoft-edge/devtools-guide-chromium/experimental-features/media/focus-mode-docked.png
  microsoft-edge/devtools-guide-chromium/experimental-features/media/focus-mode-elements-tool.png
  microsoft-edge/devtools-guide-chromium/experimental-features/media/focus-mode-elements.png
  microsoft-edge/devtools-guide-chromium/experimental-features/media/focus-mode-help.png
  microsoft-edge/devtools-guide-chromium/experimental-features/media/focus-mode-horizontal.png
  microsoft-edge/devtools-guide-chromium/experimental-features/media/focus-mode-issues.png
  microsoft-edge/devtools-guide-chromium/experimental-features/media/focus-mode-memory.png
  microsoft-edge/devtools-guide-chromium/experimental-features/media/focus-mode-menu.png
  microsoft-edge/devtools-guide-chromium/experimental-features/media/focus-mode-message-indicator.png
  microsoft-edge/devtools-guide-chromium/experimental-features/media/focus-mode-more-tools.png
  microsoft-edge/devtools-guide-chromium/experimental-features/media/focus-mode-network.png
  microsoft-edge/devtools-guide-chromium/experimental-features/media/focus-mode-overflow-tools.png
  microsoft-edge/devtools-guide-chromium/experimental-features/media/focus-mode-performance.png
  microsoft-edge/devtools-guide-chromium/experimental-features/media/focus-mode-pref.png
  microsoft-edge/devtools-guide-chromium/experimental-features/media/focus-mode-quick-view-tool.png
  microsoft-edge/devtools-guide-chromium/experimental-features/media/focus-mode-quick-view.png
  microsoft-edge/devtools-guide-chromium/experimental-features/media/focus-mode-remove-tool.png
  microsoft-edge/devtools-guide-chromium/experimental-features/media/focus-mode-sources.png
  microsoft-edge/devtools-guide-chromium/experimental-features/media/focus-mode-undocked.png
  microsoft-edge/devtools-guide-chromium/experimental-features/media/focus-mode-welcome.png
  microsoft-edge/devtools-guide-chromium/experimental-features/media/focus-mode.png
  microsoft-edge/devtools-guide-chromium/media/experimental-features/focus-mode.png
  microsoft-edge/devtools-guide-chromium/whats-new/2021/02/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2021/11/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2022/01/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/whats-new.md
  microsoft-edge/toc.yml
Labels: cat: devtools

#1852 Fixing broken link in What's New 99
  microsoft-edge/devtools-guide-chromium/whats-new/2022/03/devtools.md
Labels: cat: devtools

#1817 What's New 100
  microsoft-edge/devtools-guide-chromium/customize/localization.md
  microsoft-edge/devtools-guide-chromium/customize/media/browser-ui-language-setting.png
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots-images/node-types-heap-snapshot.png
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots.md
  microsoft-edge/devtools-guide-chromium/whats-new/2022/03/devtools-100-images/czech-vietnamese.png
  microsoft-edge/devtools-guide-chromium/whats-new/2022/03/devtools-100-images/devtools-feedback-repo.png
  microsoft-edge/devtools-guide-chromium/whats-new/2022/03/devtools-100-images/fulfilled-by-request-log.png
  microsoft-edge/devtools-guide-chromium/whats-new/2022/03/devtools-100-images/links-perf-profile-orig-source-code.png
  microsoft-edge/devtools-guide-chromium/whats-new/2022/03/devtools-100-images/node-types-heap-snapshot.png
  microsoft-edge/devtools-guide-chromium/whats-new/2022/03/devtools-100-images/waterfall-view-requests-network-no-theme.png
  microsoft-edge/devtools-guide-chromium/whats-new/2022/03/devtools-100-images/waterfall-view-requests-network.png
  microsoft-edge/devtools-guide-chromium/whats-new/2022/03/devtools-100.md
  microsoft-edge/devtools-guide-chromium/whats-new/whats-new.md
  microsoft-edge/toc.yml
Labels: cat: devtools

#1848 Added Zoom h2 section
  microsoft-edge/devtools-guide-chromium/overview-images/zoom-devtools.png
  microsoft-edge/devtools-guide-chromium/overview-images/zoom-rendered-page.png
  microsoft-edge/devtools-guide-chromium/overview.md
Labels: cat: devtools
