Repository MicrosoftDocs/edge-developer, pull requests merged in 2022-02, with the labels that each got.

#1683 Replaced Glitch demos by new GitHub demos
  microsoft-edge/devtools-guide-chromium/css/index.md
  microsoft-edge/devtools-guide-chromium/dom/index.md
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index.md
  microsoft-edge/devtools-guide-chromium/evaluate-performance/reference.md
  microsoft-edge/devtools-guide-chromium/javascript/index.md
  microsoft-edge/devtools-guide-chromium/media/demo-page-with-accessibility-issues.png
  microsoft-edge/devtools-guide-chromium/media/using-debug-js-demo-page.png
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots.md
  microsoft-edge/devtools-guide-chromium/sample-code/sample-code.md
  microsoft-edge/devtools-guide-chromium/sources/index.md
  microsoft-edge/devtools-guide-chromium/whats-new/2021/04/devtools.md
  microsoft-edge/toc.yml
Labels: cat: devtools

#1711 update to use tenant id instead of tenant name
  microsoft-edge/extensions-chromium/publish/api/using-addons-api.md
Labels: cat: extensions

#1717 Updating URLs of demos that moved from the DevToolsSamples to the Demos repo
  microsoft-edge/devtools-guide-chromium/3d-view/index.md
  microsoft-edge/devtools-guide-chromium/accessibility/accessibility-testing-in-devtools.md
  microsoft-edge/devtools-guide-chromium/accessibility/test-accessibility-tree.md
  microsoft-edge/devtools-guide-chromium/accessibility/test-analyze-no-focus-indicator.md
  microsoft-edge/devtools-guide-chromium/accessibility/test-analyze-no-keyboard-support.md
  microsoft-edge/devtools-guide-chromium/accessibility/test-blurred-vision.md
  microsoft-edge/devtools-guide-chromium/accessibility/test-color-blindness.md
  microsoft-edge/devtools-guide-chromium/accessibility/test-dark-mode.md
  microsoft-edge/devtools-guide-chromium/accessibility/test-inspect-states.md
  microsoft-edge/devtools-guide-chromium/accessibility/test-inspect-text-contrast.md
  microsoft-edge/devtools-guide-chromium/accessibility/test-inspect-tool.md
  microsoft-edge/devtools-guide-chromium/accessibility/test-issues-tool.md
  microsoft-edge/devtools-guide-chromium/accessibility/test-reduced-ui-motion.md
  microsoft-edge/devtools-guide-chromium/accessibility/test-tab-enter-keys.md
  microsoft-edge/devtools-guide-chromium/accessibility/test-tab-key-source-order-viewer.md
  microsoft-edge/devtools-guide-chromium/console/console-debug-javascript.md
  microsoft-edge/devtools-guide-chromium/console/console-log.md
  microsoft-edge/devtools-guide-chromium/console/index.md
  microsoft-edge/devtools-guide-chromium/console/live-expressions.md
  microsoft-edge/devtools-guide-chromium/css/inspect.md
  microsoft-edge/devtools-guide-chromium/issues/index.md
  microsoft-edge/devtools-guide-chromium/sample-code/sample-code.md
  microsoft-edge/devtools-guide-chromium/whats-new/2021/01/devtools.md
Labels: cat: devtools

#1720 Update distribution.md
  microsoft-edge/webview2/concepts/distribution.md
Labels: cat: webview2

#1708 Updating whitepaper for sign in to sync
  microsoft-edge/privacy-whitepaper/index.md
Labels: cat: privacy

#1690 Cleaned up all WebView2 articles
  microsoft-edge/developer/index.yml
  microsoft-edge/index.yml
  microsoft-edge/toc.yml
  microsoft-edge/web-platform/site-impacting-changes.md
  microsoft-edge/webview2/code-samples-links.md
  microsoft-edge/webview2/concepts/browser-features.md
  microsoft-edge/webview2/concepts/developer-guide.md
  microsoft-edge/webview2/concepts/distribution.md
  microsoft-edge/webview2/concepts/enterprise.md
  microsoft-edge/webview2/concepts/navigation-events.md
  microsoft-edge/webview2/concepts/process-model.md
  microsoft-edge/webview2/concepts/security.md
  microsoft-edge/webview2/concepts/threading-model.md
  microsoft-edge/webview2/concepts/user-data-folder.md
  microsoft-edge/webview2/concepts/versioning.md
  microsoft-edge/webview2/concepts/win32-api-conventions.md
  microsoft-edge/webview2/contact.md
  microsoft-edge/webview2/get-started/get-started.md
  microsoft-edge/webview2/get-started/win32.md
  microsoft-edge/webview2/get-started/winforms.md
  microsoft-edge/webview2/get-started/winui.md
  microsoft-edge/webview2/get-started/winui2.md
  microsoft-edge/webview2/get-started/wpf.md
  microsoft-edge/webview2/how-to/chromium-devtools-protocol.md
  microsoft-edge/webview2/how-to/communicate-btwn-web-native.md
  microsoft-edge/webview2/how-to/debug.md
  microsoft-edge/webview2/how-to/javascript.md
  microsoft-edge/webview2/how-to/set-preview-channel.md
  microsoft-edge/webview2/how-to/static.md
  microsoft-edge/webview2/how-to/webdriver.md
  microsoft-edge/webview2/index.md
  microsoft-edge/webview2/release-notes.md
  microsoft-edge/webview2/webview2-api-reference.md
Labels: cat: webview2

#1729 Update to IE mode what's new announcement
  microsoft-edge/devtools-guide-chromium/whats-new/2022/02/devtools.md
Labels: cat: devtools

#1725 Made the ie-to-edge redirect page less confusing
  microsoft-edge/web-platform/ie-to-microsoft-edge-redirection.md
Labels: cat: webplatform

#1727 Add "Send CORS Preflights for Private Network Access"
  microsoft-edge/web-platform/site-impacting-changes.md
Labels: cat: webplatform

#1728 Document webviewOptions for EdgeDriver
  microsoft-edge/webdriver-chromium/capabilities-edge-options.md
Labels: cat: webdriver

#1713 What's New 98
  microsoft-edge/devtools-guide-chromium/accessibility/emulate-vision-deficiencies.md
  microsoft-edge/devtools-guide-chromium/console/reference.md
  microsoft-edge/devtools-guide-chromium/css/grid.md
  microsoft-edge/devtools-guide-chromium/css/reference.md
  microsoft-edge/devtools-guide-chromium/customize/shortcuts.md
  microsoft-edge/devtools-guide-chromium/device-mode/index.md
  microsoft-edge/devtools-guide-chromium/device-mode/override-user-agent.md
  microsoft-edge/devtools-guide-chromium/inspect-styles/edit-fonts.md
  microsoft-edge/devtools-guide-chromium/memory-problems/dom-leaks.md
  microsoft-edge/devtools-guide-chromium/memory-problems/index.md
  microsoft-edge/devtools-guide-chromium/network/index.md
  microsoft-edge/devtools-guide-chromium/network/reference.md
  microsoft-edge/devtools-guide-chromium/progressive-web-apps/index.md
  microsoft-edge/devtools-guide-chromium/resources/index.md
  microsoft-edge/devtools-guide-chromium/service-workers/index.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/05/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2021/01/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2021/02/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2021/07/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2021/11/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2022/01/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2022/02/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/media/2022/01/detached-elements-tool.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2022/02/activity-event-tooltip.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2022/02/blog-post-edge-devs-2021.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2022/02/elements-dom-expand-icon-light-mode.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2022/02/elements-script-tag-expand-icons-aligned.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2022/02/emulate-forced-colors-applied.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2022/02/emulate-forced-colors-not-applied.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2022/02/expand-collapse-triangle-icon.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2022/02/network-tool-search-text-box-resizes.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2022/02/service-worker-icons-aligned-expand-icon-visible.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2022/02/shallow-size-decimal-values.png
  microsoft-edge/extensions-chromium/publish/publish-extension.md
  microsoft-edge/privacy-whitepaper/index.md
  microsoft-edge/progressive-web-apps-chromium/whats-new/pwa.md
  microsoft-edge/toc.yml
  microsoft-edge/visual-studio/index.md
  microsoft-edge/webview2/get-started/wpf.md
Labels: in-progress, cat: devtools

#1738 Update version info for target frameworks
  microsoft-edge/webview2/get-started/wpf.md
Labels: cat: webview2

#1735 Release Notes for WebView2: Added 1.0.1108.44 (v98) & 1.0.1158-prerelease (v100)
  microsoft-edge/webview2/release-notes.md
Labels: cat: webview2

#1734 Add-ons API: Updated login 'scope' and fixed some path issues
  microsoft-edge/extensions-chromium/publish/api/using-addons-api.md
Labels: cat: extensions

#1706 Added purpose hints on TOC > DevTools > Tools, added "About the list of tools" firstchild article
  microsoft-edge/devtools-guide-chromium/about-tools.md
  microsoft-edge/devtools-guide-chromium/accessibility/navigation.md
  microsoft-edge/devtools-guide-chromium/command-menu/index.md
  microsoft-edge/devtools-guide-chromium/css/inspect.md
  microsoft-edge/devtools-guide-chromium/customize/index.md
  microsoft-edge/devtools-guide-chromium/customize/shortcuts.md
  microsoft-edge/devtools-guide-chromium/experimental-features/index.md
  microsoft-edge/devtools-guide-chromium/index.md
  microsoft-edge/devtools-guide-chromium/media/all-tools.png
  microsoft-edge/devtools-guide-chromium/media/command-menu-panel-vs-drawer-tools.png
  microsoft-edge/devtools-guide-chromium/media/experimental-features/focus-mode.png
  microsoft-edge/devtools-guide-chromium/media/inspect-tool-icon-blue-light-theme.png
  microsoft-edge/devtools-guide-chromium/shortcuts/index.md
  microsoft-edge/toc.yml
Labels: cat: devtools

#1744 Fixed typo and formatting in DevTools Network > Log network activity
  microsoft-edge/devtools-guide-chromium/network/index.md
Labels: cat: devtools

#1745 fixing curl command issues
  microsoft-edge/extensions-chromium/publish/api/using-addons-api.md
Labels: cat: extensions

#1749 Fix typo and add more info to files to include with the app
  microsoft-edge/webview2/concepts/distribution.md
Labels: cat: webview2

#1754 New Network Request Blocking documentation
  microsoft-edge/devtools-guide-chromium/network-request-blocking/media/add-pattern-icon.png
  microsoft-edge/devtools-guide-chromium/network-request-blocking/media/block-network-request.png
  microsoft-edge/devtools-guide-chromium/network-request-blocking/media/block-request-from-network-tool.png
  microsoft-edge/devtools-guide-chromium/network-request-blocking/media/edit-blocked-request-icon.png
  microsoft-edge/devtools-guide-chromium/network-request-blocking/media/edit-blocked-request.png
  microsoft-edge/devtools-guide-chromium/network-request-blocking/media/remove-all-blocked-requests-icon.png
  microsoft-edge/devtools-guide-chromium/network-request-blocking/media/remove-blocked-request-icon.png
  microsoft-edge/devtools-guide-chromium/network-request-blocking/media/remove-blocked-request.png
  microsoft-edge/devtools-guide-chromium/network-request-blocking/media/toggle-request-blocking.png
  microsoft-edge/devtools-guide-chromium/network-request-blocking/network-request-blocking-tool.md
  microsoft-edge/toc.yml
Labels: cat: devtools

#1747 Whitepaper: Added "Find on page", updated "Geolocation", added "Image descriptions"
  microsoft-edge/privacy-whitepaper/index.md
  microsoft-edge/privacy-whitepaper/media/edge-settings-icon.png
Labels: cat: privacy

#1748 Added HeadSpin
  microsoft-edge/devtools-guide-chromium/device-mode/testing-other-browsers.md
Labels: cat: devtools

#1737 Added article "Clear Browsing Data"
  microsoft-edge/toc.yml
  microsoft-edge/webview2/concepts/clear-browsing-data.md
Labels: cat: webdriver

#1762 Retagged images to restore rendering of page content
  microsoft-edge/web-platform/password-reveal.md
Labels: cat: webplatform

#1764 Update ie-to-microsoft-edge-redirection.md
  microsoft-edge/web-platform/ie-to-microsoft-edge-redirection.md
Labels: cat: webplatform

#1760 Minor corrections to PUSH notifications section
  microsoft-edge/progressive-web-apps-chromium/how-to/notifications-badges.md
Labels: cat: pwas

#1753 Updated docs on how to revert the DevTools UI to English
  microsoft-edge/devtools-guide-chromium/customize/localization.md
  microsoft-edge/devtools-guide-chromium/customize/media/browser-ui-language-ja-jp-reload-devtools-button.png
  microsoft-edge/devtools-guide-chromium/customize/media/browser-ui-language-setting-from-ja-jp.png
  microsoft-edge/devtools-guide-chromium/customize/media/browser-ui-language-setting.png
  microsoft-edge/devtools-guide-chromium/media/localization-zh.msft.png
Labels: cat: devtools

#1759 Update communicate-btwn-web-native.md
  microsoft-edge/webview2/how-to/communicate-btwn-web-native.md
Labels: cat: webview2
