Repository MicrosoftDocs/edge-developer, pull requests merged in 2022-10, with the labels that each got.

#2227 Add source map settings to the ADO symbol server docs
  microsoft-edge/devtools-guide-chromium/javascript/consume-source-maps-from-azure.md
  microsoft-edge/devtools-guide-chromium/javascript/images/ado-preferences-source-maps-devtools.png
Labels: cat: devtools

#2207 user/v-jandrew/new focus mode images for sources
  microsoft-edge/devtools-guide-chromium/media/content-scripts-tab.msft.png
  microsoft-edge/devtools-guide-chromium/media/edit-css.msft.png
  microsoft-edge/devtools-guide-chromium/media/edit-js.msft.png
  microsoft-edge/devtools-guide-chromium/media/editing-js-in-editor-pane.msft.png
  microsoft-edge/devtools-guide-chromium/media/editor-pane.msft.png
  microsoft-edge/devtools-guide-chromium/media/find-replace.msft.png
  microsoft-edge/devtools-guide-chromium/media/local-modifications.msft.png
  microsoft-edge/devtools-guide-chromium/media/minified.msft.png
  microsoft-edge/devtools-guide-chromium/media/navigator-pane.msft.png
  microsoft-edge/devtools-guide-chromium/media/overrides-tab.msft.png
  microsoft-edge/devtools-guide-chromium/media/pretty-printed.msft.png
  microsoft-edge/devtools-guide-chromium/media/snippet.msft.png
  microsoft-edge/devtools-guide-chromium/media/sources-command-menu-to-open-file.msft.png
  microsoft-edge/devtools-guide-chromium/media/sources-filesystem-tab.msft.png
  microsoft-edge/devtools-guide-chromium/media/sources-html-editor.msft.png
  microsoft-edge/devtools-guide-chromium/media/sources-page-tab.msft.png
  microsoft-edge/devtools-guide-chromium/media/sources-panes-narrow-layout.msft.png
  microsoft-edge/devtools-guide-chromium/media/sources-panes-wide-layout.msft.png
  microsoft-edge/devtools-guide-chromium/media/sources-paused-breakpoint-highlight-debug-pane.msft.png
  microsoft-edge/devtools-guide-chromium/media/sources-paused-breakpoint-highlights.msft.png
  microsoft-edge/devtools-guide-chromium/sources/index.md
Labels: cat: devtools

#2208 user/v-jandrew/new focus images for breakpoint
  microsoft-edge/devtools-guide-chromium/javascript/breakpoints.md
  microsoft-edge/devtools-guide-chromium/media/javascript-elements-break-on-subtree-modifications.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-sources-page-js-breakpoint-30.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-sources-page-js-breakpoints-16-33.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-sources-page-js-breakpoints-deactivate-breakpoints.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-sources-page-js-conditional-breakpoint.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-sources-page-js-event-listener-breakpoints-device-deviceorientation.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-sources-page-js-pause-on-exceptions.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-sources-page-js-paused-on-exception.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-sources-page-js-xhr-fetch-breakpoints-org.msft.png
Labels: cat: devtools

#2209 New devtools extension article
  microsoft-edge/devtools-guide-chromium/customize/extensions-images/react-add-on-listing.png
  microsoft-edge/devtools-guide-chromium/customize/extensions-images/react-extensions-panels.png
  microsoft-edge/devtools-guide-chromium/customize/extensions.md
  microsoft-edge/extensions-chromium/developer-guide/devtools-extension.md
  microsoft-edge/extensions-chromium/developer-guide/devtools-extensions-images/devtools-extension-show-greeting.png
  microsoft-edge/extensions-chromium/developer-guide/devtools-extensions-images/devtools-extension-show-position-in-console.png
  microsoft-edge/extensions-chromium/developer-guide/devtools-extensions-images/devtools-extension-show-position.png
  microsoft-edge/extensions-chromium/developer-guide/devtools-extensions-images/devtools-extension-with-memory-info.png
  microsoft-edge/extensions-chromium/developer-guide/devtools-extensions-images/devtools-extension-with-panel.png
  microsoft-edge/extensions-chromium/developer-guide/devtools-extensions-images/devtools-main-toolbar-tabs.png
  microsoft-edge/extensions-chromium/developer-guide/devtools-extensions-images/edge-extensions-page-reload-button.png
  microsoft-edge/extensions-chromium/developer-guide/devtools-extensions-images/edge-extensions-page.png
  microsoft-edge/extensions-chromium/developer-guide/devtools-extensions-images/overall_screenshot_mv3.png
  microsoft-edge/extensions-chromium/developer-guide/devtools-extensions-images/solution-sample-panel.png
  microsoft-edge/toc.yml
Labels: cat: extensions

#2235 Some new intro content for the Network tool index page
  microsoft-edge/devtools-guide-chromium/media/network-glitch-console-bottom.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-console.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-empty-cache-and-hard-reset.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-inspect-network-activity-demo.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-bottom.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-cli-block-add-pattern.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-cli-block-main-css.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-cli-block.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-edit-column.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-filter-empty.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-filter-file-type-css-js.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-filter-file-type-css.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-filter-negative-statement.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-filter-png.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-filter-property-value.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-filter-regex.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-new-resource.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-resources-close-tabs.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-resources-headers.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-resources-preview.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-resources-response.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-resources-timing.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-screenshots-first.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-screenshots-setting.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-screenshots.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-search-cache-control-headers-response-headers.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-search-cache-control.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-search-empty.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network-throttling-slow-3g.msft.png
  microsoft-edge/devtools-guide-chromium/media/network-glitch-network.msft.png
  microsoft-edge/devtools-guide-chromium/network/images/network-tool-filter-textbox.png
  microsoft-edge/devtools-guide-chromium/network/images/network-tool-intro-video.png
  microsoft-edge/devtools-guide-chromium/network/images/network-ui-sections.png
  microsoft-edge/devtools-guide-chromium/network/index.md
Labels: cat: devtools

#2237 Update on timeline for MV2 sunset
  microsoft-edge/extensions-chromium/developer-guide/manifest-v3.md
Labels: cat: extensions

#2259 PWA What's New update for Edge 101 and 105
  microsoft-edge/progressive-web-apps-chromium/whats-new/media/custom-title-bar.png
  microsoft-edge/progressive-web-apps-chromium/whats-new/media/pwa-notifications.png
  microsoft-edge/progressive-web-apps-chromium/whats-new/media/sidebar-search-results.png
  microsoft-edge/progressive-web-apps-chromium/whats-new/media/sidebar-search.png
  microsoft-edge/progressive-web-apps-chromium/whats-new/pwa.md
Labels: cat: pwas

#2258 Contact Github community
  microsoft-edge/extensions-chromium/developer-guide/manifest-v3.md
  microsoft-edge/extensions-chromium/publish/contact-extensions-team.md
Labels: cat: extensions
