Repository MicrosoftDocs/edge-developer, pull requests merged in 2022-04, with the labels that each got.

#1835 New Extensions Analytics
  microsoft-edge/extensions-chromium/media/extension-analytics-installs-filter-language-6-months.png
  microsoft-edge/extensions-chromium/media/extension-analytics-weekly-users-filter-os-30-days.png
  microsoft-edge/extensions-chromium/media/extensions-analytics-enabled-disabled.png
  microsoft-edge/extensions-chromium/media/extensions-analytics-filter-language.png
  microsoft-edge/extensions-chromium/media/extensions-analytics-filter-os.png
  microsoft-edge/extensions-chromium/media/extensions-analytics-filter-region.png
  microsoft-edge/extensions-chromium/media/extensions-analytics-weekly-users-impressions.png
  microsoft-edge/extensions-chromium/media/extensions-analytics-weekly-users-installs.png
  microsoft-edge/extensions-chromium/media/extensions-analytics-weekly-users.png
  microsoft-edge/extensions-chromium/publish/extensions-analytics.md
  microsoft-edge/toc.yml
Labels: cat: extensions

#1851 Change drag and drop code in response to Github issue 1794
  microsoft-edge/webview2/how-to/javascript.md
Labels: cat: webview2

#1853 Release Note typo correction Edge99
  microsoft-edge/webview2/release-notes.md
Labels: cat: webview2

#1854 Update port-chrome-extension.md
  microsoft-edge/extensions-chromium/developer-guide/port-chrome-extension.md
Labels: cat: extensions

#1856 Overview required content and grammar update
  microsoft-edge/extensions-chromium/index.md
Labels: cat: extensions

#1859 [BrokenLinksH2] Fix path in link
  microsoft-edge/web-platform/site-impacting-changes.md
Labels: cat: webplatform

#1861 [BrokenLinksH2] Fix path in link
  microsoft-edge/devtools-guide-chromium/beginners/html.md
Labels: cat: devtools

#1847 Changed text about process handling to call Browser Task Manager
  microsoft-edge/webview2/concepts/process-model.md
Labels: cat: webview2

#1811 Docs for the new Issues Filtering feature
  microsoft-edge/devtools-guide-chromium/issues/index.md
  microsoft-edge/devtools-guide-chromium/issues/media/affected-resource-opens-elements-tool.png
  microsoft-edge/devtools-guide-chromium/issues/media/browser-filter.png
  microsoft-edge/devtools-guide-chromium/issues/media/categories.png
  microsoft-edge/devtools-guide-chromium/issues/media/initial-view-accessibility-page.png
  microsoft-edge/devtools-guide-chromium/issues/media/opened-from-dom-tree-wavy-underline.png
  microsoft-edge/devtools-guide-chromium/issues/media/ordered-by-severity.png
  microsoft-edge/devtools-guide-chromium/issues/media/severity-filter.png
  microsoft-edge/devtools-guide-chromium/issues/media/third-party-checkbox.png
  microsoft-edge/devtools-guide-chromium/issues/media/view-issue-in-network.png
  microsoft-edge/devtools-guide-chromium/issues/media/wavy-underlines-dom-tree.png
  microsoft-edge/devtools-guide-chromium/media/issues-counter-icon.msft.png
  microsoft-edge/devtools-guide-chromium/media/issues-opened-from-dom-tree-wavy-underline.msft.png
  microsoft-edge/devtools-guide-chromium/media/issues-ordered-by-severity.msft.png
  microsoft-edge/devtools-guide-chromium/media/issues-tab-view-issue.msft.png
  microsoft-edge/devtools-guide-chromium/media/issues-tool-affected-resource-opens-elements-tool.msft.png
  microsoft-edge/devtools-guide-chromium/media/issues-tool-categories.msft.png
  microsoft-edge/devtools-guide-chromium/media/issues-tool-initial-view-accessibility-page.msft.png
  microsoft-edge/devtools-guide-chromium/media/issues-wavy-underlines-dom-tree.msft.png
Labels: cat: devtools

#1869 Added Filter Issues to What's New v100
  microsoft-edge/devtools-guide-chromium/whats-new/2022/03/devtools-100-images/browser-filters-filtered-out.png
  microsoft-edge/devtools-guide-chromium/whats-new/2022/03/devtools-100-images/browser-filters-not-filtered.png
  microsoft-edge/devtools-guide-chromium/whats-new/2022/03/devtools-100-images/severity-filter.png
  microsoft-edge/devtools-guide-chromium/whats-new/2022/03/devtools-100.md
Labels: cat: devtools

#1863 Document changes to move from Beta to Release
  microsoft-edge/extensions-chromium/publish/api/addons-api-reference.md
  microsoft-edge/extensions-chromium/publish/api/using-addons-api.md
  microsoft-edge/toc.yml
Labels: cat: extensions

#1877 Remove duplicate paragraph
  microsoft-edge/webview2/concepts/developer-guide.md
Labels: cat: webview2

#1855 Microsoft Edge Add-ons Publish API What's New and Roadmap
  microsoft-edge/extensions-chromium/whats-new/released-features.md
  microsoft-edge/extensions-chromium/whats-new/roadmap.md
Labels: cat: extensions

#1879 Add jump-h2 in "Customize DevTools", add how zoom via Command Menu
  microsoft-edge/devtools-guide-chromium/customize/index.md
  microsoft-edge/devtools-guide-chromium/overview.md
  microsoft-edge/devtools-guide-chromium/shortcuts/index.md
Labels: cat: devtools

#1880 Linked to legacy WebDriver for EdgeHTML
  microsoft-edge/webdriver-chromium/index.md
Labels: cat: webdriver

#1876 Refresh the Background Services page and add 2 missing sections
  microsoft-edge/devtools-guide-chromium/javascript/background-services.md
  microsoft-edge/devtools-guide-chromium/javascript/images/application-background-fetch-details.png
  microsoft-edge/devtools-guide-chromium/javascript/images/application-background-fetch-empty.png
  microsoft-edge/devtools-guide-chromium/javascript/images/application-background-fetch-events.png
  microsoft-edge/devtools-guide-chromium/javascript/images/application-background-sync-details.png
  microsoft-edge/devtools-guide-chromium/javascript/images/application-background-sync-empty.png
  microsoft-edge/devtools-guide-chromium/javascript/images/application-background-sync-events.png
  microsoft-edge/devtools-guide-chromium/javascript/images/application-notifications-details.png
  microsoft-edge/devtools-guide-chromium/javascript/images/application-notifications-empty.png
  microsoft-edge/devtools-guide-chromium/javascript/images/application-notifications-events.png
  microsoft-edge/devtools-guide-chromium/javascript/images/application-periodic-background-sync-empty.png
  microsoft-edge/devtools-guide-chromium/javascript/images/application-periodic-background-sync-events.png
  microsoft-edge/devtools-guide-chromium/javascript/images/application-push-messaging-details.png
  microsoft-edge/devtools-guide-chromium/javascript/images/application-push-messaging-empty.png
  microsoft-edge/devtools-guide-chromium/javascript/images/application-push-messaging-events.png
  microsoft-edge/devtools-guide-chromium/javascript/images/application-reporting-api-details.png
  microsoft-edge/devtools-guide-chromium/javascript/images/application-reporting-api-endpoints.png
  microsoft-edge/devtools-guide-chromium/javascript/images/application-reporting-api-reports.png
  microsoft-edge/devtools-guide-chromium/javascript/images/application-reporting-api.png
  microsoft-edge/devtools-guide-chromium/media/javascript-application-background-services-background-fetch-details.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-application-background-services-background-fetch-empty.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-application-background-services-background-fetch.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-application-background-services-background-sync-details.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-application-background-services-background-sync-empty.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-application-background-services-background-sync.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-application-background-services-notifications-details.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-application-background-services-notifications-empty.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-application-background-services-notifications.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-application-background-services-push-messaging-details.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-application-background-services-push-messaging-empty.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-application-background-services-push-messaging.msft.png
  microsoft-edge/devtools-guide-chromium/media/record-icon.msft.png
Labels: cat: devtools

#1886 Update winforms.md
  microsoft-edge/webview2/get-started/winforms.md
Labels: cat: webview2

#1887 Release Notes for SDK 1.0.1185.39 & 1.0.1222-prerelease
  microsoft-edge/webview2/release-notes.md
Labels: cat: webview2, on-hold

#1900 Add and change links in April release notes
  microsoft-edge/webview2/release-notes.md
Labels: cat: webview2

#1884 Doc'd legacy Microsoft WebDriver for EdgeHTML
  microsoft-edge/webdriver-chromium/index.md
Labels: cat: webdriver

#1857 Updated "Experimental features" for Stable 99/100 & Canary 101/102
  microsoft-edge/devtools-guide-chromium/about-tools.md
  microsoft-edge/devtools-guide-chromium/accessibility/test-tab-key-source-order-viewer.md
  microsoft-edge/devtools-guide-chromium/contact.md
  microsoft-edge/devtools-guide-chromium/experimental-features/focus-mode.md
  microsoft-edge/devtools-guide-chromium/experimental-features/index-images/csp-violations-tool.png
  microsoft-edge/devtools-guide-chromium/experimental-features/index.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/08/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/10/devtools.md
  microsoft-edge/toc.yml
  microsoft-edge/web-we-want/index.md
Labels: cat: devtools

#1885 Clarify that WV2 receives the same updates as Microsoft Edge
  microsoft-edge/webview2/concepts/distribution.md
Labels: cat: webview2

#1897 Include version info in regkey check, and only have the regkey info once
  microsoft-edge/webview2/concepts/distribution.md
Labels: cat: webview2

#1903 Update release-notes.md
  microsoft-edge/webview2/release-notes.md
Labels: cat: webview2

#1904 Fixed image indent/step numbering in Source Maps article
  microsoft-edge/devtools-guide-chromium/javascript/source-maps.md
Labels: cat: devtools

#1901 Fixed a code typo in webpack plugin
  microsoft-edge/devtools-guide-chromium/javascript/publish-source-maps-to-azure.md
Labels: cat: devtools

#1902 Docs for the Payment Handler tool
  microsoft-edge/devtools-guide-chromium/javascript/background-services.md
  microsoft-edge/devtools-guide-chromium/javascript/images/application-payment-handler-details.png
  microsoft-edge/devtools-guide-chromium/javascript/images/application-payment-handler-empty.png
  microsoft-edge/devtools-guide-chromium/javascript/images/application-payment-handler-events.png
Labels: cat: devtools

#1891 Update dual-screen-and-foldables.md
  microsoft-edge/devtools-guide-chromium/device-mode/dual-screen-and-foldables.md
Labels: cat: devtools

#1913 Add block-external-protocols to breaking changes
  microsoft-edge/web-platform/site-impacting-changes.md
Labels: cat: webplatform

#1864 Update memory-inspector-tool.md
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-address-change.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-address-out-of-range.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-address-values-updated-sci.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-address-values-updated.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-devtools-more-tools.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-devtools-welcome.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-go-back-address-history.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-go-forward-address-history.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-jump-to-address.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-open-from-buffer-icon.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-open-from-buffer.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-panel-memory-buffer.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-panel-navigation-bar.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-panel-two.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-panel-value-inspector.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-panel-value-type-settings-float.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-panel-value-type-settings.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-panel-wasm.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-panel.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-refresh.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-resume-script-execution.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-set-breakpoint.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-sources-scope-limited-ability.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-value-type-settings-toggle-back.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-value-type-settings-toggle.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-wasm-breakpoint.png
  microsoft-edge/devtools-guide-chromium/memory-inspector/memory-inspector-tool.md
Labels: cat: devtools

#1919 Renaming WebView2Samples default branch from master to main
  .openpublishing.publish.config.json
  microsoft-edge/webview2/code-samples-links.md
  microsoft-edge/webview2/concepts/clear-browsing-data.md
  microsoft-edge/webview2/concepts/user-data-folder.md
  microsoft-edge/webview2/get-started/win32.md
  microsoft-edge/webview2/get-started/winforms.md
  microsoft-edge/webview2/get-started/winui.md
  microsoft-edge/webview2/get-started/winui2.md
  microsoft-edge/webview2/get-started/wpf.md
  microsoft-edge/webview2/how-to/context-menus.md
  microsoft-edge/webview2/how-to/hostobject.md
  microsoft-edge/webview2/how-to/machine-setup.md
  microsoft-edge/webview2/how-to/set-preview-channel.md
  microsoft-edge/webview2/how-to/webdriver.md
  microsoft-edge/webview2/release-notes.md
  microsoft-edge/webview2/samples/webview2_sample_uwp.md
  microsoft-edge/webview2/samples/webview2apissample.md
  microsoft-edge/webview2/samples/webview2samplewincomp.md
  microsoft-edge/webview2/samples/webview2windowsformsbrowser.md
  microsoft-edge/webview2/samples/webview2wpfbrowser.md
  microsoft-edge/webview2/samples/wv2cdpextensionwpfsample.md
  microsoft-edge/webview2/samples/wv2deploymentvsinstallersample.md
  microsoft-edge/webview2/samples/wv2deploymentwixburnbundlesample.md
  microsoft-edge/webview2/samples/wv2deploymentwixcustomactionsample.md
Labels: doc-enhancement, cat: webview2

#1907 New article "Publish a UWP WebView2 app to the Microsoft Store"
  microsoft-edge/toc.yml
  microsoft-edge/webview2/how-to/publish-uwp-app-store-images/package-selection.png
  microsoft-edge/webview2/how-to/publish-uwp-app-store-images/win-app-cert-kit.png
  microsoft-edge/webview2/how-to/publish-uwp-app-store.md
Labels: cat: webview2
