Repository MicrosoftDocs/edge-developer, pull requests merged in 2022-05, with the labels that each got.

#1908 Adding a few request pattern examples to the Network Request Blocking docs
  microsoft-edge/devtools-guide-chromium/network-request-blocking/network-request-blocking-tool.md
Labels: cat: devtools

#1808 Added article "Web Resource Requested"
  microsoft-edge/toc.yml
  microsoft-edge/webview2/how-to/webresourcerequested-images/sequence-for-modifying-requests.png
  microsoft-edge/webview2/how-to/webresourcerequested-images/sequence-for-overriding-responses.png
  microsoft-edge/webview2/how-to/webresourcerequested.md
Labels: in-progress, cat: webview2

#1920 New images, reorganize, reformat
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-address-change.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-address-values-updated-sci.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-address-values-updated.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-open-from-buffer.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-panel-memory-buffer.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-panel-navigation-bar.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-panel-two.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-panel-value-inspector.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-panel-wasm.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-panel.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-set-breakpoint.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-sources-scope-limited-ability.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-wasm-breakpoint.png
  microsoft-edge/devtools-guide-chromium/memory-inspector/memory-inspector-tool.md
Labels: cat: devtools

#1922 New screencast documentation
  microsoft-edge/devtools-guide-chromium/whats-new/2021/11/devtools.md
  microsoft-edge/visual-studio-code/media/edge-for-code-blurred.msft.png
  microsoft-edge/visual-studio-code/media/edge-for-code-forced-colours.msft.png
  microsoft-edge/visual-studio-code/media/edge-for-code-screencast-v2-emulating.msft.png
  microsoft-edge/visual-studio-code/media/edge-for-code-screencast-v2.msft.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension.md
Labels: cat: devtools, cat: vs_vscode

#1918 Changing the CSS mirroring docs to the new interface
  microsoft-edge/visual-studio-code/media/css-mirror-editing-checkbox.msft.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension.md
Labels: cat: vs_vscode

#1911 New dev videos page
  microsoft-edge/dev-videos/images/css-custom-highlight-api.png
  microsoft-edge/dev-videos/images/detached-elements.png
  microsoft-edge/dev-videos/images/eyedropper-api.png
  microsoft-edge/dev-videos/index.md
  microsoft-edge/toc.yml
Labels: cat: general

#1932 [BrokenLinksH2]
  microsoft-edge/devtools-guide-chromium/whats-new/2020/01/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2021/04/devtools.md
Labels: cat: devtools

#1933 [BrokenLinksH2]
  microsoft-edge/extensions-chromium/publish/api/using-addons-api.md
  microsoft-edge/progressive-web-apps-chromium/how-to/notifications-badges.md
  microsoft-edge/web-platform/site-impacting-changes.md
Labels: cat: general

#1910 New article "Call native-side WinRT code from web-side code"
  microsoft-edge/toc.yml
  microsoft-edge/webview2/how-to/winrt-from-js-images/add-new-project-for-tool.png
  microsoft-edge/webview2/how-to/winrt-from-js-images/add-proj-cpp-winrt.png
  microsoft-edge/webview2/how-to/winrt-from-js-images/config-proj-name-winrtadapter.png
  microsoft-edge/webview2/how-to/winrt-from-js-images/devtools-console-calling-native-side-code.png
  microsoft-edge/webview2/how-to/winrt-from-js-images/fresh-winrtadapter-project.png
  microsoft-edge/webview2/how-to/winrt-from-js-images/include-filters.png
  microsoft-edge/webview2/how-to/winrt-from-js-images/new-uwpp.png
  microsoft-edge/webview2/how-to/winrt-from-js-images/pkg-mgr-wil.png
  microsoft-edge/webview2/how-to/winrt-from-js-images/pkg-mgr-wv2-sdk.png
  microsoft-edge/webview2/how-to/winrt-from-js-images/webview2-winui-2-uwp-sample-app-window.png
  microsoft-edge/webview2/how-to/winrt-from-js-images/winrtadapter-checkbox-ref-mgr-uwp-proj.png
  microsoft-edge/webview2/how-to/winrt-from-js-images/winrtadapter-property-pages.png
  microsoft-edge/webview2/how-to/winrt-from-js.md
Labels: cat: webview2

#1930 Release Note for WebView2 with Stable 101 and prerelease 102
  microsoft-edge/webview2/release-notes.md
Labels: cat: webview2

#1931 Adding a new video about customizing devtools
  microsoft-edge/dev-videos/images/customize-devtools.png
  microsoft-edge/dev-videos/index.md
Labels: cat: devtools

#1917 Changed heading to meet compliance requirement
  microsoft-edge/extensions-chromium/store-policies/developer-policies.md
Labels: cat: extensions

#1934 New Manifest V3 extensions timeline
  microsoft-edge/extensions-chromium/developer-guide/manifest-v3.md
Labels: cat: extensions

#1945 New video for scroll-linked animations
  microsoft-edge/dev-videos/images/scroll-linked-animations.png
  microsoft-edge/dev-videos/index.md
Labels: cat: webplatform

#1936 Updated "Experimental APIs" in "Understand the different WebView2 SDK versions"
  microsoft-edge/toc.yml
  microsoft-edge/webview2/concepts/versioning.md
  microsoft-edge/webview2/how-to/set-preview-channel.md
Labels: cat: webview2

#1948 Selenium 4 required
  microsoft-edge/webdriver-chromium/index.md
Labels: cat: webdriver

#1951 Add /en-us/ in links to https://developer.microsoft.com/microsoft-edge
  README.md
  microsoft-edge/accessibility/build/index.md
  microsoft-edge/devtools-guide-chromium/device-mode/testing-other-browsers.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/11/devtools.md
  microsoft-edge/extensions-chromium/index.md
  microsoft-edge/extensions-chromium/whats-new/released-features.md
  microsoft-edge/index.yml
  microsoft-edge/origin-trials/index.md
  microsoft-edge/progressive-web-apps-chromium/how-to/index.md
  microsoft-edge/progressive-web-apps-chromium/how-to/origin-trials.md
  microsoft-edge/progressive-web-apps-chromium/how-to/window-controls-overlay.md
  microsoft-edge/progressive-web-apps-chromium/whats-new/pwa.md
  microsoft-edge/webdriver-chromium/index.md
  microsoft-edge/webview2/concepts/distribution.md
  microsoft-edge/webview2/concepts/versioning.md
  microsoft-edge/webview2/get-started/get-started.md
  microsoft-edge/webview2/get-started/win32.md
  microsoft-edge/webview2/get-started/winforms.md
  microsoft-edge/webview2/get-started/winui.md
  microsoft-edge/webview2/get-started/winui2.md
  microsoft-edge/webview2/get-started/wpf.md
  microsoft-edge/webview2/how-to/machine-setup.md
  microsoft-edge/webview2/release-notes.md
Labels: cat: general

#1954 Redesigned firstchild page "VS Code for web dev" as nav page
  microsoft-edge/devtools-guide-chromium/sources/opening-sources-in-vscode.md
  microsoft-edge/visual-studio-code/index.md
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension.md
Labels: cat: vs_vscode

#1958 Add document.domain deprecation
  microsoft-edge/web-platform/site-impacting-changes.md
Labels: cat: webplatform

#1944 Microsoft Edge Add-ons | New feature update
  microsoft-edge/extensions-chromium/whats-new/released-features.md
  microsoft-edge/extensions-chromium/whats-new/roadmap.md
Labels: cat: extensions

#1955 Changed master to main
  CONTRIBUTING.md
  microsoft-edge/devtools-guide-chromium/css/reference.md
  microsoft-edge/devtools-guide-chromium/inspect-styles/animations.md
  microsoft-edge/devtools-guide-chromium/remote-debugging/surface-duo-emulator.md
  microsoft-edge/devtools-guide-chromium/whats-new/2019/12/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/05/devtools.md
  microsoft-edge/extensions-chromium/getting-started/part1-simple-extension.md
  microsoft-edge/extensions-chromium/getting-started/part2-content-scripts.md
  microsoft-edge/progressive-web-apps-chromium/how-to/index.md
  microsoft-edge/progressive-web-apps-chromium/how-to/microsoft-store.md
  microsoft-edge/web-platform/tracking-prevention.md
  microsoft-edge/webview2/code-samples-links.md
  microsoft-edge/webview2/get-started/winui.md
  microsoft-edge/webview2/how-to/machine-setup.md
  microsoft-edge/webview2/how-to/webresourcerequested.md
  microsoft-edge/webview2/how-to/winrt-from-js.md
  microsoft-edge/webview2/samples/webview2_sample_uwp.md
  microsoft-edge/webview2/samples/webview2apissample.md
  microsoft-edge/webview2/samples/webview2samplewincomp.md
  microsoft-edge/webview2/samples/webview2windowsformsbrowser.md
  microsoft-edge/webview2/samples/webview2wpfbrowser.md
  microsoft-edge/webview2/samples/wv2cdpextensionwpfsample.md
  microsoft-edge/webview2/samples/wv2deploymentvsinstallersample.md
  microsoft-edge/webview2/samples/wv2deploymentwixburnbundlesample.md
  microsoft-edge/webview2/samples/wv2deploymentwixcustomactionsample.md
  microsoft-edge/webview2/webview2-api-reference.md
Labels: cat: general

#1953 Must add driver exe location to PATH, in "Use WebDriver to automate Microsoft Edge"
  microsoft-edge/webdriver-chromium/ie-mode.md
Labels: cat: webdriver

#1964 New video on the dev-videos page for DevTools Issues filtering
  microsoft-edge/dev-videos/images/advanced-issues-filtering.png
  microsoft-edge/dev-videos/index.md
Labels: cat: devtools

#1956 Fixed 2 small errors in extension tutorial part 2
  microsoft-edge/extensions-chromium/getting-started/part2-content-scripts.md
Labels: cat: extensions

#1967 [image cleanup #1] Initial image cleanup
  microsoft-edge/devtools-guide-chromium/css/reference.md
  microsoft-edge/devtools-guide-chromium/device-mode/index.md
  microsoft-edge/devtools-guide-chromium/device-mode/override-user-agent.md
  microsoft-edge/devtools-guide-chromium/inspect-styles/edit-fonts.md
  microsoft-edge/devtools-guide-chromium/performance-monitor/performance-monitor-tool.md
  microsoft-edge/devtools-guide-chromium/search/search-tool.md
  microsoft-edge/extensions-chromium/getting-started/extension-sideloading.md
  microsoft-edge/extensions-chromium/getting-started/part1-simple-extension.md
  microsoft-edge/extensions-chromium/getting-started/part2-content-scripts.md
  microsoft-edge/extensions-chromium/index.md
  microsoft-edge/privacy-whitepaper/index.md
  microsoft-edge/progressive-web-apps-chromium/demo-pwas.md
  microsoft-edge/progressive-web-apps-chromium/how-to/background-syncs.md
  microsoft-edge/progressive-web-apps-chromium/how-to/handle-files.md
  microsoft-edge/progressive-web-apps-chromium/how-to/index.md
  microsoft-edge/progressive-web-apps-chromium/how-to/microsoft-store.md
  microsoft-edge/progressive-web-apps-chromium/how-to/notifications-badges.md
  microsoft-edge/progressive-web-apps-chromium/how-to/origin-trials.md
  microsoft-edge/progressive-web-apps-chromium/how-to/share.md
  microsoft-edge/progressive-web-apps-chromium/how-to/window-controls-overlay.md
  microsoft-edge/progressive-web-apps-chromium/ux.md
  microsoft-edge/web-platform/ie-to-microsoft-edge-redirection.md
  microsoft-edge/webview2/how-to/set-preview-channel.md
Labels: cat: general

#1950 Search the web for a Console error message string
  microsoft-edge/devtools-guide-chromium/console/console-debug-javascript.md
  microsoft-edge/devtools-guide-chromium/console/index.md
  microsoft-edge/devtools-guide-chromium/media/search-console-icon.msft.png
  microsoft-edge/devtools-guide-chromium/media/search-console-new-tab.msft.png
  microsoft-edge/devtools-guide-chromium/whats-new/2021/09/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2021/10/devtools.md
Labels: cat: devtools

#1970 Update publish-source-maps-to-azure.md
  microsoft-edge/devtools-guide-chromium/javascript/publish-source-maps-to-azure.md
Labels: cat: devtools

#1946 What's New 102
  microsoft-edge/devtools-guide-chromium/about-tools.md
  microsoft-edge/devtools-guide-chromium/accessibility/emulate-vision-deficiencies.md
  microsoft-edge/devtools-guide-chromium/accessibility/navigation.md
  microsoft-edge/devtools-guide-chromium/accessibility/preferred-color-scheme-simulation.md
  microsoft-edge/devtools-guide-chromium/accessibility/test-inspect-text-contrast.md
  microsoft-edge/devtools-guide-chromium/accessibility/test-issues-tool.md
  microsoft-edge/devtools-guide-chromium/css/inspect.md
  microsoft-edge/devtools-guide-chromium/experimental-features/index-images/eyedropper-color-picker-icon.png
  microsoft-edge/devtools-guide-chromium/experimental-features/index.md
  microsoft-edge/devtools-guide-chromium/media/experiments-devtools.msft.png
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots-images/heap-snapshot-strings-json-file.png
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots-images/save-heap-snapshot-strings-json.png
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots.md
  microsoft-edge/devtools-guide-chromium/memory-problems/memory-101-images/filters-retainers-memory-tool-hide-cycled.png
  microsoft-edge/devtools-guide-chromium/memory-problems/memory-101-images/filters-retainers-memory-tool-no-hide-cycled.png
  microsoft-edge/devtools-guide-chromium/memory-problems/memory-101.md
  microsoft-edge/devtools-guide-chromium/overview.md
  microsoft-edge/devtools-guide-chromium/search/search-tool.md
  microsoft-edge/devtools-guide-chromium/sources/index.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/10/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2021/01/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2021/02/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2021/04/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2022/05/devtools-102-images/devtools-ext-new-browser.png
  microsoft-edge/devtools-guide-chromium/whats-new/2022/05/devtools-102-images/emulate-css-media-features-button.png
  microsoft-edge/devtools-guide-chromium/whats-new/2022/05/devtools-102-images/emulate-vision-deficiencies-button.png
  microsoft-edge/devtools-guide-chromium/whats-new/2022/05/devtools-102-images/filters-retainers-memory-tool-hide-cycled.png
  microsoft-edge/devtools-guide-chromium/whats-new/2022/05/devtools-102-images/filters-retainers-memory-tool-no-hide-cycled.png
  microsoft-edge/devtools-guide-chromium/whats-new/2022/05/devtools-102-images/heap-snapshot-strings-json-file.png
  microsoft-edge/devtools-guide-chromium/whats-new/2022/05/devtools-102-images/high-contrast-activity-bar.png
  microsoft-edge/devtools-guide-chromium/whats-new/2022/05/devtools-102-images/high-contrast-detached-elements.png
  microsoft-edge/devtools-guide-chromium/whats-new/2022/05/devtools-102-images/high-contrast-issues-menus.png
  microsoft-edge/devtools-guide-chromium/whats-new/2022/05/devtools-102-images/inspect-element-tooltip-persists.png
  microsoft-edge/devtools-guide-chromium/whats-new/2022/05/devtools-102-images/network-settings-narrow-no-overlap.png
  microsoft-edge/devtools-guide-chromium/whats-new/2022/05/devtools-102-images/network-settings-narrow-overlap.png
  microsoft-edge/devtools-guide-chromium/whats-new/2022/05/devtools-102-images/save-heap-snapshot-strings-json.png
  microsoft-edge/devtools-guide-chromium/whats-new/2022/05/devtools-102-images/settings-experiments-help-icon.png
  microsoft-edge/devtools-guide-chromium/whats-new/2022/05/devtools-102-images/settings-experiments-help-icons.png
  microsoft-edge/devtools-guide-chromium/whats-new/2022/05/devtools-102.md
  microsoft-edge/devtools-guide-chromium/whats-new/includes/edge-whats-new-note.md
  microsoft-edge/devtools-guide-chromium/whats-new/whats-new.md
  microsoft-edge/toc.yml
  microsoft-edge/visual-studio-code/media/edge-for-code-blurred.msft.png
  microsoft-edge/visual-studio-code/media/edge-for-code-forced-colours.msft.png
  microsoft-edge/visual-studio-code/media/edge-for-code-screencast-v2-emulating.msft.png
  microsoft-edge/visual-studio-code/media/edge-for-code-screencast-v2.msft.png
  microsoft-edge/visual-studio-code/media/emulate-css-media-features-button.png
  microsoft-edge/visual-studio-code/media/emulate-vision-deficiencies-button.png
  microsoft-edge/visual-studio-code/media/rotate-button.png
  microsoft-edge/visual-studio-code/media/width-height.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension.md
Labels: cat: devtools

#1976 Doc the Slow Scroll Rects checkbox of 3D View tool
  microsoft-edge/devtools-guide-chromium/3d-view/index.md
  microsoft-edge/devtools-guide-chromium/evaluate-performance/reference.md
Labels: cat: devtools

#1980 Fixed h2 link to not bounce to random h2 section
  microsoft-edge/devtools-guide-chromium/3d-view/index.md
Labels: cat: devtools

#1975 Experiment: Enable instrumentation breakpoints
  microsoft-edge/devtools-guide-chromium/experimental-features/index.md
Labels: cat: devtools

#1978 Correct spelling of Notifications API name
  microsoft-edge/progressive-web-apps-chromium/how-to/notifications-badges.md
Labels: cat: pwas

#1982 Improve selenium's required configuration link
  microsoft-edge/webdriver-chromium/ie-mode.md
Labels: cat: webdriver
