Repository MicrosoftDocs/edge-developer, pull requests merged in 2022-01, with the labels that each got.

#1658 Make the 'Files to ship' section separate from 'Fixed Version'
  microsoft-edge/webview2/concepts/distribution.md
Labels: cat: webview2

#1659 Update from "six" to "four" week cadence
  microsoft-edge/webview2/release-notes.md
Labels: cat: webview2

#1636 Added a section for JSON-encoded results
  microsoft-edge/webview2/concepts/distribution.md
  microsoft-edge/webview2/get-started/winui2.md
  microsoft-edge/webview2/how-to/javascript.md
Labels: cat: webview2

#1663 Update cadence info now that we've made the change to 4 weeks
  microsoft-edge/webview2/concepts/versioning.md
Labels: cat: webview2

#1631 Update how-to-detect-win11.md with Critical-CH header
  microsoft-edge/web-platform/acceptCH.svg
  microsoft-edge/web-platform/criticalCH.svg
  microsoft-edge/web-platform/how-to-detect-win11.md
Labels: cat: webplatform

#1667 Geolocation Updated
  microsoft-edge/privacy-whitepaper/index.md
  microsoft-edge/privacy-whitepaper/media/geolocation2.png
Labels: cat: privacy

#1662 Fix example in ExecuteScript JSON encoded results
  microsoft-edge/webview2/how-to/javascript.md
Labels: cat: webview2

#1661 Added "system user" clarification
  microsoft-edge/webview2/concepts/security.md
Labels: cat: webview2

#1664 What's New 97
  microsoft-edge/devtools-guide-chromium/whats-new/2022/01/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/media/2022/01/3d-view-with-color-theme.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2022/01/detached-elements-tool.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2022/01/extension-settings-launch-arguments.png
  microsoft-edge/devtools-guide-chromium/whats-new/media/2022/01/focus-mode.png
  microsoft-edge/toc.yml
Labels: cat: devtools

#1675 Release + prerelease notes for Edge 97/99
  microsoft-edge/webview2/release-notes.md
Labels: cat: webview2

#1673 Ignore experimental features page when checking for old versions
  scripts/find-references-to-old-versions.js
Labels: cat: general

#1676 Update Site Impacting changes
  microsoft-edge/web-platform/site-impacting-changes.md
Labels: cat: webplatform

#1668 Differentiated More Tools vs. More Tabs
  microsoft-edge/devtools-guide-chromium/accessibility/preferred-color-scheme-simulation.md
Labels: cat: devtools

#1671 Updates to url and protocol handling articles
  microsoft-edge/progressive-web-apps-chromium/how-to/handle-protocols.md
  microsoft-edge/progressive-web-apps-chromium/how-to/handle-urls.md
Labels: cat: pwas

#1682 Added missing value for 21H2
  microsoft-edge/web-platform/how-to-detect-win11.md
Labels: cat: webplatform

#1680 uncommented prerel section + removed iframe api from stable
  microsoft-edge/webview2/release-notes.md
Labels: cat: webview2

#1637 Update on WebView2 no-elevation installer and minor edits...
  microsoft-edge/webview2/concepts/distribution.md
Labels: cat: webview2

#1660 Added section "Fixed Versioning with WinUI/UWP apps"
  microsoft-edge/webview2/concepts/distribution.md
  microsoft-edge/webview2/media/fixedversioning.png
Labels: cat: webview2

#1684 Adding a link to the protocol handling blog post
  microsoft-edge/progressive-web-apps-chromium/how-to/handle-protocols.md
Labels: cat: pwas

#1685 Update WebDriver recommendations for Selenium 3 to 4 migration
  microsoft-edge/webdriver-chromium/capabilities-edge-options.md
  microsoft-edge/webdriver-chromium/index.md
Labels: cat: webdriver

#1697 Remove verify-selenium-tools.md and add redirect
  .openpublishing.redirection.json
  microsoft-edge/toc.yml
  microsoft-edge/webdriver-chromium/verify-selenium-tools.md
Labels: cat: webdriver

#1699 Adding guidance for using flag to simulate <100 UA version number
  microsoft-edge/web-platform/site-impacting-changes.md
Labels: cat: webplatform

#1694 Updated "Using the Microsoft Edge Add-ons API" endpoints
  microsoft-edge/extensions-chromium/media/create-api-credentials-button.png
  microsoft-edge/extensions-chromium/publish/api/addons-api-reference.md
  microsoft-edge/extensions-chromium/publish/api/using-addons-api.md
Labels: cat: extensions

#1695 Updated "Microsoft Edge Add-ons API Reference" endpoints
  microsoft-edge/extensions-chromium/publish/api/addons-api-reference.md
  microsoft-edge/extensions-chromium/publish/api/using-addons-api.md
Labels: cat: extensions

#1704 Updated "Using Add-ons API" as private preview
  microsoft-edge/extensions-chromium/publish/api/addons-api-reference.md
  microsoft-edge/extensions-chromium/publish/api/using-addons-api.md
  microsoft-edge/extensions-chromium/publish/update-extension.md
  microsoft-edge/toc.yml
Labels: cat: extensions

#1705 Updated "Add-ons API Ref" as private preview
  microsoft-edge/extensions-chromium/publish/api/addons-api-reference.md
  microsoft-edge/extensions-chromium/publish/api/using-addons-api.md
  microsoft-edge/toc.yml
Labels: cat: extensions
