Repository MicrosoftDocs/edge-developer, pull requests merged in 2022-08, with the labels that each got.

#2079 Slight change to the eyedropper feature doc
  microsoft-edge/devtools-guide-chromium/css/reference.md
  microsoft-edge/devtools-guide-chromium/media/css-color-picker-eye-dropper.msft.png
Labels: cat: devtools

#2087 Update developer-policies.md
  microsoft-edge/extensions-chromium/store-policies/developer-policies.md
Labels: cat: extensions

#2091 Removing link to VS accessibility checker
  microsoft-edge/accessibility/test.md
Labels: cat: accessibility

#2094 Remove C# from WinRT TOC, re-outline WinRT Refs
  microsoft-edge/toc.yml
  microsoft-edge/webview2/webview2-api-reference.md
Labels: cat: webview2

#2088 Created Enterprise security and compliance section
  microsoft-edge/privacy-whitepaper/index.md
Labels: cat: privacy

#2072 What's New 104 & updated Experiments (Stable 103, Canary 105)
  microsoft-edge/devtools-guide-chromium/experimental-features/index.md
  microsoft-edge/devtools-guide-chromium/whats-new/2022/08/devtools-104-images/3d-view-composited-layers.png
  microsoft-edge/devtools-guide-chromium/whats-new/2022/08/devtools-104-images/a11y-detached-elements.png
  microsoft-edge/devtools-guide-chromium/whats-new/2022/08/devtools-104-images/green-up-arrow.png
  microsoft-edge/devtools-guide-chromium/whats-new/2022/08/devtools-104-images/issues-request-urls-long.png
  microsoft-edge/devtools-guide-chromium/whats-new/2022/08/devtools-104-images/issues-request-urls-short.png
  microsoft-edge/devtools-guide-chromium/whats-new/2022/08/devtools-104-images/network-tool-ws-arrows.png
  microsoft-edge/devtools-guide-chromium/whats-new/2022/08/devtools-104-images/red-down-arrow.png
  microsoft-edge/devtools-guide-chromium/whats-new/2022/08/devtools-104.md
  microsoft-edge/devtools-guide-chromium/whats-new/whats-new.md
  microsoft-edge/toc.yml
Labels: cat: devtools

#2093 WebView2 Process Model CoreWebView2Environment sharing clarifications
  microsoft-edge/webview2/concepts/process-model.md
Labels: cat: webview2

#2099 Release notes for 104
  microsoft-edge/webview2/release-notes.md
Labels: cat: webview2

#1909 Add "Library Support" section in "Using the Microsoft Edge Add-ons API"
  microsoft-edge/extensions-chromium/publish/api/using-addons-api.md
Labels: cat: extensions

#2089 Update to Declare API permissions in extension manifests
  microsoft-edge/extensions-chromium/developer-guide/declare-permissions.md
Labels: cat: extensions

#2106 Fixing the issues article and updating images
  microsoft-edge/devtools-guide-chromium/experimental-features/index-images/csp-violations-tool.png
  microsoft-edge/devtools-guide-chromium/issues/index.md
  microsoft-edge/devtools-guide-chromium/issues/media/affected-resource-opens-elements-tool.png
  microsoft-edge/devtools-guide-chromium/issues/media/browser-filter.png
  microsoft-edge/devtools-guide-chromium/issues/media/categories.png
  microsoft-edge/devtools-guide-chromium/issues/media/initial-view-accessibility-page.png
  microsoft-edge/devtools-guide-chromium/issues/media/issues-icon.png
  microsoft-edge/devtools-guide-chromium/issues/media/opened-from-dom-tree-wavy-underline.png
  microsoft-edge/devtools-guide-chromium/issues/media/ordered-by-severity.png
  microsoft-edge/devtools-guide-chromium/issues/media/severity-filter.png
  microsoft-edge/devtools-guide-chromium/issues/media/third-party-checkbox.png
  microsoft-edge/devtools-guide-chromium/issues/media/view-issue-in-network.png
  microsoft-edge/devtools-guide-chromium/issues/media/wavy-underlines-dom-tree.png
  microsoft-edge/devtools-guide-chromium/media/experiment-sources-in-code-editor-open.msft.png
  microsoft-edge/devtools-guide-chromium/media/experiments-webhint.msft.png
  microsoft-edge/devtools-guide-chromium/media/font-editor-open.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-overrides-changing-styles.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-overrides-file-name.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-overrides-file-stored.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-overrides-folder-setup-complete.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-overrides-give-access-to-folder.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-overrides-menu.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-overrides-network.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-overrides-overflow-menu.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-overrides-safe-from-sources.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-overrides-save-for-overrides.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-overrides-select-css-file.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-overrides-select-folder.msft.png
Labels: cat: devtools

#2092 updated winrt doc to include 3p components and async calls
  microsoft-edge/webview2/how-to/winrt-from-js-images/wv2winrt-custom-components.png
  microsoft-edge/webview2/how-to/winrt-from-js.md
Labels: cat: webview2

#2115 Add focus mode images
  microsoft-edge/devtools-guide-chromium/media/accessibility-console-create-live-expression-empty.msft.png
  microsoft-edge/devtools-guide-chromium/media/accessibility-lighthouse-result-issue-expanded.msft.png
  microsoft-edge/devtools-guide-chromium/media/accessibility-lighthouse-result.msft.png
  microsoft-edge/devtools-guide-chromium/media/accessibility-lighthouse.msft.png
  microsoft-edge/devtools-guide-chromium/media/accessibility-web-dev-accessibility-audits-learn-more.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-console-command-menu-rendering.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-elements-styles-qs-simulated-light-mode.msft.png
  microsoft-edge/devtools-guide-chromium/media/find-in-dom-tree.png
  microsoft-edge/devtools-guide-chromium/media/inspect-tool-flexbox-overlay.msft.png
  microsoft-edge/devtools-guide-chromium/media/media-panel-empty.msft.png
  microsoft-edge/devtools-guide-chromium/media/media-panel-events.msft.png
  microsoft-edge/devtools-guide-chromium/media/media-panel-hide-show.msft.png
  microsoft-edge/devtools-guide-chromium/media/media-panel-messages.msft.png
  microsoft-edge/devtools-guide-chromium/media/media-panel-save.msft.png
  microsoft-edge/devtools-guide-chromium/media/media-panel-timeline.msft.png
  microsoft-edge/devtools-guide-chromium/media/media-panel-view.msft.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-address-change.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-address-values-updated-sci.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-address-values-updated.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-open-from-buffer.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-panel-memory-buffer.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-panel-navigation-bar.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-panel-two.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-panel-value-inspector.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-panel-wasm.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-panel.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-set-breakpoint.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-sources-scope-limited-ability.png
  microsoft-edge/devtools-guide-chromium/media/memory-inspector-wasm-breakpoint.png
  microsoft-edge/devtools-guide-chromium/media/reduced-motion-command-menu-entry.png
  microsoft-edge/devtools-guide-chromium/media/reduced-motion-open-command-menu.png
Labels: cat: devtools

#2114 Updated images and doc for showing workspaces in DevTools focus mode
  microsoft-edge/devtools-guide-chromium/media/workspaces-workspaces-demo-console.msft.png
  microsoft-edge/devtools-guide-chromium/media/workspaces-workspaces-demo-elements-styles-css.msft.png
  microsoft-edge/devtools-guide-chromium/media/workspaces-workspaces-demo-elements-styles-quick-source-script.msft.png
  microsoft-edge/devtools-guide-chromium/media/workspaces-workspaces-demo-search-script.msft.png
  microsoft-edge/devtools-guide-chromium/media/workspaces-workspaces-demo-search-show-quick-source.msft.png
  microsoft-edge/devtools-guide-chromium/media/workspaces-workspaces-demo-sources-filesystem-css.msft.png
  microsoft-edge/devtools-guide-chromium/media/workspaces-workspaces-demo-sources-filesystem-folder.msft.png
  microsoft-edge/devtools-guide-chromium/media/workspaces-workspaces-demo-sources-filesystem.msft.png
  microsoft-edge/devtools-guide-chromium/media/workspaces-workspaces-demo-sources-page-h1.msft.png
  microsoft-edge/devtools-guide-chromium/media/workspaces-workspaces-demo.msft.png
  microsoft-edge/devtools-guide-chromium/workspaces/index.md
Labels: cat: devtools

#2112 FocusModeBash Update to console live expressions
  microsoft-edge/devtools-guide-chromium/console/live-expressions.md
  microsoft-edge/devtools-guide-chromium/media/console-live-expression-mouse-logging.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-live-expressions-document-active-element-nav-button.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-live-expressions-document-active-element-search.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-live-expressions-document-active-element.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-live-expressions-new.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-live-expressions-remove.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-live-expressions-x-and-y.msft.png
Labels: cat: devtools

#2107 Focus Mode screenshots for device mode, coverage, css-in-js, css overview, and grid
  microsoft-edge/devtools-guide-chromium/coverage/index.md
  microsoft-edge/devtools-guide-chromium/css/css-in-js.md
  microsoft-edge/devtools-guide-chromium/css/css-overview-tool.md
  microsoft-edge/devtools-guide-chromium/css/grid.md
  microsoft-edge/devtools-guide-chromium/css/images/copy-declaration-as-js.msft.png
  microsoft-edge/devtools-guide-chromium/css/images/css-overview-contrast-issue.png
  microsoft-edge/devtools-guide-chromium/css/images/css-overview-in-more-tools.png
  microsoft-edge/devtools-guide-chromium/css/images/css-overview-summary.png
  microsoft-edge/devtools-guide-chromium/device-mode/images/emulated-devices-user-agent-client-hints.msft.png
  microsoft-edge/devtools-guide-chromium/device-mode/index.md
  microsoft-edge/devtools-guide-chromium/media/coverage-console-drawer-coverage-empty.msft.png
  microsoft-edge/devtools-guide-chromium/media/coverage-console-from-more-tools.png
  microsoft-edge/devtools-guide-chromium/media/coverage-sources-resource-drawer-coverage-selected.msft.png
  microsoft-edge/devtools-guide-chromium/media/coverage-sources-resource-drawer-coverage.msft.png
  microsoft-edge/devtools-guide-chromium/media/css-in-js.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-command-menu-throttle.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-network-throttle.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-performance-cpu-throttle.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-performance-network-throttle.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-resize-device-toolbar.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-click-breakpoint.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-command-menu-network-conditions.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-command-menu-sensors.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-device-list-edit.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-device-list.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-device-type-list.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-handles-highlighted.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-highlighted.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-landscape.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-more-options-show-media-queries.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-more-tools-network-conditions.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-more-tools-sensors.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-network-conditions-macos.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-option-show-device-frame.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-options-device-frame-iphone-6.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-options-show-rulers.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-rulers.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-sensors-tokyo-portrait-upside-down.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-sensors-tokyo.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-settings-emulated-devices-add.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-throttle.msft.png
  microsoft-edge/devtools-guide-chromium/media/device-mode-toggle-device-toolbar-zoom.msft.png
  microsoft-edge/devtools-guide-chromium/media/grid-discover-grid.msft.png
  microsoft-edge/devtools-guide-chromium/media/grid-extend-grid-lines.msft.png
  microsoft-edge/devtools-guide-chromium/media/grid-grid-overlays-color.msft.png
  microsoft-edge/devtools-guide-chromium/media/grid-grid-overlays-highlight.msft.png
  microsoft-edge/devtools-guide-chromium/media/grid-grid-overlays.msft.png
  microsoft-edge/devtools-guide-chromium/media/grid-hide-line-labels.msft.png
  microsoft-edge/devtools-guide-chromium/media/grid-highlight-grid.msft.png
  microsoft-edge/devtools-guide-chromium/media/grid-layout-pane.msft.png
  microsoft-edge/devtools-guide-chromium/media/grid-show-area-names.msft.png
  microsoft-edge/devtools-guide-chromium/media/grid-show-line-names.msft.png
  microsoft-edge/devtools-guide-chromium/media/grid-show-line-numbers.msft.png
  microsoft-edge/devtools-guide-chromium/media/grid-show-track-sizes.msft.png
  microsoft-edge/devtools-guide-chromium/media/show-element-in-element-panel-icon.msft.png
  microsoft-edge/devtools-guide-chromium/media/todo-app-coverage-report.png
Labels: cat: devtools

#2109 Updates Search tool documentation and screenshots
  microsoft-edge/devtools-guide-chromium/media/search-tool/open-search-tool.png
  microsoft-edge/devtools-guide-chromium/media/search-tool/search-tool-first-open.png
  microsoft-edge/devtools-guide-chromium/media/search-tool/search-tool-open-in-sources.png
  microsoft-edge/devtools-guide-chromium/media/search-tool/search-tool-regexp.png
  microsoft-edge/devtools-guide-chromium/media/search-tool/search-tool-search-results.png
  microsoft-edge/devtools-guide-chromium/search/search-tool.md
Labels: cat: devtools

#2111 Performance updates
  microsoft-edge/devtools-guide-chromium/evaluate-performance/images/disable-local-fonts.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/reference.md
  microsoft-edge/devtools-guide-chromium/media/evaluate-performance-bing-console-drawer-rendering-scrolling-performance-issues.msft.png
  microsoft-edge/devtools-guide-chromium/media/evaluate-performance-console-drawer-rendering.msft.png
  microsoft-edge/devtools-guide-chromium/media/evaluate-performance-devtools-console-rendering-layer-borders.msft.png
  microsoft-edge/devtools-guide-chromium/media/evaluate-performance-jank-console-rendering-frame-rate.msft.png
  microsoft-edge/devtools-guide-chromium/media/evaluate-performance-jank-console-rendering-paint-flashing.msft.png
  microsoft-edge/devtools-guide-chromium/media/evaluate-performance-performance-bottoms-up.msft.png
  microsoft-edge/devtools-guide-chromium/media/evaluate-performance-performance-call-tree.msft.png
  microsoft-edge/devtools-guide-chromium/media/evaluate-performance-performance-capture-screenshots-checkbox.msft.png
  microsoft-edge/devtools-guide-chromium/media/evaluate-performance-performance-capture-settings-button-open-drawer.msft.png
  microsoft-edge/devtools-guide-chromium/media/evaluate-performance-performance-collect-garbage-button.msft.png
  microsoft-edge/devtools-guide-chromium/media/evaluate-performance-performance-event-log.msft.png
  microsoft-edge/devtools-guide-chromium/media/evaluate-performance-performance-gpu-zoomed.msft.png
  microsoft-edge/devtools-guide-chromium/media/evaluate-performance-performance-main-flame-chart.msft.png
  microsoft-edge/devtools-guide-chromium/media/evaluate-performance-performance-main-zoomed.msft.png
  microsoft-edge/devtools-guide-chromium/media/evaluate-performance-performance-memory-chart.msft.png
  microsoft-edge/devtools-guide-chromium/media/evaluate-performance-performance-memory-highlight.msft.png
  microsoft-edge/devtools-guide-chromium/media/evaluate-performance-performance-network.msft.png
  microsoft-edge/devtools-guide-chromium/media/evaluate-performance-performance-raster.msft.png
  microsoft-edge/devtools-guide-chromium/media/evaluate-performance-performance-record-highlight.msft.png
  microsoft-edge/devtools-guide-chromium/media/evaluate-performance-performance-refresh-button.msft.png
  microsoft-edge/devtools-guide-chromium/media/evaluate-performance-performance-refreshed-disable-javascript-samples-checkbox-off-clear-button.msft.png
  microsoft-edge/devtools-guide-chromium/media/evaluate-performance-performance-refreshed-disable-javascript-samples-checkbox-off-load-profile.msft.png
  microsoft-edge/devtools-guide-chromium/media/evaluate-performance-performance-refreshed-disable-javascript-samples-checkbox-off-save-profile.msft.png
  microsoft-edge/devtools-guide-chromium/media/evaluate-performance-performance-refreshed-disable-javascript-samples-checkbox-off.msft.png
  microsoft-edge/devtools-guide-chromium/media/evaluate-performance-performance-refreshed-disable-javascript-samples-checkbox-on.msft.png
  microsoft-edge/devtools-guide-chromium/media/evaluate-performance-performance-refreshed.msft.png
  microsoft-edge/devtools-guide-chromium/media/evaluate-performance-performance-screenshots-hover.msft.png
  microsoft-edge/devtools-guide-chromium/media/evaluate-performance-performance-search-regex.msft.png
  microsoft-edge/devtools-guide-chromium/media/evaluate-performance-performance-summary-me.msft.png
  microsoft-edge/devtools-guide-chromium/media/evaluate-performance-performance-summary-preview-select.msft.png
  microsoft-edge/devtools-guide-chromium/media/evaluate-performance-performance-summary-preview.msft.png
  microsoft-edge/devtools-guide-chromium/media/evaluate-performance-performance-zoom-highlighted.msft.png
Labels: cat: devtools

#2119 Focus Mode: Update console images
  microsoft-edge/devtools-guide-chromium/console/console-debug-javascript.md
  microsoft-edge/devtools-guide-chromium/console/index.md
  microsoft-edge/devtools-guide-chromium/console/utilities.md
  microsoft-edge/devtools-guide-chromium/media/console-arithmatic.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-array-length.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-array-xpath-startnode.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-array-xpath.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-debug-displays-error.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-debug-displays-in-sources.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-debug-error-assert.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-debug-network-error-code-error.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-debug-network-error-code-line.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-debug-network-error-fixed.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-debug-network-error-network-detail.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-debug-network-error-network.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-debug-network-error-report.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-debug-network-error-sources.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-debug-network-error-url.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-debug-network-error.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-debug-text.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-debug-trace.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-dir-document-head-expanded.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-element-selector-image-all.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-element-selector-image-filter-all.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-element-selector-image-filter-source.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-element-selector-image-source.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-element-selector-image.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-elements-event-listeners-console-get-event-listeners-document-2.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-elements-event-listeners-console-get-event-listeners-document-expanded-1.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-elements-event-listeners-console-get-event-listeners-document.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-function-monitor-sum.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-image-highlighted-$0.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-image-highlighted-$1.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-inspect-document-body.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-intro-changing-styles.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-intro-console-main.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-intro-console-panel.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-intro-logging.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-intro-noise.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-intro-reading-dom.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-intro-wrtiting-dom.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-javascript-autocomplete.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-javascript-eager-evaluation.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-javascript-several-expressions.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-keys-values.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-memory-multiple-cpu-profiles.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-monitor-events-resize-window.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-monitor-events-type-t-y.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-table-display.msft.png
  microsoft-edge/devtools-guide-chromium/media/search-console-icon.msft.png
  microsoft-edge/devtools-guide-chromium/media/search-console-new-tab.msft.png
Labels: cat: devtools

#2122 Focus Mode screenshot updates for the Console DOM interactions article.
  microsoft-edge/devtools-guide-chromium/console/console-dom-interaction.md
  microsoft-edge/devtools-guide-chromium/media/console-dom-add-border.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-dom-change-content.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-dom-complex-css-selector.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-dom-copy-js-path.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-dom-filter-link-data.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-dom-filter-out-empty-links.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-dom-get-all-links.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-dom-get-form-events.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-dom-get-generated-headings.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-dom-get-reference.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-dom-highlight-documentation.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-dom-highlight-element.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-dom-highlight-links.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-dom-monitor-events.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-dom-monitor-key-events.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-dom-overflow-menu-in-elements.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-dom-too-much-link-information.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-dom-use-inspector-to-get-element.msft.png
Labels: cat: devtools

#2110 Focus Mode eg "IE mode" article
  microsoft-edge/devtools-guide-chromium/customize/placement.md
  microsoft-edge/devtools-guide-chromium/ie-mode/index-images/bing-not-ie-mode.png
  microsoft-edge/devtools-guide-chromium/ie-mode/index-images/ie-chooser.png
  microsoft-edge/devtools-guide-chromium/ie-mode/index-images/ie-devtools.png
  microsoft-edge/devtools-guide-chromium/ie-mode/index-images/page-open-ie-mode.png
  microsoft-edge/devtools-guide-chromium/ie-mode/index-images/right-click-tab.png
  microsoft-edge/devtools-guide-chromium/ie-mode/index-images/settings-page.png
  microsoft-edge/devtools-guide-chromium/ie-mode/index.md
  microsoft-edge/devtools-guide-chromium/javascript/disable.md
  microsoft-edge/devtools-guide-chromium/javascript/index.md
  microsoft-edge/devtools-guide-chromium/media/bottom-icon.png
  microsoft-edge/devtools-guide-chromium/media/devtools-intro-docking-bottom.msft.png
  microsoft-edge/devtools-guide-chromium/media/devtools-intro-docking-left.msft.png
  microsoft-edge/devtools-guide-chromium/media/devtools-intro-docking-menu.msft.png
  microsoft-edge/devtools-guide-chromium/media/devtools-intro-docking-own-window.msft.png
  microsoft-edge/devtools-guide-chromium/media/devtools-intro-docking-right.msft.png
  microsoft-edge/devtools-guide-chromium/media/ie-mode-badge-doc-mode.msft.png
  microsoft-edge/devtools-guide-chromium/media/ie-mode-badge.msft.png
  microsoft-edge/devtools-guide-chromium/media/ie-mode-devtools.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-console-command-javascript.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-console-command.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-console-empty.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-console-javascript-disabled-warning.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-sources-breakpoint-paused-console.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-sources-breakpoint-paused-scope.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-sources-breakpoint-paused-watch.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-sources-breakpoint-paused.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-sources-event-listener-breakpoint-mouse-click.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-sources-sections-annotated.msft.png
  microsoft-edge/devtools-guide-chromium/media/javascript-sources-sections.msft.png
  microsoft-edge/devtools-guide-chromium/media/left-side-icon.png
  microsoft-edge/devtools-guide-chromium/media/pop-out-window-icon.png
  microsoft-edge/devtools-guide-chromium/media/right-side-icon.png
  microsoft-edge/devtools-guide-chromium/memory-problems/dom-leaks.md
  microsoft-edge/devtools-guide-chromium/memory-problems/images/analyze-detached-elements.msft.png
  microsoft-edge/devtools-guide-chromium/memory-problems/images/analyze-result-ids-shown.png
  microsoft-edge/devtools-guide-chromium/memory-problems/images/detached-elements-demo-app.msft.png
  microsoft-edge/devtools-guide-chromium/memory-problems/images/detached-elements-heap-snapshot.msft.png
  microsoft-edge/devtools-guide-chromium/memory-problems/images/detached-elements-javascript-retainers.msft.png
  microsoft-edge/devtools-guide-chromium/memory-problems/images/detached-elements-reattached.msft.png
  microsoft-edge/devtools-guide-chromium/memory-problems/images/detached-elements-remove-links.msft.png
  microsoft-edge/devtools-guide-chromium/memory-problems/images/detached-elements-target-dropdown.msft.png
  microsoft-edge/devtools-guide-chromium/memory-problems/images/get-detached-elements.msft.png
  microsoft-edge/devtools-guide-chromium/memory-problems/images/line-13.png
  microsoft-edge/devtools-guide-chromium/memory-problems/images/open-detached-elements.msft.png
  microsoft-edge/devtools-guide-chromium/speed/get-started.md
Labels: cat: devtools

#2120 Focus Mode: screenshot updates for webauth, welcome-tool, and webaudio articles
  microsoft-edge/devtools-guide-chromium/media/webaudio-tool.png
  microsoft-edge/devtools-guide-chromium/media/webauthn-authenticator.msft.png
  microsoft-edge/devtools-guide-chromium/media/webauthn-enable-virtual-auth.msft.png
  microsoft-edge/devtools-guide-chromium/media/webauthn-export-remove.msft.png
  microsoft-edge/devtools-guide-chromium/media/webauthn-no-cred.msft.png
  microsoft-edge/devtools-guide-chromium/media/webauthn-remove-authenticator.msft.png
  microsoft-edge/devtools-guide-chromium/media/webauthn-rename.msft.png
  microsoft-edge/devtools-guide-chromium/media/webauthn-set-active.msft.png
  microsoft-edge/devtools-guide-chromium/media/webauthn-view-cred.msft.png
  microsoft-edge/devtools-guide-chromium/media/webauthn-webauthn-tab.msft.png
  microsoft-edge/devtools-guide-chromium/media/welcome-tool.png
  microsoft-edge/devtools-guide-chromium/webaudio/webaudio-tool.md
  microsoft-edge/devtools-guide-chromium/webauthn/index.md
Labels: cat: devtools

#2127 Updating screenshots for focus mode docs bash
  microsoft-edge/devtools-guide-chromium/contact.md
  microsoft-edge/devtools-guide-chromium/media/a11y-testing-hover-simulated.msft.png
  microsoft-edge/devtools-guide-chromium/media/accessibility-elements-accessibility-aria-attributes.msft.png
  microsoft-edge/devtools-guide-chromium/media/accessibility-elements-accessibility-computed-properties.msft.png
  microsoft-edge/devtools-guide-chromium/media/accessibility-elements-accessibility-tree.msft.png
  microsoft-edge/devtools-guide-chromium/media/accessibility-elements-accessibility.msft.png
  microsoft-edge/devtools-guide-chromium/media/accessibility-elements-paragraph-highlight.msft.png
  microsoft-edge/devtools-guide-chromium/media/accessibility-elements-styles-paragraph-highlight-color-picker-contrast-ratio-details.msft.png
  microsoft-edge/devtools-guide-chromium/media/accessibility-elements-styles-paragraph-highlight-color-picker.msft.png
  microsoft-edge/devtools-guide-chromium/media/accessibility-elements-styles-paragraph-highlight-color.msft.png
  microsoft-edge/devtools-guide-chromium/media/devtools-send-feedback-window.png
Labels: cat: devtools

#2129 Focus Mode Docs Bash: images for console api and background services docs
  microsoft-edge/devtools-guide-chromium/console/api.md
  microsoft-edge/devtools-guide-chromium/javascript/background-services.md
  microsoft-edge/devtools-guide-chromium/javascript/images/application-background-fetch-details.png
  microsoft-edge/devtools-guide-chromium/javascript/images/application-background-fetch-empty.png
  microsoft-edge/devtools-guide-chromium/javascript/images/application-background-fetch-events.png
  microsoft-edge/devtools-guide-chromium/javascript/images/application-background-sync-details.png
  microsoft-edge/devtools-guide-chromium/javascript/images/application-background-sync-empty.png
  microsoft-edge/devtools-guide-chromium/javascript/images/application-background-sync-events.png
  microsoft-edge/devtools-guide-chromium/javascript/images/application-notifications-details.png
  microsoft-edge/devtools-guide-chromium/javascript/images/application-notifications-empty.png
  microsoft-edge/devtools-guide-chromium/javascript/images/application-notifications-events.png
  microsoft-edge/devtools-guide-chromium/javascript/images/application-payment-handler-details.png
  microsoft-edge/devtools-guide-chromium/javascript/images/application-payment-handler-empty.png
  microsoft-edge/devtools-guide-chromium/javascript/images/application-payment-handler-events.png
  microsoft-edge/devtools-guide-chromium/javascript/images/application-periodic-background-sync-empty.png
  microsoft-edge/devtools-guide-chromium/javascript/images/application-periodic-background-sync-events.png
  microsoft-edge/devtools-guide-chromium/javascript/images/application-push-messaging-details.png
  microsoft-edge/devtools-guide-chromium/javascript/images/application-push-messaging-empty.png
  microsoft-edge/devtools-guide-chromium/javascript/images/application-push-messaging-events.png
  microsoft-edge/devtools-guide-chromium/javascript/images/application-reporting-api-details.png
  microsoft-edge/devtools-guide-chromium/javascript/images/application-reporting-api-endpoints.png
  microsoft-edge/devtools-guide-chromium/javascript/images/application-reporting-api-reports.png
  microsoft-edge/devtools-guide-chromium/javascript/images/application-reporting-api.png
  microsoft-edge/devtools-guide-chromium/media/console-demo-assert-button.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-demo-count-button.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-demo-debug-button.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-demo-dir-button.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-demo-dirxml-button.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-demo-error-button.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-demo-group-button.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-demo-info-button.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-demo-log-button.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-demo-table-button.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-demo-time-button.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-demo-trace-button.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-demo-warn-button.msft.png
Labels: cat: devtools

#2130 WebView2 in WinUI 2 is no longer in preview
  microsoft-edge/webview2/index.md
Labels: cat: webview2

#2113 Add documentation for os regional settings feature
  microsoft-edge/toc.yml
  microsoft-edge/web-platform/media/os-regional-setting-screenshot.png
  microsoft-edge/web-platform/os-regional-settings.md
Labels: cat: webplatform

#2126 Added Favicon API in browser features section
  microsoft-edge/webview2/concepts/overview-features-apis.md
Labels: cat: webview2

#2134 Copyedits in "Operating System Regional Data Display"
  microsoft-edge/web-platform/media/os-regional-setting.png
  microsoft-edge/web-platform/media/preferred-languages.png
  microsoft-edge/web-platform/os-regional-settings.md
Labels: cat: webplatform

#2098 Edited "NASA Picture of the Day
  microsoft-edge/extensions-chromium/getting-started/media/part2-popupdialog.png
  microsoft-edge/extensions-chromium/getting-started/part2-content-scripts.md
Labels: cat: extensions

#2116 Icon Sizes
  microsoft-edge/progressive-web-apps-chromium/how-to/..media/windows-image-app-icon.png
  microsoft-edge/progressive-web-apps-chromium/how-to/icon-theme-color.md
  microsoft-edge/progressive-web-apps-chromium/media/windows-image-display-scales.png
  microsoft-edge/progressive-web-apps-chromium/media/windows-image-large-tile.png
  microsoft-edge/progressive-web-apps-chromium/media/windows-image-medium-tile.png
  microsoft-edge/progressive-web-apps-chromium/media/windows-image-small-tile.png
  microsoft-edge/progressive-web-apps-chromium/media/windows-image-splash.png
  microsoft-edge/progressive-web-apps-chromium/media/windows-image-store-logo.png
  microsoft-edge/progressive-web-apps-chromium/media/windows-image-target-size.png
  microsoft-edge/progressive-web-apps-chromium/media/windows-image-wide-tile.png
Labels: cat: pwas

#2133 Update and simplify the PWA getting started guide
  microsoft-edge/progressive-web-apps-chromium/how-to/index.md
  microsoft-edge/progressive-web-apps-chromium/media/devtools-cache.png
  microsoft-edge/progressive-web-apps-chromium/media/devtools-offline.png
  microsoft-edge/progressive-web-apps-chromium/media/devtools-sw-overview.png
  microsoft-edge/progressive-web-apps-chromium/media/progressive-web-app.png
  microsoft-edge/progressive-web-apps-chromium/media/sample-pwa-app-available-button.png
  microsoft-edge/progressive-web-apps-chromium/media/sample-pwa-app.png
  microsoft-edge/progressive-web-apps-chromium/media/sample-pwa-installed.png
  microsoft-edge/progressive-web-apps-chromium/media/visual-studio-nodejs-express-index.png
  microsoft-edge/progressive-web-apps-chromium/media/visual-studio-project-with-manifest.png
Labels: cat: pwas

#2138 DevTools docs for PWA Protocol Handlers feature
  microsoft-edge/devtools-guide-chromium/progressive-web-apps/images/protocol-handlers-defined.png
  microsoft-edge/devtools-guide-chromium/progressive-web-apps/images/protocol-handlers-not-defined.png
  microsoft-edge/devtools-guide-chromium/progressive-web-apps/images/test-protocol-handlers.png
  microsoft-edge/devtools-guide-chromium/progressive-web-apps/protocol-handlers.md
  microsoft-edge/progressive-web-apps-chromium/how-to/handle-protocols.md
  microsoft-edge/toc.yml
Labels: cat: pwas

#2139 New PWA sample
  microsoft-edge/progressive-web-apps-chromium/demo-pwas.md
  microsoft-edge/progressive-web-apps-chromium/media/pwamp.png
Labels: cat: pwas

#2136 Added missing 103 and 104 devtools what's new videos
  microsoft-edge/dev-videos/images/devtools-whatsnew-103.png
  microsoft-edge/dev-videos/images/devtools-whatsnew-104.png
  microsoft-edge/dev-videos/index.md
Labels: cat: devtools
