Repository MicrosoftDocs/edge-developer, pull requests merged in 2022-06, with the labels that each got.

#1965 New dev videos about the experimental <selectmenu> element and devtools what's new
  microsoft-edge/dev-videos/images/devtools-whatsnew-100.png
  microsoft-edge/dev-videos/images/devtools-whatsnew-101.png
  microsoft-edge/dev-videos/images/devtools-whatsnew-94.png
  microsoft-edge/dev-videos/images/devtools-whatsnew-95.png
  microsoft-edge/dev-videos/images/devtools-whatsnew-96.png
  microsoft-edge/dev-videos/images/devtools-whatsnew-97.png
  microsoft-edge/dev-videos/images/devtools-whatsnew-98.png
  microsoft-edge/dev-videos/images/devtools-whatsnew-99.png
  microsoft-edge/dev-videos/images/selectmenu.png
  microsoft-edge/dev-videos/index.md
Labels: in-progress, cat: devtools, cat: webplatform

#1979 Improved note about webhint extension
  microsoft-edge/test-and-automation/webhint.md
  microsoft-edge/visual-studio-code/index.md
Labels: cat: vs_vscode

#1984 Removed the outdated dual-screen flag info
  microsoft-edge/devtools-guide-chromium/device-mode/dual-screen-and-foldables.md
  microsoft-edge/devtools-guide-chromium/media/experiments-dual-screen-emulation-edge-flags.msft.png
Labels: cat: devtools

#1966 Purview rebrand update
  microsoft-edge/privacy-whitepaper/index.md
Labels: cat: privacy

#1993 Added link to install PWA
  microsoft-edge/progressive-web-apps-chromium/how-to/index.md
Labels: cat: pwas

#2000 New devtools localization and whatsnew videos
  microsoft-edge/dev-videos/images/devtools-localization.png
  microsoft-edge/dev-videos/images/devtools-whatsnew-102.png
  microsoft-edge/dev-videos/index.md
Labels: cat: devtools

#1963 Added articles "Reply to user reviews" & "Verify account information"
  microsoft-edge/extensions-chromium/publish/create-dev-account.md
  microsoft-edge/extensions-chromium/publish/extensions-analytics.md
  microsoft-edge/extensions-chromium/publish/media/account-settings-legal-info-microsoft-edge-partner-center.png
  microsoft-edge/extensions-chromium/publish/media/user-reviews.png
  microsoft-edge/extensions-chromium/publish/reply-user-reviews.md
  microsoft-edge/extensions-chromium/publish/verify-microsoft-edge-program.md
  microsoft-edge/extensions-chromium/whats-new/released-features.md
  microsoft-edge/extensions-chromium/whats-new/roadmap.md
  microsoft-edge/toc.yml
Labels: cat: extensions

#1994 Improve the 3D View tool Composited Layers docs and remove the Layers tool page
  .openpublishing.redirection.json
  microsoft-edge/devtools-guide-chromium/3d-view/index.md
  microsoft-edge/devtools-guide-chromium/about-tools.md
  microsoft-edge/devtools-guide-chromium/layers/images/layers-link-3d-view-tool.png
  microsoft-edge/devtools-guide-chromium/layers/layers-tool.md
  microsoft-edge/devtools-guide-chromium/media/layers-tool.png
  microsoft-edge/devtools-guide-chromium/whats-new/2020/11/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2022/03/devtools.md
  microsoft-edge/toc.yml
Labels: cat: devtools

#1999 Correct obsolete edgedriver method name
  microsoft-edge/webdriver-chromium/capabilities-edge-options.md
Labels: cat: test-automation

#1987 102 release notes
  microsoft-edge/webview2/release-notes.md
Labels: cat: webview2

#2011 Added a method & version number part
  microsoft-edge/webview2/release-notes.md
Labels: cat: webview2

#2013 Normalized tagging, removed keyboard item
  microsoft-edge/webview2/release-notes.md
Labels: cat: webview2

#2015 Remove (not set) update_URL, in "Port extension to Edge"
  microsoft-edge/extensions-chromium/developer-guide/port-chrome-extension.md
Labels: cat: extensions

#2006 Completed "Win32 C++ app with Visual Composition"
  microsoft-edge/devtools-guide-chromium/media/demo-page-with-accessibility-issues.png
  microsoft-edge/devtools-guide-chromium/sample-code/sample-code.md
  microsoft-edge/webview2/how-to/machine-setup.md
  microsoft-edge/webview2/media/clone-the-webview2-samples-repo.png
  microsoft-edge/webview2/media/download-the-webview2-samples-repo.png
  microsoft-edge/webview2/media/downloaded-samples-repo-unzipped.png
  microsoft-edge/webview2/samples/media/webview2samplewincomp-build-errors-dialog-box.png
  microsoft-edge/webview2/samples/media/webview2samplewincomp-unable-to-start-program.png
  microsoft-edge/webview2/samples/webview2samplewincomp-images/app-window.png
  microsoft-edge/webview2/samples/webview2samplewincomp-images/build-fail-after-cppwinrt-pkg.png
  microsoft-edge/webview2/samples/webview2samplewincomp-images/cppwinrt-readme.png
  microsoft-edge/webview2/samples/webview2samplewincomp-images/inspect-code-visual-studio.png
  microsoft-edge/webview2/samples/webview2samplewincomp-images/manage-nuget-cppwinrt.png
  microsoft-edge/webview2/samples/webview2samplewincomp-images/preview-changes-cppwinrt.png
  microsoft-edge/webview2/samples/webview2samplewincomp-images/project-in-sln-explorer.png
  microsoft-edge/webview2/samples/webview2samplewincomp-images/review-solution-actions.png
  microsoft-edge/webview2/samples/webview2samplewincomp-images/updates-tab-initial-state.png
  microsoft-edge/webview2/samples/webview2samplewincomp-images/welcome-winsdk.png
  microsoft-edge/webview2/samples/webview2samplewincomp-images/windows-sdk-setup.png
  microsoft-edge/webview2/samples/webview2samplewincomp.md
Labels: cat: webview2

#2014 Update extension tutorial to use Manifest V3
  microsoft-edge/extensions-chromium/getting-started/part1-simple-extension.md
  microsoft-edge/extensions-chromium/getting-started/part2-content-scripts.md
Labels: cat: extensions

#2029 Updated What's New 103
  microsoft-edge/devtools-guide-chromium/experimental-features/index.md
  microsoft-edge/devtools-guide-chromium/media/welcome-tool.png
  microsoft-edge/devtools-guide-chromium/whats-new/2022/06/devtools-103-images/welcome-tool.png
  microsoft-edge/devtools-guide-chromium/whats-new/2022/06/devtools-103.md
Labels: cat: devtools

#2017 Add Readme steps to "Sample: WebView2 Deployment VS installer"
  microsoft-edge/webview2/samples/wv2deploymentvsinstaller-create-setup-project.png
  microsoft-edge/webview2/samples/wv2deploymentvsinstaller-select-prerequisites.png
  microsoft-edge/webview2/samples/wv2deploymentvsinstaller-setup-prerequisites.png
  microsoft-edge/webview2/samples/wv2deploymentvsinstallersample.md
Labels: cat: webview2

#2034 Link to new repo for extensions samples
  microsoft-edge/extensions-chromium/getting-started/part1-simple-extension.md
  microsoft-edge/extensions-chromium/getting-started/part2-content-scripts.md
Labels: cat: extensions

#2036 Update Java Code for Opening new windows
  microsoft-edge/webdriver-chromium/ie-mode.md
Labels: cat: webdriver

#2037 Converted remaining images from markup tagging to Markdown
  README.md
  microsoft-edge/devtools-guide-chromium/changes/changes-tool-images/changes-tool-command-menu.png
  microsoft-edge/devtools-guide-chromium/changes/changes-tool-images/changes-tool-diff-view.png
  microsoft-edge/devtools-guide-chromium/changes/changes-tool-images/changes-tool-from-sources.png
  microsoft-edge/devtools-guide-chromium/changes/changes-tool-images/changes-tool-open.png
  microsoft-edge/devtools-guide-chromium/changes/changes-tool-images/changes-tool-undo-all.png
  microsoft-edge/devtools-guide-chromium/changes/changes-tool-images/changes-tool-via-overflow-menu.png
  microsoft-edge/devtools-guide-chromium/changes/changes-tool-images/changes-tool-via-plus-menu.png
  microsoft-edge/devtools-guide-chromium/changes/changes-tool-images/changes.png
  microsoft-edge/devtools-guide-chromium/changes/changes-tool.md
  microsoft-edge/devtools-guide-chromium/customize/shortcuts.md
  microsoft-edge/devtools-guide-chromium/media/changes-tool/changes-tool-command-menu.msft.png
  microsoft-edge/devtools-guide-chromium/media/changes-tool/changes-tool-diff-view.msft.png
  microsoft-edge/devtools-guide-chromium/media/changes-tool/changes-tool-from-sources.msft.png
  microsoft-edge/devtools-guide-chromium/media/changes-tool/changes-tool-open.msft.png
  microsoft-edge/devtools-guide-chromium/media/changes-tool/changes-tool-undo-all.msft.png
  microsoft-edge/devtools-guide-chromium/media/changes-tool/changes-tool-via-overflow-menu.msft.png
  microsoft-edge/devtools-guide-chromium/media/changes-tool/changes-tool-via-plus-menu.msft.png
  microsoft-edge/devtools-guide-chromium/media/changes-tool/changes.msft.png
  microsoft-edge/devtools-guide-chromium/media/search-tool/search-tool-first-open-reduced.png
  microsoft-edge/devtools-guide-chromium/media/search-tool/search-tool-first-open.png
  microsoft-edge/devtools-guide-chromium/search/search-tool.md
Labels: cat: general
