Repository MicrosoftDocs/edge-developer, pull requests merged in 2022-07, with the labels that each got.

#2023 New DevTools experiment page: Edge Command Palette
  microsoft-edge/devtools-guide-chromium/experimental-features/edge-command-palette.md
  microsoft-edge/devtools-guide-chromium/experimental-features/media/command-palette-bookmark.png
  microsoft-edge/devtools-guide-chromium/experimental-features/media/command-palette-flag.png
  microsoft-edge/devtools-guide-chromium/experimental-features/media/command-palette.png
  microsoft-edge/toc.yml
Labels: cat: devtools

#2046 Minor change to Update a Microsoft Edge extension documentation
  microsoft-edge/extensions-chromium/publish/update-extension.md
Labels: cat: extensions

#1985 Dissolved /enterprise/ dir, made TOC titles match top-of-page title
  .openpublishing.redirection.json
  microsoft-edge/extensions-chromium/developer-guide/declare-permissions.md
  microsoft-edge/extensions-chromium/developer-guide/match-patterns.md
  microsoft-edge/extensions-chromium/developer-guide/migrate-your-extension-from-manifest-v2-to-v3.md
  microsoft-edge/extensions-chromium/getting-started/manifest-format.md
  microsoft-edge/extensions-chromium/getting-started/part1-simple-extension.md
  microsoft-edge/extensions-chromium/getting-started/part2-content-scripts.md
  microsoft-edge/extensions-chromium/publish/api/using-addons-api.md
  microsoft-edge/extensions-chromium/publish/auto-update.md
  microsoft-edge/extensions-chromium/publish/create-dev-account.md
  microsoft-edge/extensions-chromium/publish/github.md
  microsoft-edge/extensions-chromium/publish/hosting-and-updating.md
  microsoft-edge/extensions-chromium/publish/publish-extension.md
  microsoft-edge/extensions-chromium/publish/update-extension.md
  microsoft-edge/extensions-chromium/publish/verify-microsoft-edge-program.md
  microsoft-edge/extensions-chromium/store-policies/csp.md
  microsoft-edge/extensions-chromium/whats-new/released-features.md
  microsoft-edge/toc.yml
Labels: cat: extensions

#2044 Release Note for WebView2 with Stable 103 and prerelease 105
  microsoft-edge/webview2/release-notes.md
Labels: cat: webview2

#2025 Update UWP target & minimum version in WinUI 3 GetStart
  microsoft-edge/webview2/get-started/media/winui-getting-started-bing.png
  microsoft-edge/webview2/get-started/media/winui-getting-started-part-3.png
  microsoft-edge/webview2/get-started/media/winui-getting-started-script.png
  microsoft-edge/webview2/get-started/media/winui-getting-started-selections.png
  microsoft-edge/webview2/get-started/winui-images/blank-winui3-app.png
  microsoft-edge/webview2/get-started/winui-images/config-new-proj.png
  microsoft-edge/webview2/get-started/winui-images/create-project-winui3-desktop.png
  microsoft-edge/webview2/get-started/winui-images/debugger-not-configd.png
  microsoft-edge/webview2/get-started/winui-images/getting-started-bing.png
  microsoft-edge/webview2/get-started/winui-images/getting-started-dev-mode.png
  microsoft-edge/webview2/get-started/winui-images/getting-started-part-3.png
  microsoft-edge/webview2/get-started/winui-images/getting-started-project-type.png
  microsoft-edge/webview2/get-started/winui-images/getting-started-script.png
  microsoft-edge/webview2/get-started/winui-images/new-winui3-project.png
  microsoft-edge/webview2/get-started/winui.md
Labels: in-progress, cat: webview2

#2038 Documentation update for Edge extension for VS Code 2.0.1
  .openpublishing.redirection.json
  microsoft-edge/developer/index.yml
  microsoft-edge/devtools-guide-chromium/whats-new/2021/07/devtools.md
  microsoft-edge/index.yml
  microsoft-edge/toc.yml
  microsoft-edge/visual-studio-code/ide-integration.md
  microsoft-edge/visual-studio-code/index.md
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/browser-split-down.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/console-full.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/console-in-elements.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/console-integration.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/context-menu-open-in-code.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/css-mirror-editing-changed-file.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/css-mirror-editing-checkbox.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/css-mirror-editing-command.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/css-mirror-editing-start.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/debug-console.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/device-dropdown.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/device-list.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/devtools-extension-new-browser-instance.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/devtools-extension-v201.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/edge-extension-application-tool.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/edge-for-code-blurred.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/edge-for-code-forced-colours.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/edge-for-code-screencast-v2-emulating.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/edge-for-code-screencast-v2.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/edge-tools-open-settings-icon.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/elements-files.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/elements.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/emulate-css-media-features-button.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/emulate-vision-deficiencies-button.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/extension-icon.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/headless.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/inline-issue-reporting.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/inspect-button.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/inspector-overlays.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/issues-in-lower-panel.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/launch-instance.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/live-issue-reporting.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/navigating-issues.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/network.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/rotate-button.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/sceencast-on-bottom.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/settings-headless.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/settings.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/simulated-iphone.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/start-session.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/targets-buttons.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/targets-launch.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/toggle-screencast.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/tools-inside.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/trust.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/vscode-edge-tools-install.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/vscode-extension-network.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/width-height.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension-images/windowed.png
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension.md
Labels: cat: vs_vscode

#2049 Add additional approaches for getting to DevTools
  microsoft-edge/webview2/how-to/debug-devtools.md
Labels: cat: webview2

#1971 New article "Overview of WebView2 features and APIs"
  microsoft-edge/toc.yml
  microsoft-edge/webview2/concepts/environment-controller-core.md
  microsoft-edge/webview2/concepts/overview-features-apis.md
  microsoft-edge/webview2/concepts/user-data-folder.md
  microsoft-edge/webview2/get-started/winui2.md
  microsoft-edge/webview2/how-to/communicate-btwn-web-native.md
  microsoft-edge/webview2/how-to/context-menus.md
  microsoft-edge/webview2/how-to/hostobject.md
  microsoft-edge/webview2/how-to/javascript.md
  microsoft-edge/webview2/how-to/webresourcerequested.md
  microsoft-edge/webview2/index.md
Labels: cat: webview2

#2056 Added WinRT API Ref links
  microsoft-edge/webview2/concepts/environment-controller-core.md
  microsoft-edge/webview2/concepts/overview-features-apis.md
  microsoft-edge/webview2/how-to/hostobject.md
Labels: cat: webview2

#2043 GA documentation for WinUI 2 & WinUI 3
  microsoft-edge/toc.yml
  microsoft-edge/webview2/code-samples-links.md
  microsoft-edge/webview2/concepts/distribution.md
  microsoft-edge/webview2/concepts/navigation-events.md
  microsoft-edge/webview2/get-started/get-started.md
  microsoft-edge/webview2/get-started/media/winui2-getting-started-create-project.png
  microsoft-edge/webview2/get-started/media/winui2-new-windows-project.png
  microsoft-edge/webview2/get-started/media/winui2-nuget-package-ui-xaml.png
  microsoft-edge/webview2/get-started/media/winui2-nuget-pkg-mgr-webview2.png
  microsoft-edge/webview2/get-started/media/winui2-preview-changes-ui-xaml-pkg.png
  microsoft-edge/webview2/get-started/media/winui2-readme-winui-pkg.png
  microsoft-edge/webview2/get-started/media/winui2-vs-after-new-project-created.png
  microsoft-edge/webview2/get-started/media/winui2-webview2-pkg-preview-changes.png
  microsoft-edge/webview2/get-started/win32.md
  microsoft-edge/webview2/get-started/winforms.md
  microsoft-edge/webview2/get-started/winui.md
  microsoft-edge/webview2/get-started/winui2-images/initial-empty-project-running.png
  microsoft-edge/webview2/get-started/winui2-images/mainpage-designer-initial.png
  microsoft-edge/webview2/get-started/winui2.md
  microsoft-edge/webview2/get-started/wpf.md
  microsoft-edge/webview2/how-to/machine-setup.md
  microsoft-edge/webview2/how-to/set-preview-channel.md
  microsoft-edge/webview2/how-to/winrt-from-js.md
  microsoft-edge/webview2/release-notes.md
  microsoft-edge/webview2/roadmap.md
  microsoft-edge/webview2/samples/media/webview2_sample_uwp-installed-pkgs.png
  microsoft-edge/webview2/samples/media/webview2_sample_uwp-nuget-package-ui-xaml.png
  microsoft-edge/webview2/samples/media/webview2_sample_uwp-preview-changes-ui-xaml-pkg.png
  microsoft-edge/webview2/samples/media/webview2_sample_uwp-readme-winui-pkg.png
  microsoft-edge/webview2/samples/media/webview2_sample_uwp-webpage-content.png
  microsoft-edge/webview2/samples/webview2-sample-uwp-images/preview-changes-uwp-pkg.png
  microsoft-edge/webview2/samples/webview2_sample_uwp.md
  microsoft-edge/webview2/samples/webview2apissample.md
  microsoft-edge/webview2/samples/webview2samplewincomp.md
  microsoft-edge/webview2/samples/webview2windowsformsbrowser.md
  microsoft-edge/webview2/samples/webview2wpfbrowser.md
  microsoft-edge/webview2/samples/wv2cdpextensionwpfsample.md
  microsoft-edge/webview2/samples/wv2deploymentvsinstallersample-images/create-setup-project.png
  microsoft-edge/webview2/samples/wv2deploymentvsinstallersample-images/select-prerequisites.png
  microsoft-edge/webview2/samples/wv2deploymentvsinstallersample-images/setup-prerequisites.png
  microsoft-edge/webview2/samples/wv2deploymentvsinstallersample.md
  microsoft-edge/webview2/samples/wv2deploymentwixburnbundlesample.md
  microsoft-edge/webview2/samples/wv2deploymentwixcustomactionsample.md
  microsoft-edge/webview2/webview2-api-reference.md
Labels: cat: webview2

#2057 Added snippet for google auth
  microsoft-edge/webview2/concepts/browser-features.md
Labels: cat: webview2

#2062 Update winrt-from-js.md
  microsoft-edge/webview2/how-to/winrt-from-js.md
Labels: cat: webview2

#2066 Deprecation of new MV2 extension submissions - Edge Add-ons Released Features
  microsoft-edge/extensions-chromium/whats-new/released-features.md
  microsoft-edge/extensions-chromium/whats-new/roadmap.md
  microsoft-edge/toc.yml
Labels: cat: extensions

#2054 Redesign TOC & Samples overview: Setup, GetStarts, SampApps, DeplSamps
  microsoft-edge/toc.yml
  microsoft-edge/webview2/code-samples-links.md
  microsoft-edge/webview2/get-started/get-started.md
  microsoft-edge/webview2/get-started/winui2.md
  microsoft-edge/webview2/get-started/wpf.md
  microsoft-edge/webview2/how-to/machine-setup.md
  microsoft-edge/webview2/how-to/winrt-from-js.md
  microsoft-edge/webview2/samples/deployment-samples.md
  microsoft-edge/webview2/samples/webview2_sample_uwp.md
  microsoft-edge/webview2/samples/webview2apissample.md
  microsoft-edge/webview2/samples/webview2samplewincomp.md
  microsoft-edge/webview2/samples/webview2windowsformsbrowser.md
  microsoft-edge/webview2/samples/webview2wpfbrowser.md
  microsoft-edge/webview2/samples/wv2cdpextensionwpfsample.md
  microsoft-edge/webview2/samples/wv2deploymentvsinstallersample.md
  microsoft-edge/webview2/samples/wv2deploymentwixburnbundlesample.md
  microsoft-edge/webview2/samples/wv2deploymentwixcustomactionsample.md
Labels: cat: webview2

#2040 Misc fixes 2
  microsoft-edge/accessibility/design.md
  microsoft-edge/devtools-guide-chromium/console/utilities.md
  microsoft-edge/devtools-guide-chromium/css/index.md
  microsoft-edge/devtools-guide-chromium/css/reference.md
  microsoft-edge/devtools-guide-chromium/customize/shortcuts.md
  microsoft-edge/devtools-guide-chromium/device-mode/dual-screen-and-foldables.md
  microsoft-edge/devtools-guide-chromium/device-mode/index.md
  microsoft-edge/devtools-guide-chromium/dom/index.md
  microsoft-edge/devtools-guide-chromium/media/console-arithmatic.msft.png
  microsoft-edge/devtools-guide-chromium/media/console-array-length.msft.png
  microsoft-edge/devtools-guide-chromium/media/using-debug-js-demo-page.png
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots.md
  microsoft-edge/devtools-guide-chromium/network/index.md
  microsoft-edge/devtools-guide-chromium/network/reference.md
  microsoft-edge/devtools-guide-chromium/rendering-tools/index.md
  microsoft-edge/devtools-guide-chromium/shortcuts/index.md
  microsoft-edge/visual-studio/index.md
  microsoft-edge/webview2/get-started/win32.md
  microsoft-edge/webview2/get-started/winforms.md
  microsoft-edge/webview2/get-started/winui.md
Labels: cat: general

#2071 Rename Toaster to Command Palette
  microsoft-edge/devtools-guide-chromium/experimental-features/edge-command-palette.md
  microsoft-edge/devtools-guide-chromium/experimental-features/media/command-palette-flag.png
Labels: cat: devtools

#2080 Re-arrange sub headers of "Deploying the Evergreen WebView2 Runtime"
  microsoft-edge/webview2/concepts/distribution.md
Labels: cat: webview2

#2082 Try to reference code snippet by label id if possible
  microsoft-edge/webview2/get-started/win32.md
Labels: cat: webview2
