Repository MicrosoftDocs/edge-developer, pull requests merged in 2023-07, with the labels that each got.

#2722 Fixed JS error in code snippet
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots.md
Labels: cat: devtools

#2718 [Focus Mode] Update the css/inspect.md screenshots
  microsoft-edge/devtools-guide-chromium/css/inspect-images/inspect-tool-bad-contrast.png
  microsoft-edge/devtools-guide-chromium/css/inspect-images/inspect-tool-button.png
  microsoft-edge/devtools-guide-chromium/css/inspect-images/inspect-tool-element-element-without-pointer-events.png
  microsoft-edge/devtools-guide-chromium/css/inspect-images/inspect-tool-flexbox-element.png
  microsoft-edge/devtools-guide-chromium/css/inspect-images/inspect-tool-highlighted-styles.png
  microsoft-edge/devtools-guide-chromium/css/inspect-images/inspect-tool-padding-margin.png
  microsoft-edge/devtools-guide-chromium/css/inspect-images/inspect-tool-with-shift.png
  microsoft-edge/devtools-guide-chromium/css/inspect.md
Labels: cat: devtools, focus-mode-screenshots

#2717 [Focus Mode] New screenshots for the sources/index.md article
  microsoft-edge/devtools-guide-chromium/sources/index-images/cloud-icon.png
  microsoft-edge/devtools-guide-chromium/sources/index-images/content-scripts-tab.png
  microsoft-edge/devtools-guide-chromium/sources/index-images/edit-css.png
  microsoft-edge/devtools-guide-chromium/sources/index-images/editing-js-in-editor-pane.png
  microsoft-edge/devtools-guide-chromium/sources/index-images/editor-pane.png
  microsoft-edge/devtools-guide-chromium/sources/index-images/file-icon.png
  microsoft-edge/devtools-guide-chromium/sources/index-images/find-replace.png
  microsoft-edge/devtools-guide-chromium/sources/index-images/folder-icon.png
  microsoft-edge/devtools-guide-chromium/sources/index-images/format-icon.png
  microsoft-edge/devtools-guide-chromium/sources/index-images/minified.png
  microsoft-edge/devtools-guide-chromium/sources/index-images/more-tabs-icon.png
  microsoft-edge/devtools-guide-chromium/sources/index-images/navigator-pane.png
  microsoft-edge/devtools-guide-chromium/sources/index-images/overrides-tab.png
  microsoft-edge/devtools-guide-chromium/sources/index-images/run-snippet-icon.png
  microsoft-edge/devtools-guide-chromium/sources/index-images/snippet.png
  microsoft-edge/devtools-guide-chromium/sources/index-images/sources-command-menu-to-open-file.png
  microsoft-edge/devtools-guide-chromium/sources/index-images/sources-filesystem-tab.png
  microsoft-edge/devtools-guide-chromium/sources/index-images/sources-html-editor.png
  microsoft-edge/devtools-guide-chromium/sources/index-images/sources-page-tab.png
  microsoft-edge/devtools-guide-chromium/sources/index-images/sources-panes-narrow-layout.png
  microsoft-edge/devtools-guide-chromium/sources/index-images/sources-panes-wide-layout.png
  microsoft-edge/devtools-guide-chromium/sources/index-images/sources-paused-breakpoint-highlight-debug-pane.png
  microsoft-edge/devtools-guide-chromium/sources/index-images/sources-paused-breakpoint-highlights.png
  microsoft-edge/devtools-guide-chromium/sources/index-images/window-icon.png
  microsoft-edge/devtools-guide-chromium/sources/index.md
Labels: cat: devtools, focus-mode-screenshots

#2709 [Focus Mode] New DevTools Memory Problems Docs
  microsoft-edge/devtools-guide-chromium/memory-problems/allocation-profiler-images/memory-problems-memory-allocation-instrumentation-on-timeline-selected.png
  microsoft-edge/devtools-guide-chromium/memory-problems/allocation-profiler-images/memory-problems-memory-allocation-timeline-snapshot-highlighted-annotated.png
  microsoft-edge/devtools-guide-chromium/memory-problems/allocation-profiler-images/memory-problems-memory-allocation-timeline-snapshot-highlighted.png
  microsoft-edge/devtools-guide-chromium/memory-problems/allocation-profiler-images/memory-problems-memory-allocation-timelines-snapshot.png
  microsoft-edge/devtools-guide-chromium/memory-problems/allocation-profiler-images/more-tabs-icon-light-theme.png
  microsoft-edge/devtools-guide-chromium/memory-problems/allocation-profiler.md
  microsoft-edge/devtools-guide-chromium/memory-problems/dom-leaks-images/analyze-detached-elements.png
  microsoft-edge/devtools-guide-chromium/memory-problems/dom-leaks-images/detach-elements-icon-light-mode.png
  microsoft-edge/devtools-guide-chromium/memory-problems/dom-leaks-images/detached-elements-demo-app.png
  microsoft-edge/devtools-guide-chromium/memory-problems/dom-leaks-images/detached-elements-heap-snapshot.png
  microsoft-edge/devtools-guide-chromium/memory-problems/dom-leaks-images/detached-elements-javascript-retainers.png
  microsoft-edge/devtools-guide-chromium/memory-problems/dom-leaks-images/detached-elements-reattached.png
  microsoft-edge/devtools-guide-chromium/memory-problems/dom-leaks-images/detached-elements-remove-links.png
  microsoft-edge/devtools-guide-chromium/memory-problems/dom-leaks-images/detached-elements-target-dropdown.png
  microsoft-edge/devtools-guide-chromium/memory-problems/dom-leaks-images/get-detached-elements.png
  microsoft-edge/devtools-guide-chromium/memory-problems/dom-leaks-images/more-tabs-icon-light-theme.png
  microsoft-edge/devtools-guide-chromium/memory-problems/dom-leaks-images/open-detached-elements.png
  microsoft-edge/devtools-guide-chromium/memory-problems/dom-leaks.md
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots-images/memory-problems-gh-nodejs-benchmarks-run-memory-heap-snapshots-all-hover-clear-all-profiles.png
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots-images/memory-problems-gh-nodejs-benchmarks-run-memory-heap-snapshots-all.png
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots-images/memory-problems-gh-nodejs-benchmarks-run-memory-heap-snapshots-comparison-dropdown.png
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots-images/memory-problems-gh-nodejs-benchmarks-run-memory-heap-snapshots-constructor-highlight.png
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots-images/memory-problems-gh-nodejs-benchmarks-run-memory-heap-snapshots-constructor-retainers.png
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots-images/memory-problems-gh-nodejs-benchmarks-run-memory-heap-snapshots-containment-dropdown.png
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots-images/memory-problems-gh-nodejs-benchmarks-run-memory-heap-snapshots-view-dropdown.png
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots-images/memory-problems-gh-nodejs-benchmarks-run-memory-heap-snapshots.png
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots-images/node-types-heap-snapshot.png
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots-images/save-heap-snapshot-strings-json.png
  microsoft-edge/devtools-guide-chromium/memory-problems/index-images/collect-garbage-icon.png
  microsoft-edge/devtools-guide-chromium/memory-problems/index-images/memory-problems-bing-browser-task-manager-javascript-memory.png
  microsoft-edge/devtools-guide-chromium/memory-problems/index-images/memory-problems-bing-settings-more-tools-browser-task-manager.png
  microsoft-edge/devtools-guide-chromium/memory-problems/index-images/memory-problems-gc-in-performance.png
  microsoft-edge/devtools-guide-chromium/memory-problems/index-images/memory-problems-glitch-example-05-memory-allocation-sampling-heavy-bottom-up.png
  microsoft-edge/devtools-guide-chromium/memory-problems/index-images/memory-problems-glitch-example-05-memory-allocation-sampling.png
  microsoft-edge/devtools-guide-chromium/memory-problems/index-images/memory-problems-glitch-example-1-performance-memory.png
  microsoft-edge/devtools-guide-chromium/memory-problems/index-images/memory-problems-glitch-example-12-memory-heap-snapshot-filter-detached-expanded-selected.png
  microsoft-edge/devtools-guide-chromium/memory-problems/index-images/memory-problems-glitch-example-12-memory-heap-snapshot-filter-detached-expanded.png
  microsoft-edge/devtools-guide-chromium/memory-problems/index-images/memory-problems-glitch-example-12-memory-heap-snapshot-filter-detached.png
  microsoft-edge/devtools-guide-chromium/memory-problems/index-images/memory-problems-glitch-example-12-memory-heap-snapshot.png
  microsoft-edge/devtools-guide-chromium/memory-problems/index-images/memory-problems-glitch-example-13-allocation-timeline-snapshot-all.png
  microsoft-edge/devtools-guide-chromium/memory-problems/index-images/memory-problems-glitch-example-13-allocation-timeline-snapshot-focused-constructor-expanded.png
  microsoft-edge/devtools-guide-chromium/memory-problems/index-images/memory-problems-glitch-example-13-allocation-timeline-snapshot-focused.png
  microsoft-edge/devtools-guide-chromium/memory-problems/index-images/memory-problems-memory-allocation-sampling-gc-settings.png
  microsoft-edge/devtools-guide-chromium/memory-problems/memory-101-images/filters-retainers-memory-tool-hide-cycled.png
  microsoft-edge/devtools-guide-chromium/memory-problems/memory-101-images/filters-retainers-memory-tool-no-hide-cycled.png
  microsoft-edge/devtools-guide-chromium/memory-problems/memory-101-images/memory-problems-root.png
  microsoft-edge/devtools-guide-chromium/memory-problems/memory-101-images/memory-problems-shallow-retained.png
Labels: cat: devtools, focus-mode-screenshots

#2707 [Focus Mode] update docs and screenshots in Sources and Javascript
  microsoft-edge/devtools-guide-chromium/javascript/disable-images/javascript-console-command-javascript.png
  microsoft-edge/devtools-guide-chromium/javascript/disable-images/javascript-console-command.png
  microsoft-edge/devtools-guide-chromium/javascript/disable-images/javascript-console-javascript-disabled-warning.png
  microsoft-edge/devtools-guide-chromium/javascript/disable.md
  microsoft-edge/devtools-guide-chromium/sources/opening-sources-in-vscode-images/experiment-sources-in-code-allow-access.png
  microsoft-edge/devtools-guide-chromium/sources/opening-sources-in-vscode-images/experiment-sources-in-code-code-synced.png
  microsoft-edge/devtools-guide-chromium/sources/opening-sources-in-vscode-images/experiment-sources-in-code-editor-open.png
  microsoft-edge/devtools-guide-chromium/sources/opening-sources-in-vscode-images/experiment-sources-in-code-identify-root-folder.png
  microsoft-edge/devtools-guide-chromium/sources/opening-sources-in-vscode-images/experiment-sources-in-code-local-project.msft..png
  microsoft-edge/devtools-guide-chromium/sources/opening-sources-in-vscode-images/experiment-sources-in-code-local-project.png
  microsoft-edge/devtools-guide-chromium/sources/opening-sources-in-vscode-images/experiment-sources-in-code-pick-folder.png
  microsoft-edge/devtools-guide-chromium/sources/opening-sources-in-vscode-images/experiment-sources-in-code-selecting-link.png
  microsoft-edge/devtools-guide-chromium/sources/opening-sources-in-vscode-images/experiment-sources-in-code-workspace-settings.png
  microsoft-edge/devtools-guide-chromium/sources/opening-sources-in-vscode.md
Labels: cat: devtools, focus-mode-screenshots

#2706 [Focus Mode] IE Mode
  microsoft-edge/devtools-guide-chromium/ie-mode/index-images/ie-mode-badge-doc-mode.png
  microsoft-edge/devtools-guide-chromium/ie-mode/index-images/ie-mode-badge.png
  microsoft-edge/devtools-guide-chromium/ie-mode/index-images/ie-mode-devtools.png
  microsoft-edge/devtools-guide-chromium/ie-mode/index.md
Labels: cat: devtools, focus-mode-screenshots

#2693 [Focus Mode] Local Storage
  microsoft-edge/devtools-guide-chromium/storage/localstorage-images/storage-application-local-storage-edit-key-value.png
  microsoft-edge/devtools-guide-chromium/storage/localstorage-images/storage-application-local-storage-new-key-value.png
  microsoft-edge/devtools-guide-chromium/storage/localstorage-images/storage-application-local-storage-view-key-value-selected.png
  microsoft-edge/devtools-guide-chromium/storage/localstorage-images/storage-application-local-storage-view-key-value.png
  microsoft-edge/devtools-guide-chromium/storage/localstorage-images/storage-application-local-storage.png
  microsoft-edge/devtools-guide-chromium/storage/localstorage-images/storage-application-manifest.png
  microsoft-edge/devtools-guide-chromium/storage/localstorage-images/storage-console-local-storage-interaction.png
  microsoft-edge/devtools-guide-chromium/storage/localstorage-images/storage-console-local-storage.png
  microsoft-edge/devtools-guide-chromium/storage/localstorage.md
Labels: cat: devtools, focus-mode-screenshots

#2695 [Focus Mode] Updated Docs for Device Mode
  microsoft-edge/devtools-guide-chromium/device-mode/dual-screen-and-foldables-images/experimental-apis-dark-icon.png
  microsoft-edge/devtools-guide-chromium/device-mode/dual-screen-and-foldables-images/experiments-surface-duo-emulation.png
  microsoft-edge/devtools-guide-chromium/device-mode/dual-screen-and-foldables-images/span-dark-icon.png
  microsoft-edge/devtools-guide-chromium/device-mode/geolocation-images/device-mode-console-command-menu-sensors.png
  microsoft-edge/devtools-guide-chromium/device-mode/geolocation-images/device-mode-console-command-menu.png
  microsoft-edge/devtools-guide-chromium/device-mode/geolocation-images/device-mode-console-sensors-geolocation-tokyo.png
  microsoft-edge/devtools-guide-chromium/device-mode/geolocation.md
  microsoft-edge/devtools-guide-chromium/device-mode/index-images/device-mode-command-menu-throttle.png
  microsoft-edge/devtools-guide-chromium/device-mode/index-images/device-mode-network-throttle.png
  microsoft-edge/devtools-guide-chromium/device-mode/index-images/device-mode-performance-cpu-throttle.png
  microsoft-edge/devtools-guide-chromium/device-mode/index-images/device-mode-performance-network-throttle.png
  microsoft-edge/devtools-guide-chromium/device-mode/index-images/device-mode-toggle-device-toolbar-click-breakpoint.png
  microsoft-edge/devtools-guide-chromium/device-mode/index-images/device-mode-toggle-device-toolbar-command-menu-network-conditions.png
  microsoft-edge/devtools-guide-chromium/device-mode/index-images/device-mode-toggle-device-toolbar-command-menu-sensors.png
  microsoft-edge/devtools-guide-chromium/device-mode/index-images/device-mode-toggle-device-toolbar-device-list-edit.png
  microsoft-edge/devtools-guide-chromium/device-mode/index-images/device-mode-toggle-device-toolbar-device-list.png
  microsoft-edge/devtools-guide-chromium/device-mode/index-images/device-mode-toggle-device-toolbar-device-type-list.png
  microsoft-edge/devtools-guide-chromium/device-mode/index-images/device-mode-toggle-device-toolbar-handles-highlighted.png
  microsoft-edge/devtools-guide-chromium/device-mode/index-images/device-mode-toggle-device-toolbar-highlighted.png
  microsoft-edge/devtools-guide-chromium/device-mode/index-images/device-mode-toggle-device-toolbar-landscape.png
  microsoft-edge/devtools-guide-chromium/device-mode/index-images/device-mode-toggle-device-toolbar-more-options-show-media-queries.png
  microsoft-edge/devtools-guide-chromium/device-mode/index-images/device-mode-toggle-device-toolbar-more-tools-network-conditions.png
  microsoft-edge/devtools-guide-chromium/device-mode/index-images/device-mode-toggle-device-toolbar-more-tools-sensors.png
  microsoft-edge/devtools-guide-chromium/device-mode/index-images/device-mode-toggle-device-toolbar-network-conditions-macos.png
  microsoft-edge/devtools-guide-chromium/device-mode/index-images/device-mode-toggle-device-toolbar-option-show-device-frame.png
  microsoft-edge/devtools-guide-chromium/device-mode/index-images/device-mode-toggle-device-toolbar-options-device-frame-iphone-6.png
  microsoft-edge/devtools-guide-chromium/device-mode/index-images/device-mode-toggle-device-toolbar-options-show-rulers.png
  microsoft-edge/devtools-guide-chromium/device-mode/index-images/device-mode-toggle-device-toolbar-rulers.png
  microsoft-edge/devtools-guide-chromium/device-mode/index-images/device-mode-toggle-device-toolbar-sensors-tokyo-portrait-upside-down.png
  microsoft-edge/devtools-guide-chromium/device-mode/index-images/device-mode-toggle-device-toolbar-sensors-tokyo.png
  microsoft-edge/devtools-guide-chromium/device-mode/index-images/device-mode-toggle-device-toolbar-settings-emulated-devices-add.png
  microsoft-edge/devtools-guide-chromium/device-mode/index-images/device-mode-toggle-device-toolbar-throttle.png
  microsoft-edge/devtools-guide-chromium/device-mode/index-images/device-mode-toggle-device-toolbar-zoom.png
  microsoft-edge/devtools-guide-chromium/device-mode/index-images/emulated-devices-user-agent-client-hints.png
  microsoft-edge/devtools-guide-chromium/device-mode/index.md
  microsoft-edge/devtools-guide-chromium/device-mode/orientation-images/device-mode-console-command-menu-sensors.png
  microsoft-edge/devtools-guide-chromium/device-mode/orientation-images/device-mode-console-command-menu.png
  microsoft-edge/devtools-guide-chromium/device-mode/orientation-images/device-mode-console-sensors-orientation-custom.png
  microsoft-edge/devtools-guide-chromium/device-mode/orientation-images/device-mode-console-sensors-orientation-portrait-upside-down.png
  microsoft-edge/devtools-guide-chromium/device-mode/orientation.md
  microsoft-edge/devtools-guide-chromium/device-mode/override-user-agent-images/clear-use-browser-default-checkbox.png
  microsoft-edge/devtools-guide-chromium/device-mode/override-user-agent-images/device-mode-console-command-menu-network-conditions.png
  microsoft-edge/devtools-guide-chromium/device-mode/override-user-agent-images/device-mode-console-command-menu.png
  microsoft-edge/devtools-guide-chromium/device-mode/override-user-agent.md
Labels: cat: devtools, focus-mode-screenshots

#2698 [Focus Mode] Update docs and screenshots in Console
  microsoft-edge/devtools-guide-chromium/console/console-debug-javascript-images/console-debug-displays-error.png
  microsoft-edge/devtools-guide-chromium/console/console-debug-javascript-images/console-debug-displays-in-sources.png
  microsoft-edge/devtools-guide-chromium/console/console-debug-javascript-images/console-debug-error-assert.png
  microsoft-edge/devtools-guide-chromium/console/console-debug-javascript-images/console-debug-network-error-code-error.png
  microsoft-edge/devtools-guide-chromium/console/console-debug-javascript-images/console-debug-network-error-code-line.png
  microsoft-edge/devtools-guide-chromium/console/console-debug-javascript-images/console-debug-network-error-fixed.png
  microsoft-edge/devtools-guide-chromium/console/console-debug-javascript-images/console-debug-network-error-network-detail.png
  microsoft-edge/devtools-guide-chromium/console/console-debug-javascript-images/console-debug-network-error-network.png
  microsoft-edge/devtools-guide-chromium/console/console-debug-javascript-images/console-debug-network-error-report.png
  microsoft-edge/devtools-guide-chromium/console/console-debug-javascript-images/console-debug-network-error-sources.png
  microsoft-edge/devtools-guide-chromium/console/console-debug-javascript-images/console-debug-network-error-url.png
  microsoft-edge/devtools-guide-chromium/console/console-debug-javascript-images/console-debug-network-error.png
  microsoft-edge/devtools-guide-chromium/console/console-debug-javascript-images/console-debug-trace.png
  microsoft-edge/devtools-guide-chromium/console/console-debug-javascript.md
  microsoft-edge/devtools-guide-chromium/console/console-javascript-images/console-javascript-autocomplete.png
  microsoft-edge/devtools-guide-chromium/console/console-javascript-images/console-javascript-automatic-lineindent.png
  microsoft-edge/devtools-guide-chromium/console/console-javascript-images/console-javascript-console-history.png
  microsoft-edge/devtools-guide-chromium/console/console-javascript-images/console-javascript-eager-evaluation.png
  microsoft-edge/devtools-guide-chromium/console/console-javascript-images/console-javascript-filtered-with-table.png
  microsoft-edge/devtools-guide-chromium/console/console-javascript-images/console-javascript-multiline.png
  microsoft-edge/devtools-guide-chromium/console/console-javascript-images/console-javascript-several-expressions.png
  microsoft-edge/devtools-guide-chromium/console/console-javascript-images/console-javascript-top-level-await.png
  microsoft-edge/devtools-guide-chromium/console/console-javascript.md
  microsoft-edge/devtools-guide-chromium/console/index-images/console-debug-displays-error.png
  microsoft-edge/devtools-guide-chromium/console/index-images/console-intro-changing-styles.png
  microsoft-edge/devtools-guide-chromium/console/index-images/console-intro-console-main.png
  microsoft-edge/devtools-guide-chromium/console/index-images/console-intro-console-panel.png
  microsoft-edge/devtools-guide-chromium/console/index-images/console-intro-console-quick-view.png
  microsoft-edge/devtools-guide-chromium/console/index-images/console-intro-logging.png
  microsoft-edge/devtools-guide-chromium/console/index-images/console-intro-noise.png
  microsoft-edge/devtools-guide-chromium/console/index-images/console-intro-reading-DOM.png
  microsoft-edge/devtools-guide-chromium/console/index-images/console-intro-wrtiting-DOM.png
  microsoft-edge/devtools-guide-chromium/console/index-images/console-javascript-autocomplete.png
  microsoft-edge/devtools-guide-chromium/console/index-images/console-javascript-eager-evaluation.png
  microsoft-edge/devtools-guide-chromium/console/index-images/console-javascript-several-expressions.png
  microsoft-edge/devtools-guide-chromium/console/index-images/search-console-icon.png
  microsoft-edge/devtools-guide-chromium/console/index-images/search-console-new-tab.png
  microsoft-edge/devtools-guide-chromium/console/index.md
Labels: cat: devtools, focus-mode-screenshots

#2699 [Focus Mode] Update doc and screenshots in Storage
  microsoft-edge/devtools-guide-chromium/storage/cache-images/storage-application-cache-storage-delete-selected.png
  microsoft-edge/devtools-guide-chromium/storage/cache-images/storage-application-cache-storage-domain-js-preview.png
  microsoft-edge/devtools-guide-chromium/storage/cache-images/storage-application-cache-storage-domain-refresh.png
  microsoft-edge/devtools-guide-chromium/storage/cache-images/storage-application-cache-storage-domain-root-headers.png
  microsoft-edge/devtools-guide-chromium/storage/cache-images/storage-application-cache-storage-filter.png
  microsoft-edge/devtools-guide-chromium/storage/cache-images/storage-application-cache-storage-index-headers.png
  microsoft-edge/devtools-guide-chromium/storage/cache-images/storage-application-cache-storage.png
  microsoft-edge/devtools-guide-chromium/storage/cache-images/storage-application-clear-storage-cache-storage-checkbox-clear-site-data-button.png
  microsoft-edge/devtools-guide-chromium/storage/cache-images/storage-application-clear-storage-cache-storage-checkbox.png
  microsoft-edge/devtools-guide-chromium/storage/cache-images/storage-application-manifest.png
  microsoft-edge/devtools-guide-chromium/storage/cache.md
  microsoft-edge/devtools-guide-chromium/storage/cookies-images/clear-all-cookies.png
  microsoft-edge/devtools-guide-chromium/storage/cookies-images/delete-selected-cookie.png
  microsoft-edge/devtools-guide-chromium/storage/cookies-images/filter-cookies-name.png
  microsoft-edge/devtools-guide-chromium/storage/cookies-images/open-cookies-select-source.png
  microsoft-edge/devtools-guide-chromium/storage/cookies-images/pick-application-no-manifest.png
  microsoft-edge/devtools-guide-chromium/storage/cookies-images/rename-cookie.png
  microsoft-edge/devtools-guide-chromium/storage/cookies.md
Labels: cat: devtools, focus-mode-screenshots

#2703 [Focus Mode] Network tool index
  microsoft-edge/devtools-guide-chromium/network/index-images/add-block-pattern.png
  microsoft-edge/devtools-guide-chromium/network/index-images/add-icon.png
  microsoft-edge/devtools-guide-chromium/network/index-images/blocked-main-css.png
  microsoft-edge/devtools-guide-chromium/network/index-images/close-icon.png
  microsoft-edge/devtools-guide-chromium/network/index-images/close-sidebar.png
  microsoft-edge/devtools-guide-chromium/network/index-images/command-menu-block-requests.png
  microsoft-edge/devtools-guide-chromium/network/index-images/demo-page.png
  microsoft-edge/devtools-guide-chromium/network/index-images/edit-columns.png
  microsoft-edge/devtools-guide-chromium/network/index-images/empty-cache-and-hard-reset.png
  microsoft-edge/devtools-guide-chromium/network/index-images/filter-empty.png
  microsoft-edge/devtools-guide-chromium/network/index-images/filter-file-type-css.png
  microsoft-edge/devtools-guide-chromium/network/index-images/filter-icon.png
  microsoft-edge/devtools-guide-chromium/network/index-images/filter-textbox.png
  microsoft-edge/devtools-guide-chromium/network/index-images/format-icon.png
  microsoft-edge/devtools-guide-chromium/network/index-images/headers-sidebar.png
  microsoft-edge/devtools-guide-chromium/network/index-images/more-tools-icon.png
  microsoft-edge/devtools-guide-chromium/network/index-images/network-activity.png
  microsoft-edge/devtools-guide-chromium/network/index-images/network-bottom.png
  microsoft-edge/devtools-guide-chromium/network/index-images/network-glitch-empty-cache-and-hard-reset.png
  microsoft-edge/devtools-guide-chromium/network/index-images/network-glitch-inspect-network-activity-demo.png
  microsoft-edge/devtools-guide-chromium/network/index-images/network-glitch-network-bottom.png
  microsoft-edge/devtools-guide-chromium/network/index-images/network-glitch-network-cli-block-add-pattern.png
  microsoft-edge/devtools-guide-chromium/network/index-images/network-glitch-network-cli-block-main-css.png
  microsoft-edge/devtools-guide-chromium/network/index-images/network-glitch-network-cli-block.png
  microsoft-edge/devtools-guide-chromium/network/index-images/network-glitch-network-edit-column.png
  microsoft-edge/devtools-guide-chromium/network/index-images/network-glitch-network-filter-empty.png
  microsoft-edge/devtools-guide-chromium/network/index-images/network-glitch-network-filter-file-type-css.png
  microsoft-edge/devtools-guide-chromium/network/index-images/network-glitch-network-new-resource.png
  microsoft-edge/devtools-guide-chromium/network/index-images/network-glitch-network-resources-close-tabs.png
  microsoft-edge/devtools-guide-chromium/network/index-images/network-glitch-network-resources-headers.png
  microsoft-edge/devtools-guide-chromium/network/index-images/network-glitch-network-resources-preview.png
  microsoft-edge/devtools-guide-chromium/network/index-images/network-glitch-network-resources-response.png
  microsoft-edge/devtools-guide-chromium/network/index-images/network-glitch-network-resources-timing.png
  microsoft-edge/devtools-guide-chromium/network/index-images/network-glitch-network-screenshots-first.png
  microsoft-edge/devtools-guide-chromium/network/index-images/network-glitch-network-screenshots-setting.png
  microsoft-edge/devtools-guide-chromium/network/index-images/network-glitch-network-screenshots.png
  microsoft-edge/devtools-guide-chromium/network/index-images/network-glitch-network-search-cache-control-headers-response-headers.png
  microsoft-edge/devtools-guide-chromium/network/index-images/network-glitch-network-search-cache-control.png
  microsoft-edge/devtools-guide-chromium/network/index-images/network-glitch-network-search-empty.png
  microsoft-edge/devtools-guide-chromium/network/index-images/network-glitch-network-throttling-slow-3g.png
  microsoft-edge/devtools-guide-chromium/network/index-images/network-glitch-network.png
  microsoft-edge/devtools-guide-chromium/network/index-images/network-screenshots-first.png
  microsoft-edge/devtools-guide-chromium/network/index-images/network-screenshots.png
  microsoft-edge/devtools-guide-chromium/network/index-images/network-tool-filter-textbox.png
  microsoft-edge/devtools-guide-chromium/network/index-images/network-ui-sections.png
  microsoft-edge/devtools-guide-chromium/network/index-images/new-resource.png
  microsoft-edge/devtools-guide-chromium/network/index-images/preview-sidebar.png
  microsoft-edge/devtools-guide-chromium/network/index-images/refresh-icon.png
  microsoft-edge/devtools-guide-chromium/network/index-images/response-sidebar.png
  microsoft-edge/devtools-guide-chromium/network/index-images/screenshots-setting.png
  microsoft-edge/devtools-guide-chromium/network/index-images/search-cache-control-headers-response-headers.png
  microsoft-edge/devtools-guide-chromium/network/index-images/search-cache-control.png
  microsoft-edge/devtools-guide-chromium/network/index-images/search-empty.png
  microsoft-edge/devtools-guide-chromium/network/index-images/search-icon.png
  microsoft-edge/devtools-guide-chromium/network/index-images/settings-icon.png
  microsoft-edge/devtools-guide-chromium/network/index-images/throttling-slow-3g.png
  microsoft-edge/devtools-guide-chromium/network/index-images/timing-sidebar.png
  microsoft-edge/devtools-guide-chromium/network/index.md
Labels: cat: devtools, focus-mode-screenshots

#2719 Clarify that the Publish API is for updating existing addons only
  microsoft-edge/extensions-chromium/publish/api/using-addons-api.md
Labels: cat: extensions

#2637 Release Notes 115 for WebView2
  microsoft-edge/webview2/release-notes.md
Labels: cat: webview2
