Repository MicrosoftDocs/edge-developer, pull requests merged in 2023-01, with the labels that each got.

#2374 Remove the Edge 107 mention
  microsoft-edge/devtools-guide-chromium/experimental-features/edge-command-palette.md
  microsoft-edge/devtools-guide-chromium/experimental-features/media/command-palette-flag.png
Labels: cat: devtools

#2376 Documented the new widget events
  microsoft-edge/progressive-web-apps-chromium/how-to/widgets.md
Labels: cat: pwas

#2394 Allocation sampling garbage collection docs
  microsoft-edge/devtools-guide-chromium/media/memory-problems-gc-in-performance.png
  microsoft-edge/devtools-guide-chromium/media/memory-problems-memory-allocation-sampling-gc-settings.png
  microsoft-edge/devtools-guide-chromium/memory-problems/index.md
Labels: doc-enhancement, cat: devtools

#2388 Documentation for the DevTools enhanced traces feature
  microsoft-edge/devtools-guide-chromium/experimental-features/share-traces-images/choose-trace-type-on-export.png
  microsoft-edge/devtools-guide-chromium/experimental-features/share-traces-images/enhanced-trace-options.png
  microsoft-edge/devtools-guide-chromium/experimental-features/share-traces-images/exporting-memory-trace.png
  microsoft-edge/devtools-guide-chromium/experimental-features/share-traces-images/exporting-perf-trace.png
  microsoft-edge/devtools-guide-chromium/experimental-features/share-traces-images/importing-memory-trace.png
  microsoft-edge/devtools-guide-chromium/experimental-features/share-traces-images/importing-perf-trace.png
  microsoft-edge/devtools-guide-chromium/experimental-features/share-traces-images/opening-memory-trace.png
  microsoft-edge/devtools-guide-chromium/experimental-features/share-traces-images/opening-perf-trace.png
  microsoft-edge/devtools-guide-chromium/experimental-features/share-traces-images/saving-memory-trace.png
  microsoft-edge/devtools-guide-chromium/experimental-features/share-traces-images/saving-perf-trace.png
  microsoft-edge/devtools-guide-chromium/experimental-features/share-traces-images/trace-type-setting.png
  microsoft-edge/devtools-guide-chromium/experimental-features/share-traces.md
  microsoft-edge/devtools-guide-chromium/media/export-icon.png
  microsoft-edge/devtools-guide-chromium/media/import-icon.png
  microsoft-edge/toc.yml
Labels: cat: devtools

#2399 Selector Stats documentation
  microsoft-edge/devtools-guide-chromium/evaluate-performance/selector-stats-images/performance-tool-long-running-task.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/selector-stats-images/performance-tool-selector-stats.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/selector-stats.md
  microsoft-edge/toc.yml
Labels: doc-enhancement, cat: devtools
