Repository MicrosoftDocs/edge-developer, pull requests merged in 2023-10, with the labels that each got.

#2787 Focus Mode pngs batch 1 (JSON viewer, Search, Experiments, debug JS, Elements)
  microsoft-edge/devtools-guide-chromium/elements-tool/elements-tool-images/elements-tool.png
  microsoft-edge/devtools-guide-chromium/experimental-features/index-images/csp-violations-tool.png
  microsoft-edge/devtools-guide-chromium/experimental-features/index-images/customize-devtools-icon.png
  microsoft-edge/devtools-guide-chromium/experimental-features/index-images/experiments-devtools.png
  microsoft-edge/devtools-guide-chromium/experimental-features/index-images/experiments-webhint.png
  microsoft-edge/devtools-guide-chromium/experimental-features/index-images/font-editor-open.png
  microsoft-edge/devtools-guide-chromium/experimental-features/index-images/preloading-page-of-application-tool.png
  microsoft-edge/devtools-guide-chromium/experimental-features/index.md
  microsoft-edge/devtools-guide-chromium/javascript/index-images/javascript-bug-fixed.png
  microsoft-edge/devtools-guide-chromium/javascript/index-images/javascript-console-empty.png
  microsoft-edge/devtools-guide-chromium/javascript/index-images/javascript-js-demo-bad.png
  microsoft-edge/devtools-guide-chromium/javascript/index-images/javascript-sources-breakpoint-paused-console.png
  microsoft-edge/devtools-guide-chromium/javascript/index-images/javascript-sources-breakpoint-paused-scope.png
  microsoft-edge/devtools-guide-chromium/javascript/index-images/javascript-sources-breakpoint-paused-watch.png
  microsoft-edge/devtools-guide-chromium/javascript/index-images/javascript-sources-breakpoint-paused.png
  microsoft-edge/devtools-guide-chromium/javascript/index-images/javascript-sources-event-listener-breakpoint-mouse-click.png
  microsoft-edge/devtools-guide-chromium/javascript/index-images/javascript-sources-sections-annotated.png
  microsoft-edge/devtools-guide-chromium/javascript/index-images/javascript-sources-sections.png
  microsoft-edge/devtools-guide-chromium/javascript/index.md
  microsoft-edge/devtools-guide-chromium/json-viewer/json-viewer-images/column-number.png
  microsoft-edge/devtools-guide-chromium/json-viewer/json-viewer-images/invalid-json.png
  microsoft-edge/devtools-guide-chromium/json-viewer/json-viewer.md
  microsoft-edge/devtools-guide-chromium/search/search-tool-images/open-search-tool.png
  microsoft-edge/devtools-guide-chromium/search/search-tool-images/search-tool-first-open.png
  microsoft-edge/devtools-guide-chromium/search/search-tool-images/search-tool-open-in-sources.png
  microsoft-edge/devtools-guide-chromium/search/search-tool-images/search-tool-regexp.png
  microsoft-edge/devtools-guide-chromium/search/search-tool-images/search-tool-search-results.png
  microsoft-edge/devtools-guide-chromium/search/search-tool.md
Labels: cat: devtools, on-hold, focus-mode-screenshots

#2833 Focus Mode pngs batch 2 (Command Menu, Network Console, debug PWAs)
  microsoft-edge/devtools-guide-chromium/command-menu/index-images/command-menu-help.png
  microsoft-edge/devtools-guide-chromium/command-menu/index-images/command-menu-options-run-command.png
  microsoft-edge/devtools-guide-chromium/command-menu/index-images/command-menu-run-command-java.png
  microsoft-edge/devtools-guide-chromium/command-menu/index-images/command-menu-run-command.png
  microsoft-edge/devtools-guide-chromium/command-menu/index-images/customize-devtools-icon.png
  microsoft-edge/devtools-guide-chromium/command-menu/index.md
  microsoft-edge/devtools-guide-chromium/network-console/network-console-tool-images/edit-and-resend.png
  microsoft-edge/devtools-guide-chromium/network-console/network-console-tool-images/edit-then-send.png
  microsoft-edge/devtools-guide-chromium/network-console/network-console-tool-images/entering-key-value-pairs.png
  microsoft-edge/devtools-guide-chromium/network-console/network-console-tool-images/hide-network-console-navigator-icon.png
  microsoft-edge/devtools-guide-chromium/network-console/network-console-tool-images/more-tabs-icon-light-theme.png
  microsoft-edge/devtools-guide-chromium/network-console/network-console-tool-images/more-tools-icon.png
  microsoft-edge/devtools-guide-chromium/network-console/network-console-tool-images/network-console-environments-new-format.png
  microsoft-edge/devtools-guide-chromium/network-console/network-console-tool-images/network-console-environments-new-name.png
  microsoft-edge/devtools-guide-chromium/network-console/network-console-tool-images/network-console-tool.png
  microsoft-edge/devtools-guide-chromium/network-console/network-console-tool-images/network-tool-icon.png
  microsoft-edge/devtools-guide-chromium/network-console/network-console-tool-images/new-icon.png
  microsoft-edge/devtools-guide-chromium/network-console/network-console-tool-images/show-network-console-navigator-icon.png
  microsoft-edge/devtools-guide-chromium/network-console/network-console-tool.md
  microsoft-edge/devtools-guide-chromium/progressive-web-apps/index-images/cache-pane-cache-storage-resources.png
  microsoft-edge/devtools-guide-chromium/progressive-web-apps/index-images/cache-pane-cache-storage.png
  microsoft-edge/devtools-guide-chromium/progressive-web-apps/index-images/manifest-pane.png
  microsoft-edge/devtools-guide-chromium/progressive-web-apps/index-images/service-workers-pane.png
  microsoft-edge/devtools-guide-chromium/progressive-web-apps/index.md
  microsoft-edge/devtools-guide-chromium/whats-new/2022/09/devtools-105.md
Labels: cat: devtools, on-hold, focus-mode-screenshots

#2834 Focus Mode pngs batch 3 (Workspaces/Filesystem tab)
  microsoft-edge/devtools-guide-chromium/workspaces/index-images/elements-tool-icon.png
  microsoft-edge/devtools-guide-chromium/workspaces/index-images/mapped-file-icon.png
  microsoft-edge/devtools-guide-chromium/workspaces/index-images/mapped-files-list-icon.png
  microsoft-edge/devtools-guide-chromium/workspaces/index-images/sources-tool-icon.png
  microsoft-edge/devtools-guide-chromium/workspaces/index-images/workspaces-workspaces-demo-console.png
  microsoft-edge/devtools-guide-chromium/workspaces/index-images/workspaces-workspaces-demo-elements-styles-css-pick-color.png
  microsoft-edge/devtools-guide-chromium/workspaces/index-images/workspaces-workspaces-demo-elements-styles-css.png
  microsoft-edge/devtools-guide-chromium/workspaces/index-images/workspaces-workspaces-demo-elements-styles-quick-source-script.png
  microsoft-edge/devtools-guide-chromium/workspaces/index-images/workspaces-workspaces-demo-search-script.png
  microsoft-edge/devtools-guide-chromium/workspaces/index-images/workspaces-workspaces-demo-search-show-quick-source.png
  microsoft-edge/devtools-guide-chromium/workspaces/index-images/workspaces-workspaces-demo-sources-filesystem-css.png
  microsoft-edge/devtools-guide-chromium/workspaces/index-images/workspaces-workspaces-demo-sources-filesystem-folder.png
  microsoft-edge/devtools-guide-chromium/workspaces/index-images/workspaces-workspaces-demo-sources-filesystem.png
  microsoft-edge/devtools-guide-chromium/workspaces/index-images/workspaces-workspaces-demo-sources-page-h1.png
  microsoft-edge/devtools-guide-chromium/workspaces/index-images/workspaces-workspaces-demo.png
  microsoft-edge/devtools-guide-chromium/workspaces/index.md
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension/install.md
Labels: cat: devtools, on-hold, focus-mode-screenshots

#2835 Focus Mode pngs batch 4 (Overrides)
  microsoft-edge/devtools-guide-chromium/javascript/overrides-images/elements-tool-icon.png
  microsoft-edge/devtools-guide-chromium/javascript/overrides-images/javascript-overrides-changing-styles.png
  microsoft-edge/devtools-guide-chromium/javascript/overrides-images/javascript-overrides-file-name.png
  microsoft-edge/devtools-guide-chromium/javascript/overrides-images/javascript-overrides-file-stored.png
  microsoft-edge/devtools-guide-chromium/javascript/overrides-images/javascript-overrides-folder-setup-complete.png
  microsoft-edge/devtools-guide-chromium/javascript/overrides-images/javascript-overrides-give-access-to-folder.png
  microsoft-edge/devtools-guide-chromium/javascript/overrides-images/javascript-overrides-menu.png
  microsoft-edge/devtools-guide-chromium/javascript/overrides-images/javascript-overrides-network.png
  microsoft-edge/devtools-guide-chromium/javascript/overrides-images/javascript-overrides-overflow-menu.png
  microsoft-edge/devtools-guide-chromium/javascript/overrides-images/javascript-overrides-safe-from-sources.png
  microsoft-edge/devtools-guide-chromium/javascript/overrides-images/javascript-overrides-save-for-overrides.png
  microsoft-edge/devtools-guide-chromium/javascript/overrides-images/javascript-overrides-select-css-file.png
  microsoft-edge/devtools-guide-chromium/javascript/overrides-images/javascript-overrides-select-folder.png
  microsoft-edge/devtools-guide-chromium/javascript/overrides-images/network-tool-icon.png
  microsoft-edge/devtools-guide-chromium/javascript/overrides-images/sources-tool-icon.png
  microsoft-edge/devtools-guide-chromium/javascript/overrides.md
Labels: cat: devtools, on-hold, focus-mode-screenshots

#2844 Focus Mode pngs batch 5 (Issues tool)
  microsoft-edge/devtools-guide-chromium/issues/index-images/browser-filter.png
  microsoft-edge/devtools-guide-chromium/issues/index-images/categories.png
  microsoft-edge/devtools-guide-chromium/issues/index-images/elements-tool-icon.png
  microsoft-edge/devtools-guide-chromium/issues/index-images/initial-view-accessibility-page.png
  microsoft-edge/devtools-guide-chromium/issues/index-images/opened-from-dom-tree-wavy-underline.png
  microsoft-edge/devtools-guide-chromium/issues/index-images/ordered-by-severity.png
  microsoft-edge/devtools-guide-chromium/issues/index-images/severity-filter.png
  microsoft-edge/devtools-guide-chromium/issues/index-images/third-party-checkbox.png
  microsoft-edge/devtools-guide-chromium/issues/index-images/view-issue-in-network.png
  microsoft-edge/devtools-guide-chromium/issues/index-images/wavy-underlines-dom-tree.png
  microsoft-edge/devtools-guide-chromium/issues/index.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/08/devtools.md
Labels: cat: devtools, on-hold, focus-mode-screenshots

#2845 Focus Mode pngs batch 6 (Log msgs Console)
  microsoft-edge/devtools-guide-chromium/console/console-log-images/console-log-examples.png
  microsoft-edge/devtools-guide-chromium/console/console-log-images/console-log-groups-expanded.png
  microsoft-edge/devtools-guide-chromium/console/console-log-images/console-log-groups.png
  microsoft-edge/devtools-guide-chromium/console/console-log-images/console-log-specifiers-expanded.png
  microsoft-edge/devtools-guide-chromium/console/console-log-images/console-log-specifiers.png
  microsoft-edge/devtools-guide-chromium/console/console-log-images/console-log-table-filtered.png
  microsoft-edge/devtools-guide-chromium/console/console-log-images/console-log-table.png
  microsoft-edge/devtools-guide-chromium/console/console-log-images/console-log-types-expanded.png
  microsoft-edge/devtools-guide-chromium/console/console-log-images/console-log-types.png
  microsoft-edge/devtools-guide-chromium/console/console-log.md
Labels: cat: devtools, on-hold, focus-mode-screenshots

#2847 Focus Mode pngs batch 7 (Session storage)
  microsoft-edge/devtools-guide-chromium/storage/sessionstorage-images/clear-icon.png
  microsoft-edge/devtools-guide-chromium/storage/sessionstorage-images/delete-icon.png
  microsoft-edge/devtools-guide-chromium/storage/sessionstorage-images/storage-application-manifest.png
  microsoft-edge/devtools-guide-chromium/storage/sessionstorage-images/storage-application-storage-session-storage-domain-key-value-edit.png
  microsoft-edge/devtools-guide-chromium/storage/sessionstorage-images/storage-application-storage-session-storage-domain-key-value-new.png
  microsoft-edge/devtools-guide-chromium/storage/sessionstorage-images/storage-application-storage-session-storage-domain-key-value-selected.png
  microsoft-edge/devtools-guide-chromium/storage/sessionstorage-images/storage-application-storage-session-storage-domain.png
  microsoft-edge/devtools-guide-chromium/storage/sessionstorage-images/storage-application-storage-session-storage.png
  microsoft-edge/devtools-guide-chromium/storage/sessionstorage-images/storage-console-domain-selection.png
  microsoft-edge/devtools-guide-chromium/storage/sessionstorage-images/storage-console-session-storage-keys.png
  microsoft-edge/devtools-guide-chromium/storage/sessionstorage.md
Labels: cat: devtools, on-hold, focus-mode-screenshots

#2852 Updated article "Extensions in the Microsoft Edge sidebar"
  microsoft-edge/extensions-chromium/developer-guide/sidebar.md
Labels: cat: extensions

#2858 Add widget screenshot requirements and update some out of date fields
  microsoft-edge/progressive-web-apps-chromium/how-to/widgets.md
Labels: cat: pwas

#2863 Update winui2.md to use `SetEnvironmentVariable` from Environment class for setting default background colour
  microsoft-edge/webview2/get-started/winui2.md
Labels: cat: webview2

#2856 Create TOC bucket "Test and automation in WebView2 apps"
  microsoft-edge/toc.yml
Labels: cat: webview2

#2848 Add guidance about updating store PWAs
  microsoft-edge/progressive-web-apps-chromium/how-to/microsoft-store-images/windows-partner-center-start-submission.png
  microsoft-edge/progressive-web-apps-chromium/how-to/microsoft-store.md
Labels: cat: pwas

#2841 Release Notes for WebView2 118 Release SDK
  microsoft-edge/webview2/release-notes.md
Labels: cat: webview2

#2878 Focus Mode for "Test color blindness" article
  microsoft-edge/devtools-guide-chromium/accessibility/test-color-blindness-images/a11y-testing-simulating-protanopia.png
  microsoft-edge/devtools-guide-chromium/accessibility/test-color-blindness.md
Labels: cat: devtools, on-hold, focus-mode-screenshots

#2879 Focus Mode for "Application tool" article
  microsoft-edge/devtools-guide-chromium/storage/application-tool-images/application-tool.png
  microsoft-edge/devtools-guide-chromium/storage/application-tool.md
Labels: cat: devtools, on-hold, focus-mode-screenshots

#2870 Release Notes for WebView2 120 Prerelease SDK
  microsoft-edge/webview2/release-notes.md
Labels: cat: webview2

#2876 [Focus Mode] New images and content for the snippets article
  microsoft-edge/devtools-guide-chromium/javascript/snippets-images/command-menu.png
  microsoft-edge/devtools-guide-chromium/javascript/snippets-images/edit-snippet.png
  microsoft-edge/devtools-guide-chromium/javascript/snippets-images/javascript-search-create-new-snippet.png
  microsoft-edge/devtools-guide-chromium/javascript/snippets-images/javascript-search-run-command.png
  microsoft-edge/devtools-guide-chromium/javascript/snippets-images/javascript-search-show-snippets.png
  microsoft-edge/devtools-guide-chromium/javascript/snippets-images/javascript-sources-page-pane.png
  microsoft-edge/devtools-guide-chromium/javascript/snippets-images/javascript-sources-snippets-editor-saved.png
  microsoft-edge/devtools-guide-chromium/javascript/snippets-images/javascript-sources-snippets-editor-unsaved.png
  microsoft-edge/devtools-guide-chromium/javascript/snippets-images/javascript-sources-snippets-naming.png
  microsoft-edge/devtools-guide-chromium/javascript/snippets-images/javascript-sources-snippets-pane.png
  microsoft-edge/devtools-guide-chromium/javascript/snippets-images/javascript-sources-snippets-split-screen-after.png
  microsoft-edge/devtools-guide-chromium/javascript/snippets-images/javascript-sources-snippets-split-screen.png
  microsoft-edge/devtools-guide-chromium/javascript/snippets-images/more-tabs-icon.png
  microsoft-edge/devtools-guide-chromium/javascript/snippets-images/more-tools-icon.png
  microsoft-edge/devtools-guide-chromium/javascript/snippets-images/new-snippet-command-menu.png
  microsoft-edge/devtools-guide-chromium/javascript/snippets-images/new-snippet.png
  microsoft-edge/devtools-guide-chromium/javascript/snippets-images/run-snippet-from-command-menu.png
  microsoft-edge/devtools-guide-chromium/javascript/snippets-images/run-snippet-from-sources-tool.png
  microsoft-edge/devtools-guide-chromium/javascript/snippets-images/run-snippet-icon.png
  microsoft-edge/devtools-guide-chromium/javascript/snippets-images/snippets-overview.png
  microsoft-edge/devtools-guide-chromium/javascript/snippets-images/sources-tool-page-pane.png
  microsoft-edge/devtools-guide-chromium/javascript/snippets-images/unsaved-changes.png
  microsoft-edge/devtools-guide-chromium/javascript/snippets.md
Labels: cat: devtools, focus-mode-screenshots

#2874 [Focus Mode] Convert the evaluate-performance doc to focus mode UI
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index-images/animation-frame-children.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index-images/animation-frame-fired.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index-images/capture-results.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index-images/capture-settings.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index-images/cpu-chart.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index-images/feedback-icon.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index-images/fps-meter-overlay.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index-images/frame-hover.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index-images/get-started-side-by-side.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index-images/help-icon.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index-images/main-zoomed.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index-images/main.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index-images/profiling.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index-images/sources-app-update.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index-images/summary-tab.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index.md
Labels: cat: devtools, focus-mode-screenshots

#2877 [Focus Mode] New images for the IndexedDB article
  microsoft-edge/devtools-guide-chromium/storage/indexeddb-images/application-tool-manifest-panel.png
  microsoft-edge/devtools-guide-chromium/storage/indexeddb-images/clear-icon.png
  microsoft-edge/devtools-guide-chromium/storage/indexeddb-images/clear-object-store.png
  microsoft-edge/devtools-guide-chromium/storage/indexeddb-images/clear-site-data.png
  microsoft-edge/devtools-guide-chromium/storage/indexeddb-images/database-icon.png
  microsoft-edge/devtools-guide-chromium/storage/indexeddb-images/database-information.png
  microsoft-edge/devtools-guide-chromium/storage/indexeddb-images/delete-database.png
  microsoft-edge/devtools-guide-chromium/storage/indexeddb-images/delete-icon.png
  microsoft-edge/devtools-guide-chromium/storage/indexeddb-images/delete-keyval.png
  microsoft-edge/devtools-guide-chromium/storage/indexeddb-images/edit-from-snippet.png
  microsoft-edge/devtools-guide-chromium/storage/indexeddb-images/expanded-indexeddb-menu.png
  microsoft-edge/devtools-guide-chromium/storage/indexeddb-images/expanded-value.png
  microsoft-edge/devtools-guide-chromium/storage/indexeddb-images/more-tools-icon.png
  microsoft-edge/devtools-guide-chromium/storage/indexeddb-images/object-store-icon.png
  microsoft-edge/devtools-guide-chromium/storage/indexeddb-images/object-store-key-values.png
  microsoft-edge/devtools-guide-chromium/storage/indexeddb-images/refresh-db.png
  microsoft-edge/devtools-guide-chromium/storage/indexeddb-images/reload-icon.png
  microsoft-edge/devtools-guide-chromium/storage/indexeddb-images/select-keyval.png
  microsoft-edge/devtools-guide-chromium/storage/indexeddb-images/storage-application-clear-storage-indexeddb-clear-site-data.png
  microsoft-edge/devtools-guide-chromium/storage/indexeddb-images/storage-application-manifest-empty.png
  microsoft-edge/devtools-guide-chromium/storage/indexeddb-images/storage-application-storage-indexeddb-notes_db-delete-database.png
  microsoft-edge/devtools-guide-chromium/storage/indexeddb-images/storage-application-storage-indexeddb-notes_db-notes_os-clear-object-store.png
  microsoft-edge/devtools-guide-chromium/storage/indexeddb-images/storage-application-storage-indexeddb-notes_db-notes_os-delete-selected.png
  microsoft-edge/devtools-guide-chromium/storage/indexeddb-images/storage-application-storage-indexeddb-notes_db-notes_os-edge-chromium.png
  microsoft-edge/devtools-guide-chromium/storage/indexeddb-images/storage-application-storage-indexeddb-notes_db-notes_os-refresh-database.png
  microsoft-edge/devtools-guide-chromium/storage/indexeddb-images/storage-application-storage-indexeddb-notes_db-notes_os-title.png
  microsoft-edge/devtools-guide-chromium/storage/indexeddb-images/storage-application-storage-indexeddb-notes_db-notes_os.png
  microsoft-edge/devtools-guide-chromium/storage/indexeddb-images/storage-application-storage-indexeddb-notes_db-notes_os2.png
  microsoft-edge/devtools-guide-chromium/storage/indexeddb-images/storage-application-storage-indexeddb-notes_db.png
  microsoft-edge/devtools-guide-chromium/storage/indexeddb-images/storage-application-storage-indexeddb.png
  microsoft-edge/devtools-guide-chromium/storage/indexeddb-images/storage-sources-snippets-indexeddb-output.png
  microsoft-edge/devtools-guide-chromium/storage/indexeddb.md
Labels: cat: devtools, focus-mode-screenshots

#2868 New article "Curation and review process for the Edge Add-ons store"
  microsoft-edge/extensions-chromium/publish/add-ons-store-curation.md
  microsoft-edge/toc.yml
Labels: cat: extensions

#2873 JSON viewer: removing the experimental flag and adding a note about `window.open`
  microsoft-edge/devtools-guide-chromium/json-viewer/json-viewer-images/enable-flag.png
  microsoft-edge/devtools-guide-chromium/json-viewer/json-viewer.md
  microsoft-edge/toc.yml
Labels: cat: webplatform

#2889 Fixed code snippet to actually create a large strings in the heap snapshot article
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots.md
Labels: cat: devtools

#2884 [Focus Mode] New images and content for the DOM getting started guide
  microsoft-edge/devtools-guide-chromium/dom/index-images/break-attribute-modifications-break-on-attribute-modifications.png
  microsoft-edge/devtools-guide-chromium/dom/index-images/copy-js-path-console-query-selector.png
  microsoft-edge/devtools-guide-chromium/dom/index-images/dom-break-attribute-modifications-sources-paused-on.png
  microsoft-edge/devtools-guide-chromium/dom/index-images/dom-elements-highlighted-break-attribute-modifications-break-on-attribute-modifications.png
  microsoft-edge/devtools-guide-chromium/dom/index-images/dom-elements-highlighted-copy-js-path-console-query-selector.png
  microsoft-edge/devtools-guide-chromium/dom/index-images/dom-elements-highlighted-edit-attributes-highlighted.png
  microsoft-edge/devtools-guide-chromium/dom/index-images/dom-elements-highlighted-edit-attributes-inline-css.png
  microsoft-edge/devtools-guide-chromium/dom/index-images/dom-elements-highlighted-edit-content.png
  microsoft-edge/devtools-guide-chromium/dom/index-images/dom-elements-highlighted-edit-html-editor-closed.png
  microsoft-edge/devtools-guide-chromium/dom/index-images/dom-elements-highlighted-edit-html-editor.png
  microsoft-edge/devtools-guide-chromium/dom/index-images/dom-elements-highlighted-edit-node-type-button.png
  microsoft-edge/devtools-guide-chromium/dom/index-images/dom-elements-highlighted-hide-a-node.png
  microsoft-edge/devtools-guide-chromium/dom/index-images/dom-elements-highlighted-navigate-dom-tree-keyboard-ringo.png
  microsoft-edge/devtools-guide-chromium/dom/index-images/dom-elements-highlighted-navigate-dom-tree-keyboard-ul.png
  microsoft-edge/devtools-guide-chromium/dom/index-images/dom-elements-highlighted-reference-currently-selected-node-console-1.png
  microsoft-edge/devtools-guide-chromium/dom/index-images/dom-elements-highlighted-reference-currently-selected-node-console-2.png
  microsoft-edge/devtools-guide-chromium/dom/index-images/dom-elements-highlighted-right-click-right-side.png
  microsoft-edge/devtools-guide-chromium/dom/index-images/dom-elements-highlighted-scroll-into-view-dropdown.png
  microsoft-edge/devtools-guide-chromium/dom/index-images/dom-elements-highlighted-search-nodes-highlight.png
  microsoft-edge/devtools-guide-chromium/dom/index-images/dom-elements-highlighted-select-element-page-inspect.png
  microsoft-edge/devtools-guide-chromium/dom/index-images/dom-elements-highlighted-store-global-variable-console-temp1.png
  microsoft-edge/devtools-guide-chromium/dom/index-images/dom-elements-reorder-dom-nodes.png
  microsoft-edge/devtools-guide-chromium/dom/index-images/dom-glitch-dom-examples-michelangelo-elements-highlighted.png
  microsoft-edge/devtools-guide-chromium/dom/index-images/dom-glitch-dom-examples-michelangelo-inspect.png
  microsoft-edge/devtools-guide-chromium/dom/index-images/edit-attributes-highlighted.png
  microsoft-edge/devtools-guide-chromium/dom/index-images/edit-attributes-inline-css.png
  microsoft-edge/devtools-guide-chromium/dom/index-images/edit-content.png
  microsoft-edge/devtools-guide-chromium/dom/index-images/edit-html-editor-closed.png
  microsoft-edge/devtools-guide-chromium/dom/index-images/edit-html-editor.png
  microsoft-edge/devtools-guide-chromium/dom/index-images/edit-node-type-button.png
  microsoft-edge/devtools-guide-chromium/dom/index-images/hide-a-node.png
  microsoft-edge/devtools-guide-chromium/dom/index-images/michelangelo-elements-highlighted.png
  microsoft-edge/devtools-guide-chromium/dom/index-images/michelangelo-inspect.png
  microsoft-edge/devtools-guide-chromium/dom/index-images/navigate-dom-tree-keyboard-ringo.png
  microsoft-edge/devtools-guide-chromium/dom/index-images/navigate-dom-tree-keyboard-ul.png
  microsoft-edge/devtools-guide-chromium/dom/index-images/reference-currently-selected-node-console-1.png
  microsoft-edge/devtools-guide-chromium/dom/index-images/reference-currently-selected-node-console-2.png
  microsoft-edge/devtools-guide-chromium/dom/index-images/reorder-dom-nodes.png
  microsoft-edge/devtools-guide-chromium/dom/index-images/right-click-right-side.png
  microsoft-edge/devtools-guide-chromium/dom/index-images/scroll-into-view-dropdown.png
  microsoft-edge/devtools-guide-chromium/dom/index-images/search-nodes-highlight.png
  microsoft-edge/devtools-guide-chromium/dom/index-images/select-element-page-inspect.png
  microsoft-edge/devtools-guide-chromium/dom/index-images/store-global-variable-console-temp1.png
  microsoft-edge/devtools-guide-chromium/dom/index.md
Labels: cat: devtools, focus-mode-screenshots

#2890 [Focus Mode] New content and images for the Network request blocking tool
  microsoft-edge/devtools-guide-chromium/network-request-blocking/network-request-blocking-tool-images/block-network-request.png
  microsoft-edge/devtools-guide-chromium/network-request-blocking/network-request-blocking-tool-images/block-request-from-network-tool.png
  microsoft-edge/devtools-guide-chromium/network-request-blocking/network-request-blocking-tool-images/blocked-images.png
  microsoft-edge/devtools-guide-chromium/network-request-blocking/network-request-blocking-tool-images/edit-blocked-request.png
  microsoft-edge/devtools-guide-chromium/network-request-blocking/network-request-blocking-tool-images/more-tabs-icon-light-theme.png
  microsoft-edge/devtools-guide-chromium/network-request-blocking/network-request-blocking-tool-images/network-request-blocking-tool-not-blocked.png
  microsoft-edge/devtools-guide-chromium/network-request-blocking/network-request-blocking-tool-images/network-request-blocking-tool-remove-all-patterns-icon.png
  microsoft-edge/devtools-guide-chromium/network-request-blocking/network-request-blocking-tool-images/network-request-blocking-tool.png
  microsoft-edge/devtools-guide-chromium/network-request-blocking/network-request-blocking-tool-images/remove-blocked-request.png
  microsoft-edge/devtools-guide-chromium/network-request-blocking/network-request-blocking-tool-images/toggle-request-blocking.png
  microsoft-edge/devtools-guide-chromium/network-request-blocking/network-request-blocking-tool.md
Labels: cat: devtools, focus-mode-screenshots

#2892 Fixed typo in webview2 local content article
  microsoft-edge/webview2/concepts/working-with-local-content.md
Labels: cat: webview2

#2885 Update docs for getting token for origin trial
  microsoft-edge/devtools-guide-chromium/whats-new/whats-new.md
  microsoft-edge/origin-trials/index.md
  microsoft-edge/progressive-web-apps-chromium/how-to/handle-urls.md
  microsoft-edge/progressive-web-apps-chromium/how-to/origin-trials.md
  microsoft-edge/progressive-web-apps-chromium/whats-new/pwa.md
  microsoft-edge/test-and-automation/test-and-automation.md
  microsoft-edge/toc.yml
Labels: cat: devtools, cat: pwas, cat: test-automation

#2894 [Focus Mode] New images and content for JS reference article
  microsoft-edge/devtools-guide-chromium/javascript/reference-images/add-line-breakpoint.png
  microsoft-edge/devtools-guide-chromium/javascript/reference-images/add-to-ignore-list-from-callstack.png
  microsoft-edge/devtools-guide-chromium/javascript/reference-images/add-to-ignore-list.png
  microsoft-edge/devtools-guide-chromium/javascript/reference-images/call-stack.png
  microsoft-edge/devtools-guide-chromium/javascript/reference-images/continue-here.png
  microsoft-edge/devtools-guide-chromium/javascript/reference-images/copy-stack-trace.png
  microsoft-edge/devtools-guide-chromium/javascript/reference-images/customize-icon.png
  microsoft-edge/devtools-guide-chromium/javascript/reference-images/delete-expression-icon.png
  microsoft-edge/devtools-guide-chromium/javascript/reference-images/edit-script.png
  microsoft-edge/devtools-guide-chromium/javascript/reference-images/force-script-run-icon.png
  microsoft-edge/devtools-guide-chromium/javascript/reference-images/force-script-runtime.png
  microsoft-edge/devtools-guide-chromium/javascript/reference-images/format-icon.png
  microsoft-edge/devtools-guide-chromium/javascript/reference-images/ignore-list-settings.png
  microsoft-edge/devtools-guide-chromium/javascript/reference-images/javascript-framework-library-code.png
  microsoft-edge/devtools-guide-chromium/javascript/reference-images/javascript-glitch-debug-js-sources-get-started-inputs-are-empty-call-stack-mark-as-library-code.png
  microsoft-edge/devtools-guide-chromium/javascript/reference-images/javascript-glitch-debug-js-sources-get-started-inputs-are-empty-copy-stack-trace.png
  microsoft-edge/devtools-guide-chromium/javascript/reference-images/javascript-glitch-debug-js-sources-get-started-inputs-are-empty-editor-mark-as-library-code.png
  microsoft-edge/devtools-guide-chromium/javascript/reference-images/javascript-glitch-debug-js-sources-get-started-inputs-are-empty.png
  microsoft-edge/devtools-guide-chromium/javascript/reference-images/javascript-source-page-continue-to-here.png
  microsoft-edge/devtools-guide-chromium/javascript/reference-images/javascript-source-page-debugger-restart-frame.png
  microsoft-edge/devtools-guide-chromium/javascript/reference-images/javascript-source-page-debugger-step-into-next-function-call.png
  microsoft-edge/devtools-guide-chromium/javascript/reference-images/javascript-source-page-debugger-step-out-of-current-function.png
  microsoft-edge/devtools-guide-chromium/javascript/reference-images/javascript-source-page-debugger-step-over-next-function-call.png
  microsoft-edge/devtools-guide-chromium/javascript/reference-images/javascript-sources-get-started-js-force-script-runtime.png
  microsoft-edge/devtools-guide-chromium/javascript/reference-images/javascript-sources-get-started-js-resume-script-runtime.png
  microsoft-edge/devtools-guide-chromium/javascript/reference-images/javascript-sources-get-started-js-scope.png
  microsoft-edge/devtools-guide-chromium/javascript/reference-images/javascript-sources-get-started-js-watch.png
  microsoft-edge/devtools-guide-chromium/javascript/reference-images/javascript-sources-html-minified.png
  microsoft-edge/devtools-guide-chromium/javascript/reference-images/javascript-sources-html-non-minified.png
  microsoft-edge/devtools-guide-chromium/javascript/reference-images/javascript-sources-main-min-js-threads.png
  microsoft-edge/devtools-guide-chromium/javascript/reference-images/javascript-sources-page-js-breakpoint-30.png
  microsoft-edge/devtools-guide-chromium/javascript/reference-images/more-tools-icon.png
  microsoft-edge/devtools-guide-chromium/javascript/reference-images/refresh-icon.png
  microsoft-edge/devtools-guide-chromium/javascript/reference-images/restart-frame.png
  microsoft-edge/devtools-guide-chromium/javascript/reference-images/resume-script-runtime.png
  microsoft-edge/devtools-guide-chromium/javascript/reference-images/scope.png
  microsoft-edge/devtools-guide-chromium/javascript/reference-images/settings-icon.png
  microsoft-edge/devtools-guide-chromium/javascript/reference-images/step-into.png
  microsoft-edge/devtools-guide-chromium/javascript/reference-images/step-out-icon.png
  microsoft-edge/devtools-guide-chromium/javascript/reference-images/step-out.png
  microsoft-edge/devtools-guide-chromium/javascript/reference-images/step-over.png
  microsoft-edge/devtools-guide-chromium/javascript/reference-images/threads.png
  microsoft-edge/devtools-guide-chromium/javascript/reference-images/unminify-script.png
  microsoft-edge/devtools-guide-chromium/javascript/reference-images/watch.png
  microsoft-edge/devtools-guide-chromium/javascript/reference.md
  microsoft-edge/progressive-web-apps-chromium/how-to/debug.md
Labels: cat: devtools, focus-mode-screenshots
