Repository MicrosoftDocs/edge-developer, pull requests merged in 2023-08, with the labels that each got.

#2747 Remove "en." URL prefix from wiki links
  microsoft-edge/dev-videos/index.md
  microsoft-edge/devtools-guide-chromium/console/console-javascript.md
  microsoft-edge/devtools-guide-chromium/console/console-log.md
  microsoft-edge/devtools-guide-chromium/console/index.md
  microsoft-edge/devtools-guide-chromium/css/reference.md
  microsoft-edge/devtools-guide-chromium/device-mode/index.md
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index.md
  microsoft-edge/devtools-guide-chromium/javascript/index.md
  microsoft-edge/devtools-guide-chromium/javascript/publish-source-maps-to-azure.md
  microsoft-edge/devtools-guide-chromium/javascript/snippets.md
  microsoft-edge/devtools-guide-chromium/network/reference.md
  microsoft-edge/devtools-guide-chromium/resources/index.md
  microsoft-edge/devtools-guide-chromium/workspaces/index.md
  microsoft-edge/devtools-protocol-chromium/index.md
  microsoft-edge/extensions-chromium/publish/api/addons-api-reference.md
  microsoft-edge/extensions-chromium/publish/contact-extensions-team.md
  microsoft-edge/extensions-chromium/store-policies/csp.md
  microsoft-edge/playwright/index.md
  microsoft-edge/progressive-web-apps-chromium/how-to/best-practices.md
  microsoft-edge/progressive-web-apps-chromium/how-to/handle-protocols.md
  microsoft-edge/progressive-web-apps-chromium/index.md
  microsoft-edge/puppeteer/index.md
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension/get-started-launch-instance.md
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension/get-started-launch-project.md
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension/install.md
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension/open-devtools-and-embedded-browser.md
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension/troubleshooting.md
  microsoft-edge/webview2/concepts/data-privacy.md
  microsoft-edge/webview2/concepts/frames.md
  microsoft-edge/webview2/get-started/wpf.md
Labels: cat: general

#2457 Continuing clean up/modernization of Performance docs
  microsoft-edge/devtools-guide-chromium/about-tools.md
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index.md
  microsoft-edge/devtools-guide-chromium/evaluate-performance/reference.md
  microsoft-edge/devtools-guide-chromium/evaluate-performance/selector-stats.md
  microsoft-edge/devtools-guide-chromium/evaluate-performance/unminify.md
  microsoft-edge/devtools-guide-chromium/experimental-features/index.md
  microsoft-edge/devtools-guide-chromium/javascript-profiler/javascript-profiler-tool.md
  microsoft-edge/devtools-guide-chromium/landing/index.yml
  microsoft-edge/devtools-guide-chromium/overview.md
  microsoft-edge/devtools-guide-chromium/rendering-tools/index.md
  microsoft-edge/devtools-guide-chromium/sample-code/sample-code.md
  microsoft-edge/devtools-guide-chromium/whats-new/2023/06/devtools-114.md
  microsoft-edge/extensions-chromium/store-policies/developer-policies.md
  microsoft-edge/toc.yml
Labels: cat: devtools

#2758 Corrected "Ctrl+W" to "Windows logo key + W"
  microsoft-edge/devtools-guide-chromium/ie-mode/index.md
  microsoft-edge/progressive-web-apps-chromium/how-to/widgets.md
  microsoft-edge/webview2/how-to/debug-visual-studio-code.md
  microsoft-edge/webview2/samples/wv2deploymentwixburnbundlesample.md
  microsoft-edge/webview2/samples/wv2deploymentwixcustomactionsample.md
Labels: cat: pwas

#2729 New general sidebar article to help devs choose between PWA and extensions
  microsoft-edge/toc.yml
  microsoft-edge/web-platform/sidebar-images/sidebar.png
  microsoft-edge/web-platform/sidebar.md
  microsoft-edge/web-platform/web-platform.md
Labels: cat: webplatform

#2764 Update UWP downloads notes
  microsoft-edge/webview2/get-started/winui2.md
Labels: cat: webview2

#2750 Adding link to MDA as requested by the Edge team
  microsoft-edge/privacy-whitepaper/index.md
Labels: on-hold, cat: privacy

#2753 Remove experimental flag and OT from PWA widgets doc
  microsoft-edge/progressive-web-apps-chromium/how-to/widgets-images/experimental-features-flag.png
  microsoft-edge/progressive-web-apps-chromium/how-to/widgets-images/widgets-flag.png
  microsoft-edge/progressive-web-apps-chromium/how-to/widgets.md
Labels: cat: pwas

#2756 Fixed code for WebResourceResponseReceived event
  microsoft-edge/webview2/how-to/webresourcerequested.md
Labels: cat: webview2

#2665 DevTools Selector Stats: renewed screenshots and added content about getting aggregate stats
  microsoft-edge/devtools-guide-chromium/evaluate-performance/selector-stats-images/copy-table.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/selector-stats-images/enable-feature.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/selector-stats-images/full-recording.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/selector-stats-images/long-running-task.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/selector-stats-images/performance-tool-long-running-task.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/selector-stats-images/performance-tool-selector-stats.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/selector-stats-images/single-event.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/selector-stats-images/sort-by-elapsed-time.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/selector-stats.md
Labels: cat: devtools

#2774 Clarify building a widget PWA experience
  microsoft-edge/progressive-web-apps-chromium/how-to/best-practices.md
  microsoft-edge/progressive-web-apps-chromium/how-to/widgets.md
Labels: cat: pwas

#2773 Change "WebView2 prefab" to "WebView prefab" for HoloLens/Unity
  microsoft-edge/webview2/get-started/hololens2-images/mrtk_webview2_selected.png
  microsoft-edge/webview2/get-started/hololens2.md
Labels: cat: webview2

#2786 MouseDown code in "Get started with WebView2 in HoloLens 2 Unity apps"
  microsoft-edge/webview2/get-started/hololens2.md
Labels: cat: webview2

#2780 PWABuilder Docs Review
  microsoft-edge/progressive-web-apps-chromium/how-to/microsoft-store-images/pwabuilder-windows-package-options.png
  microsoft-edge/progressive-web-apps-chromium/how-to/microsoft-store-images/report-card.png
  microsoft-edge/progressive-web-apps-chromium/how-to/microsoft-store.md
Labels: cat: pwas

#2789 Updated link in "Add-ons store developer policies"
  microsoft-edge/extensions-chromium/store-policies/developer-policies.md
Labels: cat: extensions

#2796 Revise date to disable modifying document.domain
  microsoft-edge/web-platform/site-impacting-changes.md
Labels: cat: webplatform

#2754 Simplified and updated the PWA Push docs
  microsoft-edge/progressive-web-apps-chromium/how-to/push-images/devtools-push.png
  microsoft-edge/progressive-web-apps-chromium/how-to/push-images/notification-permission.png
  microsoft-edge/progressive-web-apps-chromium/how-to/push-images/windows-action-center.png
  microsoft-edge/progressive-web-apps-chromium/how-to/push.md
Labels: cat: pwas

#2778 Updated the Collections section of Privacy whitepaper
  microsoft-edge/privacy-whitepaper/index.md
Labels: cat: privacy

#2654 What's New 115
  microsoft-edge/devtools-guide-chromium/experimental-features/index.md
  microsoft-edge/devtools-guide-chromium/whats-new/2023/07/devtools-115-images/aad-symbol-server.png
  microsoft-edge/devtools-guide-chromium/whats-new/2023/07/devtools-115-images/allocation-instrumentation-on-timeline.png
  microsoft-edge/devtools-guide-chromium/whats-new/2023/07/devtools-115-images/device-mode-dropdown.png
  microsoft-edge/devtools-guide-chromium/whats-new/2023/07/devtools-115-images/icon-update-performance.png
  microsoft-edge/devtools-guide-chromium/whats-new/2023/07/devtools-115-images/icon-update-sources.png
  microsoft-edge/devtools-guide-chromium/whats-new/2023/07/devtools-115-images/profiling-overhead-performance.png
  microsoft-edge/devtools-guide-chromium/whats-new/2023/07/devtools-115.md
  microsoft-edge/devtools-guide-chromium/whats-new/whats-new-archive.md
  microsoft-edge/devtools-guide-chromium/whats-new/whats-new.md
  microsoft-edge/toc.yml
Labels: cat: devtools

#2800 Adding the developer mode requirement to PWA widgets doc
  microsoft-edge/progressive-web-apps-chromium/how-to/widgets-images/developer-mode.png
  microsoft-edge/progressive-web-apps-chromium/how-to/widgets.md
Labels: cat: pwas

#2748 Release Notes for WebView2 116 Release
  microsoft-edge/webview2/concepts/overview-features-apis.md
  microsoft-edge/webview2/release-notes.md
Labels: in-progress, cat: webview2

#2798 New sections in the CSS reference article for the shadow and easing editors
  microsoft-edge/devtools-guide-chromium/css/reference-images/easing-editor-changes.png
  microsoft-edge/devtools-guide-chromium/css/reference-images/easing-editor-icon.png
  microsoft-edge/devtools-guide-chromium/css/reference-images/easing-editor.png
  microsoft-edge/devtools-guide-chromium/css/reference-images/shadow-editor-changes.png
  microsoft-edge/devtools-guide-chromium/css/reference-images/shadow-editor-icon.png
  microsoft-edge/devtools-guide-chromium/css/reference-images/shadow-editor.png
  microsoft-edge/devtools-guide-chromium/css/reference.md
Labels: cat: devtools

#2806 Add readingList API to Not Supported section
  microsoft-edge/extensions-chromium/developer-guide/api-support.md
Labels: cat: extensions

#2808 Updated content and screenshots for the Live Expressions article
  microsoft-edge/devtools-guide-chromium/console/live-expressions-images/body-active-element.png
  microsoft-edge/devtools-guide-chromium/console/live-expressions-images/close-icon.png
  microsoft-edge/devtools-guide-chromium/console/live-expressions-images/console-live-expression-mouse-logging.png
  microsoft-edge/devtools-guide-chromium/console/live-expressions-images/console-live-expressions-document-active-element-nav-button.png
  microsoft-edge/devtools-guide-chromium/console/live-expressions-images/console-live-expressions-document-active-element-search.png
  microsoft-edge/devtools-guide-chromium/console/live-expressions-images/console-live-expressions-document-active-element.png
  microsoft-edge/devtools-guide-chromium/console/live-expressions-images/console-live-expressions-new.png
  microsoft-edge/devtools-guide-chromium/console/live-expressions-images/console-live-expressions-remove.png
  microsoft-edge/devtools-guide-chromium/console/live-expressions-images/console-live-expressions-x-and-y.png
  microsoft-edge/devtools-guide-chromium/console/live-expressions-images/empty-expression.png
  microsoft-edge/devtools-guide-chromium/console/live-expressions-images/input-active-element.png
  microsoft-edge/devtools-guide-chromium/console/live-expressions-images/live-expression-icon.png
  microsoft-edge/devtools-guide-chromium/console/live-expressions-images/mouse-position-logs.png
  microsoft-edge/devtools-guide-chromium/console/live-expressions-images/remove-live-expression.png
  microsoft-edge/devtools-guide-chromium/console/live-expressions-images/second-empty-expression.png
  microsoft-edge/devtools-guide-chromium/console/live-expressions-images/three-expressions.png
  microsoft-edge/devtools-guide-chromium/console/live-expressions-images/x-and-y.png
  microsoft-edge/devtools-guide-chromium/console/live-expressions.md
Labels: cat: devtools

#2677 Cleanup Sidebar Extensions article
  microsoft-edge/extensions-chromium/developer-guide/sidebar.md
Labels: cat: extensions

#2783 Release Notes for WebView2 118 Prerelease SDK
  microsoft-edge/webview2/release-notes.md
Labels: cat: webview2
