Repository MicrosoftDocs/edge-developer, pull requests merged in 2023-11, with the labels that each got.

#2897 Updated docs for Xbox GA
  microsoft-edge/webview2/get-started/winui2.md
  microsoft-edge/webview2/index.md
  microsoft-edge/webview2/roadmap.md
Labels: cat: webview2, on-hold

#2906 Propagate revised title "Experimental features in Microsoft Edge DevTools"
  microsoft-edge/devtools-guide-chromium/about-tools.md
  microsoft-edge/devtools-guide-chromium/landing/index.yml
  microsoft-edge/devtools-guide-chromium/network-console/network-console-tool.md
  microsoft-edge/devtools-guide-chromium/overview.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/06/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2021/01/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2021/02/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2021/04/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2022/01/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2022/05/devtools-102.md
  microsoft-edge/toc.yml
Labels: cat: devtools

#2904 Update roadmap.md
  microsoft-edge/webview2/roadmap.md
Labels: cat: webview2

#2882 Release Notes for WebView2 119 Release SDK & 120 Prerelease SDK
  microsoft-edge/webview2/release-notes.md
Labels: cat: webview2

#2912 Update site-impacting-changes.md
  microsoft-edge/web-platform/site-impacting-changes.md
Labels: cat: webview2

#2907 Fix the shell command on linux to use the stable version of edge
  microsoft-edge/devtools-guide-chromium/overview.md
Labels: cat: devtools

#2909 Remove outdated 117 version
  microsoft-edge/extensions-chromium/developer-guide/sidebar.md
Labels: cat: extensions

#2913 Add Nov. Stable Release APIs to "Overview of APIs"
  microsoft-edge/webview2/concepts/overview-features-apis.md
Labels: cat: webview2

#2911 AAD to Microsoft Entra ID rename
  microsoft-edge/devtools-guide-chromium/javascript/consume-source-maps-from-azure-images/select-ado-org.png
  microsoft-edge/devtools-guide-chromium/javascript/consume-source-maps-from-azure.md
  microsoft-edge/devtools-guide-chromium/whats-new/2023/07/devtools-115-images/entra-id-symbol-server.png
  microsoft-edge/devtools-guide-chromium/whats-new/2023/07/devtools-115.md
  microsoft-edge/extensions-chromium/developer-guide/api-support.md
  microsoft-edge/extensions-chromium/publish/aad-account.md
  microsoft-edge/extensions-chromium/publish/create-dev-account.md
  microsoft-edge/extensions-chromium/publish/github.md
  microsoft-edge/extensions-chromium/publish/verify-microsoft-edge-program.md
  microsoft-edge/privacy-whitepaper/index.md
Labels: cat: general

#2914 Fixed labels to match the actual options
  microsoft-edge/devtools-guide-chromium/network/index.md
Labels: cat: devtools

#2896 Updated macOS command to use Edge
  microsoft-edge/devtools-guide-chromium/overview.md
Labels: cat: devtools

#2898 [Focus Mode] New images and content for the Resources article
  microsoft-edge/devtools-guide-chromium/resources/index-images/application-mainfest-expanded-resources.png
  microsoft-edge/devtools-guide-chromium/resources/index-images/application-mainfest-frames-expanded.png
  microsoft-edge/devtools-guide-chromium/resources/index-images/application-mainfest.png
  microsoft-edge/devtools-guide-chromium/resources/index-images/command-menu-empty.png
  microsoft-edge/devtools-guide-chromium/resources/index-images/command-menu-file-search.png
  microsoft-edge/devtools-guide-chromium/resources/index-images/more-options-icon.png
  microsoft-edge/devtools-guide-chromium/resources/index-images/more-tabs-icon-light-theme.png
  microsoft-edge/devtools-guide-chromium/resources/index-images/network-resources-filter-css.png
  microsoft-edge/devtools-guide-chromium/resources/index-images/network-resources.png
  microsoft-edge/devtools-guide-chromium/resources/index-images/network-response.png
  microsoft-edge/devtools-guide-chromium/resources/index-images/resources-application-mainfest-airhorner-expanded-resources.png
  microsoft-edge/devtools-guide-chromium/resources/index-images/resources-application-mainfest-airhorner-frames-expanded.png
  microsoft-edge/devtools-guide-chromium/resources/index-images/resources-application-mainfest-airhorner.png
  microsoft-edge/devtools-guide-chromium/resources/index-images/resources-command-menu-empty.png
  microsoft-edge/devtools-guide-chromium/resources/index-images/resources-command-menu-file-search.png
  microsoft-edge/devtools-guide-chromium/resources/index-images/resources-network-resources-filter-css.png
  microsoft-edge/devtools-guide-chromium/resources/index-images/resources-network-resources.png
  microsoft-edge/devtools-guide-chromium/resources/index-images/resources-network-response.png
  microsoft-edge/devtools-guide-chromium/resources/index-images/resources-sources-page-empty.png
  microsoft-edge/devtools-guide-chromium/resources/index-images/resources-sources-page-resource-group-by-folder.png
  microsoft-edge/devtools-guide-chromium/resources/index-images/resources-sources-page-resource.png
  microsoft-edge/devtools-guide-chromium/resources/index-images/resources-sources-page-resources-empty-not-grouped-by-folder.png
  microsoft-edge/devtools-guide-chromium/resources/index-images/resources-sources-page-reveal-in-network-panel.png
  microsoft-edge/devtools-guide-chromium/resources/index-images/sources-page-empty.png
  microsoft-edge/devtools-guide-chromium/resources/index-images/sources-page-resource-group-by-folder.png
  microsoft-edge/devtools-guide-chromium/resources/index-images/sources-page-resource.png
  microsoft-edge/devtools-guide-chromium/resources/index-images/sources-page-resources-empty-not-grouped-by-folder.png
  microsoft-edge/devtools-guide-chromium/resources/index-images/sources-page-reveal-in-network-panel.png
  microsoft-edge/devtools-guide-chromium/resources/index.md
Labels: cat: devtools, focus-mode-screenshots

#2919 Removed old external links
  microsoft-edge/accessibility/build/index.md
  microsoft-edge/index.yml
  microsoft-edge/progressive-web-apps-chromium/whats-new/pwa.md
Labels: cat: general

#2929 [Focus Mode] Accessibility with Lighthouse
  microsoft-edge/devtools-guide-chromium/accessibility/lighthouse-images/accessibility-lighthouse-result-issue-expanded.png
  microsoft-edge/devtools-guide-chromium/accessibility/lighthouse-images/accessibility-lighthouse-result.png
  microsoft-edge/devtools-guide-chromium/accessibility/lighthouse-images/accessibility-lighthouse.png
  microsoft-edge/devtools-guide-chromium/accessibility/lighthouse-images/configuration-options.png
  microsoft-edge/devtools-guide-chromium/accessibility/lighthouse-images/more-tools-icon.png
  microsoft-edge/devtools-guide-chromium/accessibility/lighthouse.md
Labels: cat: devtools, focus-mode-screenshots

#2931 [Focus Mode] Images and content for the breakpoint article
  microsoft-edge/devtools-guide-chromium/javascript/breakpoints-images/break-on-subtree-modifications.png
  microsoft-edge/devtools-guide-chromium/javascript/breakpoints-images/breakpoint-30.png
  microsoft-edge/devtools-guide-chromium/javascript/breakpoints-images/breakpoints-16-33.png
  microsoft-edge/devtools-guide-chromium/javascript/breakpoints-images/conditional-breakpoint-dialog.png
  microsoft-edge/devtools-guide-chromium/javascript/breakpoints-images/conditional-breakpoint.png
  microsoft-edge/devtools-guide-chromium/javascript/breakpoints-images/deactivate-breakpoints-icon.png
  microsoft-edge/devtools-guide-chromium/javascript/breakpoints-images/deactivate-breakpoints.png
  microsoft-edge/devtools-guide-chromium/javascript/breakpoints-images/event-listener-breakpoints.png
  microsoft-edge/devtools-guide-chromium/javascript/breakpoints-images/javascript-elements-break-on-subtree-modifications.png
  microsoft-edge/devtools-guide-chromium/javascript/breakpoints-images/javascript-sources-page-js-breakpoint-30.png
  microsoft-edge/devtools-guide-chromium/javascript/breakpoints-images/javascript-sources-page-js-breakpoints-16-33.png
  microsoft-edge/devtools-guide-chromium/javascript/breakpoints-images/javascript-sources-page-js-breakpoints-deactivate-breakpoints.png
  microsoft-edge/devtools-guide-chromium/javascript/breakpoints-images/javascript-sources-page-js-conditional-breakpoint.png
  microsoft-edge/devtools-guide-chromium/javascript/breakpoints-images/javascript-sources-page-js-event-listener-breakpoints-device-deviceorientation.png
  microsoft-edge/devtools-guide-chromium/javascript/breakpoints-images/javascript-sources-page-js-pause-on-exceptions.png
  microsoft-edge/devtools-guide-chromium/javascript/breakpoints-images/javascript-sources-page-js-paused-on-exception.png
  microsoft-edge/devtools-guide-chromium/javascript/breakpoints-images/javascript-sources-page-js-xhr-fetch-breakpoints-org.png
  microsoft-edge/devtools-guide-chromium/javascript/breakpoints-images/pause-on-exceptions-icon.png
  microsoft-edge/devtools-guide-chromium/javascript/breakpoints-images/pause-on-exceptions.png
  microsoft-edge/devtools-guide-chromium/javascript/breakpoints-images/xhr-fetch-breakpoints-org.png
  microsoft-edge/devtools-guide-chromium/javascript/breakpoints.md
Labels: cat: devtools, focus-mode-screenshots

#2939 [Focus Mode] Images and content for the security tool
  microsoft-edge/devtools-guide-chromium/security/index-images/more-tabs-icon-light-theme.png
  microsoft-edge/devtools-guide-chromium/security/index-images/overview-mixed-secure-main-origin.png
  microsoft-edge/devtools-guide-chromium/security/index-images/overview-mixed-secure.png
  microsoft-edge/devtools-guide-chromium/security/index-images/overview-non-secure.png
  microsoft-edge/devtools-guide-chromium/security/index-images/overview-secure-view-certificate.png
  microsoft-edge/devtools-guide-chromium/security/index-images/overview-secure.png
  microsoft-edge/devtools-guide-chromium/security/index-images/security-network-filter.png
  microsoft-edge/devtools-guide-chromium/security/index-images/security-security-overview-mixed-secure-main-origin.png
  microsoft-edge/devtools-guide-chromium/security/index-images/security-security-overview-mixed-secure.png
  microsoft-edge/devtools-guide-chromium/security/index-images/security-security-overview-non-secure.png
  microsoft-edge/devtools-guide-chromium/security/index-images/security-security-overview-secure-view-certificate.png
  microsoft-edge/devtools-guide-chromium/security/index-images/security-security-overview-secure.png
  microsoft-edge/devtools-guide-chromium/security/index.md
Labels: cat: devtools, focus-mode-screenshots

#2938 [Focus Mode] New images and content for the performance monitor tool
  microsoft-edge/devtools-guide-chromium/performance-monitor/performance-monitor-tool-images/first-open.png
  microsoft-edge/devtools-guide-chromium/performance-monitor/performance-monitor-tool-images/metrics.png
  microsoft-edge/devtools-guide-chromium/performance-monitor/performance-monitor-tool-images/more-tabs-icon-light-theme.png
  microsoft-edge/devtools-guide-chromium/performance-monitor/performance-monitor-tool-images/open-performance-monitor.png
  microsoft-edge/devtools-guide-chromium/performance-monitor/performance-monitor-tool-images/open.png
  microsoft-edge/devtools-guide-chromium/performance-monitor/performance-monitor-tool-images/performance-monitor-first-open.png
  microsoft-edge/devtools-guide-chromium/performance-monitor/performance-monitor-tool-images/performance-monitor-metrics.png
  microsoft-edge/devtools-guide-chromium/performance-monitor/performance-monitor-tool.md
Labels: cat: devtools, focus-mode-screenshots

#2941 Normalize "Quick View" strings in repo
  microsoft-edge/devtools-guide-chromium/about-tools.md
  microsoft-edge/devtools-guide-chromium/accessibility/test-color-blindness.md
  microsoft-edge/devtools-guide-chromium/console/index.md
  microsoft-edge/devtools-guide-chromium/customize/index.md
  microsoft-edge/devtools-guide-chromium/dom/index.md
  microsoft-edge/devtools-guide-chromium/experimental-features/index.md
  microsoft-edge/devtools-guide-chromium/issues/index.md
  microsoft-edge/devtools-guide-chromium/network-console/network-console-tool.md
  microsoft-edge/devtools-guide-chromium/network/reference.md
  microsoft-edge/devtools-guide-chromium/overview.md
  microsoft-edge/devtools-guide-chromium/search/search-tool.md
  microsoft-edge/devtools-guide-chromium/shortcuts/index.md
  microsoft-edge/devtools-guide-chromium/storage/sessionstorage.md
  microsoft-edge/devtools-guide-chromium/whats-new/2022/05/devtools-102.md
  microsoft-edge/devtools-guide-chromium/whats-new/2022/06/devtools-103.md
  microsoft-edge/devtools-guide-chromium/whats-new/2022/09/devtools-105.md
  microsoft-edge/devtools-guide-chromium/whats-new/2023/01/devtools-109.md
  microsoft-edge/devtools-guide-chromium/whats-new/2023/02/devtools-110.md
  microsoft-edge/devtools-guide-chromium/whats-new/2023/03/devtools-111.md
  microsoft-edge/devtools-guide-chromium/whats-new/2023/04/devtools-112.md
Labels: focus-mode-screenshots

#2930 [Focus Mode] New images and content for the Coverage tool
  microsoft-edge/devtools-guide-chromium/coverage/index-images/command-menu-show-coverage.png
  microsoft-edge/devtools-guide-chromium/coverage/index-images/coverage-console-drawer-coverage-empty.png
  microsoft-edge/devtools-guide-chromium/coverage/index-images/coverage-sources-resource-drawer-coverage-selected.png
  microsoft-edge/devtools-guide-chromium/coverage/index-images/coverage-sources-resource-drawer-coverage.png
  microsoft-edge/devtools-guide-chromium/coverage/index-images/reload-icon.png
  microsoft-edge/devtools-guide-chromium/coverage/index-images/stop-icon.png
  microsoft-edge/devtools-guide-chromium/coverage/index.md
Labels: cat: devtools, focus-mode-screenshots

#2936 [Focus Mode] New images and content for the console utilities article
  microsoft-edge/devtools-guide-chromium/console/utilities-images/$_.png
  microsoft-edge/devtools-guide-chromium/console/utilities-images/array-length.png
  microsoft-edge/devtools-guide-chromium/console/utilities-images/array-xpath-sub-element.png
  microsoft-edge/devtools-guide-chromium/console/utilities-images/array-xpath.png
  microsoft-edge/devtools-guide-chromium/console/utilities-images/clear.png
  microsoft-edge/devtools-guide-chromium/console/utilities-images/console-arithmatic.png
  microsoft-edge/devtools-guide-chromium/console/utilities-images/console-array-length.png
  microsoft-edge/devtools-guide-chromium/console/utilities-images/console-array-xpath-startnode.png
  microsoft-edge/devtools-guide-chromium/console/utilities-images/console-array-xpath-sub-element.png
  microsoft-edge/devtools-guide-chromium/console/utilities-images/console-array-xpath.png
  microsoft-edge/devtools-guide-chromium/console/utilities-images/console-debug-text.png
  microsoft-edge/devtools-guide-chromium/console/utilities-images/console-dir-document-head-expanded.png
  microsoft-edge/devtools-guide-chromium/console/utilities-images/console-element-selector-image-all.png
  microsoft-edge/devtools-guide-chromium/console/utilities-images/console-element-selector-image-filter-all.png
  microsoft-edge/devtools-guide-chromium/console/utilities-images/console-element-selector-image-filter-source.png
  microsoft-edge/devtools-guide-chromium/console/utilities-images/console-element-selector-image-source.png
  microsoft-edge/devtools-guide-chromium/console/utilities-images/console-element-selector-image.png
  microsoft-edge/devtools-guide-chromium/console/utilities-images/console-elements-event-listeners-console-get-event-listeners-document-2.png
  microsoft-edge/devtools-guide-chromium/console/utilities-images/console-elements-event-listeners-console-get-event-listeners-document-expanded-1.png
  microsoft-edge/devtools-guide-chromium/console/utilities-images/console-elements-event-listeners-console-get-event-listeners-document.png
  microsoft-edge/devtools-guide-chromium/console/utilities-images/console-function-monitor-sum.png
  microsoft-edge/devtools-guide-chromium/console/utilities-images/console-image-highlighted-$0.png
  microsoft-edge/devtools-guide-chromium/console/utilities-images/console-image-highlighted-$1.png
  microsoft-edge/devtools-guide-chromium/console/utilities-images/console-inspect-document-body.png
  microsoft-edge/devtools-guide-chromium/console/utilities-images/console-keys-values.png
  microsoft-edge/devtools-guide-chromium/console/utilities-images/console-memory-multiple-cpu-profiles.png
  microsoft-edge/devtools-guide-chromium/console/utilities-images/console-monitor-events-resize-window.png
  microsoft-edge/devtools-guide-chromium/console/utilities-images/console-monitor-events-type-t-y.png
  microsoft-edge/devtools-guide-chromium/console/utilities-images/console-table-display.png
  microsoft-edge/devtools-guide-chromium/console/utilities-images/debug-text.png
  microsoft-edge/devtools-guide-chromium/console/utilities-images/dir-document-head-expanded.png
  microsoft-edge/devtools-guide-chromium/console/utilities-images/element-selector-image-all-descendants.png
  microsoft-edge/devtools-guide-chromium/console/utilities-images/element-selector-image-all.png
  microsoft-edge/devtools-guide-chromium/console/utilities-images/element-selector-image-filter-source.png
  microsoft-edge/devtools-guide-chromium/console/utilities-images/element-selector-image.png
  microsoft-edge/devtools-guide-chromium/console/utilities-images/elements-event-listeners-console-get-event-listeners-document-expanded-1.png
  microsoft-edge/devtools-guide-chromium/console/utilities-images/elements-event-listeners-console-get-event-listeners-form.png
  microsoft-edge/devtools-guide-chromium/console/utilities-images/function-monitor-sum.png
  microsoft-edge/devtools-guide-chromium/console/utilities-images/image-highlighted-$0.png
  microsoft-edge/devtools-guide-chromium/console/utilities-images/image-highlighted-$1.png
  microsoft-edge/devtools-guide-chromium/console/utilities-images/inspect-document-body.png
  microsoft-edge/devtools-guide-chromium/console/utilities-images/keys.png
  microsoft-edge/devtools-guide-chromium/console/utilities-images/memory-cpu-profile.png
  microsoft-edge/devtools-guide-chromium/console/utilities-images/monitor-events-resize-scroll-window.png
  microsoft-edge/devtools-guide-chromium/console/utilities-images/monitor-events-resize-window.png
  microsoft-edge/devtools-guide-chromium/console/utilities-images/monitor-events-type-t-y.png
  microsoft-edge/devtools-guide-chromium/console/utilities-images/query-objects.png
  microsoft-edge/devtools-guide-chromium/console/utilities-images/table-display.png
  microsoft-edge/devtools-guide-chromium/console/utilities-images/values.png
  microsoft-edge/devtools-guide-chromium/console/utilities.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/05/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/10/devtools.md
Labels: cat: devtools, focus-mode-screenshots

#2937 [Focus Mode] Images and content for the color scheme emulation article
  microsoft-edge/devtools-guide-chromium/accessibility/preferred-color-scheme-simulation-images/css-console-command-menu-rendering.png
  microsoft-edge/devtools-guide-chromium/accessibility/preferred-color-scheme-simulation-images/css-elements-styles-qs-simulated-light-mode.png
  microsoft-edge/devtools-guide-chromium/accessibility/preferred-color-scheme-simulation-images/more-tools-icon.png
  microsoft-edge/devtools-guide-chromium/accessibility/preferred-color-scheme-simulation.md
Labels: cat: devtools, focus-mode-screenshots

#2952 [Focus Mode] New images and content for Force print preview mode
  microsoft-edge/devtools-guide-chromium/console/console-filters.md
  microsoft-edge/devtools-guide-chromium/console/reference.md
  microsoft-edge/devtools-guide-chromium/css/index.md
  microsoft-edge/devtools-guide-chromium/css/print-preview-images/change-print-styles.png
  microsoft-edge/devtools-guide-chromium/css/print-preview-images/print-preview-css-media-type.png
  microsoft-edge/devtools-guide-chromium/css/print-preview-images/print-preview-open-command-menu.png
  microsoft-edge/devtools-guide-chromium/css/print-preview-images/rendering-tool.png
  microsoft-edge/devtools-guide-chromium/css/print-preview.md
  microsoft-edge/devtools-guide-chromium/evaluate-performance/reference.md
  microsoft-edge/devtools-guide-chromium/experimental-features/index.md
  microsoft-edge/devtools-guide-chromium/issues/index.md
  microsoft-edge/devtools-guide-chromium/memory-inspector/memory-inspector-tool.md
  microsoft-edge/devtools-guide-chromium/rendering-tools/rendering-tool.md
  microsoft-edge/devtools-guide-chromium/whats-new/2021/02/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2023/01/devtools-109.md
  microsoft-edge/webview2/concepts/frames.md
  microsoft-edge/webview2/get-started/winui2.md
  microsoft-edge/webview2/how-to/debug-visual-studio-code.md
  microsoft-edge/webview2/how-to/remote-debugging-desktop.md
  microsoft-edge/webview2/how-to/winrt-from-js.md
  microsoft-edge/webview2/samples/webview2browser.md
Labels: cat: devtools, focus-mode-screenshots

#2900 Add subsection "Data privacy when using a work profile"
  microsoft-edge/privacy-whitepaper/index.md
Labels: cat: privacy
