Repository MicrosoftDocs/edge-developer, pull requests merged in 2023-09, with the labels that each got.

#2813 Add unload event deprecation.
  microsoft-edge/web-platform/site-impacting-changes.md
Labels: cat: webplatform

#2814 Adapt "Introduction to the Performance tool" article to the new sluggish demo
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index-images/animation-frame-children.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index-images/animation-frame-fired.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index-images/capture-results.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index-images/capture-settings.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index-images/cpu-chart.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index-images/evaluate-performance-feedback-icon.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index-images/evaluate-performance-fps-meter-overlay.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index-images/evaluate-performance-get-started-side-by-side.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index-images/evaluate-performance-performance-animation-frame-fired.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index-images/evaluate-performance-performance-capture-results.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index-images/evaluate-performance-performance-cpu-chart.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index-images/evaluate-performance-performance-frame-hover.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index-images/evaluate-performance-performance-main-zoomed.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index-images/evaluate-performance-performance-main.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index-images/evaluate-performance-performance-profiling.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index-images/evaluate-performance-performance-summary-tab.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index-images/evaluate-performance-sources-app-update.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index-images/feedback-icon.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index-images/fps-meter-overlay.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index-images/frame-hover.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index-images/get-started-side-by-side.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index-images/main-zoomed.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index-images/main.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index-images/profiling.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index-images/send-feedback-icon.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index-images/sources-app-update.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index-images/summary-tab.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index.md
Labels: cat: devtools

#2818 Fix image location in bullet list
  microsoft-edge/extensions-chromium/getting-started/extension-sideloading.md
Labels: cat: extensions

#2826 Sort rows in "Site compatibility-impacting changes"
  microsoft-edge/web-platform/site-impacting-changes.md
Labels: cat: webplatform

#2825 Update link for Images Optimization
  microsoft-edge/devtools-guide-chromium/speed/get-started.md
Labels: cat: devtools

#2829 Update "Tab organization" section of Privacy whitepaper
  microsoft-edge/privacy-whitepaper/index.md
Labels: cat: privacy

#2827 Add Exclusions section to "Source Maps Monitor tool" article
  microsoft-edge/devtools-guide-chromium/javascript/consume-source-maps-from-azure.md
  microsoft-edge/devtools-guide-chromium/javascript/publish-source-maps-to-azure.md
  microsoft-edge/devtools-guide-chromium/source-maps-monitor/source-maps-monitor-tool-images/settings-icon.png
  microsoft-edge/devtools-guide-chromium/source-maps-monitor/source-maps-monitor-tool-images/source-maps-monitor-exclusions.png
  microsoft-edge/devtools-guide-chromium/source-maps-monitor/source-maps-monitor-tool-images/source-maps-monitor-tool.png
  microsoft-edge/devtools-guide-chromium/source-maps-monitor/source-maps-monitor-tool.md
Labels: cat: devtools

#2810 Release Notes for WebView2 117 Release SDK
  microsoft-edge/webview2/release-notes.md
Labels: cat: webview2

#2838 Release Notes for WebView2 119 Prerelease SDK
  microsoft-edge/webview2/concepts/frames.md
  microsoft-edge/webview2/release-notes.md
Labels: cat: webview2

#2840 Add the new AAD connection type and filtering feature to the symbol server docs
  microsoft-edge/devtools-guide-chromium/javascript/consume-source-maps-from-azure-images/ado-pat-devtools.png
  microsoft-edge/devtools-guide-chromium/javascript/consume-source-maps-from-azure-images/ado-preferences-source-maps-devtools.png
  microsoft-edge/devtools-guide-chromium/javascript/consume-source-maps-from-azure-images/close-settings-icon.png
  microsoft-edge/devtools-guide-chromium/javascript/consume-source-maps-from-azure-images/create-new-add-connection.png
  microsoft-edge/devtools-guide-chromium/javascript/consume-source-maps-from-azure-images/create-new-pat-connection.png
  microsoft-edge/devtools-guide-chromium/javascript/consume-source-maps-from-azure-images/edit-connection-icon.png
  microsoft-edge/devtools-guide-chromium/javascript/consume-source-maps-from-azure-images/edit-remove-connection.png
  microsoft-edge/devtools-guide-chromium/javascript/consume-source-maps-from-azure-images/filter-inclusion-list.png
  microsoft-edge/devtools-guide-chromium/javascript/consume-source-maps-from-azure-images/preferences-source-maps-devtools.png
  microsoft-edge/devtools-guide-chromium/javascript/consume-source-maps-from-azure-images/remove-connection-icon.png
  microsoft-edge/devtools-guide-chromium/javascript/consume-source-maps-from-azure-images/select-aad-org.png
  microsoft-edge/devtools-guide-chromium/javascript/consume-source-maps-from-azure.md
  microsoft-edge/web-platform/os-regional-settings.md
Labels: cat: devtools

#2842 Update PWA What's New
  microsoft-edge/progressive-web-apps-chromium/whats-new/pwa-images/pwamp-widget.png
  microsoft-edge/progressive-web-apps-chromium/whats-new/pwa-images/using-pwamp-in-sidebar.png
  microsoft-edge/progressive-web-apps-chromium/whats-new/pwa.md
Labels: cat: pwas
