Repository MicrosoftDocs/edge-developer, pull requests merged in 2023-06, with the labels that each got.

#2617 Deleting unused images
  microsoft-edge/devtools-guide-chromium/whats-new/2023/04/devtools-112-images/template.png
  microsoft-edge/progressive-web-apps-chromium/media/enable-file-handling-experiment.png
  microsoft-edge/webview2/get-started/hololens2-images/mrtk_feature_tool_start_page_part2.png
  microsoft-edge/webview2/get-started/hololens2-images/unity_build_settings.png
  microsoft-edge/webview2/get-started/hololens2-images/visualstudio_buildconfig.png
  microsoft-edge/webview2/get-started/hololens2-images/visualstudio_createpackage_architecture.png
  microsoft-edge/webview2/get-started/hololens2-images/visualstudio_remote_ip.png
  microsoft-edge/webview2/get-started/hololens2-images/visualstudio_select_device.png
  microsoft-edge/webview2/get-started/hololens2-images/visualstudio_select_remote.png
  microsoft-edge/webview2/samples/webview2-3winui3-sample-images/dotnet-version-not-installed.png
  microsoft-edge/webview2/samples/webview2-3winui3-sample-images/dotnet5-out-of-support.png
  microsoft-edge/webview2/samples/webview2-3winui3-sample-images/initial-solution-opened.png
Labels: cat: general

#2630 Release Notes 114 for WebView2 Prerelease SDK
  microsoft-edge/webview2/release-notes.md
Labels: cat: webview2

#2641 Clarify the local dev and production testing workflow for widgets
  microsoft-edge/progressive-web-apps-chromium/how-to/widgets.md
  microsoft-edge/progressive-web-apps-chromium/media/experimental-features-flag.png
  microsoft-edge/progressive-web-apps-chromium/media/widgets-flag.png
Labels: cat: pwas

#2652 Split the badge, notification, and push article in 2
  microsoft-edge/progressive-web-apps-chromium/how-to/notifications-badges.md
  microsoft-edge/progressive-web-apps-chromium/how-to/push-images/devtools-push.png
  microsoft-edge/progressive-web-apps-chromium/how-to/push-images/notification-permission.png
  microsoft-edge/progressive-web-apps-chromium/how-to/push-images/windows-action-center.png
  microsoft-edge/progressive-web-apps-chromium/how-to/push.md
  microsoft-edge/progressive-web-apps-chromium/how-to/service-workers.md
  microsoft-edge/toc.yml
Labels: cat: pwas

#2660 Removing the hardware/network emulation experiment
  microsoft-edge/devtools-guide-chromium/experimental-features/index.md
Labels: cat: devtools

#2650 Clarify that link handling only works if Edge is the default browseer
  microsoft-edge/progressive-web-apps-chromium/how-to/handle-urls.md
Labels: cat: pwas

#2672 WebView2: Add reference content for postMessageWithAdditionalObjects JS API
  microsoft-edge/webview2/reference/javascript/webview.yml
Labels: cat: webview2
