Repository MicrosoftDocs/edge-developer, pull requests merged in 2023-12, with the labels that each got.

#2957 Updating geolocation documentation (Task 47985255)
  microsoft-edge/privacy-whitepaper/index.md
Labels: cat: privacy

#2954 [Focus Mode] New images and content for the Changes article
  microsoft-edge/devtools-guide-chromium/changes/changes-tool-images/changes-tool-command-menu.png
  microsoft-edge/devtools-guide-chromium/changes/changes-tool-images/changes-tool-diff-view.png
  microsoft-edge/devtools-guide-chromium/changes/changes-tool-images/changes-tool-from-sources.png
  microsoft-edge/devtools-guide-chromium/changes/changes-tool-images/changes-tool-in-quick-view.png
  microsoft-edge/devtools-guide-chromium/changes/changes-tool-images/changes-tool-open.png
  microsoft-edge/devtools-guide-chromium/changes/changes-tool-images/changes-tool-undo-all.png
  microsoft-edge/devtools-guide-chromium/changes/changes-tool-images/changes-tool-via-overflow-menu.png
  microsoft-edge/devtools-guide-chromium/changes/changes-tool-images/changes-tool-via-plus-menu.png
  microsoft-edge/devtools-guide-chromium/changes/changes-tool-images/changes.png
  microsoft-edge/devtools-guide-chromium/changes/changes-tool-images/more-tools-icon.png
  microsoft-edge/devtools-guide-chromium/changes/changes-tool-images/revert-icon.png
  microsoft-edge/devtools-guide-chromium/changes/changes-tool.md
Labels: cat: devtools, focus-mode-screenshots

#2961 Revise Distribution article per 120
  microsoft-edge/webview2/concepts/distribution.md
Labels: cat: webview2

#2953 Release Notes for Release SDK 120
  microsoft-edge/webview2/release-notes.md
Labels: cat: webview2

#2934 Update "Import browser data" - When your imported data is sent to Microsoft
  microsoft-edge/privacy-whitepaper/index.md
Labels: cat: privacy

#2969 Added notes for the Delete option on the right-click menu
  microsoft-edge/devtools-guide-chromium/storage/sessionstorage.md
Labels: cat: devtools

#2962 Update Extensions external links
  microsoft-edge/devtools-guide-chromium/experimental-features/index.md
  microsoft-edge/extensions-chromium/developer-guide/alternate-distribution-options.md
  microsoft-edge/extensions-chromium/developer-guide/api-support.md
  microsoft-edge/extensions-chromium/developer-guide/match-patterns.md
  microsoft-edge/extensions-chromium/developer-guide/native-messaging.md
  microsoft-edge/extensions-chromium/index.md
  microsoft-edge/extensions-chromium/publish/hosting-and-updating.md
  microsoft-edge/extensions-chromium/store-policies/csp.md
Labels: cat: extensions

#2972 48144851: Edge Privacy Whitepaper: Geolocation: Fix statement about InPrivate (doc bug)
  microsoft-edge/privacy-whitepaper/index.md
Labels: cat: privacy

#2951 Update Experiments to Canary 122 & Stable 120
  microsoft-edge/devtools-guide-chromium/experimental-features/index-images/autofill-tool.png
  microsoft-edge/devtools-guide-chromium/experimental-features/index-images/context-menu-modify-flame-chart-trees.png
  microsoft-edge/devtools-guide-chromium/experimental-features/index-images/indentation-markers.png
  microsoft-edge/devtools-guide-chromium/experimental-features/index-images/preloading-page-of-application-tool.png
  microsoft-edge/devtools-guide-chromium/experimental-features/index-images/speculative-loads-page.png
  microsoft-edge/devtools-guide-chromium/experimental-features/index-images/timing-breadcrumbs-path.png
  microsoft-edge/devtools-guide-chromium/experimental-features/index.md
  microsoft-edge/extensions-chromium/publish/hosting-and-updating.md
Labels: cat: devtools

#2974 Update Developer Policies
  microsoft-edge/extensions-chromium/publish/add-ons-store-curation.md
  microsoft-edge/extensions-chromium/publish/api/addons-api-reference.md
  microsoft-edge/extensions-chromium/publish/api/using-addons-api.md
  microsoft-edge/extensions-chromium/publish/publish-extension.md
  microsoft-edge/extensions-chromium/store-policies/developer-policies.md
  microsoft-edge/toc.yml
Labels: cat: extensions

#2979 What's New in DevTools 117
  microsoft-edge/devtools-guide-chromium/whats-new/2023/09/devtools-117-images/copilot-error-explanation.png
  microsoft-edge/devtools-guide-chromium/whats-new/2023/09/devtools-117.md
  microsoft-edge/devtools-guide-chromium/whats-new/whats-new-archive.md
  microsoft-edge/devtools-guide-chromium/whats-new/whats-new.md
  microsoft-edge/toc.yml
Labels: cat: devtools

#2983 What's New 118
  microsoft-edge/devtools-guide-chromium/whats-new/2023/10/devtools-118-images/chat-icon-and-message.png
  microsoft-edge/devtools-guide-chromium/whats-new/2023/10/devtools-118-images/consent-form.png
  microsoft-edge/devtools-guide-chromium/whats-new/2023/10/devtools-118-images/no-throttling.png
  microsoft-edge/devtools-guide-chromium/whats-new/2023/10/devtools-118.md
  microsoft-edge/devtools-guide-chromium/whats-new/whats-new-archive.md
  microsoft-edge/devtools-guide-chromium/whats-new/whats-new.md
  microsoft-edge/toc.yml
Labels: cat: devtools

#2982 Fix link to Content Policies anchor
  microsoft-edge/extensions-chromium/store-policies/developer-policies.md
Labels: cat: extensions

#2984 What's New 119
  microsoft-edge/devtools-guide-chromium/whats-new/2023/11/devtools-119-images/dark-text-color-on-pills.png
  microsoft-edge/devtools-guide-chromium/whats-new/2023/11/devtools-119-images/visible-tree-item-application-panel.png
  microsoft-edge/devtools-guide-chromium/whats-new/2023/11/devtools-119.md
  microsoft-edge/devtools-guide-chromium/whats-new/whats-new-archive.md
  microsoft-edge/devtools-guide-chromium/whats-new/whats-new.md
  microsoft-edge/toc.yml
Labels: cat: devtools
