Repository MicrosoftDocs/edge-developer, pull requests merged in 2024-12, with the labels that each got.

#3326 RelNotes: WebView2 Runtime no longer appears in Settings > Installed apps
  microsoft-edge/webview2/release-notes/index.md
Labels: cat: webview2

#3329 Data and privacy in WebView2 > Custom crash reporting
  microsoft-edge/webview2/concepts/data-privacy.md
  microsoft-edge/webview2/concepts/overview-features-apis.md
Labels: cat: webview2

#3323 Update headless parameter in "Use WebDriver to automate Microsoft Edge"
  microsoft-edge/webdriver-chromium/index.md
Labels: cat: webdriver

#3328 Add "Known issue" in "Develop an extension for the Microsoft Edge sidebar"
  microsoft-edge/extensions-chromium/developer-guide/sidebar.md
Labels: cat: extensions

#3311 Add See Also links in "What's New in DevTools 131"
  microsoft-edge/devtools-guide-chromium/evaluate-performance/selector-stats.md
  microsoft-edge/devtools-guide-chromium/whats-new/2024/11/devtools-131-images/themes-preferences.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/11/devtools-131.md
Labels: cat: devtools

#3324 Clarify "Provide in-app purchases with the Digital Goods API"
  microsoft-edge/progressive-web-apps-chromium/how-to/digital-goods-api.md
Labels: cat: pwas
