Repository MicrosoftDocs/edge-developer, pull requests merged in 2024-02, with the labels that each got.

#3033 Simplify and clarify the memory terminology article
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots-images/clear-icon.png
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots-images/closure-retained-strings-details.png
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots-images/closure-retained-strings.png
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots-images/filters-retainers-memory-tool-no-hide-cycled.png
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots-images/heap-snapshots-all-hover-clear-all-profiles.png
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots-images/heap-snapshots-all.png
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots-images/heap-snapshots-comparison-dropdown.png
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots-images/heap-snapshots-constructor-highlight.png
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots-images/heap-snapshots-constructor-retainers.png
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots-images/heap-snapshots-containment-dropdown.png
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots-images/heap-snapshots-view-dropdown.png
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots-images/heap-snapshots.png
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots-images/memory-problems-tree-gc.png
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots-images/more-tools-icon.png
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots-images/node-types-heap-snapshot.png
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots-images/retainers-section.png
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots-images/take-another-snapshot.png
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots.md
  microsoft-edge/devtools-guide-chromium/memory-problems/memory-101-images/dominators-00.png
  microsoft-edge/devtools-guide-chromium/memory-problems/memory-101-images/dominators-01.png
  microsoft-edge/devtools-guide-chromium/memory-problems/memory-101-images/dominators-02.png
  microsoft-edge/devtools-guide-chromium/memory-problems/memory-101-images/dominators-03.png
  microsoft-edge/devtools-guide-chromium/memory-problems/memory-101-images/dominators-04.png
  microsoft-edge/devtools-guide-chromium/memory-problems/memory-101-images/dominators-05.png
  microsoft-edge/devtools-guide-chromium/memory-problems/memory-101-images/dominatorsspanning.png
  microsoft-edge/devtools-guide-chromium/memory-problems/memory-101-images/dontcontrol.png
  microsoft-edge/devtools-guide-chromium/memory-problems/memory-101-images/filters-retainers-memory-tool-hide-cycled.png
  microsoft-edge/devtools-guide-chromium/memory-problems/memory-101-images/filters-retainers-memory-tool-no-hide-cycled.png
  microsoft-edge/devtools-guide-chromium/memory-problems/memory-101-images/root.png
  microsoft-edge/devtools-guide-chromium/memory-problems/memory-101-images/shallow-retained.png
  microsoft-edge/devtools-guide-chromium/memory-problems/memory-101-images/thinkgraph.png
  microsoft-edge/devtools-guide-chromium/memory-problems/memory-101.md
  microsoft-edge/devtools-guide-chromium/whats-new/2022/05/devtools-102.md
  microsoft-edge/devtools-guide-chromium/whats-new/2022/06/devtools-103.md
  microsoft-edge/devtools-guide-chromium/workspaces/index.md
  microsoft-edge/extensions-chromium/publish/github.md
  microsoft-edge/privacy-whitepaper/index.md
Labels: cat: devtools

#3022 Release Notes for Jan. 2024 Release SDK
  microsoft-edge/webview2/release-notes.md
Labels: cat: webview2

#3040 Note about file path source maps and some cleanup
  microsoft-edge/devtools-guide-chromium/javascript/reference-images/source-url-virtual-names.png
  microsoft-edge/devtools-guide-chromium/javascript/reference.md
  microsoft-edge/devtools-guide-chromium/javascript/source-maps-images/close-icon.png
  microsoft-edge/devtools-guide-chromium/javascript/source-maps-images/customize-and-control-devtools-icon.png
  microsoft-edge/devtools-guide-chromium/javascript/source-maps.md
Labels: cat: devtools

#3024 Update Overview of APIs per Jan. 2024 Release SDK
  microsoft-edge/webview2/concepts/overview-features-apis.md
Labels: in-progress, cat: webview2

#3045 Move info from DevTools > "Accessibility-testing features" to A11y > "Resources for accessibility testing"
  microsoft-edge/accessibility/test.md
  microsoft-edge/devtools-guide-chromium/accessibility/reference.md
  microsoft-edge/toc.yml
Labels: cat: devtools

#3050 Document the Backing Store Size experiment for heap snapshots in the Memory tool
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots-images/customize-icon.png
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots-images/retainers-section.png
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots-images/settings-icon.png
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots-images/shallow-size-entire-object.png
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots.md
  microsoft-edge/devtools-guide-chromium/memory-problems/memory-101.md
Labels: cat: devtools

#3062 Fix ms.service: issues found in content engagement report
  microsoft-edge/developer/index.yml
  microsoft-edge/devtools-guide-chromium/landing/index.yml
Labels: cat: devtools

#3028 Doc WebView2 flags
  microsoft-edge/toc.yml
  microsoft-edge/webview2/concepts/webview-features-flags.md
Labels: cat: webview2

#3072 Update .NET support to indicate continued support
  microsoft-edge/webview2/index.md
Labels: cat: webview2

#3063 Document the Recorder tool
  microsoft-edge/devtools-guide-chromium/about-tools.md
  microsoft-edge/devtools-guide-chromium/recorder/index-images/add-breakpoint.png
  microsoft-edge/devtools-guide-chromium/recorder/index-images/add-remove-selector.png
  microsoft-edge/devtools-guide-chromium/recorder/index-images/add-step.png
  microsoft-edge/devtools-guide-chromium/recorder/index-images/create-new-recording.png
  microsoft-edge/devtools-guide-chromium/recorder/index-images/delete-icon.png
  microsoft-edge/devtools-guide-chromium/recorder/index-images/delete-recording.png
  microsoft-edge/devtools-guide-chromium/recorder/index-images/edit-selector-value.png
  microsoft-edge/devtools-guide-chromium/recorder/index-images/expand-icon.png
  microsoft-edge/devtools-guide-chromium/recorder/index-images/export-for-test.png
  microsoft-edge/devtools-guide-chromium/recorder/index-images/export-icon.png
  microsoft-edge/devtools-guide-chromium/recorder/index-images/export-json.png
  microsoft-edge/devtools-guide-chromium/recorder/index-images/final-recording.png
  microsoft-edge/devtools-guide-chromium/recorder/index-images/import-icon.png
  microsoft-edge/devtools-guide-chromium/recorder/index-images/import-recording.png
  microsoft-edge/devtools-guide-chromium/recorder/index-images/list-of-interactions.png
  microsoft-edge/devtools-guide-chromium/recorder/index-images/measure-performance.png
  microsoft-edge/devtools-guide-chromium/recorder/index-images/more-tools-icon.png
  microsoft-edge/devtools-guide-chromium/recorder/index-images/new-recording-icon.png
  microsoft-edge/devtools-guide-chromium/recorder/index-images/paused-replay.png
  microsoft-edge/devtools-guide-chromium/recorder/index-images/performance-tool.png
  microsoft-edge/devtools-guide-chromium/recorder/index-images/play-from-list.png
  microsoft-edge/devtools-guide-chromium/recorder/index-images/play-from-recording.png
  microsoft-edge/devtools-guide-chromium/recorder/index-images/recorder-tool.png
  microsoft-edge/devtools-guide-chromium/recorder/index-images/recordings-dropdown.png
  microsoft-edge/devtools-guide-chromium/recorder/index-images/remove-step.png
  microsoft-edge/devtools-guide-chromium/recorder/index-images/replay-slow.png
  microsoft-edge/devtools-guide-chromium/recorder/index-images/replayed-interactions-animation.png
  microsoft-edge/devtools-guide-chromium/recorder/index-images/select-element-in-page.png
  microsoft-edge/devtools-guide-chromium/recorder/index-images/start-recording.png
  microsoft-edge/devtools-guide-chromium/recorder/index-images/step-actions-icon.png
  microsoft-edge/devtools-guide-chromium/recorder/index-images/step-details.png
  microsoft-edge/devtools-guide-chromium/recorder/index-images/step-type-dropdown.png
  microsoft-edge/devtools-guide-chromium/recorder/index.md
  microsoft-edge/devtools-guide-chromium/whats-new/2023/12/devtools-120.md
  microsoft-edge/toc.yml
Labels: cat: devtools

#3058 Clarify that there's no need for MSA when signing in with GitHub
  microsoft-edge/extensions-chromium/publish/github.md
Labels: cat: extensions

#3065 What's New in DevTools 122
  microsoft-edge/devtools-guide-chromium/whats-new/2024/02/devtools-122-images/keyboard-shortcut-error.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/02/devtools-122-images/keyboard-shortcut-initial-state.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/02/devtools-122-images/updated-copilot-prompt.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/02/devtools-122.md
  microsoft-edge/devtools-guide-chromium/whats-new/whats-new-archive.md
  microsoft-edge/devtools-guide-chromium/whats-new/whats-new.md
  microsoft-edge/toc.yml
Labels: cat: devtools

#3068 Update the PWA sidebar instructions
  microsoft-edge/progressive-web-apps-chromium/how-to/sidebar-images/add-pwamp-to-sidebar.png
  microsoft-edge/progressive-web-apps-chromium/how-to/sidebar-images/always-show-sidebar.png
  microsoft-edge/progressive-web-apps-chromium/how-to/sidebar-images/experimental-tag.png
  microsoft-edge/progressive-web-apps-chromium/how-to/sidebar-images/using-pwamp-in-sidebar.png
  microsoft-edge/progressive-web-apps-chromium/how-to/sidebar.md
Labels: cat: pwas

#3070 Release Notes for Prerelease SDK for Feb. 2024
  microsoft-edge/webview2/release-notes.md
Labels: cat: webview2

#3069 Release Notes for Release SDK for Feb. 2024
  microsoft-edge/webview2/release-notes.md
Labels: cat: webview2

#3083 Minor changes to the Performance tool search feature
  microsoft-edge/devtools-guide-chromium/evaluate-performance/reference-images/next-icon.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/reference-images/previous-icon.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/reference-images/search-highlighted.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/reference-images/search-regex.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/reference.md
Labels: cat: devtools

#3084 Update site-impacting-changes.md for Web SQL removal
  microsoft-edge/web-platform/site-impacting-changes.md
Labels: cat: webplatform

#3082 Update the the DualEngine API LAF notice
  microsoft-edge/dualengine/concepts/adapter-dll.md
  microsoft-edge/dualengine/get-started.md
Labels: cat: dualengine
