Repository MicrosoftDocs/edge-developer, pull requests merged in 2024-10, with the labels that each got.

#3271 Add "Window to Visual" in "Windowed vs. Visual hosting of WebView2"
  microsoft-edge/toc.yml
  microsoft-edge/webview2/concepts/windowed-vs-visual-hosting.md
Labels: cat: webview2

#3285 Add article "Sign up for the Ad Selection API"
  microsoft-edge/dev-videos/index.md
  microsoft-edge/developer/index.yml
  microsoft-edge/devtools-guide-chromium/json-viewer/json-viewer.md
  microsoft-edge/devtools-guide-chromium/network-console/network-console-tool.md
  microsoft-edge/devtools-guide-chromium/network/index.md
  microsoft-edge/devtools-guide-chromium/sample-code/sample-code.md
  microsoft-edge/devtools-guide-chromium/whats-new/2023/04/devtools-112.md
  microsoft-edge/index.yml
  microsoft-edge/toc.yml
  microsoft-edge/web-platform/ad-selection-api-images/flags.png
  microsoft-edge/web-platform/ad-selection-api-images/origin-trials.png
  microsoft-edge/web-platform/ad-selection-api-images/reg-form.png
  microsoft-edge/web-platform/ad-selection-api.md
  microsoft-edge/web-platform/os-regional-settings.md
  microsoft-edge/web-platform/sidebar.md
  microsoft-edge/web-platform/web-platform.md
Labels: cat: webplatform

#3286 Update link text in "Sign up for the Ad Selection API"
  microsoft-edge/devtools-guide-chromium/resources/index.md
  microsoft-edge/web-platform/ad-selection-api.md
Labels: cat: devtools, cat: webplatform

#3287 Add "Key Value" service image link in "Sign up for the Ad Selection API"
  microsoft-edge/web-platform/ad-selection-api.md
Labels: cat: webplatform

#3291 In "Site compatibility-impacting", change "Deprecate textprediction" to 132
  microsoft-edge/web-platform/site-impacting-changes.md
Labels: cat: webplatform

#3290 What's New in DevTools 130
  microsoft-edge/devtools-guide-chromium/device-mode/index.md
  microsoft-edge/devtools-guide-chromium/whats-new/2024/10/devtools-130-images/aligned-icons.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/10/devtools-130-images/console-icon-luminosity-ratio-after.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/10/devtools-130-images/console-icon-luminosity-ratio-before.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/10/devtools-130-images/create-collection-environment.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/10/devtools-130-images/detached-elements-profile-type.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/10/devtools-130-images/detached-nodes.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/10/devtools-130-images/double-shadow-icon.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/10/devtools-130-images/misaligned-icons.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/10/devtools-130-images/performance-warning-icon.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/10/devtools-130-images/single-shadow-icon.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/10/devtools-130.md
  microsoft-edge/toc.yml
Labels: cat: devtools

#3279 Release Notes for October 2024
  media/notes.png
  media/part1-badge.png
  microsoft-edge/webview2/release-notes/index.md
Labels: cat: webview2

#3277 Remove MV2 code from "Create an extension tutorial, part 1"
  microsoft-edge/developer/index.yml
  microsoft-edge/devtools-guide-chromium/sources/index.md
  microsoft-edge/extensions-chromium/developer-guide/sidebar.md
  microsoft-edge/extensions-chromium/getting-started/extension-sideloading-images/extension-running.png
  microsoft-edge/extensions-chromium/getting-started/extension-sideloading-images/extensions-icon.png
  microsoft-edge/extensions-chromium/getting-started/extension-sideloading-images/extensions-popup-no-extensions.png
  microsoft-edge/extensions-chromium/getting-started/extension-sideloading-images/extensions-popup.png
  microsoft-edge/extensions-chromium/getting-started/extension-sideloading-images/load-unpacked-icon.png
  microsoft-edge/extensions-chromium/getting-started/extension-sideloading-images/part1-developermode-toggle.png
  microsoft-edge/extensions-chromium/getting-started/extension-sideloading-images/part1-installed-extension.png
  microsoft-edge/extensions-chromium/getting-started/extension-sideloading-images/part1-threedots.png
  microsoft-edge/extensions-chromium/getting-started/extension-sideloading.md
  microsoft-edge/extensions-chromium/getting-started/index.md
  microsoft-edge/extensions-chromium/getting-started/part1-simple-extension-images/extension-running.png
  microsoft-edge/extensions-chromium/getting-started/part1-simple-extension.md
  microsoft-edge/extensions-chromium/getting-started/part2-content-scripts-images/extensions-icon.png
  microsoft-edge/extensions-chromium/getting-started/part2-content-scripts-images/open-the-extension.png
  microsoft-edge/extensions-chromium/getting-started/part2-content-scripts-images/part2-popupdialog.png
  microsoft-edge/extensions-chromium/getting-started/part2-content-scripts-images/part2-showingimage.png
  microsoft-edge/extensions-chromium/getting-started/part2-content-scripts.md
  microsoft-edge/extensions-chromium/index.md
  microsoft-edge/extensions-chromium/landing/index.yml
  microsoft-edge/extensions-chromium/publish/contact-extensions-team.md
  microsoft-edge/extensions-chromium/publish/reply-user-reviews.md
  microsoft-edge/extensions-chromium/whats-new/released-features.md
  microsoft-edge/extensions-chromium/whats-new/roadmap.md
  microsoft-edge/index.yml
  microsoft-edge/toc.yml
Labels: cat: extensions

#3280 Update "Overview of APIs" for October 2024
  microsoft-edge/webview2/concepts/overview-features-apis.md
  microsoft-edge/webview2/release-notes/index.md
Labels: cat: webview2

#3296 Remove article "JavaScript Profiler tool"
  .openpublishing.redirection.json
  microsoft-edge/devtools-guide-chromium/about-tools.md
  microsoft-edge/devtools-guide-chromium/javascript-profiler/javascript-profiler-tool.md
  microsoft-edge/toc.yml
Labels: cat: devtools

#3288 Update "Use Origin Trials in Microsoft Edge" per new OT portal
  microsoft-edge/develop-web-microsoft-edge.md
  microsoft-edge/developer/index.yml
  microsoft-edge/index.yml
  microsoft-edge/origin-trials/index-images/reg-form.png
  microsoft-edge/origin-trials/index-images/renew-token.png
  microsoft-edge/origin-trials/index-images/token-displayed.png
  microsoft-edge/origin-trials/index.md
  microsoft-edge/progressive-web-apps-chromium/demo-pwas.md
  microsoft-edge/progressive-web-apps-chromium/how-to/handle-urls.md
  microsoft-edge/progressive-web-apps-chromium/how-to/origin-trials.md
  microsoft-edge/progressive-web-apps-chromium/whats-new/pwa.md
  microsoft-edge/test-and-automation/test-and-automation.md
  microsoft-edge/toc.yml
  microsoft-edge/web-platform/ad-selection-api.md
Labels: cat: test-automation
