Repository MicrosoftDocs/edge-developer, pull requests merged in 2024-06, with the labels that each got.

#3190 Add Periodic Background Sync as unsupported browser feature
  microsoft-edge/webview2/concepts/browser-features.md
Labels: cat: webview2

#3192 What's New in DevTools 126
  microsoft-edge/devtools-guide-chromium/experimental-features/index.md
  microsoft-edge/devtools-guide-chromium/inspect-styles/edit-fonts.md
  microsoft-edge/devtools-guide-chromium/whats-new/2021/01/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2024/06/devtools-126-images/react-extension-icon.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/06/devtools-126.md
  microsoft-edge/toc.yml
Labels: cat: devtools

#3185 Release Notes for June 2024
  microsoft-edge/webview2/concepts/webview-features-flags.md
  microsoft-edge/webview2/release-notes/archive.md
  microsoft-edge/webview2/release-notes/index.md
Labels: cat: webview2

#3199 Deprecate Token Binding in "Site compatibility-impacting changes"
  microsoft-edge/web-platform/site-impacting-changes.md
Labels: cat: webplatform

#3200 Clarify download info link in "Securely debug original code"
  microsoft-edge/devtools-guide-chromium/javascript/publish-source-maps-to-azure.md
Labels: cat: devtools

#3208 Remove dup line of code in "Working with local content in WebView2 apps"
  microsoft-edge/webview2/concepts/working-with-local-content.md
Labels: cat: webview2

#3207 Update "Contact Microsoft Edge extensions support"
  microsoft-edge/extensions-chromium/publish/contact-extensions-team.md
Labels: cat: extensions
