Repository MicrosoftDocs/edge-developer, pull requests merged in 2024-03, with the labels that each got.

#3088 Update DualEngine LAF callout to match new DMA requirements
  microsoft-edge/dualengine/reference/accelerator.md
  microsoft-edge/dualengine/reference/cryptdatablob.md
  microsoft-edge/dualengine/reference/dualengine-idl.md
  microsoft-edge/dualengine/reference/dualenginecookie.md
  microsoft-edge/dualengine/reference/dualenginenewwindowoptions.md
  microsoft-edge/dualengine/reference/dualenginesessionfactory.md
  microsoft-edge/dualengine/reference/idualengine20browser.md
  microsoft-edge/dualengine/reference/idualengine20browserobserver.md
  microsoft-edge/dualengine/reference/idualengine20browsersession.md
  microsoft-edge/dualengine/reference/idualengine20browsersessionobserver.md
  microsoft-edge/dualengine/reference/index.md
  microsoft-edge/dualengine/reference/tagsentinelentryinfo.md
  microsoft-edge/dualengine/reference/visiblelistupdateentry.md
Labels: cat: dualengine

#3067 Update "Diagnostic data" section in Privacy whitepaper per DMA
  microsoft-edge/privacy-whitepaper/index.md
Labels: cat: privacy

#3089 Convert to relative links in hub & landing pages
  microsoft-edge/developer/index.yml
  microsoft-edge/devtools-guide-chromium/landing/index.yml
  microsoft-edge/devtools-protocol-chromium/index.md
  microsoft-edge/extensions-chromium/publish/extensions-analytics.md
  microsoft-edge/index.yml
Labels: cat: general

#3090 Change the search scope to narrow down to edge developer
  microsoft-edge/docfx.json
Labels: cat: general

#3098 Clarify the current state of Scope Extensions
  microsoft-edge/progressive-web-apps-chromium/how-to/handle-urls.md
Labels: cat: pwas

#3100 Add REST before "API" in title, remove 3rd-party table
  microsoft-edge/extensions-chromium/publish/api/addons-api-reference.md
  microsoft-edge/extensions-chromium/publish/api/using-addons-api.md
  microsoft-edge/extensions-chromium/publish/update-extension.md
  microsoft-edge/extensions-chromium/whats-new/released-features.md
  microsoft-edge/toc.yml
Labels: cat: extensions

#3112 Move Copilot Explain out of experimental and into regular docs
  .openpublishing.redirection.json
  microsoft-edge/devtools-guide-chromium/console/copilot-explain-console-images/copilot-error-explanation.png
  microsoft-edge/devtools-guide-chromium/console/copilot-explain-console-images/copilot-icon.png
  microsoft-edge/devtools-guide-chromium/console/copilot-explain-console-images/explain-icon.png
  microsoft-edge/devtools-guide-chromium/console/copilot-explain-console-images/some-console-errors.png
  microsoft-edge/devtools-guide-chromium/console/copilot-explain-console.md
  microsoft-edge/devtools-guide-chromium/console/reference-images/autocomplete.png
  microsoft-edge/devtools-guide-chromium/console/reference-images/browser-and-user-messages.png
  microsoft-edge/devtools-guide-chromium/console/reference-images/clear-console-button-icon.png
  microsoft-edge/devtools-guide-chromium/console/reference-images/command-menu-show-console.png
  microsoft-edge/devtools-guide-chromium/console/reference-images/console-command-menu-show-console.png
  microsoft-edge/devtools-guide-chromium/console/reference-images/console-dom-level-top.png
  microsoft-edge/devtools-guide-chromium/console/reference-images/console-elements-console-drawer-hello-world.png
  microsoft-edge/devtools-guide-chromium/console/reference-images/console-elements-customize-control-devtools-show-console-drawer.png
  microsoft-edge/devtools-guide-chromium/console/reference-images/console-filter-regex.png
  microsoft-edge/devtools-guide-chromium/console/reference-images/console-filter-text-autofilter-history.png
  microsoft-edge/devtools-guide-chromium/console/reference-images/console-filter-text-specified.png
  microsoft-edge/devtools-guide-chromium/console/reference-images/console-hello-console.png
  microsoft-edge/devtools-guide-chromium/console/reference-images/console-in-quickview.png
  microsoft-edge/devtools-guide-chromium/console/reference-images/console-log-level-default-levels.png
  microsoft-edge/devtools-guide-chromium/console/reference-images/console-settings-group-similar-empty.png
  microsoft-edge/devtools-guide-chromium/console/reference-images/console-show-network.png
  microsoft-edge/devtools-guide-chromium/console/reference-images/console-sidebar-drawer-empty.png
  microsoft-edge/devtools-guide-chromium/console/reference-images/console-sidebar-drawer-user-messages.png
  microsoft-edge/devtools-guide-chromium/console/reference-images/console-xhr-fetch.png
  microsoft-edge/devtools-guide-chromium/console/reference-images/copilot-error-explanation.png
  microsoft-edge/devtools-guide-chromium/console/reference-images/create-live-expression-icon.png
  microsoft-edge/devtools-guide-chromium/console/reference-images/filter-by-script-sidebar.png
  microsoft-edge/devtools-guide-chromium/console/reference-images/filter-regex.png
  microsoft-edge/devtools-guide-chromium/console/reference-images/first-open.png
  microsoft-edge/devtools-guide-chromium/console/reference-images/hide-console-sidebar-icon.png
  microsoft-edge/devtools-guide-chromium/console/reference-images/log-levels.png
  microsoft-edge/devtools-guide-chromium/console/reference-images/network-404-error.png
  microsoft-edge/devtools-guide-chromium/console/reference-images/settings-button-icon.png
  microsoft-edge/devtools-guide-chromium/console/reference-images/settings.png
  microsoft-edge/devtools-guide-chromium/console/reference-images/show-console-sidebar-icon.png
  microsoft-edge/devtools-guide-chromium/console/reference-images/sidebar-user-messages.png
  microsoft-edge/devtools-guide-chromium/console/reference-images/sidebar.png
  microsoft-edge/devtools-guide-chromium/console/reference-images/single-context-setting.png
  microsoft-edge/devtools-guide-chromium/console/reference-images/top-context.png
  microsoft-edge/devtools-guide-chromium/console/reference-images/url-filter-dropdown.png
  microsoft-edge/devtools-guide-chromium/console/reference-images/url-filter-selected.png
  microsoft-edge/devtools-guide-chromium/console/reference-images/xhr-fetch.png
  microsoft-edge/devtools-guide-chromium/console/reference.md
  microsoft-edge/devtools-guide-chromium/experimental-features/copilot-explain-images/flag.png
  microsoft-edge/devtools-guide-chromium/experimental-features/copilot-explain.md
  microsoft-edge/devtools-guide-chromium/javascript/copilot-explain-source-code-images/copilot-code-explanation.png
  microsoft-edge/devtools-guide-chromium/javascript/copilot-explain-source-code-images/copilot-icon.png
  microsoft-edge/devtools-guide-chromium/javascript/copilot-explain-source-code-images/more-tools-icon.png
  microsoft-edge/devtools-guide-chromium/javascript/copilot-explain-source-code-images/selected-code.png
  microsoft-edge/devtools-guide-chromium/javascript/copilot-explain-source-code.md
  microsoft-edge/devtools-guide-chromium/javascript/reference-images/copilot-code-explanation.png
  microsoft-edge/devtools-guide-chromium/javascript/reference.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/06/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2021/02/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2023/09/devtools-117.md
  microsoft-edge/devtools-guide-chromium/whats-new/2023/12/devtools-120.md
  microsoft-edge/toc.yml
Labels: cat: devtools

#3099 Add more browser flags
  microsoft-edge/webview2/concepts/webview-features-flags.md
Labels: cat: webview2

#3110 WebView2: Add JS API docs for WebViewMessageEvent and cancelPromise
  microsoft-edge/toc.yml
  microsoft-edge/webview2/reference/javascript/hostobjectsasyncroot.yml
  microsoft-edge/webview2/reference/javascript/index.yml
  microsoft-edge/webview2/reference/javascript/webvieweventmap.yml
  microsoft-edge/webview2/reference/javascript/webviewmessageevent.yml
Labels: cat: webview2

#3114 Release Notes for March 2024 Release SDK & Prerelease SDK
  microsoft-edge/webview2/release-notes/index.md
Labels: cat: webview2

#3107 What's New in DevTools 123
  microsoft-edge/devtools-guide-chromium/whats-new/2024/03/devtools-123-images/crash-analyzer-tool.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/03/devtools-123-images/heap-snapshot-default.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/03/devtools-123-images/heap-snapshot-with-experiment.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/03/devtools-123.md
  microsoft-edge/devtools-guide-chromium/whats-new/whats-new-archive.md
  microsoft-edge/devtools-guide-chromium/whats-new/whats-new.md
  microsoft-edge/toc.yml
Labels: cat: devtools

#3059 Remove the Command Palette experiment docs
  .openpublishing.redirection.json
  microsoft-edge/devtools-guide-chromium/experimental-features/edge-command-palette-images/command-palette-bookmark.png
  microsoft-edge/devtools-guide-chromium/experimental-features/edge-command-palette-images/command-palette-flag.png
  microsoft-edge/devtools-guide-chromium/experimental-features/edge-command-palette-images/command-palette.png
  microsoft-edge/devtools-guide-chromium/experimental-features/edge-command-palette.md
  microsoft-edge/devtools-guide-chromium/whats-new/2022/09/devtools-106.md
  microsoft-edge/devtools-guide-chromium/whats-new/2022/10/devtools-107.md
  microsoft-edge/devtools-guide-chromium/whats-new/2022/12/devtools-108.md
  microsoft-edge/devtools-guide-chromium/whats-new/2023/01/devtools-109.md
  microsoft-edge/toc.yml
Labels: cat: devtools

#3117 Remove Travel section from Privacy whitepaper
  microsoft-edge/privacy-whitepaper/index.md
Labels: cat: privacy
