Repository MicrosoftDocs/edge-developer, pull requests merged in 2024-05, with the labels that each got.

#3138 Update the LAF support link
  microsoft-edge/dualengine/concepts/adapter-dll.md
  microsoft-edge/dualengine/get-started.md
Labels: cat: dualengine

#3144 Improve the Edge old versions detector and remove a couple of outdated versions
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots.md
  microsoft-edge/devtools-guide-chromium/memory-problems/memory-101.md
  scripts/report-references-to-old-versions.js
Labels: cat: general

#3121 Custom Scheme Registration
  microsoft-edge/webview2/concepts/working-with-local-content.md
Labels: cat: webview2

#3148 Add more flags to WebView2 documentation
  microsoft-edge/webview2/concepts/webview-features-flags.md
Labels: cat: webview2

#3147 Add section "Limitations of the embedded DevTools browser"
  microsoft-edge/toc.yml
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension/debugging-a-webpage.md
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension/device-state-emulation.md
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension/external-browser-window.md
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension/open-devtools-and-embedded-browser.md
Labels: cat: vs_vscode

#3161 Trim TOC entries for Remote debug wv2 WinUI 2 (UWP) apps
  microsoft-edge/devtools-guide-chromium/whats-new/2023/03/devtools-111.md
  microsoft-edge/toc.yml
  microsoft-edge/webview2/how-to/remote-debugging-xbox.md
  microsoft-edge/webview2/how-to/remote-debugging.md
Labels: cat: webview2

#3159 Update "Developer policies for the Microsoft Edge Add-ons store"
  microsoft-edge/extensions-chromium/store-policies/developer-policies.md
Labels: cat: extensions

#3162 Update the LAF support link to the correct URL
  microsoft-edge/dualengine/concepts/adapter-dll.md
  microsoft-edge/dualengine/get-started.md
Labels: cat: dualengine

#3141 Update article "Analyze CSS selector performance"
  microsoft-edge/devtools-guide-chromium/css/css-overview-tool.md
  microsoft-edge/devtools-guide-chromium/evaluate-performance/selector-stats-images/copy-table.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/selector-stats-images/enable-feature.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/selector-stats-images/full-recording.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/selector-stats-images/long-running-task.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/selector-stats-images/more-tools-icon.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/selector-stats-images/performance-tool-icon.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/selector-stats-images/record-icon.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/selector-stats-images/single-event.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/selector-stats-images/sort-by-elapsed-time.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/selector-stats.md
  microsoft-edge/devtools-guide-chromium/overview-images/more-tools-icon-light-theme.png
  microsoft-edge/devtools-guide-chromium/overview-images/more-tools-icon.png
  microsoft-edge/devtools-guide-chromium/overview-images/move-activity-bar-to-left-icon.png
  microsoft-edge/devtools-guide-chromium/overview-images/move-quickview-icon.png
  microsoft-edge/devtools-guide-chromium/overview-images/move-quickview.png
  microsoft-edge/devtools-guide-chromium/overview.md
  microsoft-edge/devtools-guide-chromium/whats-new/2023/01/devtools-109.md
  microsoft-edge/devtools-guide-chromium/whats-new/2023/03/devtools-111.md
  microsoft-edge/devtools-guide-chromium/whats-new/2023/04/devtools-112.md
  microsoft-edge/devtools-guide-chromium/whats-new/2023/06/devtools-114.md
  microsoft-edge/toc.yml
Labels: in-progress, cat: devtools

#3146 Cross-link sections about blocking network requests
  microsoft-edge/devtools-guide-chromium/network-request-blocking/network-request-blocking-tool.md
  microsoft-edge/devtools-guide-chromium/network/index.md
Labels: cat: devtools

#3160 Add row "Insecure downloads over HTTP" in "Site compatibility-impacting changes"
  microsoft-edge/web-platform/site-impacting-changes.md
Labels: cat: webplatform

#3158 What's New in DevTools 125
  microsoft-edge/devtools-guide-chromium/experimental-features/index.md
  microsoft-edge/devtools-guide-chromium/whats-new/2024/05/devtools-125-images/edit-and-resend.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/05/devtools-125-images/selector-stats.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/05/devtools-125.md
  microsoft-edge/toc.yml
Labels: cat: devtools

#3170 Add BreakoutBoxPreferCaptureTimestampInVideoFrames flag
  microsoft-edge/webview2/concepts/webview-features-flags.md
Labels: cat: webview2

#3168 Comment out workshop link that gives xml error & 404 report
  microsoft-edge/extensions-chromium/index.md
Labels: cat: extensions

#3157 New article "Simulate the Window Controls Overlay API without installing your PWA"
  microsoft-edge/devtools-guide-chromium/progressive-web-apps/simulate-window-controls-overlay-images/1div-demo-app.png
  microsoft-edge/devtools-guide-chromium/progressive-web-apps/simulate-window-controls-overlay-images/demo-with-overlay.png
  microsoft-edge/devtools-guide-chromium/progressive-web-apps/simulate-window-controls-overlay-images/more-tools-icon.png
  microsoft-edge/devtools-guide-chromium/progressive-web-apps/simulate-window-controls-overlay-images/pwa-window-controls.png
  microsoft-edge/devtools-guide-chromium/progressive-web-apps/simulate-window-controls-overlay.md
  microsoft-edge/devtools-guide-chromium/whats-new/2024/01/devtools-121.md
  microsoft-edge/progressive-web-apps-chromium/demo-pwas.md
  microsoft-edge/progressive-web-apps-chromium/how-to/best-practices.md
  microsoft-edge/progressive-web-apps-chromium/how-to/icon-theme-color.md
  microsoft-edge/progressive-web-apps-chromium/how-to/window-controls-overlay-images/app-available-install-icon.png
  microsoft-edge/progressive-web-apps-chromium/how-to/window-controls-overlay-images/app-installed-dialog.png
  microsoft-edge/progressive-web-apps-chromium/how-to/window-controls-overlay-images/close-icon.png
  microsoft-edge/progressive-web-apps-chromium/how-to/window-controls-overlay-images/hide-title-bar-icon.png
  microsoft-edge/progressive-web-apps-chromium/how-to/window-controls-overlay-images/minimize-icon.png
  microsoft-edge/progressive-web-apps-chromium/how-to/window-controls-overlay-images/restore-icon.png
  microsoft-edge/progressive-web-apps-chromium/how-to/window-controls-overlay-images/settings-and-more-icon.png
  microsoft-edge/progressive-web-apps-chromium/how-to/window-controls-overlay.md
  microsoft-edge/progressive-web-apps-chromium/whats-new/pwa.md
  microsoft-edge/toc.yml
Labels: cat: devtools

#3171 Update Microsoft Support link for DualEngine API DMA requests.
  microsoft-edge/dualengine/reference/accelerator.md
  microsoft-edge/dualengine/reference/cryptdatablob.md
  microsoft-edge/dualengine/reference/dualengine-idl.md
  microsoft-edge/dualengine/reference/dualenginecookie.md
  microsoft-edge/dualengine/reference/dualenginenewwindowoptions.md
  microsoft-edge/dualengine/reference/dualenginesessionfactory.md
  microsoft-edge/dualengine/reference/idualengine20browser.md
  microsoft-edge/dualengine/reference/idualengine20browserobserver.md
  microsoft-edge/dualengine/reference/idualengine20browsersession.md
  microsoft-edge/dualengine/reference/idualengine20browsersessionobserver.md
  microsoft-edge/dualengine/reference/index.md
  microsoft-edge/dualengine/reference/tagsentinelentryinfo.md
  microsoft-edge/dualengine/reference/visiblelistupdateentry.md
Labels: cat: dualengine

#3174 Remove unneeded request parameter from LAF support shortlink
  microsoft-edge/dualengine/concepts/adapter-dll.md
  microsoft-edge/dualengine/get-started.md
  microsoft-edge/dualengine/reference/accelerator.md
  microsoft-edge/dualengine/reference/cryptdatablob.md
  microsoft-edge/dualengine/reference/dualengine-idl.md
  microsoft-edge/dualengine/reference/dualenginecookie.md
  microsoft-edge/dualengine/reference/dualenginenewwindowoptions.md
  microsoft-edge/dualengine/reference/dualenginesessionfactory.md
  microsoft-edge/dualengine/reference/idualengine20browser.md
  microsoft-edge/dualengine/reference/idualengine20browserobserver.md
  microsoft-edge/dualengine/reference/idualengine20browsersession.md
  microsoft-edge/dualengine/reference/idualengine20browsersessionobserver.md
  microsoft-edge/dualengine/reference/index.md
  microsoft-edge/dualengine/reference/tagsentinelentryinfo.md
  microsoft-edge/dualengine/reference/visiblelistupdateentry.md
Labels: cat: dualengine

#3136 Release Notes for May 2024
  microsoft-edge/webview2/concepts/webview-features-flags.md
  microsoft-edge/webview2/release-notes/archive.md
  microsoft-edge/webview2/release-notes/index.md
Labels: cat: webview2

#3137 Update Overview of APIs for May 2024
  microsoft-edge/webview2/concepts/overview-features-apis.md
Labels: cat: webview2

#3183 Update edge-webview-interactive-dragging flag
  microsoft-edge/webview2/concepts/webview-features-flags.md
Labels: cat: webview2

#3182 Update winrt-js-conversion.md for out array params
  microsoft-edge/webview2/how-to/winrt-js-conversion.md
Labels: cat: webview2
