Repository MicrosoftDocs/edge-developer, pull requests merged in 2024-01, with the labels that each got.

#3003 Remove outdated Edge version and update the UA detection article
  microsoft-edge/web-platform/user-agent-guidance.md
Labels: cat: webplatform

#3004 Update default for Autofill for Passwords
  microsoft-edge/webview2/concepts/browser-features.md
Labels: cat: webview2

#2975 Update Overview of APIs per December RelNotes for Release SDK
  microsoft-edge/extensions-chromium/index.md
  microsoft-edge/webview2/concepts/overview-features-apis.md
  microsoft-edge/webview2/release-notes.md
Labels: cat: webview2

#3017 Updated "Clear requests" docs
  microsoft-edge/devtools-guide-chromium/network/reference-images/clear-requests.png
  microsoft-edge/devtools-guide-chromium/network/reference.md
Labels: cat: devtools

#3013 What's New in DevTools 120
  microsoft-edge/devtools-guide-chromium/whats-new/2023/12/devtools-120-images/copilot-error-explanation.png
  microsoft-edge/devtools-guide-chromium/whats-new/2023/12/devtools-120-images/new-devtools-ui.png
  microsoft-edge/devtools-guide-chromium/whats-new/2023/12/devtools-120-images/recorder-tool-1.png
  microsoft-edge/devtools-guide-chromium/whats-new/2023/12/devtools-120-images/recorder-tool-2.png
  microsoft-edge/devtools-guide-chromium/whats-new/2023/12/devtools-120-images/recorder-tool-3.png
  microsoft-edge/devtools-guide-chromium/whats-new/2023/12/devtools-120.md
  microsoft-edge/devtools-guide-chromium/whats-new/whats-new-archive.md
  microsoft-edge/devtools-guide-chromium/whats-new/whats-new.md
  microsoft-edge/toc.yml
Labels: cat: devtools

#2996 Added a tip to autocomplete styles using values
  microsoft-edge/devtools-guide-chromium/css/reference.md
Labels: cat: devtools

#3012 Fixed wide tile width in Icon image sizes
  microsoft-edge/progressive-web-apps-chromium/how-to/icon-theme-color.md
Labels: cat: pwas

#2869 Add article section "Writing the chrome_native_messaging_host.exe app"
  microsoft-edge/extensions-chromium/developer-guide/native-messaging.md
Labels: cat: extensions

#2760 Added History section in Privacy whitepaper
  microsoft-edge/privacy-whitepaper/index.md
Labels: cat: privacy

#2859 Added Dual Engine API Ref (IE Mode)
  microsoft-edge/dualengine/concepts/adapter-dll.md
  microsoft-edge/dualengine/concepts/launching-internet-explorer.md
  microsoft-edge/dualengine/get-started.md
  microsoft-edge/dualengine/intro.md
  microsoft-edge/dualengine/reference/accelerator.md
  microsoft-edge/dualengine/reference/cryptdatablob.md
  microsoft-edge/dualengine/reference/dualengine-idl.md
  microsoft-edge/dualengine/reference/dualenginecookie.md
  microsoft-edge/dualengine/reference/dualenginenewwindowoptions.md
  microsoft-edge/dualengine/reference/dualenginesessionfactory.md
  microsoft-edge/dualengine/reference/idualengine20browser.md
  microsoft-edge/dualengine/reference/idualengine20browserobserver.md
  microsoft-edge/dualengine/reference/idualengine20browsersession.md
  microsoft-edge/dualengine/reference/idualengine20browsersessionobserver.md
  microsoft-edge/dualengine/reference/index.md
  microsoft-edge/dualengine/reference/tagsentinelentryinfo.md
  microsoft-edge/dualengine/reference/toc.yml
  microsoft-edge/dualengine/reference/visiblelistupdateentry.md
  microsoft-edge/toc.yml
Labels: cat: dualengine

#3026 Update site-impacting-changes to show we've added AVIF support
  microsoft-edge/web-platform/site-impacting-changes.md
Labels: cat: webplatform

#3025 Removed Image Enhancement section
  microsoft-edge/privacy-whitepaper/index.md
Labels: cat: privacy

#3032 Removed step to select Screenshots checkbox
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index.md
Labels: cat: devtools

#3031 What's New in DevTools 121
  microsoft-edge/devtools-guide-chromium/accessibility/reduced-motion-simulation.md
  microsoft-edge/devtools-guide-chromium/customize/placement.md
  microsoft-edge/devtools-guide-chromium/customize/theme.md
  microsoft-edge/devtools-guide-chromium/experimental-features/index.md
  microsoft-edge/devtools-guide-chromium/inspect-styles/animations.md
  microsoft-edge/devtools-guide-chromium/sample-code/sample-code.md
  microsoft-edge/devtools-guide-chromium/whats-new/2019/12/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/01/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/03/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2024/01/devtools-121-images/PWA-window-controls.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/01/devtools-121-images/advanced-filters.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/01/devtools-121-images/coverage-tool.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/01/devtools-121-images/open-close-button-sources-after.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/01/devtools-121-images/open-close-button-sources-before.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/01/devtools-121-images/refresh-coverage-icon.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/01/devtools-121-images/settings-icon.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/01/devtools-121-images/z-index-tab.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/01/devtools-121.md
  microsoft-edge/devtools-guide-chromium/whats-new/whats-new-archive.md
  microsoft-edge/devtools-guide-chromium/whats-new/whats-new.md
  microsoft-edge/toc.yml
Labels: cat: devtools

#3036 Add a note about devtools extension tabs order
  microsoft-edge/devtools-guide-chromium/about-tools.md
  microsoft-edge/devtools-guide-chromium/accessibility/emulate-vision-deficiencies.md
  microsoft-edge/devtools-guide-chromium/accessibility/lighthouse.md
  microsoft-edge/devtools-guide-chromium/accessibility/test-reduced-ui-motion.md
  microsoft-edge/devtools-guide-chromium/accessibility/test-tab-key-source-order-viewer.md
  microsoft-edge/devtools-guide-chromium/customize/index.md
  microsoft-edge/devtools-guide-chromium/overview.md
  microsoft-edge/devtools-guide-chromium/whats-new/2022/12/devtools-108.md
  microsoft-edge/devtools-guide-chromium/whats-new/2023/02/devtools-110.md
Labels: cat: devtools

#3023 Release Notes for Jan. 2024 Prerelease SDK
  microsoft-edge/webview2/release-notes.md
Labels: cat: webview2
