Repository MicrosoftDocs/edge-developer, pull requests merged in 2024-09, with the labels that each got.

#3255 Fix link text for Microsoft Store App Developer Agreement
  microsoft-edge/extensions-chromium/publish/create-dev-account.md
  microsoft-edge/extensions-chromium/publish/publish-extension.md
  microsoft-edge/extensions-chromium/store-policies/ada-addendum.md
  microsoft-edge/extensions-chromium/store-policies/developer-policies.md
Labels: cat: extensions

#3261 Remove "Show Downloads" from list of shortcuts that are turned off
  microsoft-edge/webview2/concepts/browser-features.md
Labels: cat: webview2

#3258 Remove Extensions policy articles
  .openpublishing.redirection.json
  microsoft-edge/extensions-chromium/publish/add-ons-store-curation.md
  microsoft-edge/extensions-chromium/publish/publish-extension.md
  microsoft-edge/extensions-chromium/store-policies/ada-addendum.md
  microsoft-edge/extensions-chromium/store-policies/developer-policies.md
  microsoft-edge/toc.yml
Labels: cat: extensions

#3253 Update "Overview of APIs" for August 2024
  microsoft-edge/webview2/concepts/overview-features-apis.md
  microsoft-edge/webview2/release-notes/index.md
Labels: cat: webview2

#3264 Add "Show Downloads" shortcut to list that are turned off if AcceleratorEnabled is false
  microsoft-edge/webview2/concepts/browser-features.md
Labels: cat: webview2

#3262 Add "Request headers (v2)" in "REST API Ref for Edge Add-ons"
  microsoft-edge/extensions-chromium/publish/api/addons-api-reference.md
Labels: cat: extensions

#2899 Redesign Extensions TOC
  .openpublishing.redirection.json
  microsoft-edge/develop-web-microsoft-edge.md
  microsoft-edge/developer/index.yml
  microsoft-edge/extensions-chromium/developer-guide/alternate-distribution-options.md
  microsoft-edge/extensions-chromium/developer-guide/api-support.md
  microsoft-edge/extensions-chromium/developer-guide/best-practices.md
  microsoft-edge/extensions-chromium/developer-guide/csp.md
  microsoft-edge/extensions-chromium/developer-guide/declare-permissions.md
  microsoft-edge/extensions-chromium/developer-guide/manifest-v3.md
  microsoft-edge/extensions-chromium/developer-guide/sidebar.md
  microsoft-edge/extensions-chromium/getting-started/manifest-format.md
  microsoft-edge/extensions-chromium/index.md
  microsoft-edge/extensions-chromium/publish/aad-account.md
  microsoft-edge/extensions-chromium/publish/add-ons-store-curation.md
  microsoft-edge/extensions-chromium/publish/api/using-addons-api.md
  microsoft-edge/extensions-chromium/publish/auto-update.md
  microsoft-edge/extensions-chromium/publish/contact-extensions-team.md
  microsoft-edge/extensions-chromium/publish/create-dev-account.md
  microsoft-edge/extensions-chromium/publish/github.md
  microsoft-edge/extensions-chromium/publish/reply-user-reviews.md
  microsoft-edge/extensions-chromium/publish/verify-microsoft-edge-program.md
  microsoft-edge/extensions-chromium/whats-new/released-features.md
  microsoft-edge/extensions-chromium/whats-new/roadmap.md
  microsoft-edge/index.yml
  microsoft-edge/progressive-web-apps-chromium/demo-pwas.md
  microsoft-edge/toc.yml
  microsoft-edge/web-platform/sidebar.md
  microsoft-edge/webview2/concepts/end-user-faq.md
  microsoft-edge/webview2/contact.md
Labels: cat: extensions

#3265 Extensions landing page
  microsoft-edge/extensions-chromium/index.md
  microsoft-edge/extensions-chromium/landing/index.yml
  microsoft-edge/extensions-chromium/publish/api/addons-api-reference.md
  microsoft-edge/extensions-chromium/publish/api/using-addons-api.md
  microsoft-edge/extensions-chromium/publish/auto-update.md
  microsoft-edge/toc.yml
Labels: cat: extensions

#3267 Deprecate "Detached Elements" tool
  microsoft-edge/devtools-guide-chromium/memory-problems/dom-leaks.md
Labels: cat: devtools

#3260 Heap snapshot objects categorized by property list in curly braces
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots-images/customize-icon.png
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots-images/settings-icon.png
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots-images/shallow-size-entire-object.png
  microsoft-edge/devtools-guide-chromium/memory-problems/heap-snapshots.md
  microsoft-edge/devtools-guide-chromium/memory-problems/memory-101.md
  microsoft-edge/devtools-guide-chromium/whats-new/2022/06/devtools-103.md
Labels: cat: devtools

#3272 New article "Minimize an extension's impact on page load time"
  microsoft-edge/extensions-chromium/developer-guide/minimize-page-load-time-impact-images/evaluate-script-event.png
  microsoft-edge/extensions-chromium/developer-guide/minimize-page-load-time-impact-images/more-tools-icon.png
  microsoft-edge/extensions-chromium/developer-guide/minimize-page-load-time-impact-images/performance-tool-icon.png
  microsoft-edge/extensions-chromium/developer-guide/minimize-page-load-time-impact-images/profile.png
  microsoft-edge/extensions-chromium/developer-guide/minimize-page-load-time-impact-images/record-icon.png
  microsoft-edge/extensions-chromium/developer-guide/minimize-page-load-time-impact-images/stop-icon.png
  microsoft-edge/extensions-chromium/developer-guide/minimize-page-load-time-impact-images/tracing-event-selected.png
  microsoft-edge/extensions-chromium/developer-guide/minimize-page-load-time-impact.md
  microsoft-edge/extensions-chromium/landing/index.yml
  microsoft-edge/toc.yml
Labels: cat: extensions

#3263 Release Notes for September 2024
  microsoft-edge/webview2/release-notes/archive.md
  microsoft-edge/webview2/release-notes/index.md
Labels: cat: webview2

#3274 Add "to" in "Distribute your app and the WebView2 Runtime"
  microsoft-edge/webview2/concepts/distribution.md
Labels: cat: webview2

#3275 Add wv2 flag `msEdgeWebViewApplyWebResourceRequestedFilterForOOPIFs`
  microsoft-edge/webview2/concepts/webview-features-flags.md
Labels: cat: webview2

#3269 Add v1.1 info in "Using REST API for updating Add-ons"
  microsoft-edge/extensions-chromium/developer-guide/alternate-distribution-options.md
  microsoft-edge/extensions-chromium/developer-guide/api-support.md
  microsoft-edge/extensions-chromium/getting-started/part1-simple-extension.md
  microsoft-edge/extensions-chromium/landing/index.yml
  microsoft-edge/extensions-chromium/publish/api/addons-api-reference.md
  microsoft-edge/extensions-chromium/publish/api/using-addons-api-images/partner-center-1-1-enable.png
  microsoft-edge/extensions-chromium/publish/api/using-addons-api-images/partner-center-1-1-ui.png
  microsoft-edge/extensions-chromium/publish/api/using-addons-api.md
  microsoft-edge/extensions-chromium/publish/auto-update.md
  microsoft-edge/extensions-chromium/publish/create-dev-account.md
  microsoft-edge/extensions-chromium/publish/publish-extension.md
  microsoft-edge/extensions-chromium/publish/update-extension.md
  microsoft-edge/extensions-chromium/whats-new/released-features.md
  microsoft-edge/toc.yml
Labels: cat: extensions

#3281 First three parts of version # must match, in "Use WebDriver to automate Microsoft Edge"
  microsoft-edge/webdriver-chromium/index-images/microsoft-edge-driver-install.png
  microsoft-edge/webdriver-chromium/index-images/microsoft-edge-version.png
  microsoft-edge/webdriver-chromium/index.md
Labels: cat: webdriver

#3233 Clarify & update "Debug WebView2 apps with Visual Studio"
  microsoft-edge/webview2/how-to/context-menus.md
  microsoft-edge/webview2/how-to/debug-visual-studio-code.md
  microsoft-edge/webview2/how-to/debug-visual-studio-images/breakpoint.png
  microsoft-edge/webview2/how-to/debug-visual-studio-images/console.png
  microsoft-edge/webview2/how-to/debug-visual-studio-images/indiv-comp.png
  microsoft-edge/webview2/how-to/debug-visual-studio-images/output-tab-vs2022.png
  microsoft-edge/webview2/how-to/debug-visual-studio-images/run-local-windows-debugger.png
  microsoft-edge/webview2/how-to/debug-visual-studio-images/run.png
  microsoft-edge/webview2/how-to/debug-visual-studio-images/webview-script-debugging-example.png
  microsoft-edge/webview2/how-to/debug-visual-studio-images/workloads.png
  microsoft-edge/webview2/how-to/debug-visual-studio.md
  microsoft-edge/webview2/how-to/publish-uwp-app-store.md
  microsoft-edge/webview2/how-to/webresourcerequested.md
Labels: cat: webview2

#3278 Remove MV2 code from "Create an extension tutorial, part 2"
  microsoft-edge/extensions-chromium/getting-started/part2-content-scripts.md
Labels: cat: extensions

#3283 What's New in DevTools 129
  microsoft-edge/devtools-guide-chromium/experimental-features/index.md
  microsoft-edge/devtools-guide-chromium/whats-new/2024/09/devtools-129-images/buggy-security-tool.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/09/devtools-129-images/context-menu-for-dom-text-node.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/09/devtools-129-images/fixed-security-tool.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/09/devtools-129-images/new-breakpoints.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/09/devtools-129-images/new-dialog.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/09/devtools-129-images/old-breakpoints.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/09/devtools-129-images/old-dialog.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/09/devtools-129-images/selector-stats-copy.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/09/devtools-129-images/show-element-button.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/09/devtools-129-images/show-element-icon.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/09/devtools-129.md
  microsoft-edge/toc.yml
Labels: cat: devtools
