Repository MicrosoftDocs/edge-developer, pull requests merged in 2024-11, with the labels that each got.

#3297 Add "Update Windows App SDK" in "Get started WinUI 3 (Win App SDK)"
  microsoft-edge/webview2/concepts/navigation-events.md
  microsoft-edge/webview2/get-started/get-started.md
  microsoft-edge/webview2/get-started/winui-images/blank-winui3-app.png
  microsoft-edge/webview2/get-started/winui-images/config-new-proj.png
  microsoft-edge/webview2/get-started/winui-images/create-project-winui3-desktop.png
  microsoft-edge/webview2/get-started/winui-images/enable-developer-mode.png
  microsoft-edge/webview2/get-started/winui-images/finished-app.png
  microsoft-edge/webview2/get-started/winui-images/getting-started-bing.png
  microsoft-edge/webview2/get-started/winui-images/getting-started-part-3.png
  microsoft-edge/webview2/get-started/winui-images/getting-started-script.png
  microsoft-edge/webview2/get-started/winui-images/installer-winappsdk.png
  microsoft-edge/webview2/get-started/winui-images/new-winui3-project.png
  microsoft-edge/webview2/get-started/winui-images/nuget-install-winappsdk.png
  microsoft-edge/webview2/get-started/winui-images/nuget-installed-tab.png
  microsoft-edge/webview2/get-started/winui.md
Labels: cat: webview2

#3298 New OT form for the Ad Selection API
  microsoft-edge/web-platform/ad-selection-api-images/origin-trials.png
  microsoft-edge/web-platform/ad-selection-api-images/reg-form.png
  microsoft-edge/web-platform/ad-selection-api.md
Labels: cat: webplatform

#3302 Add article "WinUI 3 (Windows App SDK) sample app"
  .openpublishing.redirection.json
  microsoft-edge/toc.yml
  microsoft-edge/webview2/code-samples-links.md
  microsoft-edge/webview2/samples/webview2-winui3-sample-images/nuget-package-manager.png
  microsoft-edge/webview2/samples/webview2-winui3-sample-images/sample-app.png
  microsoft-edge/webview2/samples/webview2-winui3-sample.md
  microsoft-edge/webview2/samples/webview2_sample_uwp.md
  microsoft-edge/webview2/samples/webview2apissample.md
  microsoft-edge/webview2/samples/webview2browser.md
  microsoft-edge/webview2/samples/webview2samplewincomp.md
  microsoft-edge/webview2/samples/webview2windowsformsbrowser.md
  microsoft-edge/webview2/samples/webview2wpfbrowser.md
  microsoft-edge/webview2/samples/wv2cdpextensionwpfsample.md
  microsoft-edge/webview2/samples/wv2deploymentwixburnbundlesample.md
  microsoft-edge/webview2/samples/wv2deploymentwixcustomactionsample.md
Labels: cat: webview2

#3305 Move "WebView2 browser flags" from Fundamentals to Advanced
  microsoft-edge/toc.yml
Labels: cat: webview2

#3293 Remove article "Apply a color theme to DevTools"
  .openpublishing.redirection.json
  microsoft-edge/dev-videos/index.md
  microsoft-edge/devtools-guide-chromium/accessibility/preferred-color-scheme-simulation.md
  microsoft-edge/devtools-guide-chromium/customize/index-images/theme-setting.png
  microsoft-edge/devtools-guide-chromium/customize/index.md
  microsoft-edge/devtools-guide-chromium/customize/theme.md
  microsoft-edge/devtools-guide-chromium/experimental-features/index.md
  microsoft-edge/devtools-guide-chromium/landing/index.yml
  microsoft-edge/devtools-guide-chromium/whats-new/2020/05/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2021/07/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2021/09/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2022/01/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2022/02/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2022/03/devtools-100.md
  microsoft-edge/devtools-guide-chromium/whats-new/2022/04/devtools-101.md
  microsoft-edge/devtools-guide-chromium/whats-new/2022/09/devtools-106.md
  microsoft-edge/devtools-guide-chromium/whats-new/2022/12/devtools-108.md
  microsoft-edge/devtools-guide-chromium/whats-new/2023/02/devtools-110.md
  microsoft-edge/devtools-guide-chromium/whats-new/2023/05/devtools-113.md
  microsoft-edge/devtools-guide-chromium/whats-new/2024/04/devtools-124.md
  microsoft-edge/toc.yml
Labels: cat: devtools

#3306 What's New in DevTools 131
  microsoft-edge/devtools-guide-chromium/whats-new/2024/11/devtools-131-images/capture-settings-icon.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/11/devtools-131-images/selector-stats-info.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/11/devtools-131-images/show-sidebar-icon.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/11/devtools-131.md
  microsoft-edge/toc.yml
Labels: cat: devtools

#3307 v1 support date in "REST API" articles
  microsoft-edge/extensions-chromium/publish/api/addons-api-reference.md
  microsoft-edge/extensions-chromium/publish/api/using-addons-api.md
  microsoft-edge/extensions-chromium/whats-new/released-features.md
  microsoft-edge/extensions-chromium/whats-new/roadmap.md
Labels: cat: extensions

#3304 Rewrite "Create a DevTools extension, adding a custom tool tab and panel"
  microsoft-edge/dev-videos/index.md
  microsoft-edge/extensions-chromium/developer-guide/devtools-extension.md
  microsoft-edge/extensions-chromium/landing/index.yml
  microsoft-edge/extensions-chromium/samples.md
  microsoft-edge/toc.yml
Labels: cat: extensions, cat: devtools

#3294 Release Notes for November 2024
  microsoft-edge/webview2/release-notes/about.md
  microsoft-edge/webview2/release-notes/archive.md
  microsoft-edge/webview2/release-notes/index.md
Labels: in-progress, cat: webview2

#3310 Fix November 2024 Release Notes lists/links esp. WinRT
  microsoft-edge/webview2/release-notes/index.md
Labels: cat: webview2

#3314 In "Site compatibility-impacting", change "Deprecate textprediction" to 133
  microsoft-edge/web-platform/site-impacting-changes.md
Labels: cat: webplatform

#3295 Update "Overview of APIs" for November 2024
  microsoft-edge/webview2/concepts/overview-features-apis.md
Labels: cat: webview2

#3124 Redesign WebView2 TOC & clarify article titles
  microsoft-edge/develop-web-microsoft-edge.md
  microsoft-edge/developer/index.yml
  microsoft-edge/devtools-guide-chromium/experimental-features/index.md
  microsoft-edge/devtools-protocol-chromium/index.md
  microsoft-edge/extensions-chromium/samples.md
  microsoft-edge/index.yml
  microsoft-edge/playwright/index.md
  microsoft-edge/progressive-web-apps-chromium/how-to/service-workers.md
  microsoft-edge/puppeteer/index.md
  microsoft-edge/toc.yml
  microsoft-edge/web-platform/web-platform.md
  microsoft-edge/webdriver-chromium/capabilities-edge-options.md
  microsoft-edge/webdriver-chromium/contact.md
  microsoft-edge/webview2/code-samples-links.md
  microsoft-edge/webview2/concepts/data-privacy.md
  microsoft-edge/webview2/concepts/developer-guide.md
  microsoft-edge/webview2/concepts/environment-controller-core.md
  microsoft-edge/webview2/concepts/frames.md
  microsoft-edge/webview2/concepts/multi-profile-support.md
  microsoft-edge/webview2/concepts/navigation-events.md
  microsoft-edge/webview2/concepts/overview-features-apis.md
  microsoft-edge/webview2/concepts/process-related-events.md
  microsoft-edge/webview2/concepts/windowed-vs-visual-hosting.md
  microsoft-edge/webview2/concepts/working-with-local-content.md
  microsoft-edge/webview2/contact.md
  microsoft-edge/webview2/get-started/get-started.md
  microsoft-edge/webview2/get-started/win32.md
  microsoft-edge/webview2/get-started/winui.md
  microsoft-edge/webview2/get-started/winui2.md
  microsoft-edge/webview2/get-started/wpf.md
  microsoft-edge/webview2/how-to/chromium-devtools-protocol.md
  microsoft-edge/webview2/how-to/communicate-btwn-web-native.md
  microsoft-edge/webview2/how-to/context-menus.md
  microsoft-edge/webview2/how-to/customize-ui.md
  microsoft-edge/webview2/how-to/debug.md
  microsoft-edge/webview2/how-to/hostobject.md
  microsoft-edge/webview2/how-to/javascript.md
  microsoft-edge/webview2/how-to/print.md
  microsoft-edge/webview2/how-to/webresourcerequested.md
  microsoft-edge/webview2/index.md
  microsoft-edge/webview2/landing/index.yml
  microsoft-edge/webview2/release-notes/about.md
  microsoft-edge/webview2/release-notes/archive.md
  microsoft-edge/webview2/release-notes/index.md
  microsoft-edge/webview2/samples/deployment-samples.md
  microsoft-edge/webview2/samples/webview2apissample.md
  microsoft-edge/webview2/webview2-api-reference.md
Labels: cat: webview2

#3321 Fix TOC title for WebView2 landing page
  microsoft-edge/toc.yml
Labels: cat: webview2

#3313 Article "Provide in-app purchases with the Digital Goods API"
  microsoft-edge/progressive-web-apps-chromium/how-to/digital-goods-api.md
  microsoft-edge/toc.yml
Labels: cat: pwas

#3303 Update Python "verbose" param in WebDriver article
  microsoft-edge/webdriver-chromium/index.md
Labels: cat: test-automation

#3315 Update DevTools Experiments for Canary 133, Stable 131
  microsoft-edge/devtools-guide-chromium/experimental-features/index-images/performance-panel-enable-annotations.png
  microsoft-edge/devtools-guide-chromium/experimental-features/index.md
Labels: cat: devtools
