Repository MicrosoftDocs/edge-developer, pull requests merged in 2024-04, with the labels that each got.

#3060 Document the JSON viewer's Search/Find UI
  microsoft-edge/devtools-guide-chromium/json-viewer/json-viewer-images/search-modes.png
  microsoft-edge/devtools-guide-chromium/json-viewer/json-viewer-images/search-move.png
  microsoft-edge/devtools-guide-chromium/json-viewer/json-viewer-images/search.png
  microsoft-edge/devtools-guide-chromium/json-viewer/json-viewer.md
Labels: cat: devtools

#3123 Update store-policies link
  microsoft-edge/progressive-web-apps-chromium/how-to/microsoft-store.md
Labels: cat: pwas

#3104 WinAppSDK supports custom WebView2 environments
  microsoft-edge/webview2/get-started/winui-images/debugger-not-configd.png
  microsoft-edge/webview2/get-started/winui.md
Labels: cat: webview2

#3128 Add autofill feature flag to WebView2 feature doc
  microsoft-edge/webview2/concepts/webview-features-flags.md
Labels: cat: webview2

#3096 Update Overview of APIs for March 2024
  microsoft-edge/webview2/concepts/overview-features-apis.md
  microsoft-edge/webview2/release-notes/index.md
Labels: cat: webview2

#3132 New section "View messages between windows" in "Performance features reference"
  microsoft-edge/devtools-guide-chromium/evaluate-performance/reference-images/customize-and-control-devtools-icon.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/reference-images/post-message-events-arrows.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/reference-images/post-message-events.png
  microsoft-edge/devtools-guide-chromium/evaluate-performance/reference.md
  microsoft-edge/devtools-guide-chromium/sample-code/sample-code.md
Labels: cat: devtools

#3129 What's New in DevTools 124
  microsoft-edge/devtools-guide-chromium/whats-new/2024/04/devtools-124-images/customize-and-control-devtools-icon.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/04/devtools-124-images/network-warning-icon-overrides.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/04/devtools-124-images/network-warning-icon-throttling.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/04/devtools-124-images/post-message-events-arrows.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/04/devtools-124-images/post-message-events.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/04/devtools-124-images/rearrange-tab.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/04/devtools-124.md
  microsoft-edge/devtools-guide-chromium/whats-new/whats-new-archive.md
  microsoft-edge/devtools-guide-chromium/whats-new/whats-new.md
  microsoft-edge/toc.yml
Labels: cat: webview2, on-hold

#3077 Update Experimental Features
  microsoft-edge/devtools-guide-chromium/about-tools.md
  microsoft-edge/devtools-guide-chromium/evaluate-performance/performance-reference.md
  microsoft-edge/devtools-guide-chromium/experimental-features/index-images/accessibility-tree-view.png
  microsoft-edge/devtools-guide-chromium/experimental-features/index-images/elements-tool-w-button.png
  microsoft-edge/devtools-guide-chromium/experimental-features/index-images/elements-tool-wo-button.png
  microsoft-edge/devtools-guide-chromium/experimental-features/index-images/post-message-events-arrows.png
  microsoft-edge/devtools-guide-chromium/experimental-features/index-images/post-message-events.png
  microsoft-edge/devtools-guide-chromium/experimental-features/index-images/protocol-monitor-tool.png
  microsoft-edge/devtools-guide-chromium/experimental-features/index-images/stack-trace-tab.png
  microsoft-edge/devtools-guide-chromium/experimental-features/index-images/track-configuration.png
  microsoft-edge/devtools-guide-chromium/experimental-features/index.md
  microsoft-edge/devtools-guide-chromium/javascript/reference.md
  microsoft-edge/devtools-guide-chromium/whats-new/2019/12/devtools.md
  microsoft-edge/toc.yml
Labels: cat: devtools

#3125 Release Notes for April 2024 Release SDK & Prerelease SDK
  .openpublishing.redirection.json
  microsoft-edge/webview2/index.md
  microsoft-edge/webview2/release-notes/index.md
  microsoft-edge/webview2/release-notes/template-prerelease.md
Labels: cat: webview2

#3126 Update Overview of APIs for April 2024
  microsoft-edge/webview2/concepts/overview-features-apis.md
  microsoft-edge/webview2/release-notes/index.md
Labels: cat: webview2

#3135 Say to check all three tabs for WebView2 API Ref docs
  microsoft-edge/webview2/webview2-api-reference.md
Labels: cat: webview2

#3053 Add articles "Prerelease testing" & "Self-hosting", use new API
  microsoft-edge/toc.yml
  microsoft-edge/webview2/concepts/developer-guide.md
  microsoft-edge/webview2/concepts/distribution.md
  microsoft-edge/webview2/concepts/versioning.md
  microsoft-edge/webview2/get-started/winui.md
  microsoft-edge/webview2/get-started/wpf.md
  microsoft-edge/webview2/how-to/machine-setup.md
  microsoft-edge/webview2/how-to/prerelease-testing.md
  microsoft-edge/webview2/how-to/self-hosting.md
  microsoft-edge/webview2/how-to/set-preview-channel-images/system-properties-env-vars.png
  microsoft-edge/webview2/how-to/set-preview-channel.md
  microsoft-edge/webview2/how-to/webdriver.md
  microsoft-edge/webview2/index.md
  microsoft-edge/webview2/samples/webview2_sample_uwp.md
  microsoft-edge/webview2/samples/webview2apissample.md
  microsoft-edge/webview2/samples/webview2browser.md
Labels: cat: webview2

#3076 Update manifest-v3.md to remove "Chromium timeline is Jan 2024"
  microsoft-edge/extensions-chromium/developer-guide/manifest-v3.md
Labels: cat: extensions
