Repository MicrosoftDocs/edge-developer, pull requests merged in 2024-07, with the labels that each got.

#3195 Update "Development best practices for WebView2 apps"
  microsoft-edge/toc.yml
  microsoft-edge/webview2/concepts/developer-guide.md
  microsoft-edge/webview2/concepts/distribution.md
  microsoft-edge/webview2/concepts/security.md
  microsoft-edge/webview2/concepts/versioning.md
  microsoft-edge/webview2/how-to/set-preview-channel.md
  microsoft-edge/webview2/release-notes/about.md
  microsoft-edge/webview2/release-notes/archive.md
Labels: cat: webview2

#3211 Indent list in June Release Notes for WebView2
  microsoft-edge/webview2/release-notes/index.md
Labels: cat: webview2

#3214 Globally update the word 'drawer'
  microsoft-edge/dev-videos/index.md
  microsoft-edge/devtools-guide-chromium/about-tools-images/command-menu-panel-vs-quick-view-tools.png
  microsoft-edge/devtools-guide-chromium/about-tools.md
  microsoft-edge/devtools-guide-chromium/accessibility/test-issues-tool.md
  microsoft-edge/devtools-guide-chromium/coverage/index-images/coverage-console-quick-view-coverage-empty.png
  microsoft-edge/devtools-guide-chromium/coverage/index-images/coverage-sources-resource-quick-view-coverage-selected.png
  microsoft-edge/devtools-guide-chromium/coverage/index.md
  microsoft-edge/devtools-guide-chromium/customize/index.md
  microsoft-edge/devtools-guide-chromium/inspect-styles/animations-images/animation-before-modification.png
  microsoft-edge/devtools-guide-chromium/inspect-styles/animations-images/animations-completed.png
  microsoft-edge/devtools-guide-chromium/inspect-styles/animations-images/animations-selected-completed-elements.png
  microsoft-edge/devtools-guide-chromium/inspect-styles/animations-images/animations-selected-completed.png
  microsoft-edge/devtools-guide-chromium/inspect-styles/animations-images/animations-tool-annotated.png
  microsoft-edge/devtools-guide-chromium/inspect-styles/animations-images/animations-tool-empty.png
  microsoft-edge/devtools-guide-chromium/inspect-styles/animations-images/customize-devtools-icon.png
  microsoft-edge/devtools-guide-chromium/inspect-styles/animations-images/display-animations-highlight.png
  microsoft-edge/devtools-guide-chromium/inspect-styles/animations-images/display-animations.png
  microsoft-edge/devtools-guide-chromium/inspect-styles/animations-images/modified-delay.png
  microsoft-edge/devtools-guide-chromium/inspect-styles/animations-images/modified-duration.png
  microsoft-edge/devtools-guide-chromium/inspect-styles/animations-images/modified-keyframe.png
  microsoft-edge/devtools-guide-chromium/inspect-styles/animations-images/more-tools-animations.png
  microsoft-edge/devtools-guide-chromium/inspect-styles/animations-images/more-tools-icon.png
  microsoft-edge/devtools-guide-chromium/inspect-styles/animations.md
  microsoft-edge/devtools-guide-chromium/progressive-web-apps/index.md
  microsoft-edge/devtools-guide-chromium/quick-source/quick-source-tool.md
  microsoft-edge/devtools-guide-chromium/sample-code/sample-code.md
  microsoft-edge/devtools-guide-chromium/search/search-tool-images/more-tabs-icon-light-theme.png
  microsoft-edge/devtools-guide-chromium/search/search-tool.md
  microsoft-edge/devtools-guide-chromium/service-workers/index.md
  microsoft-edge/devtools-guide-chromium/sources/index.md
  microsoft-edge/devtools-guide-chromium/speed/get-started.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/03/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/05/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/06/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/08/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/11/devtools-images/service-worker-application-network-quick-view.png
  microsoft-edge/devtools-guide-chromium/whats-new/2020/11/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2021/05/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2021/11/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2022/04/devtools-101.md
  microsoft-edge/devtools-guide-chromium/whats-new/2023/06/devtools-114.md
  microsoft-edge/devtools-guide-chromium/whats-new/2023/12/devtools-120.md
Labels: cat: devtools

#3217 Removed WebView2 Linux and macOS future updates
  microsoft-edge/webview2/roadmap.md
Labels: cat: webview2

#3206 Privacy: Expand Compose, revise Copilot
  microsoft-edge/privacy-whitepaper/index-images/compose.png
  microsoft-edge/privacy-whitepaper/index-images/settings-and-more-icon.png
  microsoft-edge/privacy-whitepaper/index-images/summarize-content.png
  microsoft-edge/privacy-whitepaper/index.md
Labels: cat: privacy

#3213 Update Add-ons appeal stats for 2024
  microsoft-edge/extensions-chromium/store-policies/developer-policies.md
Labels: cat: extensions

#3220 Comment out 404 link browserstack.com/test-on-microsoft-edge-browser
  microsoft-edge/devtools-guide-chromium/device-mode/testing-other-browsers.md
Labels: cat: devtools

#3198 Videos: remove What's New h2
  microsoft-edge/dev-videos/index.md
Labels: cat: devtools, cat: webplatform

#3215 Service worker no longer required, for Install UI to appear
  microsoft-edge/developer/index.yml
  microsoft-edge/devtools-guide-chromium/progressive-web-apps/index.md
  microsoft-edge/devtools-guide-chromium/service-workers/index.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/08/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/11/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2021/01/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2021/04/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2022/02/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2022/03/devtools-100.md
  microsoft-edge/extensions-chromium/developer-guide/devtools-extension.md
  microsoft-edge/extensions-chromium/developer-guide/migrate-your-extension-from-manifest-v2-to-v3.md
  microsoft-edge/index.yml
  microsoft-edge/progressive-web-apps-chromium/how-to/background-syncs.md
  microsoft-edge/progressive-web-apps-chromium/how-to/best-practices.md
  microsoft-edge/progressive-web-apps-chromium/how-to/debug.md
  microsoft-edge/progressive-web-apps-chromium/how-to/handle-files.md
  microsoft-edge/progressive-web-apps-chromium/how-to/handle-protocols.md
  microsoft-edge/progressive-web-apps-chromium/how-to/handle-urls.md
  microsoft-edge/progressive-web-apps-chromium/how-to/icon-theme-color.md
  microsoft-edge/progressive-web-apps-chromium/how-to/index-images/devtools-cache.png
  microsoft-edge/progressive-web-apps-chromium/how-to/index-images/devtools-offline.png
  microsoft-edge/progressive-web-apps-chromium/how-to/index-images/devtools-sw-overview.png
  microsoft-edge/progressive-web-apps-chromium/how-to/index-images/sample-pwa-app-available-button.png
  microsoft-edge/progressive-web-apps-chromium/how-to/index-images/sample-pwa-app-with-frontend-code.png
  microsoft-edge/progressive-web-apps-chromium/how-to/index-images/sample-pwa-app.png
  microsoft-edge/progressive-web-apps-chromium/how-to/index.md
  microsoft-edge/progressive-web-apps-chromium/how-to/notifications-badges.md
  microsoft-edge/progressive-web-apps-chromium/how-to/offline.md
  microsoft-edge/progressive-web-apps-chromium/how-to/service-workers-images/sw-architecture.png
  microsoft-edge/progressive-web-apps-chromium/how-to/service-workers.md
  microsoft-edge/progressive-web-apps-chromium/how-to/share.md
  microsoft-edge/progressive-web-apps-chromium/how-to/shortcuts.md
  microsoft-edge/progressive-web-apps-chromium/how-to/sidebar.md
  microsoft-edge/progressive-web-apps-chromium/how-to/web-app-manifests.md
  microsoft-edge/progressive-web-apps-chromium/how-to/widgets.md
  microsoft-edge/progressive-web-apps-chromium/how-to/window-controls-overlay.md
  microsoft-edge/progressive-web-apps-chromium/index.md
  microsoft-edge/progressive-web-apps-chromium/whats-new/pwa.md
  microsoft-edge/toc.yml
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension.md
  microsoft-edge/webview2/release-notes/archive.md
Labels: cat: pwas

#3086 New article "Crash analyzer tool"
  microsoft-edge/devtools-guide-chromium/about-tools.md
  microsoft-edge/devtools-guide-chromium/crash-analyzer/index-images/analyses-dropdown-list.png
  microsoft-edge/devtools-guide-chromium/crash-analyzer/index-images/analyze-icon.png
  microsoft-edge/devtools-guide-chromium/crash-analyzer/index-images/call-stack-analyzed.png
  microsoft-edge/devtools-guide-chromium/crash-analyzer/index-images/call-stack-pasted.png
  microsoft-edge/devtools-guide-chromium/crash-analyzer/index-images/code-displayed-from-right-pane.png
  microsoft-edge/devtools-guide-chromium/crash-analyzer/index-images/console-icon.png
  microsoft-edge/devtools-guide-chromium/crash-analyzer/index-images/copy-unminified-stack-trace-icon.png
  microsoft-edge/devtools-guide-chromium/crash-analyzer/index-images/crash-analyzer.png
  microsoft-edge/devtools-guide-chromium/crash-analyzer/index-images/customize-and-control-devtools-icon.png
  microsoft-edge/devtools-guide-chromium/crash-analyzer/index-images/edge-settings-and-more-icon.png
  microsoft-edge/devtools-guide-chromium/crash-analyzer/index-images/how-to-use-icon.png
  microsoft-edge/devtools-guide-chromium/crash-analyzer/index-images/more-tools-icon.png
  microsoft-edge/devtools-guide-chromium/crash-analyzer/index-images/new-analysis-icon.png
  microsoft-edge/devtools-guide-chromium/crash-analyzer/index-images/open-symbol-server-settings-icon.png
  microsoft-edge/devtools-guide-chromium/crash-analyzer/index-images/remove-this-analysis-icon.png
  microsoft-edge/devtools-guide-chromium/crash-analyzer/index.md
  microsoft-edge/devtools-guide-chromium/whats-new/2023/05/devtools-113.md
  microsoft-edge/devtools-guide-chromium/whats-new/2024/03/devtools-123.md
  microsoft-edge/toc.yml
Labels: cat: devtools

#3210 Update article "Emulate and test other browsers"
  microsoft-edge/devtools-guide-chromium/device-mode/testing-other-browsers.md
Labels: in-progress, cat: devtools

#3224 Add "Microsoft Search in Bing" in "Address bar" section of Privacy
  microsoft-edge/develop-web-microsoft-edge.md
  microsoft-edge/docfx.json
  microsoft-edge/index.yml
  microsoft-edge/privacy-whitepaper/index-images/delete-history-for-a-search-suggestion.png
  microsoft-edge/privacy-whitepaper/index-images/search-suggestions-typed-chars.png
  microsoft-edge/privacy-whitepaper/index.md
  microsoft-edge/toc.yml
  microsoft-edge/webdriver-chromium/index.md
  microsoft-edge/webview2/concepts/data-privacy.md
  microsoft-edge/webview2/concepts/overview-features-apis.md
Labels: cat: privacy

#3236 Add note on NavigateToString limit and common error
  microsoft-edge/webview2/concepts/working-with-local-content.md
Labels: cat: webview2
