Repository MicrosoftDocs/edge-developer, pull requests merged in 2024-08, with the labels that each got.

#3238 What's New in DevTools 127
  elements-tool/elements-tool.md
  microsoft-edge/devtools-guide-chromium/experimental-features/index-images/copilot-explain-elements.png
  microsoft-edge/devtools-guide-chromium/experimental-features/index.md
  microsoft-edge/devtools-guide-chromium/whats-new/2024/07/devtools-127-images/copilot-explain-elements.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/07/devtools-127.md
  microsoft-edge/toc.yml
Labels: cat: devtools

#3243 Fix typos in JS AddHostObjectAsyncProxyBase & AddHostObjectSyncProxy
  microsoft-edge/webview2/reference/javascript/hostobjectasyncproxybase.yml
  microsoft-edge/webview2/reference/javascript/hostobjectsyncproxy.yml
Labels: cat: webview2

#3244 Release Notes for July/August 2024 Prerelease SDK
  microsoft-edge/webview2/release-notes/index.md
Labels: cat: webview2

#3218 Release Notes for July/August 2024 Release SDK
  microsoft-edge/webview2/release-notes/archive.md
  microsoft-edge/webview2/release-notes/index.md
Labels: cat: webview2

#3248 Update screenshots & fix 404s in "Inspect CSS Grid"
  elements-tool/elements-tool.md
  microsoft-edge/devtools-guide-chromium/css/grid-images/grid-discover-grid.png
  microsoft-edge/devtools-guide-chromium/css/grid-images/grid-extend-grid-lines.png
  microsoft-edge/devtools-guide-chromium/css/grid-images/grid-grid-overlays-color.png
  microsoft-edge/devtools-guide-chromium/css/grid-images/grid-grid-overlays-highlight.png
  microsoft-edge/devtools-guide-chromium/css/grid-images/grid-grid-overlays.png
  microsoft-edge/devtools-guide-chromium/css/grid-images/grid-hide-line-labels.png
  microsoft-edge/devtools-guide-chromium/css/grid-images/grid-highlight-grid.png
  microsoft-edge/devtools-guide-chromium/css/grid-images/grid-layout-pane.png
  microsoft-edge/devtools-guide-chromium/css/grid-images/grid-show-area-names.png
  microsoft-edge/devtools-guide-chromium/css/grid-images/grid-show-line-names.png
  microsoft-edge/devtools-guide-chromium/css/grid-images/grid-show-line-numbers.png
  microsoft-edge/devtools-guide-chromium/css/grid-images/grid-show-track-sizes.png
  microsoft-edge/devtools-guide-chromium/css/grid-images/show-element-in-element-panel-icon.png
  microsoft-edge/devtools-guide-chromium/css/grid.md
Labels: cat: devtools

#3219 Update Overview of APIs for July 2024
  microsoft-edge/webview2/concepts/overview-features-apis.md
Labels: cat: webview2

#3245 "Overview of Microsoft Edge extensions": aka add-ons, link to user docs
  microsoft-edge/extensions-chromium/index.md
Labels: cat: extensions

#3251 Add flag "edge-webview-disable-interactive-dragging"
  microsoft-edge/webview2/concepts/webview-features-flags.md
Labels: cat: webview2

#3177 Remove Privacy Whitepaper from edge-developer repo
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation_issue.md
  .openpublishing.redirection.json
  microsoft-edge/develop-web-microsoft-edge.md
  microsoft-edge/devtools-guide-chromium/experimental-features/index.md
  microsoft-edge/index.yml
  microsoft-edge/privacy-whitepaper/index-images/address-bar.png
  microsoft-edge/privacy-whitepaper/index-images/bing-chat-recent.png
  microsoft-edge/privacy-whitepaper/index-images/consent-for-contextual-browsing.png
  microsoft-edge/privacy-whitepaper/index-images/copilot-icon.png
  microsoft-edge/privacy-whitepaper/index-images/crashes2.png
  microsoft-edge/privacy-whitepaper/index-images/diagnostic-data2.png
  microsoft-edge/privacy-whitepaper/index-images/geolocation2.png
  microsoft-edge/privacy-whitepaper/index-images/ie-mode.png
  microsoft-edge/privacy-whitepaper/index-images/inboxcoupons-settings.png
  microsoft-edge/privacy-whitepaper/index-images/inboxcoupons.png
  microsoft-edge/privacy-whitepaper/index-images/kids-mode.png
  microsoft-edge/privacy-whitepaper/index-images/migration.png
  microsoft-edge/privacy-whitepaper/index-images/n-t-p1.png
  microsoft-edge/privacy-whitepaper/index-images/rewardsdashboard.png
  microsoft-edge/privacy-whitepaper/index-images/rewardssettings.png
  microsoft-edge/privacy-whitepaper/index-images/rewardssidepane.png
  microsoft-edge/privacy-whitepaper/index-images/shopping.png
  microsoft-edge/privacy-whitepaper/index-images/smart-screen.png
  microsoft-edge/privacy-whitepaper/index-images/support-nonprofit.png
  microsoft-edge/privacy-whitepaper/index-images/sync.png
  microsoft-edge/privacy-whitepaper/index-images/tabgrouping1.gif
  microsoft-edge/privacy-whitepaper/index-images/tabgrouping2.gif
  microsoft-edge/privacy-whitepaper/index-images/tabgroupsettings.png
  microsoft-edge/privacy-whitepaper/index-images/tracking-prevention.png
  microsoft-edge/privacy-whitepaper/index-images/windows-ink-add-newline-after.png
  microsoft-edge/privacy-whitepaper/index-images/windows-ink-add-newline-before.png
  microsoft-edge/privacy-whitepaper/index-images/windows-ink-add-text-after.png
  microsoft-edge/privacy-whitepaper/index-images/windows-ink-add-text-before.png
  microsoft-edge/privacy-whitepaper/index-images/windows-ink-delete-text-after.png
  microsoft-edge/privacy-whitepaper/index-images/windows-ink-delete-text-before.png
  microsoft-edge/privacy-whitepaper/index-images/windows-ink-edge-settings.png
  microsoft-edge/privacy-whitepaper/index-images/windows-ink-insert-space-after.png
  microsoft-edge/privacy-whitepaper/index-images/windows-ink-insert-space-before.png
  microsoft-edge/privacy-whitepaper/index-images/windows-ink-remove-space-after.png
  microsoft-edge/privacy-whitepaper/index-images/windows-ink-remove-space-before.png
  microsoft-edge/privacy-whitepaper/index-images/windows-ink-select-text-after.png
  microsoft-edge/privacy-whitepaper/index-images/windows-ink-select-text-before.png
  microsoft-edge/privacy-whitepaper/index-images/windows-ink-windows-settings.png
  microsoft-edge/privacy-whitepaper/index.md
  microsoft-edge/toc.yml
  microsoft-edge/webdriver-chromium/index.md
  microsoft-edge/webview2/concepts/data-privacy.md
  microsoft-edge/webview2/concepts/overview-features-apis.md
Labels: cat: privacy

#3252 What's New in DevTools 128
  microsoft-edge/devtools-guide-chromium/experimental-features/index.md
  microsoft-edge/devtools-guide-chromium/whats-new/2024/08/devtools-128-images/header-title.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/08/devtools-128-images/missing-header-title.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/08/devtools-128-images/new-selector-stats.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/08/devtools-128-images/old-selector-stats.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/08/devtools-128.md
  microsoft-edge/toc.yml
Labels: cat: devtools

#3250 Release Notes for August 2024
  microsoft-edge/webview2/release-notes/index.md
Labels: cat: webview2

#3256 Update "What's New in DevTools 128"
  microsoft-edge/devtools-guide-chromium/evaluate-performance/selector-stats.md
  microsoft-edge/devtools-guide-chromium/experimental-features/index.md
  microsoft-edge/devtools-guide-chromium/whats-new/2024/08/devtools-128-images/capture-settings-icon.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/08/devtools-128-images/new-selector-stats.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/08/devtools-128-images/old-selector-stats.png
  microsoft-edge/devtools-guide-chromium/whats-new/2024/08/devtools-128.md
  microsoft-edge/toc.yml
Labels: cat: devtools
