Repository MicrosoftDocs/edge-developer, pull requests merged in 2025-02, with the labels that each got.

#3352 Edge 133 web platform release notes (Feb 2025)
  microsoft-edge/toc.yml
  microsoft-edge/web-platform/release-notes/133.md
Labels: cat: webplatform, web-platform-release-notes

#3348 WebView2 Release Notes for February 2025
  microsoft-edge/webview2/release-notes/archive.md
  microsoft-edge/webview2/release-notes/index.md
Labels: cat: webview2

#3364 Break out TOC buckets from "Development tips for Microsoft Edge"
  microsoft-edge/develop-web-microsoft-edge.md
  microsoft-edge/developer/index.yml
  microsoft-edge/index.yml
  microsoft-edge/toc.yml
  microsoft-edge/web-platform/release-notes/133.md
  microsoft-edge/web-platform/release-notes/index.md
  microsoft-edge/web-platform/web-platform.md
  microsoft-edge/webview2/platforms/win32.md
  microsoft-edge/webview2/platforms/winforms.md
Labels: cat: webplatform

#3369 Update "Manage user data folders"
  microsoft-edge/webview2/concepts/user-data-folder.md
Labels: cat: webview2

#3370 Link to Entra info in "Types of accounts to publish extensions"
  microsoft-edge/extensions-chromium/publish/create-dev-account.md
Labels: cat: extensions

#3371 Expand "Contact the Microsoft Edge extensions team"
  microsoft-edge/extensions-chromium/publish/contact-extensions-team.md
Labels: cat: extensions

#3367 New article "Transfer ownership of an extension"
  .openpublishing.redirection.json
  microsoft-edge/extensions-chromium/developer-guide/alternate-distribution-options.md
  microsoft-edge/extensions-chromium/developer-guide/api-support.md
  microsoft-edge/extensions-chromium/landing/index.yml
  microsoft-edge/extensions-chromium/update/api/addons-api-reference.md
  microsoft-edge/extensions-chromium/update/api/using-addons-api-images/create-api-credentials-button.png
  microsoft-edge/extensions-chromium/update/api/using-addons-api-images/partner-center-1-1-enable.png
  microsoft-edge/extensions-chromium/update/api/using-addons-api-images/partner-center-1-1-ui.png
  microsoft-edge/extensions-chromium/update/api/using-addons-api.md
  microsoft-edge/extensions-chromium/update/auto-update.md
  microsoft-edge/extensions-chromium/update/transfer-ownership.md
  microsoft-edge/extensions-chromium/update/update-extension.md
  microsoft-edge/extensions-chromium/whats-new/released-features.md
  microsoft-edge/extensions-chromium/whats-new/roadmap.md
  microsoft-edge/toc.yml
Labels: cat: extensions

#3350 Doc the Performance tool tab's warning icon when throttled
  microsoft-edge/devtools-guide-chromium/device-mode/index-images/performance-warning-icon.png
  microsoft-edge/devtools-guide-chromium/device-mode/index.md
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index.md
  microsoft-edge/devtools-guide-chromium/evaluate-performance/reference.md
  microsoft-edge/devtools-guide-chromium/network/index-images/empty-cache-and-hard-reset.png
  microsoft-edge/devtools-guide-chromium/network/index.md
  microsoft-edge/devtools-guide-chromium/network/reference-images/throttled-icon.png
  microsoft-edge/devtools-guide-chromium/network/reference.md
Labels: cat: devtools

#3377 Remove "V8 runtime call stats" from "Experimental features in DevTools"
  microsoft-edge/devtools-guide-chromium/experimental-features/index.md
Labels: cat: devtools

#3374 What's New in DevTools (Microsoft Edge 133)
  microsoft-edge/dev-videos/index.md
  microsoft-edge/devtools-guide-chromium/about-tools.md
  microsoft-edge/devtools-guide-chromium/css/css-overview-tool.md
  microsoft-edge/devtools-guide-chromium/developer-resources/developer-resources.md
  microsoft-edge/devtools-guide-chromium/whats-new/2020/10/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2023/04/devtools-112.md
  microsoft-edge/devtools-guide-chromium/whats-new/2023/06/devtools-114.md
  microsoft-edge/devtools-guide-chromium/whats-new/2025/02/devtools-133-images/css-overview.png
  microsoft-edge/devtools-guide-chromium/whats-new/2025/02/devtools-133-images/developer-resources-filter-box.png
  microsoft-edge/devtools-guide-chromium/whats-new/2025/02/devtools-133-images/elements-more-tabs-invoked.png
  microsoft-edge/devtools-guide-chromium/whats-new/2025/02/devtools-133-images/elements-tab-menu.png
  microsoft-edge/devtools-guide-chromium/whats-new/2025/02/devtools-133-images/sources-tab-menu.png
  microsoft-edge/devtools-guide-chromium/whats-new/2025/02/devtools-133.md
  microsoft-edge/toc.yml
  microsoft-edge/web-platform/release-notes/133.md
Labels: cat: devtools

#3380 Update "Experimental features in DevTools" Canary 135, Stable 133
  microsoft-edge/devtools-guide-chromium/experimental-features/index.md
  microsoft-edge/devtools-guide-chromium/inspect-styles/edit-fonts.md
  microsoft-edge/devtools-guide-chromium/whats-new/2021/01/devtools.md
Labels: cat: devtools

#3366 New article "Run compiled code in an extension"
  microsoft-edge/extensions-chromium/developer-guide/run-compiled-code.md
  microsoft-edge/extensions-chromium/whats-new/roadmap.md
  microsoft-edge/toc.yml
  microsoft-edge/web-platform/site-impacting-changes.md
Labels: cat: extensions

#3383 WebView2 VS Code debugging corrections
  microsoft-edge/webview2/how-to/debug-visual-studio-code.md
Labels: cat: webview2

#3390 Deprecate `-ms-high-contrast` & `-ms-high-contrast-adjust` in "Site compatibility"
  microsoft-edge/web-platform/site-impacting-changes.md
Labels: cat: webplatform

#3388 Deprecate `getHostEnvironmentValue` in "Site compatibility"
  microsoft-edge/web-platform/site-impacting-changes.md
Labels: cat: webplatform
