Repository MicrosoftDocs/edge-developer, pull requests merged in 2025-05, with the labels that each got.

#3427 WebView2 Release Notes for May 2025 Release SDK
  microsoft-edge/accessibility/build/index.md
  microsoft-edge/webview2/concepts/deployment-distribution.md
  microsoft-edge/webview2/concepts/developer-guide.md
  microsoft-edge/webview2/concepts/distribution.md
  microsoft-edge/webview2/concepts/end-user-faq.md
  microsoft-edge/webview2/concepts/enterprise.md
  microsoft-edge/webview2/concepts/versioning.md
  microsoft-edge/webview2/how-to/prerelease-testing.md
  microsoft-edge/webview2/how-to/self-hosting.md
  microsoft-edge/webview2/how-to/set-preview-channel.md
  microsoft-edge/webview2/index.md
  microsoft-edge/webview2/release-notes/about.md
  microsoft-edge/webview2/release-notes/archive.md
  microsoft-edge/webview2/release-notes/index.md
  microsoft-edge/webview2/samples/wv2deploymentvsinstallersample.md
Labels: cat: webview2

#3439 Remove "Feature an extension in a collection" from "Contact Extensions"
  microsoft-edge/extensions-chromium/publish/contact-extensions-team.md
Labels: cat: extensions

#3444 Edge 137 web platform release notes
  microsoft-edge/toc.yml
  microsoft-edge/web-platform/release-notes/136.md
  microsoft-edge/web-platform/release-notes/137.md
  scripts/beta-release-notes-template.njk
  scripts/web-platform-release-notes.js
Labels: cat: webplatform, web-platform-release-notes

#3446 Main to live 5/6/2025
  microsoft-edge/extensions-chromium/publish/contact-extensions-team.md
  microsoft-edge/extensions-chromium/whats-new/released-features.md
  microsoft-edge/toc.yml
  microsoft-edge/web-platform/release-notes/136.md
  microsoft-edge/web-platform/release-notes/137.md
  scripts/beta-release-notes-template.njk
  scripts/web-platform-release-notes.js
Labels: cat: general

#3441 WebView2 Release Notes for May 2025 Prerelease SDK
  microsoft-edge/webview2/release-notes/index.md
Labels: cat: webview2

#3455 New article "Enable App Actions on Windows for PWA"
  microsoft-edge/progressive-web-apps-chromium/how-to/app-actions.md
  microsoft-edge/toc.yml
Labels: cat: pwas

#3454 Revise Prompt API & Writing Assistance APIs
  microsoft-edge/developer/index.yml
  microsoft-edge/extensions-chromium/publish/create-dev-account.md
  microsoft-edge/index.yml
  microsoft-edge/progressive-web-apps-chromium/how-to/offline.md
  microsoft-edge/progressive-web-apps-chromium/index.md
  microsoft-edge/progressive-web-apps-chromium/whats-new/pwa.md
  microsoft-edge/toc.yml
  microsoft-edge/web-platform/prompt-api-images/model-downloading.png
  microsoft-edge/web-platform/prompt-api.md
  microsoft-edge/web-platform/writing-assistance-apis.md
Labels: cat: webplatform

#3451 What's New in DevTools (Microsoft Edge 136)
  microsoft-edge/devtools-guide-chromium/whats-new/2025/05/devtools-136-images/dom-adorner.png
  microsoft-edge/devtools-guide-chromium/whats-new/2025/05/devtools-136.md
  microsoft-edge/toc.yml
  microsoft-edge/web-platform/release-notes/136.md
Labels: cat: devtools

#3457 Edge 138 web platform release notes
  microsoft-edge/toc.yml
  microsoft-edge/web-platform/release-notes/136.md
  microsoft-edge/web-platform/release-notes/137.md
  microsoft-edge/web-platform/release-notes/138.md
  microsoft-edge/web-platform/site-impacting-changes.md
Labels: cat: webplatform
