Repository MicrosoftDocs/edge-developer, pull requests merged in 2025-03, with the labels that each got.

#3395 What's New in DevTools (Microsoft Edge 134)
  microsoft-edge/devtools-guide-chromium/whats-new/2025/03/devtools-134-images/forced-reflow.png
  microsoft-edge/devtools-guide-chromium/whats-new/2025/03/devtools-134-images/heap-snapshot-statistics-after.png
  microsoft-edge/devtools-guide-chromium/whats-new/2025/03/devtools-134-images/heap-snapshot-statistics-before.png
  microsoft-edge/devtools-guide-chromium/whats-new/2025/03/devtools-134-images/theme-options.png
  microsoft-edge/devtools-guide-chromium/whats-new/2025/03/devtools-134.md
  microsoft-edge/toc.yml
Labels: cat: devtools

#3368 Rewrite article "View a JSON file or server response with formatting"
  .openpublishing.redirection.json
  microsoft-edge/dev-videos/index.md
  microsoft-edge/developer/index.yml
  microsoft-edge/devtools-guide-chromium/json-viewer/json-viewer-images/column-number.png
  microsoft-edge/devtools-guide-chromium/json-viewer/json-viewer-images/invalid-json.png
  microsoft-edge/devtools-guide-chromium/json-viewer/json-viewer-images/json-file.png
  microsoft-edge/devtools-guide-chromium/json-viewer/json-viewer-images/json-response.png
  microsoft-edge/devtools-guide-chromium/json-viewer/json-viewer-images/json-viewer.png
  microsoft-edge/devtools-guide-chromium/json-viewer/json-viewer-images/search-modes.png
  microsoft-edge/devtools-guide-chromium/json-viewer/json-viewer-images/search-move.png
  microsoft-edge/devtools-guide-chromium/json-viewer/json-viewer-images/search.png
  microsoft-edge/devtools-guide-chromium/json-viewer/json-viewer.md
  microsoft-edge/devtools-guide-chromium/network-console/network-console-tool.md
  microsoft-edge/devtools-guide-chromium/network/index.md
  microsoft-edge/devtools-guide-chromium/sample-code/sample-code.md
  microsoft-edge/devtools-guide-chromium/whats-new/2023/04/devtools-112.md
  microsoft-edge/index.yml
  microsoft-edge/toc.yml
  microsoft-edge/web-platform/json-viewer-images/minified-json-file-as-is.png
  microsoft-edge/web-platform/json-viewer-images/minified-json-file-pretty-printed.png
  microsoft-edge/web-platform/json-viewer.md
  microsoft-edge/web-platform/web-platform.md
Labels: cat: devtools

#3394 Update all redirected upstream [here] links
  microsoft-edge/devtools-guide-chromium/console/index.md
  microsoft-edge/devtools-guide-chromium/css/css-in-js.md
  microsoft-edge/devtools-guide-chromium/css/reference.md
  microsoft-edge/devtools-guide-chromium/device-mode/geolocation.md
  microsoft-edge/devtools-guide-chromium/device-mode/orientation.md
  microsoft-edge/devtools-guide-chromium/evaluate-performance/index.md
  microsoft-edge/devtools-guide-chromium/evaluate-performance/performance-reference.md
  microsoft-edge/devtools-guide-chromium/evaluate-performance/reference.md
  microsoft-edge/devtools-guide-chromium/experimental-features/index.md
  microsoft-edge/devtools-guide-chromium/memory-inspector/memory-inspector-tool.md
  microsoft-edge/devtools-guide-chromium/remote-debugging/windows.md
  microsoft-edge/devtools-guide-chromium/rendering-tools/index.md
  microsoft-edge/devtools-guide-chromium/rendering-tools/js-runtime.md
  microsoft-edge/devtools-guide-chromium/sources/index.md
  microsoft-edge/devtools-guide-chromium/speed/get-started.md
  microsoft-edge/devtools-guide-chromium/storage/cookies.md
  microsoft-edge/devtools-guide-chromium/whats-new/2021/02/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2023/04/devtools-112.md
  microsoft-edge/extensions-chromium/developer-guide/alternate-distribution-options.md
  microsoft-edge/extensions-chromium/developer-guide/csp.md
  microsoft-edge/extensions-chromium/developer-guide/declare-permissions.md
  microsoft-edge/extensions-chromium/developer-guide/match-patterns.md
  microsoft-edge/extensions-chromium/getting-started/manifest-format.md
  microsoft-edge/extensions-chromium/update/auto-update.md
  microsoft-edge/webview2/concepts/browser-features.md
  microsoft-edge/webview2/concepts/frames.md
  microsoft-edge/webview2/get-started/win32.md
  microsoft-edge/webview2/how-to/chromium-devtools-protocol.md
Labels: cat: general

#3372 WebView2 Release Notes for March 2025
  microsoft-edge/webview2/release-notes/archive.md
  microsoft-edge/webview2/release-notes/index.md
Labels: cat: webview2

#3398 Edge 135 web platform release notes
  microsoft-edge/toc.yml
  microsoft-edge/web-platform/release-notes/133.md
  microsoft-edge/web-platform/release-notes/134.md
  microsoft-edge/web-platform/release-notes/135.md
  microsoft-edge/web-platform/site-impacting-changes.md
  scripts/beta-release-notes-template.njk
Labels: cat: webplatform

#3402 Add scavenger GC & SSO flags in "WebView2 browser flags"
  microsoft-edge/webview2/concepts/browser-features.md
  microsoft-edge/webview2/concepts/webview-features-flags.md
Labels: cat: webview2

#3408 Remove fetchLater() from "Edge 134 web platform release notes (Mar. 2025)"
  microsoft-edge/web-platform/release-notes/134.md
Labels: cat: webplatform

#3409 Globally say "Microsoft Edge Add-ons", without "store", "site", or "website"
  .openpublishing.redirection.json
  microsoft-edge/devtools-guide-chromium/customize/extensions.md
  microsoft-edge/devtools-guide-chromium/whats-new/2023/01/devtools-109.md
  microsoft-edge/devtools-guide-chromium/whats-new/2023/08/devtools-116.md
  microsoft-edge/extensions-chromium/developer-guide/alternate-distribution-options.md
  microsoft-edge/extensions-chromium/developer-guide/api-support.md
  microsoft-edge/extensions-chromium/developer-guide/best-practices.md
  microsoft-edge/extensions-chromium/developer-guide/csp.md
  microsoft-edge/extensions-chromium/developer-guide/declare-permissions.md
  microsoft-edge/extensions-chromium/developer-guide/manifest-v3.md
  microsoft-edge/extensions-chromium/developer-guide/match-patterns.md
  microsoft-edge/extensions-chromium/developer-guide/migrate-your-extension-from-manifest-v2-to-v3.md
  microsoft-edge/extensions-chromium/developer-guide/minimize-page-load-time-impact.md
  microsoft-edge/extensions-chromium/developer-guide/native-messaging.md
  microsoft-edge/extensions-chromium/developer-guide/port-chrome-extension.md
  microsoft-edge/extensions-chromium/developer-guide/run-compiled-code.md
  microsoft-edge/extensions-chromium/getting-started/extension-sideloading.md
  microsoft-edge/extensions-chromium/getting-started/picture-inserter-content-script.md
  microsoft-edge/extensions-chromium/getting-started/picture-viewer-popup-webpage.md
  microsoft-edge/extensions-chromium/index.md
  microsoft-edge/extensions-chromium/landing/index.yml
  microsoft-edge/extensions-chromium/publish/aad-account.md
  microsoft-edge/extensions-chromium/publish/add-ons-curation.md
  microsoft-edge/extensions-chromium/publish/add-ons-store-curation.md
  microsoft-edge/extensions-chromium/publish/contact-extensions-team.md
  microsoft-edge/extensions-chromium/publish/create-dev-account.md
  microsoft-edge/extensions-chromium/publish/extensions-analytics.md
  microsoft-edge/extensions-chromium/publish/github.md
  microsoft-edge/extensions-chromium/publish/hosting-and-updating.md
  microsoft-edge/extensions-chromium/publish/manage-settings.md
  microsoft-edge/extensions-chromium/publish/publish-extension.md
  microsoft-edge/extensions-chromium/publish/reply-user-reviews.md
  microsoft-edge/extensions-chromium/publish/submission-states.md
  microsoft-edge/extensions-chromium/publish/verify-microsoft-edge-program.md
  microsoft-edge/extensions-chromium/update/api/addons-api-reference.md
  microsoft-edge/extensions-chromium/update/api/using-addons-api.md
  microsoft-edge/extensions-chromium/update/auto-update.md
  microsoft-edge/extensions-chromium/update/transfer-ownership.md
  microsoft-edge/extensions-chromium/update/update-extension.md
  microsoft-edge/extensions-chromium/whats-new/released-features.md
  microsoft-edge/extensions-chromium/whats-new/roadmap.md
  microsoft-edge/toc.yml
  microsoft-edge/web-platform/release-notes/index.md
  microsoft-edge/web-platform/sidebar.md
  microsoft-edge/webview2/concepts/overview-features-apis.md
Labels: cat: extensions

#3411 Clarify 32-letter ID in "Alternative ways to distribute an extension"
  microsoft-edge/extensions-chromium/developer-guide/alternate-distribution-options.md
Labels: cat: extensions

#3412 Remove "Removal of cross-origin subframe dialogs" from "Site-impacting changes"
  microsoft-edge/web-platform/site-impacting-changes.md
Labels: cat: webplatform

#3404 Remove page "WebView2 Roadmap"
  .openpublishing.redirection.json
  microsoft-edge/toc.yml
  microsoft-edge/webview2/landing/index.yml
  microsoft-edge/webview2/roadmap.md
Labels: cat: webview2

#3399 Remove article "Debug DOM memory leaks using Detached Elements tool"
  .openpublishing.redirection.json
  microsoft-edge/dev-videos/index.md
  microsoft-edge/devtools-guide-chromium/about-tools.md
  microsoft-edge/devtools-guide-chromium/landing/index.yml
  microsoft-edge/devtools-guide-chromium/memory-problems/dom-leaks-images/detached-elements.png
  microsoft-edge/devtools-guide-chromium/memory-problems/dom-leaks.md
  microsoft-edge/devtools-guide-chromium/memory-problems/index.md
  microsoft-edge/devtools-guide-chromium/sample-code/sample-code.md
  microsoft-edge/devtools-guide-chromium/whats-new/2021/07/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2022/01/devtools.md
  microsoft-edge/devtools-guide-chromium/whats-new/2022/08/devtools-104.md
  microsoft-edge/devtools-guide-chromium/whats-new/2024/10/devtools-130.md
  microsoft-edge/toc.yml
Labels: cat: devtools

#3413 Specify release # for "Deprecate getHostEnvironmentValue" in "Site-impacting changes"
  microsoft-edge/web-platform/site-impacting-changes.md
Labels: cat: webplatform

#3414 Fix WebView2 debugging with VS Code
  microsoft-edge/webview2/how-to/debug-visual-studio-code.md
Labels: cat: webview2
