Repository MicrosoftDocs/edge-developer, pull requests merged in 2025-04, with the labels that each got.

#3418 Deprecate AutomaticHttpsDefault in "Site compatibility changes"
  microsoft-edge/web-platform/site-impacting-changes.md
Labels: cat: webplatform

#3419 Edge 136 web platform release notes
  microsoft-edge/toc.yml
  microsoft-edge/web-platform/release-notes/135.md
  microsoft-edge/web-platform/release-notes/136.md
  microsoft-edge/web-platform/site-impacting-changes.md
  scripts/beta-release-notes-template.njk
Labels: cat: webplatform

#3403 WebView2 Release Notes for April 2025
  microsoft-edge/webview2/release-notes/archive.md
  microsoft-edge/webview2/release-notes/index.md
Labels: cat: webview2

#3423 Add ./ prefix in every source_path in Redirects file
  .openpublishing.redirection.json
Labels: cat: general

#3396 Update "Experimental in DevTools" for Canary 136 & Stable 135
  microsoft-edge/devtools-guide-chromium/experimental-features/index-images/experiments-devtools.png
  microsoft-edge/devtools-guide-chromium/experimental-features/index.md
Labels: cat: devtools

#3425 Add "enable-aggressive-domstorage-flushing" to "WebView2 browser flags"
  microsoft-edge/webview2/concepts/webview-features-flags.md
Labels: cat: webview2

#3424 What's New in DevTools (Microsoft Edge 135)
  microsoft-edge/devtools-guide-chromium/whats-new/2025/04/devtools-135.md
  microsoft-edge/devtools-guide-chromium/whats-new/whats-new.md
  microsoft-edge/progressive-web-apps-chromium/how-to/digital-goods-api.md
  microsoft-edge/progressive-web-apps-chromium/whats-new/pwa.md
  microsoft-edge/puppeteer/index.md
  microsoft-edge/toc.yml
  microsoft-edge/visual-studio/index.md
  microsoft-edge/web-platform/release-notes/133.md
  microsoft-edge/web-platform/release-notes/134.md
  microsoft-edge/web-platform/release-notes/135.md
  microsoft-edge/web-platform/release-notes/136.md
  microsoft-edge/web-platform/release-notes/index.md
  microsoft-edge/webdriver-chromium/index.md
  microsoft-edge/webview2/how-to/machine-setup.md
  microsoft-edge/webview2/how-to/prerelease-testing.md
  microsoft-edge/webview2/how-to/set-preview-channel.md
  microsoft-edge/webview2/index.md
Labels: cat: devtools

#3430 Update Edge Android supported extensions API
  microsoft-edge/extensions-chromium/developer-guide/api-support.md
Labels: cat: extensions

#3435 Update ThirdPartyNotices per CELA request
  ThirdPartyNotices
  ThirdPartyNotices.md
Labels: cat: general

#3433 Remove "progress bar" from "Checking your verification status"
  microsoft-edge/extensions-chromium/publish/verify-microsoft-edge-program-images/status-icon.png
  microsoft-edge/extensions-chromium/publish/verify-microsoft-edge-program.md
Labels: cat: extensions
