Repository MicrosoftDocs/edge-developer, pull requests merged in 2025-06, with the labels that each got.

#3447 Update "Overview of WebView2 APIs" for May 2025
  microsoft-edge/webview2/concepts/overview-features-apis.md
Labels: cat: webview2

#3449 WebView2 Release Notes for June 2025
  microsoft-edge/webview2/release-notes/archive.md
  microsoft-edge/webview2/release-notes/index.md
Labels: cat: webview2

#3466 What's New in DevTools (Microsoft Edge 137)
  microsoft-edge/devtools-guide-chromium/whats-new/2025/06/devtools-137-images/close-button.png
  microsoft-edge/devtools-guide-chromium/whats-new/2025/06/devtools-137-images/customize-and-control-devtools-icon.png
  microsoft-edge/devtools-guide-chromium/whats-new/2025/06/devtools-137-images/enable-settings-sync.png
  microsoft-edge/devtools-guide-chromium/whats-new/2025/06/devtools-137-images/settings-icon.png
  microsoft-edge/devtools-guide-chromium/whats-new/2025/06/devtools-137.md
  microsoft-edge/devtools-guide-chromium/whats-new/whats-new.md
  microsoft-edge/toc.yml
Labels: cat: devtools

#3467 Update "Enable the Digital Goods API" since the feature is shipped
  microsoft-edge/progressive-web-apps-chromium/how-to/digital-goods-api.md
Labels: cat: pwas

#3463 Update "Overview of WebView2 APIs" per June 2025 RelNotes
  microsoft-edge/webview2/concepts/overview-features-apis.md
  microsoft-edge/webview2/release-notes/index.md
Labels: cat: webview2

#3460 Remove email from "Contact the Microsoft Edge extensions team"
  microsoft-edge/extensions-chromium/publish/contact-extensions-team.md
  microsoft-edge/extensions-chromium/update/api/using-addons-api.md
Labels: cat: webview2

#3472 main to live - 6/11/2025
  microsoft-edge/devtools-guide-chromium/console/console-javascript-images/console-self-xss-warning.png
  microsoft-edge/devtools-guide-chromium/console/console-javascript.md
  microsoft-edge/devtools-guide-chromium/javascript/snippets-images/sources-self-xss-warning.png
  microsoft-edge/devtools-guide-chromium/javascript/snippets.md
  microsoft-edge/webview2/index.md
  microsoft-edge/webview2/release-notes/archive.md
Labels: cat: general

#3474 Add script to check publish status, in "Use REST to update extension"
  microsoft-edge/extensions-chromium/update/api/addons-api-reference.md
  microsoft-edge/extensions-chromium/update/api/using-addons-api.md
Labels: cat: extensions

#3486 Edge 139 web platform release notes
  microsoft-edge/web-platform/release-notes/137.md
  microsoft-edge/web-platform/release-notes/138.md
  microsoft-edge/web-platform/release-notes/139.md
  scripts/beta-release-notes-template.njk
Labels: web-platform-release-notes

#3489 What's New in DevTools (Microsoft Edge 138)
  microsoft-edge/develop-web-microsoft-edge.md
  microsoft-edge/devtools/whats-new/2020/11/devtools.md
  microsoft-edge/devtools/whats-new/2025/06/devtools-138.md
  microsoft-edge/toc.yml
  microsoft-edge/web-platform/release-notes/139.md
  microsoft-edge/web-platform/release-notes/index.md
Labels: cat: devtools
