Repository MicrosoftDocs/edge-developer, pull requests merged in 2025-07, with the labels that each got.

#3493 Add "Microsoft Edge 139 web platform release notes" in TOC
  microsoft-edge/toc.yml
Labels: web-platform-release-notes

#3465 WebView2 Release Notes for June B 2025 Release
  microsoft-edge/web-platform/release-notes/133.md
  microsoft-edge/webview2/concepts/versioning.md
  microsoft-edge/webview2/release-notes/about.md
  microsoft-edge/webview2/release-notes/archive.md
  microsoft-edge/webview2/release-notes/includes/templates.md
  microsoft-edge/webview2/release-notes/index.md
Labels: cat: webview2

#3487 Multiple Redirection files
  .openpublishing.redirection.json
  redirects/.openpublishing.redirection.accessibility.json
  redirects/.openpublishing.redirection.archived.json
  redirects/.openpublishing.redirection.devtools.json
  redirects/.openpublishing.redirection.dualengine.json
  redirects/.openpublishing.redirection.experimental.json
  redirects/.openpublishing.redirection.extensions.json
  redirects/.openpublishing.redirection.ide-integration.json
  redirects/.openpublishing.redirection.mdn.json
  redirects/.openpublishing.redirection.privacy.json
  redirects/.openpublishing.redirection.pwa.json
  redirects/.openpublishing.redirection.release-notes.json
  redirects/.openpublishing.redirection.test-automation.json
  redirects/.openpublishing.redirection.web-dev-tips.json
  redirects/.openpublishing.redirection.webview2.json
  redirects/Readme.txt
Labels: cat: general

#3498 Cross-link Extensions samples articles
  microsoft-edge/extensions/developer-guide/devtools-extension.md
  microsoft-edge/extensions/getting-started/picture-inserter-content-script.md
  microsoft-edge/extensions/getting-started/picture-viewer-popup-webpage.md
  microsoft-edge/extensions/samples.md
Labels: cat: extensions

#3499 main to live - 7/7/2025
  microsoft-edge/extensions/developer-guide/devtools-extension.md
  microsoft-edge/extensions/getting-started/picture-inserter-content-script.md
  microsoft-edge/extensions/getting-started/picture-viewer-popup-webpage.md
  microsoft-edge/extensions/samples.md
  microsoft-edge/webview2/concepts/overview-features-apis.md
Labels: cat: general

#3503 Update hub page from "Enterprise" to "Business"
  microsoft-edge/developer/index.yml
  microsoft-edge/devtools/landing/index.yml
  microsoft-edge/extensions/landing/index.yml
  microsoft-edge/index.yml
  microsoft-edge/progressive-web-apps/landing/index.yml
  microsoft-edge/webview2/landing/index.yml
Labels: cat: general

#3492 WebView2 Release Notes for June B 2025 Prerelease
  microsoft-edge/webview2/release-notes/includes/templates.md
  microsoft-edge/webview2/release-notes/index.md
Labels: cat: webview2

#3501 Update "Experimental in DevTools" for Canary 140 & Stable 138
  microsoft-edge/devtools/experimental-features/index-images/dock-quick-view-to-the-right-icon.png
  microsoft-edge/devtools/experimental-features/index.md
  microsoft-edge/devtools/performance/reference.md
Labels: cat: devtools

#3507 Improvements to the webplat relnotes process
  .github/workflows/webplat-relnotes.yaml
  scripts/package-lock.json
  scripts/package.json
  scripts/web-platform-release-notes.js
Labels: cat: webplatform

#3512 Update Windows 10 support info for WebView2
  microsoft-edge/webview2/concepts/windowed-vs-visual-hosting.md
  microsoft-edge/webview2/index.md
  microsoft-edge/webview2/release-notes/archive.md
Labels: cat: webview2

#3523 Generate better issue title and description for new web platform release notes
  .github/workflows/webplat-relnotes.yaml
  scripts/web-platform-release-notes.js
Labels: web-platform-release-notes

#3513 Sync lists of demos
  microsoft-edge/dev-videos/index.md
  microsoft-edge/devtools/console/console-debug-javascript.md
  microsoft-edge/devtools/console/index.md
  microsoft-edge/devtools/landing/index.yml
  microsoft-edge/devtools/memory-problems/heap-snapshots.md
  microsoft-edge/devtools/sample-code/sample-code.md
  microsoft-edge/devtools/sources/index.md
  microsoft-edge/devtools/storage/indexeddb.md
  microsoft-edge/devtools/whats-new/2023/01/devtools-109.md
  microsoft-edge/extensions/samples.md
  microsoft-edge/progressive-web-apps/demo-pwas.md
  microsoft-edge/progressive-web-apps/how-to/background-syncs.md
  microsoft-edge/progressive-web-apps/how-to/handle-files.md
  microsoft-edge/toc.yml
  microsoft-edge/web-platform/prompt-api.md
  microsoft-edge/web-platform/samples.md
  microsoft-edge/web-platform/writing-assistance-apis.md
  redirects/.openpublishing.redirection.devtools.json
Labels: cat: pwas

#3533 Link to Ad Selection docs in Legal repo
  microsoft-edge/web-platform/ad-selection-api.md
Labels: cat: webplatform

#3534 Main to live - 7/31
  microsoft-edge/web-platform/ad-selection-api.md
Labels: cat: general
