Repository MicrosoftDocs/edge-developer, pull requests merged in 2025-09, with the labels that each got.

#3555 Edge 141 beta web platform release notes
  microsoft-edge/toc.yml
  microsoft-edge/web-platform/release-notes/138.md
  microsoft-edge/web-platform/release-notes/139.md
  microsoft-edge/web-platform/release-notes/140.md
  microsoft-edge/web-platform/release-notes/141.md
  scripts/web-platform-release-notes.js
Labels: cat: webplatform

#3562 Remove a couple of outdated Edge versions and ignore release notes
  microsoft-edge/dev-videos/index.md
  microsoft-edge/progressive-web-apps/how-to/app-actions.md
  scripts/report-references-to-old-versions.js
Labels: cat: general

#3568 New article: "What's New in DevTools (Microsoft Edge 140)"
  microsoft-edge/devtools/performance/reference.md
  microsoft-edge/devtools/performance/selector-stats.md
  microsoft-edge/devtools/whats-new/2024/05/devtools-125.md
  microsoft-edge/devtools/whats-new/2025/05/devtools-136.md
  microsoft-edge/devtools/whats-new/2025/06/devtools-137.md
  microsoft-edge/devtools/whats-new/2025/08/devtools-139.md
  microsoft-edge/devtools/whats-new/2025/09/devtools-140-images/selector-stats-invalidations.png
  microsoft-edge/devtools/whats-new/2025/09/devtools-140.md
  microsoft-edge/toc.yml
  microsoft-edge/web-platform/release-notes/140.md
Labels: cat: devtools

#3550 New article "Use the Edge Add-ons badge to promote your add-on"
  microsoft-edge/devtools/customize/extensions.md
  microsoft-edge/devtools/remote-debugging/windows.md
  microsoft-edge/devtools/whats-new/2023/01/devtools-109.md
  microsoft-edge/devtools/whats-new/2023/08/devtools-116.md
  microsoft-edge/extensions/contact.md
  microsoft-edge/extensions/developer-guide/alternate-distribution-options.md
  microsoft-edge/extensions/developer-guide/api-support.md
  microsoft-edge/extensions/developer-guide/best-practices.md
  microsoft-edge/extensions/developer-guide/match-patterns.md
  microsoft-edge/extensions/developer-guide/migrate-your-extension-from-manifest-v2-to-v3.md
  microsoft-edge/extensions/developer-guide/native-messaging.md
  microsoft-edge/extensions/developer-guide/port-chrome-extension.md
  microsoft-edge/extensions/getting-started/extension-sideloading.md
  microsoft-edge/extensions/getting-started/picture-inserter-content-script.md
  microsoft-edge/extensions/getting-started/picture-viewer-popup-webpage.md
  microsoft-edge/extensions/index.md
  microsoft-edge/extensions/publish/aad-account.md
  microsoft-edge/extensions/publish/add-ons-badge-images/microsoft-edge-add-ons-badge.png
  microsoft-edge/extensions/publish/add-ons-badge.md
  microsoft-edge/extensions/publish/add-ons-curation.md
  microsoft-edge/extensions/publish/create-dev-account.md
  microsoft-edge/extensions/publish/extensions-analytics.md
  microsoft-edge/extensions/publish/github.md
  microsoft-edge/extensions/publish/hosting-and-updating.md
  microsoft-edge/extensions/publish/manage-settings.md
  microsoft-edge/extensions/publish/publish-extension.md
  microsoft-edge/extensions/publish/reply-user-reviews.md
  microsoft-edge/extensions/publish/submission-states.md
  microsoft-edge/extensions/publish/verify-microsoft-edge-program.md
  microsoft-edge/extensions/update/api/addons-api-reference.md
  microsoft-edge/extensions/update/api/using-addons-api.md
  microsoft-edge/extensions/update/auto-update.md
  microsoft-edge/extensions/update/update-extension.md
  microsoft-edge/extensions/whats-new/released-features.md
  microsoft-edge/extensions/whats-new/roadmap.md
  microsoft-edge/index.yml
  microsoft-edge/progressive-web-apps/how-to/app-actions.md
  microsoft-edge/progressive-web-apps/how-to/digital-goods-api.md
  microsoft-edge/progressive-web-apps/how-to/handle-urls.md
  microsoft-edge/progressive-web-apps/how-to/microsoft-store.md
  microsoft-edge/progressive-web-apps/how-to/widgets.md
  microsoft-edge/progressive-web-apps/index.md
  microsoft-edge/progressive-web-apps/ux.md
  microsoft-edge/toc.yml
  microsoft-edge/web-platform/sidebar.md
  microsoft-edge/webview2/how-to/publish-uwp-app-store.md
Labels: cat: general
