Repository MicrosoftDocs/edge-developer, pull requests merged in 2025-01, with the labels that each got.

#3336 Enhanced formatting in "Building a custom widget for the PWA"
  microsoft-edge/progressive-web-apps-chromium/how-to/widgets.md
Labels: cat: pwas

#3327 Convert Extensions tutorial articles to sample articles
  microsoft-edge/developer/index.yml
  microsoft-edge/devtools-guide-chromium/sources/index.md
  microsoft-edge/extensions-chromium/developer-guide/sidebar.md
  microsoft-edge/extensions-chromium/getting-started/extension-sideloading.md
  microsoft-edge/extensions-chromium/getting-started/index.md
  microsoft-edge/extensions-chromium/getting-started/part1-simple-extension-images/clone-a-repo-dbox-ghd.png
  microsoft-edge/extensions-chromium/getting-started/part1-simple-extension-images/developermode-toggle.png
  microsoft-edge/extensions-chromium/getting-started/part1-simple-extension-images/extension-running.png
  microsoft-edge/extensions-chromium/getting-started/part1-simple-extension-images/extensions-icon.png
  microsoft-edge/extensions-chromium/getting-started/part1-simple-extension-images/extensions-popup-no-extensions.png
  microsoft-edge/extensions-chromium/getting-started/part1-simple-extension-images/extensions-popup-with-launch-icon.png
  microsoft-edge/extensions-chromium/getting-started/part1-simple-extension-images/extensions-popup.png
  microsoft-edge/extensions-chromium/getting-started/part1-simple-extension-images/icon-png-toolbar.png
  microsoft-edge/extensions-chromium/getting-started/part1-simple-extension-images/load-unpacked-icon.png
  microsoft-edge/extensions-chromium/getting-started/part1-simple-extension-images/part1-badge1.png
  microsoft-edge/extensions-chromium/getting-started/part1-simple-extension-images/part1-installed-extension.png
  microsoft-edge/extensions-chromium/getting-started/part1-simple-extension.md
  microsoft-edge/extensions-chromium/getting-started/part2-content-scripts-images/clone-a-repo-dbox-ghd.png
  microsoft-edge/extensions-chromium/getting-started/part2-content-scripts-images/developermode-toggle.png
  microsoft-edge/extensions-chromium/getting-started/part2-content-scripts-images/extensions-popup-no-extensions.png
  microsoft-edge/extensions-chromium/getting-started/part2-content-scripts-images/load-unpacked-icon.png
  microsoft-edge/extensions-chromium/getting-started/part2-content-scripts-images/open-the-extension.png
  microsoft-edge/extensions-chromium/getting-started/part2-content-scripts-images/part2-installed-extension.png
  microsoft-edge/extensions-chromium/getting-started/part2-content-scripts-images/part2-popupdialog.png
  microsoft-edge/extensions-chromium/getting-started/part2-content-scripts-images/part2-showingimage.png
  microsoft-edge/extensions-chromium/getting-started/part2-content-scripts.md
  microsoft-edge/extensions-chromium/landing/index.yml
  microsoft-edge/index.yml
  microsoft-edge/toc.yml
Labels: cat: extensions

#3343 What's New in DevTools 132
  microsoft-edge/devtools-guide-chromium/whats-new/2025/01/devtools-132-images/quick-view-context-menu.png
  microsoft-edge/devtools-guide-chromium/whats-new/2025/01/devtools-132-images/selector-stats-links.png
  microsoft-edge/devtools-guide-chromium/whats-new/2025/01/devtools-132.md
  microsoft-edge/toc.yml
Labels: cat: devtools

#3339 Release Notes for January 2025 (Release SDK)
  microsoft-edge/webview2/release-notes/archive.md
  microsoft-edge/webview2/release-notes/index.md
Labels: cat: webview2

#3344 Update "Experimental features in DevTools" Canary 134, Stable 132
  microsoft-edge/devtools-guide-chromium/experimental-features/index-images/help-icon-of-focus-mode.png
  microsoft-edge/devtools-guide-chromium/experimental-features/index-images/help-icon.png
  microsoft-edge/devtools-guide-chromium/experimental-features/index-images/perf-nav-keyboard-shortcuts-classic.png
  microsoft-edge/devtools-guide-chromium/experimental-features/index-images/perf-nav-keyboard-shortcuts-modern.png
  microsoft-edge/devtools-guide-chromium/experimental-features/index-images/show-shortcuts-icon.png
  microsoft-edge/devtools-guide-chromium/experimental-features/index.md
Labels: cat: devtools

#3347 Release Notes for January 2025 (Prerelease SDK)
  microsoft-edge/webview2/release-notes/index.md
Labels: cat: webview2

#3242 Update article "Win32 sample app"
  microsoft-edge/webview2/get-started/win32.md
  microsoft-edge/webview2/how-to/machine-setup.md
  microsoft-edge/webview2/samples/webview2apissample-images/all-projects-in-solution-explorer.png
  microsoft-edge/webview2/samples/webview2apissample-images/open-recent.png
  microsoft-edge/webview2/samples/webview2apissample-images/review-project-solution-changes.png
  microsoft-edge/webview2/samples/webview2apissample-images/sample-app-layout-diagram.png
  microsoft-edge/webview2/samples/webview2apissample-images/visual-studio-installer.png
  microsoft-edge/webview2/samples/webview2apissample-images/webview2apisample-app-window.png
  microsoft-edge/webview2/samples/webview2apissample-images/webview2apisample-in-solution-explorer.png
  microsoft-edge/webview2/samples/webview2apissample-images/webview2apisample-pkg-mgr-prerelease-webview2.png
  microsoft-edge/webview2/samples/webview2apissample-images/webview2apisample-project-selected.png
  microsoft-edge/webview2/samples/webview2apissample-images/webview2apisample-unable-to-start-program-cannot-find-path.png
  microsoft-edge/webview2/samples/webview2apissample-images/webview2apisample-webview2-pkg-preview-changes.png
  microsoft-edge/webview2/samples/webview2apissample.md
Labels: cat: webview2
