Repository MicrosoftDocs/edge-developer, pull requests merged in 2025-08, with the labels that each got.

#3477 Normalize triple-backtick language identifiers
  CONTRIBUTING.md
  microsoft-edge/devtools/console/console-javascript.md
  microsoft-edge/devtools/device-mode/testing-other-browsers.md
  microsoft-edge/devtools/dom/index.md
  microsoft-edge/devtools/ie-mode/index.md
  microsoft-edge/devtools/javascript/publish-source-maps-to-azure.md
  microsoft-edge/devtools/javascript/snippets.md
  microsoft-edge/devtools/protocol/index.md
  microsoft-edge/devtools/quick-source/quick-source-tool.md
  microsoft-edge/devtools/remote-debugging/webviews.md
  microsoft-edge/devtools/sample-code/sample-code.md
  microsoft-edge/devtools/storage/sessionstorage.md
  microsoft-edge/devtools/whats-new/2021/04/devtools.md
  microsoft-edge/devtools/whats-new/2023/09/devtools-117.md
  microsoft-edge/devtools/workspaces/workspace-tutorial.md
  microsoft-edge/dualengine/concepts/adapter-dll.md
  microsoft-edge/dualengine/get-started.md
  microsoft-edge/dualengine/reference/idualengine20browsersession.md
  microsoft-edge/extensions/developer-guide/devtools-extension.md
  microsoft-edge/extensions/developer-guide/match-patterns.md
  microsoft-edge/extensions/developer-guide/native-messaging.md
  microsoft-edge/extensions/developer-guide/sidebar.md
  microsoft-edge/extensions/getting-started/picture-inserter-content-script.md
  microsoft-edge/extensions/getting-started/picture-viewer-popup-webpage.md
  microsoft-edge/extensions/update/auto-update.md
  microsoft-edge/progressive-web-apps/how-to/index.md
  microsoft-edge/puppeteer/index.md
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension/get-started-launch-project.md
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension/install.md
  microsoft-edge/visual-studio-code/microsoft-edge-devtools-extension/open-devtools-and-embedded-browser.md
  microsoft-edge/web-platform/os-regional-settings.md
  microsoft-edge/web-platform/user-agent-guidance.md
  microsoft-edge/webview2/concepts/distribution.md
  microsoft-edge/webview2/get-started/hololens2.md
  microsoft-edge/webview2/how-to/communicate-btwn-web-native.md
  microsoft-edge/webview2/how-to/machine-setup.md
  microsoft-edge/webview2/platforms/hololens-2-unity.md
  microsoft-edge/webview2/samples/webview2apissample.md
Labels: cat: general

#3547 Remove Form steps in "Sign up for Ad Selection API"
  microsoft-edge/origin-trials/index.md
  microsoft-edge/web-platform/ad-selection-api.md
Labels: cat: webplatform

#3551 What's New in DevTools (Microsoft Edge 139)
  microsoft-edge/devtools/whats-new/2025/08/devtools-139.md
  microsoft-edge/toc.yml
Labels: cat: devtools

#3557 In "Win Ctrls Overlay", change '-webkit-app-region' to 'app-region'
  microsoft-edge/progressive-web-apps/how-to/window-controls-overlay.md
Labels: cat: pwas

#3556 Update "Overview of WebView2 APIs" for Aug. 2025
  microsoft-edge/webview2/concepts/overview-features-apis.md
Labels: cat: webview2

#3559 main to live - 8/29/25
  microsoft-edge/progressive-web-apps/how-to/window-controls-overlay.md
  microsoft-edge/webview2/concepts/overview-features-apis.md
Labels: cat: general
